@import 'variables';
@import "../../../check-in/components/check-in-breakpoint";
$portrait-view-first-col-width: 12%;
$landscape-view-first-col-width: 13%;
.confirmation-changes {
    .badge-icon {
        height: 24px;
        margin-right: 2px;
        width: 24px;
    }
     ::ng-deep .title-text {
        font-size: 24px;
        font-weight: lighter;
        max-width: 440px;
    }
     ::ng-deep .title-truncate-text {
        max-width: 75px;
    }
     ::ng-deep .card-body {
        flex: 1 1 auto;
        padding: .75rem;
    }
    .sub-title-text {
        font-size: 20px;
        font-weight: lighter;
    }
    .control-label {
        white-space: nowrap;
    }
    .profile-icon {
        color: $secondary-text-color;
        cursor: pointer;
        font-size: 20px;
    }
    .vl-pipe {
        border-left: 1px solid $gray-80;
        width: 2px;
        height: 30px;
        margin: 0 13px 0 10px;
    }
    .fa-check-circle {
        color: $check-icon-color;
    }
    .chk-enroll,
    .enroll,
    .fas .fa-star {
        &:hover {
            color: $chart-darkblue-color;
        }
        color: $nav-bottom-border;
        cursor: pointer;
        display: inline-block;
    }
    .fa-exclamation-circle {
        color: $error-color;
        font-size: 13px;
    }
    .fa-sync-alt {
        color: $secondary-text-color;
        cursor: pointer;
        font-size: 13px;
        margin-left: 10px;
    }
    .check-in-info__details {
        display: flex;
        .check-in-info__details__item {
            flex-grow: 1;
        }
    }
    .mng-stay-btn {
        margin-top: -8px;
    }
    .estimated-price {
        flex: 0 0 15%;
    }
}

@media screen and (max-width: $tablet-landscape-width) {
    .confirmation-changes {
        .check-in-info__details {
            flex-wrap: wrap;
            .check-in-info__details__item {
                flex-grow: 0;
                padding: 0 15px 10px 0;
                flex: 0 0 #{$landscape-view-first-col-width};
            }
            .group-name {
                flex: 0 0 16%;
            }
            .company-name {
                flex: 0 0 26%;
            }
            .rate-cat-code {
                flex: 0 0 26%;
            }
            .estimated-price {
                flex: 0 0 20%;
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .confirmation-changes {
         ::ng-deep .title-text {
            max-width: 280px;
        }
        .check-in-info__details {
            flex-wrap: wrap;
            .check-in-info__details__item {
                flex-grow: 0;
                padding: 0 15px 10px 0;
                flex: 0 0 12%;
            }
            .group-name {
                flex: 0 0 22%;
            }
            .company-name {
                flex: 0 0 25%;
            }
            .rate-cat-code {
                flex: 0 0 25%;
            }
            .estimated-price {
                flex: 0 0 20%;
            }
        }
    }
}