<div class="confirmation-changes">
  <uic-card>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-3 pb-2" *ngIf="guestData?.reservationNumber == null">
            <span class="title-text" translate="LBL_STY_DETAILS"></span>
          </div>
          <br/>
          <div class="col-7 display-flex">
            <app-truncated-tooltip [widthClass]="'title-text'" *ngIf="guestName" [text]="guestName"
              [attr.data-slnm-ihg]="'GuestName-SID'">
            </app-truncated-tooltip>
            <a [routerLink]="['/guest-profile']" target="_blank" *ngIf="guestData?.ihgRcNumber"
              (click)="setMemberProfile(guestData?.ihgRcNumber)">
              <span class="profile-icon ml-2" data-slnm-ihg="GuestProfileIcon-SID">
                <i class="far fa-address-card name mt-2" ngbTooltip="Guest Profile"></i>
              </span>
            </a>
            <div class="vl-pipe" *ngIf="guestData?.ihgRcNumber"></div>
            <img class="badge-icon mt-1" [attr.data-slnm-ihg]="'Badge' + badgeLabels[badge] + '-SID'"
              *ngFor="let badge of guestData?.badges" [src]="'assets/images/badges/' + badge + '.svg'" />
          </div>
          <div *ngIf="guestData?.reservationNumber" class="col-12 col-sm-5 col-md-5 d-flex pl-0 ml-auto">
            <div class="sub-title-text d-inline-block ml-auto mr-1" data-slnm-ihg="ReservationNumber-SID">
              <span translate="LBL_RSVN"></span>
              <span class="pl-1">{{guestData?.reservationNumber}}</span>
              <button data-slnm-ihg="ManageStay-SID"
                *ngIf="!guestData?.isCheckedIn && !guestData?.ineligibleReservation"
                class="btn btn-default p-2 mng-stay-btn" [ngbTooltip]="'LBL_MANAGE_STAY' | translate"
                (click)="navigateToManageStay()">
                <i class="far fa-edit"></i></button>
            </div>
          </div>
        </div>
        <div class="check-in-info__details">
          <div class="check-in-info__details__item">
            <div data-slnm-ihg="RewardsClubNumber-SID" >
              <span class="control-label" translate="LBL_RW_NO"></span>              
              <span class="pl-1" *ngIf="guestData?.ihgRcNumber">{{guestData?.ihgRcNumber}}</span>
              <span class="pl-1 not-available font-italic"  *ngIf="!guestData?.ihgRcNumber">N/A</span>
            </div>
            <div class="mt-2" data-slnm-ihg="RewardsClubPoints-SID">
              <span class="control-label" translate="LBL_PTS"></span>
              <span class="pl-1" *ngIf="guestData?.ihgRcPoints">{{guestData?.ihgRcPoints | number}}</span>&nbsp;
              <span class="pl-1 not-available font-italic" *ngIf="!guestData?.ihgRcPoints">N/A</span>&nbsp;
              <i class="fas fa-check-circle" *ngIf="guestData?.pointsPosted"></i>
              <i class="fas fa-exclamation-circle" *ngIf="guestData?.pointsPosted === false"
                [ngbTooltip]="'LBL_PNTS_FAILD_POST' | translate">
              </i>
              <i class="fas fa-sync-alt" (click)="refreshForPointsPost()" *ngIf="guestData?.pointsPosted === false"
                [ngbTooltip]="'LBL_TRY_AGN' | translate">
              </i>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="CheckInDate-SID">
            <div>
              <span class="control-label" translate="LBL_GST_ARRIVAL"></span>
            </div>
            <div class="mt-2">
              <span>{{guestData?.checkInDate | date: 'ddMMMyyyy' | uppercase}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="CheckOutDate-SID">
            <div>
              <span class="control-label" translate="LBL_GST_DEPARTURE"></span>
            </div>
            <div class="mt-2">
              <span>{{guestData?.checkOutDate | date: 'ddMMMyyyy' | uppercase}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="NumberOfNights-SID">
            <div>
              <span class="control-label" translate="LBL_GST_NIGHTS_COL"></span>
            </div>
            <div class="mt-2">
              <span>{{guestData?.numberOfNights}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="NumberOfAdults-SID">
            <div>
              <span class="control-label" translate="LBL_ADULTS"></span>
            </div>
            <div class="mt-2">
              <span class="pl-1">{{guestData?.numberOfAdults}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="NumberOfChildren-SID">
            <div>
              <span class="control-label" translate="LBL_CHLDRNS"></span>
            </div>
            <div class="mt-2">
              <span class="pl-1">{{guestData?.numberOfChildren}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="AssignedRoom-SID">
            <div>
              <span class="control-label" translate="LBL_ROOMS"></span>
            </div>
            <div class="mt-2">
              <span class="pl-1">{{guestData?.numberOfRooms}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item group-name" data-slnm-ihg="GroupCode-SID">
            <div>
              <span class="control-label" translate="LBL_GRP"></span>
            </div>
            <div class="mt-2">
              <app-truncated-tooltip [ngClass]="guestData?.groupName ? '' : 'not-available font-italic'"
                [widthClass]="'title-truncate-text'" [text]="groupName" [attr.data-slnm-ihg]="'GroupName-SID'">
              </app-truncated-tooltip>
            </div>
          </div>
          <div class="check-in-info__details__item company-name" data-slnm-ihg="CompanyName-SID">
            <div>
              <span class="control-label" translate="LBL_COY"></span>
            </div>
            <div class="mt-2">
              <app-truncated-tooltip [ngClass]="guestData?.companyName ? '' : 'not-available font-italic'"
                [widthClass]="'title-truncate-text'" [text]="companyName" [attr.data-slnm-ihg]="'CompanyName-SID'">
              </app-truncated-tooltip>
            </div>
          </div>
          <div class="check-in-info__details__item rate-cat-code" data-slnm-ihg="RateCategoryCode-SID">
            <div>
              <span class="control-label" translate="LBL_RATE_CAT"></span>
            </div>
            <div class="mt-2">
              <span class="pl-1">{{guestData?.rateCategoryCode}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item estimated-price" data-slnm-ihg="EstimatedCost-SID">
            <div>
              <span class="control-label" translate="LBL_EST_TOT"></span>
            </div>
            <div class="mt-2">
              <span class="pl-1">{{estimatedTotal}} {{guestData?.ratesInfo?.currencyCode}}</span>
              <button data-slnm-ihg="EstimatedCostIcon-SID"
                *ngIf="!guestData?.isCheckedIn && !guestData?.ineligibleReservation"
                class="btn btn-default p-2 mng-stay-btn">
                <i class="far fa-file-invoice-dollar"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </uic-card>
</div>
