@import 'variables';

.prepare-arrivals {

  .arrivals-title {
    display: inline-block;
  }

  .arrivals-list {
    list-style: none;
    padding-left: 35px;
    position: relative;
    display: inline-flex;
    margin-bottom: 40px;
  }

  .arrivals-count {
    display: flex;
    margin-right: 35px;
    align-items: baseline;
  }

  .arrivals-label {
    display: inline;
  }

  .arrivals-value {
    font-weight: lighter;
    font-size: 20px;
  }

  .arrivals-grid {
    display: inline-block;
    width: 100%;
  }

  .display-table {
    display: table;
    width: 100%;
  }

  .display-table-cell {
    display: table-cell;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .filter-count {
    margin-left: 4px;
  }

  .filter-container {
    padding: 0.75rem 1rem 0 3rem;
  }

  .search-row {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap-reverse;
  
    .left-section {
      margin: 0px 0px 0px 20px
    }
    .right-section {
      margin: 0 15px auto;
      display: flex;
    }
  
  }
}
