<div class="prepare-arrivals">
  <div class="search-row">
    <div class="left-section">
      <app-guest-search [source]="'PREPARETAB'"
                        [groupList]="groupList"
                        [previewEnabled]="true"
                        [searchDate]="selectedDate"
                        [roomChangeData]="roomChangeData"
                        (search)="onGuestSearch($event)"
                        (emitGuestSelection)="handleGuestSelection($event)"
                        (emitGroupSelection)="handlePreviewGroupSelection($event)"
                        (emitAllGroupSelection)="handlePreviewGroupSelection($event, true)">
      </app-guest-search>
    </div>
    <div class="right-section">
      <app-show-hide-groups class="pr-2" [showGroups]="showGroups" (emitChange)="handleShowHideGroup($event)">
      </app-show-hide-groups>
      <app-day-picker [selected]="selectedDayIndex"
                      [startDate]="startDate"
                      [preventChange]="hasUnsentTasks()"
                      (change)="handleDateSelection($event)">
      </app-day-picker>
    </div>
  </div>

  <app-group-block [hidden]="!showGroups"
                   [selectedDate]="selectedDate"
                   [searchQuery]="searchQuery"
                   [subcategory]="ga.SUB_CATEGORY.PREPARETAB"
                   [parentTabActive]="isActiveTab"
                   (emitSelectedGroup)="handleGroupSelection($event)"
                   (emitGroupList)="handleGroupList($event)">
  </app-group-block>

  <div *ngIf="selectedGroup && showArrivals" class="card-header pb-2 pt-4" data-slnm-ihg="GroupSelected-SID">
    {{ 'GUEST_LIST' | translate }} - {{ selectedGroup | titlecase }}
  </div>

  <div [hidden]="!showArrivals">
    <div class="pl-3">
      <button type="button"
              class="btn btn-default"
              data-slnm-ihg="FiltersButton-SID"
              (click)="toggleFiltersExpanded()">
        <i class="expand-row-icon fas fa-caret-down" [hidden]="!expandFilters"></i>
        <i class="expand-row-icon fas fa-caret-right" [hidden]="expandFilters"></i>&nbsp;
        <span translate="LBL_CSV_FILTER"></span>
        <span [hidden]="!filterApplied" class="filter-count">
              ({{ 'LBL_COUNT_SEL'  | translate: {count: filterCount} }})
            </span>
      </button>&nbsp;
      <button type="button"
              class="btn btn-default"
              data-slnm-ihg="ClearFilterButton-SID"
              [hidden]="!filterApplied || !expandFilters"
              translate="COM_BTN_CLR_FLTR"
              (click)="handleClearFilters()">
      </button>
    </div>
    <div class="filter-container" [hidden]="!expandFilters">
      <app-loyalty-filters [filters]="loyaltyFilters"
                           (filterChange)="handleFilterChange($event, filterTypes.loyalty)">
      </app-loyalty-filters>
    </div>
    <div class="filter-container" [hidden]="!expandFilters">
      <app-misc-filters [filters]="miscFilters" (filterChange)="handleFilterChange($event, filterTypes.misc)">
      </app-misc-filters>
    </div>
    <div class="arrivals-grid">
      <app-prepare-arrivals-grid
        [items]="checklistItems?.paginatedArrivalsCheckList?.items || []"
        [totalItems]="checklistItems?.paginatedArrivalsCheckList?.totalItems || 0"
        [filterOrSearchApplied]="filterApplied || (selectedGroup ? false : !!searchQuery)"
        [searchStr]="selectedGroup ? null : searchQuery"
        [gridState]="gridState"
        [allowManage]="checklistItems?.operaHotelFlag"
        [isTodaySelected]="isTodaySelected()"
        [selectedDate]="selectedDate"
        [selectedGroup]="selectedGroup"
        [prepareDataErrorEvent]="emitError.asObservable()"
        (print)="handlePrint($event)"
        (roomChange)="handleRoomChange($event)">
      </app-prepare-arrivals-grid>
      <app-print-grid-container hidden
                                [selectedDate]="selectedDate"
                                [localDate]="localDate"
                                [searchString]="selectedGroup ? null : searchQuery"
                                [filters]="printableFilters"
                                [allowManage]="checklistItems?.operaHotelFlag"
                                [isTodaySelected]="isTodaySelected()"
                                [otherTab]="'prepareTab'"
                                [detailed]="detailedPrint"
                                [printGuestList]="printableRecords.asObservable()">
      </app-print-grid-container>
    </div>
  </div>
</div>
