$transition-value: all 750ms ease-in-out;
.room-actions {
    margin-top: 12px;
    width: 100%;
    position: relative;
    .modify-btn {
        padding: 0;
        .btn-content {
            display: inline-block;
            padding: .375rem .75rem;
        }
    }
    .assign-btn {
        transition: $transition-value;
    }
    .modify-room {
        position: relative;
        float:left;
    }
}