<div class="room-actions">
  <button *ngIf="!listItem.assignedRoomNumber"
          class="btn btn-primary assign-btn action-btn"
          [ngClass]="{'no-transition': !shouldAnimate, 'disable-control': isCheckedIn && !enableRoomMove}"
          [style.transform]="assignBtnPosition"
          data-slnm-ihg="AssignSuggestedButton-SID"
          translate="LBL_ASGN_RM"
          [disabled]="listItem.showManualGrid || listItem.ineligibleReservation || (isCheckedIn && !enableRoomMove)"
          (click)="handleAssign()">
  </button>
  <div class="modify-room" [ngbTooltip]="listItem.notified ?
  ('LBL_MOD_BTN_TTIP' | translate) :
  listItem?.doNotMoveRoom ? ('LBL_ROOM_ASSIGNMENT_LOCKED' | translate): '' ">
    <button *ngIf="listItem.assignedRoomNumber && !enableRoomMove"
            class="btn btn-primary modify-btn action-btn"
            [style.transform]="assignBtnPosition"
            data-slnm-ihg="ChangeRoomButton-SID"
            [disabled]="listItem.notified || listItem.isCheckedIn || listItem.ineligibleReservation || isCheckedIn || listItem.doNotMoveRoom"
            (click)="handleChangeRoom()"
            [ngClass]="{'disable-control': isCheckedIn}">
      <span class="btn-content d-block"
            container="body"
            placement="top"
            >
        <i class="fas fa-edit"></i>&nbsp;
        <span translate="LBL_CHG_ROOM"></span>
      </span>
    </button>
  </div>

</div>