::ng-deep .modal-open {
  .modal {
    overflow: hidden;
    text-align: center;
    padding: 0;
  }
  button:focus {
    outline: 0;
  }
  .modal:before {
    content: "";
    display: inline-block;
    height: 110%;
    vertical-align: middle;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}
