<div class="modal-content">
  <div class="modal-header">
    <h4 class="title" [translate]="resolve.titleKey || titleKey"></h4>
    <button type="button" class="close" (click)="closeModal()" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <div [innerHTML]="(resolve.textKey || textKey) | translate"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" (click)="closeModal()" [translate]="resolve.cancelKey || cancelKey"
            *ngIf="resolve.cancelKey !== null"></button>
    <button class="btn btn-danger" type="button" (click)="continue()" [translate]="resolve.continueKey || continueKey"></button>
  </div>
</div>
