@import 'variables';

$guest-search-btn-min-wdth: 60px;
$guest-search-btn-height: 36px;
$guest-search-txt-input-wdth: 294px;
$guest-search-txt-input-height: 34px;

.search-header-container + .tooltip.show {
  opacity: 1;
}

.search-header-container + .tooltip {
  font-family: 'Open Sans', sans-serif;
  width: 410px;
  box-shadow: 1px 7px 10px 1px #999;
  background: white;
  margin-left: 10px;

  .tooltip-inner{
    background-color: white;
    color: black;
    max-width: 410px;
    text-align: left;

    .search-info-tooltip {
      padding-top: 5px;
    }

    .search-header {
      font-size: 16px;
      padding-bottom: 10px;
    }

    .search-info-text {
      font-size: 15px;

      .search-terms {
        padding-left: 21px;
        li {
          list-style-type: none;
          position: relative;
        }
        li::before {
          content: '\2022';
          position: absolute;
          left: -0.8em;
          font-size: 1.1em;
        }
      }
    }
  }
  .arrow{
    left: -15px;
    height: 15px;
    width: 15px;
    border-width: 0.5rem 0.5rem 0.5rem 0;
  }
  .arrow::before{
    border-right-color: white;
    width: inherit;
    height: inherit;
  }
}

.guest-search {
  .search-header{

    .search-header-container {
      display: inline;
    }

    .search-info{
      padding-left: 10px;
      color: $secondary-text-color;
    }

    .fa-info-circle{
      font-size: 13px;
    }
  }

  .search-input-row {
    padding-top: 8px;
  }

  .guest-search-inline-box{
    display: inline-block;
    vertical-align: middle;
  }
  .btn-guest-search {
    height: $guest-search-btn-height;
    min-width: $guest-search-btn-min-wdth;
  }

  .search-input {
    width: $guest-search-txt-input-wdth;
    height: $guest-search-txt-input-height;
    margin-right: 2px;
  }

  .reset-btn {
    margin-left: 7px;
  }

  .error-box {
    border: $invalid-border;
  }
}
