<div class="form-group guest-search" data-slnm-ihg="SearchGuest-SID">
  <ng-template #searchInformation>
    <div class="search-info-tooltip" data-slnm-ihg="SearchInfoTooltip-SID">
      <div class="search-header" [translate]="'LBL_SEARCH'"></div>
      <div class="search-info-text">
        <span [translate]="'LBL_SEARCH_INFO'"></span>
        <ul class="search-terms">
          <li [translate]="'LBL_GST_GUEST_NAME'"></li>
          <li [translate]="'LBL_RSVN_NO'"></li>
          <li [innerHTML]="'LBL_IHGRW_NO' | translate"></li>
          <li [translate]="'LBL_ROOM_NO'"></li>
          <li [translate]="'LBL_GRP_NM'"></li>
        </ul>
      </div>
    </div>
  </ng-template>
  <div class="search-header">
    <div class="search-header-container" [ngbTooltip]="searchInformation" [container]="'app-guest-search'" [placement]="'right'" [triggers]="isDesktop ? 'hover:blur' : 'click:blur'">
      <span class="control-label pb-2" [translate]="'LBL_SRCH_GST_GRP'" data-slnm-ihg="SearchGuestLabel-SID"></span>
      <span class="search-info"><i data-slnm-ihg="SearchInfo-SID" class="fas fa-info-circle search-icon"></i></span>
    </div>
  </div>
  <div class="d-flex d-inline-flex search-input-row">
    <div class="guest-search-inline-box" [formGroup]="searchFormData">
      <input #searchInput
             data-slnm-ihg="SearchInput-SID"
             type="text"
             [ngModel]="searchQuery"
             name="search"
             class="form-control search-input"
             maxlength="255"
             autocomplete="off"
             formControlName="search"
             placeholder="{{ 'LBL_ENTR_GUEST_NAME_OR_RESERVATION_NUMBER_OR_GROUP_NAME' | translate }}"
             (keydown.enter)="handleEnterKey($event)"
             [ngClass]="{'error-box':searchControl.errors?.pattern && (searchControl.touched || searchControl.dirty)}">
      <div *ngIf="searchControl.errors?.pattern && (searchControl.touched || searchControl.dirty)"
           class ="error-text pb-2" translate="LBL_ERR_INVALID_CHR">
      </div>
      <app-guest-search-preview *ngIf="previewEnabled"
                                [anchor]="searchInput"
                                [searchDate]="searchDate"
                                [formData]="searchFormData"
                                [groupList]="groupList"
                                [previewTabApiParameter]="previewAPIParameter"
                                [input]="searchInput"
                                [roomChangeData]="roomChangeData"
                                (emitGuest)="handleGuestSelection($event)"
                                (emitGroup)="handleGroupSelection($event)"
                                (emitAllGroup)="handleAllGroupSelection($event)">
      </app-guest-search-preview>
    </div>
    <div class="guest-search-inline-box">
      <input type="button"
             class="btn btn-primary btn-guest-search search-submit"
             value="{{ 'COM_BTN_SRCH' | translate }}"
             data-slnm-ihg="SearchButton-SID"
             (click)="performSearch($event)"
             (keypress)="performSearch($event)"
             [disabled]="searchFormData.invalid">
      <input type="button"
             class="btn btn-default btn-guest-search reset-btn"
             value="{{ 'COM_BTN_RST' | translate }}"
             data-slnm-ihg="ResetButton-SID"
             (click)="resetSearch($event)"
             (keypress)="resetSearch($event)">
    </div>
  </div>
</div>
