<app-error-toast-message [translations]="pmsNotInSyncErrorContent" [maxNoErrors]="1000" [reportIssueAutoFill]="pmsNotInSyncErrorAutoFill" [attr.data-slnm-ihg]="'PmsNotInSyncErr-SID'" [errorEvent]="pmsNotInSyncError.asObservable()" [alertType] = "alertType" [alertButtonType]="alertButtonType" (retryAction)="isPMSNotInSync?backToGuestList():getGuestCheckInData()">
</app-error-toast-message>
<!-- DNM Reason change error -->
<app-error-toast-message [attr.data-slnm-ihg]="'DNMReasonError-SID'"
                         [errorEvent]="dnmReasonChangeErrorCheckInPage.asObservable()"
                         [translations]="addReasonErrorContent"
                         [reportIssueAutoFill]="reportIssueAutoFillDnmReason"
                         (retryAction)="retrySaveReason()">
</app-error-toast-message>
<div class="check-in" *ngIf="initialized">
    <div class="checkin-info-section">
        <butter-bar-component [hasSuccessBarDisplay]="hasSuccessDisplay" [dataSuccessToast]="successDataToast" (successAction)="copyToClipBoard()" ></butter-bar-component>
    </div>
    <div>
        <div class="check-in__info">
            <app-check-in-info [guestData]="guestData"></app-check-in-info>
        </div>
        <div class="check-in__room-rate" appViewportCheck (viewportCheck)="handleViewportCheckForRoomRate($event)">
            <app-room-and-rate [guestData]="guestData"></app-room-and-rate>
        </div>
        <div class="check-in__reservation-docked" [ngClass]="{'show-docked': dockReservation}">
            <app-reservation-summary [guestData]="guestData"></app-reservation-summary>
        </div>
        <div class="check-in__work-flow">
            <app-check-in-workflow [guestData]="guestData" [payIntegratedFlag]="payIntegratedFlag" [pmsAuthSaveInd]="pmsAuthSaveInd">
            </app-check-in-workflow>
        </div>
        <div class="check-in__comments" [hidden]="selectedTab === workflowTabs[3].id">
            <app-comments [guestData]="guestData"></app-comments>
        </div>
        <div class="check-in__talk-about" appViewportCheck (viewportCheck)="handleViewportCheckForTalkAbout($event)" #talkAbout>
            <app-talk-about [guestData]="guestData"></app-talk-about>
        </div>
        <div class="check-in__talk-about-docked" [ngClass]="{'show-docked': dockTalkAbout}">
            <app-talk-about [guestData]="guestData" docked="true" (dockedItemClick)="bringTalkAboutInViewPort()">
            </app-talk-about>
        </div>
        <div class="check-in__hotel-features" [hidden]="selectedTab !== workflowTabs[3].id">
            <app-hotel-features></app-hotel-features>
        </div>
    </div>
</div>
<app-service-error [hidden]="!hasErrors"
                   [reportIssueAutoFill]="reportIssueAutoFill.loadError"
                   [errorEvent]="emitError.asObservable()"
                   (refreshAction)="refresh()">
</app-service-error>