@import 'check-in-breakpoint';

.check-in {
  .check-in-action {
    position: absolute;
    top: -65px;
    right: 102px;
  }
  .checkin-info-section {
    margin-bottom: 10px;
  }

  .check-in__info,
  .check-in__work-flow {
    width: 75%;
    float: left;
  }

  .check-in__room-rate,
  .check-in__talk-about,
  .check-in__comments,
  .check-in__hotel-features {
    width: 25%;
    float: right;
    padding-left: 1rem;
  }

  .check-in__reservation-docked,
  .check-in__talk-about-docked {
    display: none;
    position: fixed;
    z-index: 10;
    transition: all 200ms ease-in-out;
  }

  .check-in__reservation-docked {
    top: -90px;
    width: calc(100% - 30px);
    max-width: 1180px;
    margin: 0 auto;

    &.show-docked {
      top: 56px;
    }
  }

  .check-in__talk-about-docked {
    bottom: -80px;

    &.show-docked {
      bottom: 0;
    }
  }
}

@media screen and (max-width: $tablet-landscape-width) {
  .check-in {
    .check-in__info,
    .check-in__room-rate,
    .check-in__work-flow {
      width: 100%;
      padding-left: 0;
      float: none;
    }

    .check-in__talk-about {
      width: 49%;
      padding-left: 0;
      float: right;
    }

    .check-in__comments {
      width: 49%;
      padding-left: 0;
      float: left;
    }

    .check-in__hotel-features {
      width: 35%;
      float: left;
      padding-left: 0;
    }

    .check-in__reservation-docked,
    .check-in__talk-about-docked {
      display: block;
    }
  }
}

::ng-deep {
  .hide-primary-btn {
    .btn-primary {
      display: none;
    }
  }
}