<div class="filters loyalty-filters" data-slnm-ihg="OrangeFilter-SID">
  <button class="btn filter"
          type="button"
          [attr.data-slnm-ihg]="'Filter' + filter.label + '-SID'"
          [class.filter-active]="filter.selected"
          (click)="handleFilterClick(filter)"
          *ngFor="let filter of filters">
    {{ filter.label | translate }}
    <span class="filter-count"
          [attr.data-slnm-ihg]="'Count' + filter.count + '-SID'"
          [hidden]="!filter.count">
      ({{ filter.count }})
    </span>
  </button>
</div>
