@import 'variables';
:host ::ng-deep {
    .no-suggested-matches {
        width: 68%;
        margin: 0 auto;
    }
    .k-dropdown-wrap>.k-input {
        display: block;
    }
    .k-dropdown .k-dropdown-wrap.k-state-disabled {
        border-color: $input-border;
        background-color: $disabled-field-color;
        opacity: 1;
    }
    .ng-invalid.ng-touched>.k-dropdown-wrap,
    .ng-invalid.ng-dirty>.k-dropdown-wrap,
    .k-dropdown .k-dropdown-wrap {
        border-color: $input-border;
    }
    uic-user-guidance{
        width: 100%;
    }
    uic-collapsible-card {
        uic-concerto-grid-pager {
            display: none;
        }
        .uic-collapsible-card {
            margin-bottom: 0;
            .card {
                box-shadow: none;
                .card-header {
                    font-size: 18px;
                    line-height: 25px;
                    padding: 0 0 10px;
                }
                .card-body {
                    padding: 0;
                }
            }
        }
        &.panel-collapsed .uic-collapsible-card {
            .card-header {
                display: block;
            }
        }
        &.first-time {
            .card-header {
                display: none;
            }
        }
    }
    .data-container {
        margin: 0 -30px;
    }
}