<uic-collapsible-card data-slnm-ihg="CorporateIdLookUp-SID" [collapsed]="panelCollapsed" (change)="handleToggle($event)" [ngClass]="{'panel-collapsed': panelCollapsed,'first-time':searchcount==0}">
    <form [formGroup]="rewardsMemberForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6 mb-3">
                <label class="control-label" data-slnm-ihg="LabelRewardsClubNo-SID" [innerHTML]="'LBL_IHGRW_NO' | translate"></label>
                <div class="req-star-parent d-flex">
                    <input type="text" class="form-control" NumberOnly formControlName="rewardsNo" data-slnm-ihg="RewardsClubNo-SID">
                </div>
            </div>
            <div class="col-6 mb-3">
                <label class="control-label" data-slnm-ihg="LabelEmailAddress-SID" translate="LBL_EMAIL_ADD"></label>
                <div class="req-star-parent d-flex">
                    <input type="email" class="form-control" (blur)="validateEmail()" formControlName="emailAddress" data-slnm-ihg="EmailAddress-SID">
                </div>
                <div class="error-message" data-slnm-ihg="ErrorInvalidEmail-SID" [translate]="emailValidationDescription" *ngIf="getformControl('emailAddress').errors?.notExists && 
                  (getformControl('emailAddress').touched)">
                </div>
            </div>
            <div class="col-3 mb-3">
                <label class="control-label" [ngClass]="{'req-star-custom': firstLastCountryReq || firstLastPhnCountryReq}" data-slnm-ihg="LabelFirstName-SID" translate="LBL_FIRST_NAME"></label>
                <div class="req-star-parent d-flex">
                    <input type="text" class="form-control" formControlName="firstName" data-slnm-ihg="FirstName-SID">
                </div>
                <div class="error-message" data-slnm-ihg="ErrorEmptyFirstName-SID" translate="LBL_ERR_EMPTY_FIRST_NAME" *ngIf="getformControl('firstName').errors?.required && (firstLastCountryReq || firstLastPhnCountryReq)">
                </div>
            </div>
            <div class="col-3 mb-3">
                <label class="control-label" [ngClass]="{'req-star-custom': firstLastCountryReq || firstLastPhnCountryReq}" data-slnm-ihg="LabelLastName-SID" translate="LBL_LAST_NAME"></label>
                <div class="req-star-parent d-flex">
                    <input type="text" class="form-control" formControlName="lastName" data-slnm-ihg="LastName-SID">
                </div>
                <div class="error-message" data-slnm-ihg="ErrorEmptyLastName-SID" translate="LBL_ERR_EMPTY_LAST_NAME" *ngIf="getformControl('lastName').errors?.required && (firstLastCountryReq || firstLastPhnCountryReq)">
                </div>
            </div>
            <div class="col-3 mb-3">
                <label class="control-label" [ngClass]="{'req-star-custom': phnCountryReq || firstLastPhnCountryReq}" data-slnm-ihg="LabelPhone-SID" translate="LBL_PHONE"></label>
                <div class="req-star-parent d-flex">
                    <input type="text" maxlength="20" NumberOnly class="form-control" formControlName="phone" data-slnm-ihg="Phone-SID">
                </div>
                <div class="error-message" data-slnm-ihg="ErrorEmptyLastName-SID" translate="GI_ERR_EMPTY_PHONE" *ngIf="getformControl('phone').errors?.required && (firstLastPhnCountryReq)">
                </div>
            </div>
            <div class="col-3 mb-3">
                <label class="control-label" [ngClass]="{'req-star-custom': firstLastCountryReq || phnCountryReq}" data-slnm-ihg="LabelCountry-SID" translate="LBL_COUNTRY"></label>
                <kendo-dropdownlist [ngClass]="{'ng-invalid':(phnCountryReq || firstLastCountryReq)}" data-slnm-ihg="Country-SID" formControlName="country" [data]="countries" [textField]="'countryName'" [valueField]="'countryCode'" [valuePrimitive]="true">
                </kendo-dropdownlist>
                <div class="error-message" data-slnm-ihg="ErrorEmptyCountry-SID" translate="LBL_ERR_EMPTY_COUNTRY" *ngIf="(phnCountryReq || firstLastCountryReq) && getformControl('country').errors?.required">
                </div>
            </div>
        </div>
        <div class="submit d-flex justify-content-end pb-3">
            <button type="button" class="btn btn-default mr-2" (click)="clearSearch()" data-slnm-ihg="Cancel-SID" translate="COM_BTN_RST"></button>
            <button type="submit" [disabled]="!rewardsMemberForm.valid" class="btn btn-primary" data-slnm-ihg="Submit-SID" translate="COM_BTN_SRCH"></button>
        </div>
    </form>
    <div class="row" *ngIf="searchcount==0">
        <uic-user-guidance class="text-center" [attr.data-slnm-ihg]="'NoSuggestedMatches-SID'" [title]="'LBL_CRPRT_NO_SEARCH_RESULTS_HEADING' | translate">
            <div class="no-suggested-matches">
                <div translate="LBL_TOO_LRG_RSLT_SET"></div>
                <div translate="LBL_SRCH_USNG_FRM"></div>
            </div>
        </uic-user-guidance>
    </div>
</uic-collapsible-card>
<div class="data-container concerto-grid expand-collapsegrid" *ngIf="(gridData?.data && gridData?.data.length > 0) && showSearchResults">
    <app-rewards-number-search-results data-slnm-ihg="RewardsNumberSearchResults-SID" (onIhgNumberSelected)="onIhgRcNumberSelected($event)" (handlePageChangeEmitter)="handlePageChange($event)" [gridState]="gridState" [rewardSearchResults]="gridData">
    </app-rewards-number-search-results>
</div>
<div class="row" *ngIf="(gridData?.data && gridData?.data.length == 0) && showSearchResults">
    <uic-user-guidance class="text-center" [attr.data-slnm-ihg]="'NoSearchResults-SID'" [title]="'MSG_NO_SRCH_RSLTS_TITLE' | translate" [content]="'MSG_NO_SRCH_RSLTS' | translate">
    </uic-user-guidance>
</div>