@import 'variables';

::ng-deep .description-modal {
  .modal-dialog {
    max-width: 590px;
  }

  .section {
    padding: 0 30px 5px;
    h4 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }

  th {
    width: 45%;
  }

  table tr:not(:last-child) {
    border-bottom: 1px solid $gray-80;
  }
}
