<div class="modal-content" data-slnm-ihg="Walk-In-Success-SID">
  <div class="modal-header">
    <h4 class="title">
      <span translate="LBL_WALK_IN_RES_CR" data-slnm-ihg="WalkInReservation-SID"></span>
    </h4>
    <button type="button"
            class="close"
            data-slnm-ihg="ButtonCloseX-SID"
            (click)="dismissModal()"
            [ngbTooltip]="'COM_BTN_CLOSE' | translate">&times;
    </button>
  </div>
  <div class="modal-body p-0">

    <table width="100%">
      <tr>
        <th class="px-3 py-2" data-slnm-ihg="GuestNameLabel-SID" translate="LBL_GST_GUEST_NAME"></th>
        <td data-slnm-ihg="GuestName-SID">{{data.firstName}} {{data.lastName}}</td>
      </tr>
      <tr>
        <th class="px-3 py-2" data-slnm-ihg="ArrivalLabel-SID" translate="LBL_GST_ARRIVAL"></th>
        <td data-slnm-ihg="Arrival-SID">{{data.checkInDate | date: 'ddMMMyyyy' | uppercase}}</td>
      </tr>
      <tr>
        <th class="px-3 py-2" data-slnm-ihg="DepartureLabel-SID" translate="LBL_GST_DEPARTURE"></th>
        <td data-slnm-ihg="Departure-SID">{{data.checkOutDate | date: 'ddMMMyyyy' | uppercase}}</td>
      </tr>
      <tr>
        <th class="px-3 py-2" data-slnm-ihg="ReservationLabel-SID" translate="LBL_RSVN_NUM"></th>
        <td data-slnm-ihg="Reservation-SID">{{data.reservationNumber}}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default p-2 mr-2"
            type="button" (click)="backToGuest()"
            data-slnm-ihg="BackToGuest-SID"
            translate="LBL_BK_TO_GST_LST">
    </button>
    <button class="btn btn-primary"
            type="button" (click)="continueCheckIn()"
            data-slnm-ihg="ContinueCheck-SID"
            translate="LBL_CONT_CHK_IN">
    </button>
  </div>
</div>
