<div data-slnm-ihg="SpecialRequests-SID">
    <div class="modal-header">
      <h4 class="modal-title" data-slnm-ihg="Title-SID" translate="LBL_FILTER_SR"></h4>
      <button type="button" data-slnm-ihg="CloseIcon-SID" class="close" (click)="onClose()" ngbTooltip="{{'COM_BTN_CLOSE' | translate}}">&times;</button>
    </div>
    <div class="modal-body"> 
      <div>
        <p data-slnm-ihg="Content-SID">{{specialRequests | titlecase}}</p>
       </div> 
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" (click)="onClose()" data-slnm-ihg="CloseButton-SID" translate="COM_BTN_CLOSE">
      </button>
    </div>
  </div>