@import 'variables';

.in-house-view {
  .header-section {
    display: flex;
    justify-content: space-between;

    .guest-search {
      padding-left: 20px;
    }

    .right-section {
      padding-right: 30px;
      display: flex;
      color: $secondary-text-color;

      .today-btn {
        height: 35px;
      }
    }
  }
}
