<div class="in-house-view">
  <div class="header-section">
    <div class="left-section">
      <app-guest-search [searchQuery]="searchQuery"
                        [groupList]="groupList"
                        [previewEnabled]="true"
                        [source]="'INHOUSETAB'"
                        (search)="onGuestSearch($event)"
                        (emitGuestSelection)="handleGuestSelection($event)"
                        (emitGroupSelection)="handlePreviewGroupSelection($event)"
                        (emitAllGroupSelection)="handlePreviewGroupSelection($event, true)"
                        (emitIsReset)="handleResetEvent($event)">
      </app-guest-search>
    </div>
    <div class="right-section">
      <app-show-hide-groups class="pr-2"
          *ngIf="showGroupToggle() && !suppressGroupsBtn"
          [showGroups]="showGroups"
          (emitChange)="handleShowHideGroup($event)">
      </app-show-hide-groups>
      <button type="button"
              class="btn btn-default today-btn"
              data-slnm-ihg="TodayButton-SID">
        <span [translate]="'LBL_TODAY'"></span>
      </button>
    </div>
  </div>

  <app-group-block [hidden]="!showGroups"
                   [searchQuery]="searchQuery"
                   [parentTabActive]="isActiveTab"
                   [subcategory]="ga.SUB_CATEGORY.INHOUSETAB"
                   (emitSelectedGroup)="handleGroupSelection($event)"
                   (emitGroupList)="handleGroupList($event)">
  </app-group-block>
  
  <div *ngIf="selectedGroup && showInHouse" class="card-header pb-2 pt-4" data-slnm-ihg="GroupSelected-SID">
    {{ 'GUEST_LIST' | translate }} - {{ selectedGroup | titlecase }}
  </div>

  <app-in-house-list [hidden]="!showInHouse"
                     [dateIndex]="dateIndex"
                     [guestData]="guestData"
                     [guestDataErrorEvent]="emitError.asObservable()"
                     (refreshAction)="onGuestListRefresh()"
                     [isSearchResult]="!!searchQuery"
                     (stateChange)="onStateChange($event)"
                     [gridState]="gridState"
                     [totalItems]="totalItems"
                     [inHouseParams]="inHouseParams"
                     (print)="handlePrint($event)">
  </app-in-house-list>

  <app-print-grid-container hidden
                            [searchString]="searchQuery"
                            [detailed]="detailedPrint"
                            [printGuestList]="printableRecords.asObservable()"
                            [otherTab]="'inHouseTab'"
                            [detailed]="detailedPrint">
  </app-print-grid-container>
</div>
