@import 'variables';

table.table {
    margin-bottom: 12px;
  
    thead {
      th:nth-child(1) {
        padding-left: 0.5em;
        width: 35%;
      }

      th:nth-child(2) {
        width: 35%;
      }

      th:nth-child(3) {
        width: 30%;
      }
  
      th:nth-child(2),
      th:nth-child(3) {
        text-align: center;
      }
    }
  
    tbody > tr:not(.ta__totals) {
      td:nth-child(1) {
        padding-left: 0.5em;
      }
      td:nth-child(2),
      td:nth-child(3) {
        text-align: center;
      }
  
      // todo disabled pre arrival checklist link
      /*td:nth-child(2) {
          color: $ihg-light-blueberry;
          font-weight: bold;
  
          span {
              cursor: pointer;
          }
      }*/
    }
  
    border: 1px solid #ccc;
  
    td, th {
      font-size: 12px;
      padding: 4px 2em;
      border-top: none;
    }
  
    thead > tr {
      border-bottom: 2px solid $header-border-color;
    }
  
    tbody > tr {
      &:nth-of-type(odd) {
        background-color: $odd-bg-color;
      }
  
      td:nth-child(2), td:nth-child(3) {
        text-align: right;
      }
  
      td:nth-child(2) {
        padding-right: 32px;
      }
    }
  
    tbody > tr.ta__totals {
      font-weight: bold;
      background-color: transparent;
      border-top: 2px solid $header-border-color;
  
      td:nth-child(1) {
        padding-left: 1em;
      }
    }
  }

