<div>
  <div class="modal-header">
    <h4 class="modal-title">Modify Version 1.0 of Proposed Sell Strategy - 201 (HI)</h4>
    <button type="button" class="close" (click)="onClose()" ngbTooltip="{{'COM_BTN_CLOSE' | translate}}">&times;</button>
  </div>
  <div class="modal-body row">
    <div class="col-9">
      <table class="table fixedtable">
        <thead>
          <tr>
            <th>Segment Clusters</th>
            <th>Ver: 1.1 Rate Proposal</th>
            <th>Prior Version 1 Proposal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let segmentCluster of strategyEdit.segmentClusters">
            <td>{{segmentCluster.name}}</td>        
            <td [ngClass]="{'text-danger': segmentCluster.modified}">${{(segmentCluster.newRate || segmentCluster.priorRate) | number:'1.2-2'}}</td>
            <td>${{segmentCluster.priorRate | number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table fixedtable">
        <thead>
          <tr>
            <th>NRI</th>
            <th>Ver: 1.1 Uplift/Room Proposal</th>
            <th>Prior Proposal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let special of strategyEdit.specials">
            <td>{{special.name}}</td>        
            <td [ngClass]="{'text-danger': special.modified}">${{(special.newRate || special.priorRate) | number:'1.2-2'}}</td>
            <td>${{special.priorRate | number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table fixedtable">
        <thead>
          <tr>
            <th>NRI</th>
            <th>Ver: 1.1 Uplift/Room Proposal</th>
            <th>Prior Proposal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roomAttribute of strategyEdit.roomAttributes">
            <td>{{roomAttribute.name}}</td>        
            <td [ngClass]="{'text-danger': roomAttribute.modified}">${{(roomAttribute.newRate || roomAttribute.priorRate) | number:'1.2-2'}}</td>
            <td>${{roomAttribute.priorRate | number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <form
        name="strategyEditForm"
        autocomplete="off"
        novalidate>
        <div class="pt-2">
          <label for="revpar" class="control-label">Desired REVPAR % Chg:</label>
          <kendo-dropdownlist 
              name="revpar"
              [data]="revparOptions"
              [valuePrimitive]="true"
              [(ngModel)]="formData.revpar"
              [disabled]="disabled.revpar"
            >
          </kendo-dropdownlist>
        </div>
        <div class="pt-2">
          <label for="occ" class="control-label">Desired OCC % Chg:</label>
          <kendo-dropdownlist 
              name="occ"
              [data]="occOptions"
              [valuePrimitive]="true"
              [(ngModel)]="formData.occ"
              [disabled]="disabled.occ"
            >
          </kendo-dropdownlist>
        </div>
        <div class="pt-2">
          <label for="adr" class="control-label">Desired ADR % Chg:</label>
          <kendo-dropdownlist 
              name="adr"
              [data]="adrOptions"
              [valuePrimitive]="true"
              [(ngModel)]="formData.adr"
              [disabled]="disabled.adr"
            >
          </kendo-dropdownlist>
        </div>
        <div class="pt-2">
          <label for="sseHotelGrouping" class="control-label">SSE Hotel Groupings:</label>
          <kendo-dropdownlist 
              name="sseHotelGrouping"
              [data]="sseHotelGroupingOptions"
              [valuePrimitive]="true"
              [(ngModel)]="formData.sseHotelGrouping"
            >
          </kendo-dropdownlist>
        </div>
        <div class="pt-2">
          <label for="channel" class="control-label">Channel:</label>
          <kendo-dropdownlist 
              name="channel"
              [data]="channelOptions"
              [valuePrimitive]="true"
              [(ngModel)]="formData.channel"
            >
          </kendo-dropdownlist>
        </div>
        <div class="pt-2">
          <label for="sseAggresivenes" class="control-label">SSE Agressiveness:</label>
          <kendo-dropdownlist 
              name="sseAggresivenes"
              [data]="sseAggresivenesOptions"
              [valuePrimitive]="true"
              [(ngModel)]="formData.sseAggresivenes"
            >
          </kendo-dropdownlist>
        </div>
        <div class="pt-2">
          <label for="startDate" class="control-label">Effective Start Date:</label>
          <kendo-datepicker 
              name="startDate"
              [(ngModel)]="formData.startDate"
              [placeholder]="'MM/dd/yyyy'"
            >
          </kendo-datepicker>
        </div>
        <div class="pt-2">
          <label for="endDate" class="control-label">Effective End Date:</label>
          <kendo-datepicker
              name="endDate"
              [(ngModel)]="formData.endDate"
              [placeholder]="'MM/dd/yyyy'"
            >
          </kendo-datepicker>
        </div>
      </form>
    </div>
    
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button class="btn btn-primary" type="button" (click)="onSave()">Save Analysis</button>
    <button class="btn btn-primary" type="button" (click)="onAnalyze()" >Analyze Strategy</button>
    <button class="btn btn-primary" type="button" (click)="onCancel()" >Disregard Strategy</button>
    <button class="btn btn-primary" type="button" (click)="onViewPerformance()">View Projected Performance</button>
  </div>
</div>