<div>
    <button (click) = "navigateStrategyPerformance()" class="btn btn-primary mb-3">Go to strategy performance</button>
    <div class="row">
      <div class="col-4" *ngFor="let strategy of strategyData; let i = index">
        <uic-card>
          <app-proposed-strategy-item [strategy]="strategy" [strategyEdit]="i === 1 ? strategyEditData : null">  
          </app-proposed-strategy-item>
        </uic-card>
      </div>
    </div>
</div>
