<table class="guest-list">
    <thead>
      <tr *ngIf="otherTab === 'arrivalsTab' || otherTab === 'prepareTab'">
        <th translate="LBL_GUEST" class="text-left"></th>
        <th *ngIf="otherTab === 'prepareTab'" translate="LBL_COY" class="text-left"></th>
        <th translate="LBL_GRP" class="text-left"></th>
        <th translate="LBL_GST_ARRIVAL"></th>
        <th translate="LBL_GST_TIME"></th>
        <th translate="LBL_GST_NIGHTS"></th>
        <th *ngIf="otherTab === 'arrivalsTab'" translate="LBL_GST_DEPARTURE"></th>
        <th *ngIf="otherTab === 'prepareTab'" translate="LBL_ADULTS_CHILDREN"></th>
        <th translate="LBL_ROOM"></th>
        <th class="status-col" [ngClass]="otherTab === 'arrivalsTab' ? 'text-left' : 'text-center'">
          <span translate="COM_LBL_STATUS"></span>
          <div *ngIf="otherTab === 'prepareTab'" class="sub-heading small-text">
            <span translate="LBL_RM_ASSIGND"></span>
            <span translate="LBL_ALL_TSKS"></span>
            <span translate="LBL_RM_RDY"></span>
          </div>
        </th>
        <th *ngIf="otherTab === 'arrivalsTab'" translate="COM_LBL_ACTIONS"></th>
      </tr>
      <tr *ngIf="otherTab ==='inHouseTab'">
        <th width="20%" translate="LBL_GUEST" class="text-left"></th>
        <th width="12%" translate="LBL_GST_LOYALTY" class="text-left"></th>
        <th width="15%" translate="LBL_GRP" class="text-left"></th>
        <th width="10%" translate="LBL_GST_NIGHTS"></th>
        <th width="10%" translate="LBL_GST_DEPARTURE"></th>
        <th width="8%" translate="LBL_ROOM"></th>
        <th width="10%" translate="LBL_RM_STATUS"></th>
        <th width="15%" translate="COM_LBL_ACTIONS"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of items">
        <tr *ngIf="otherTab === 'arrivalsTab' || otherTab === 'prepareTab'">
          <td class="align-top">
            <div class="d-flex flex-column h-100 pb-1">
              <p class="bold-font mb-0">{{ item.lastName | titlecase }},
                {{ item.firstName | titlecase }}</p>
              <app-badge-list *ngIf="item.badges && item.badges.length" [badges]="item.badges" [usePrintBadges]="true">
              </app-badge-list>
              <div class="mt-auto pt-2" *ngIf="detailed && (item.reservationNumber || item.ihgRcNumber || item.loyaltyId)">
                <span class="small-text d-block" *ngIf="item.reservationNumber">{{ 'LBL_RES' | translate }} #
                  {{ item.reservationNumber }}</span>
                <span class="small-text d-block" *ngIf="item.ihgRcNumber || item.loyaltyId">{{ 'LBL_IHG_RC' | translate }}
                  #
                  {{ item.ihgRcNumber || item.loyaltyId }}</span>
              </div>
            </div>
          </td>
          <td colspan="8">
            <table>
              <tr>
                <td *ngIf="otherTab === 'prepareTab'">
                  <span *ngIf="item.companyName; else noData">{{ item.companyName | titlecase }}</span></td>
                <td><span *ngIf="item.groupName; else noData">{{ item.groupName | titlecase }}</span></td>
                <td class="text-center"><span *ngIf="item.arrival; else noData">{{ item.arrival }}</span></td>
                <td class="text-center"><span *ngIf="item.arrivalTime; else noData">{{ item.arrivalTime }}</span></td>
                <td class="text-center"><span *ngIf="item.numberOfNights || item.nights; else noData">
                    {{ item.numberOfNights  || item.nights}}</span>
                </td>
                <td *ngIf="otherTab === 'arrivalsTab'" class="text-center">
                  <span *ngIf="item.deparatureDate; else noData">
                    {{ getDateValue(item.deparatureDate) }}</span>
                </td>
                <td *ngIf="otherTab === 'prepareTab'" class="text-center">
                  <span>{{item.numberOfAdults}}/{{item.numberOfChildren}}</span></td>
                <td class="text-center">
                  <div *ngIf="item.assignedRoomNumber || item.roomNumber; else noData">
                    <div class="d-block bold-font">{{ item.assignedRoomNumber || item.roomNumber }}</div>
                    <div class="d-block">{{ item.roomTypeCode || item.roomType }}</div>
                  </div>
                </td>
                <td class="status-col" [ngClass]="otherTab === 'arrivalsTab' ? 'text-left' : 'text-center'">
                  <app-prep-progress *ngIf="otherTab === 'prepareTab'"
                                     [disabled]="!allowManage"
                                     [listItem]="item"
                                     [isTodaySelected]="isTodaySelected">
                  </app-prep-progress>
                  <app-reservation-status *ngIf="otherTab === 'arrivalsTab'"
                                          [status]="item.prepStatus">
                  </app-reservation-status>
                </td>
                <td class="text-center" *ngIf="otherTab === 'arrivalsTab'">{{getActionColumnValue(item) | translate}}</td>
              </tr>
              <tr class="detail-row" *ngIf="detailed">
                <td colspan="8" class="p-0">
                  <div class="row small-text">
                    <div class="col-8 p-2 preference">
                      <span class="bold-font d-block mb-1" translate="LBL_PREF"></span>
                      <ul *ngIf="item.preferences && item.preferences.length; else noData">
                        <li *ngFor="let preference of item.preferences">
                          {{ preference | titlecase }}</li>
                      </ul>
                    </div>
                    <div class="col-4 p-2 pl-4 spcl-request">
                      <span class="bold-font d-block  mb-1" translate="LBL_SPL_REQ"></span>
                      <ul class="m-0 p-0" *ngIf="item.specialRequests && item.specialRequests.length; else noData">
                        <li *ngFor="let request of item.specialRequests">
                          {{ util.truncateWithEllipsis((request | titlecase), maxCharCount) }}</li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr *ngIf="otherTab === 'inHouseTab'">
          <td width="20%"> 
              <p class="bold-font mb-0">{{ item.lastName | titlecase }},
                  {{ item.firstName | titlecase }}
              </p>
              <div class="mt-auto pt-2" *ngIf="detailed && (item.reservationNumber || item.ihgRcNumber || item.loyaltyId)">
                <span class="small-text d-block" *ngIf="item.reservationNumber">{{ 'LBL_RES' | translate }} #
                  {{ item.reservationNumber }}</span>
                <span class="small-text d-block" *ngIf="item.ihgRcNumber || item.loyaltyId">{{ 'LBL_IHG_RC' | translate }}
                  #
                  {{ item.ihgRcNumber || item.loyaltyId }}</span>
              </div>         
          </td>
          <td width="12%">
            <app-badge-list *ngIf="item.badges.length" 
                            [badges]="item.badges"
                            [usePrintBadges]="true">
            </app-badge-list>
          </td>
          <td width="15%">
            <span *ngIf="item.groupName; else noData">{{ item.groupName | titlecase }}</span>
          </td>
          <td width="10%" class="text-center">
            <span *ngIf="item.numberOfNights || item.nights; else noData"> {{ item.numberOfNights  || item.nights}}</span>
          </td>
          <td width="10%" class="text-center">
            <span *ngIf="item.checkOutDate;else noData">{{ formatDate(item.checkOutDate) }}</span>
          </td>
          <td width="8%" class="text-center">
            <div *ngIf="item.assignedRoomNumber || item.roomNumber; else noData">
              <div class="d-block bold-font">{{ item.assignedRoomNumber || item.roomNumber }}</div>
              <div class="d-block">{{ item.roomTypeCode || item.roomType }}</div>
            </div>
          </td>
          <td width="10%">
            <app-reservation-status [status]="item.roomStatus"></app-reservation-status>
          </td>
          <td width="15%" class="text-center">{{'LBL_MANAGE_STAY' | translate}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <ng-template #noData>
    <span>{{noDataSymbol}}</span>
  </ng-template>