<div class="prepare-arrivals-grid concerto-grid">
  <kendo-grid [data]="gridView"
              [filterable]="false"
              [pageable]="true"
              [sortable]="{ allowUnsort: false, mode: 'single' }"
              [selectable]="{ checkboxOnly: true }"
              [scrollable]="false"
              [pageSize]="gridState.take"
              [skip]="gridState.skip"
              [sort]="gridState.sort"
              [filter]="gridState.filter"
              [kendoGridSelectBy]="'reservationNumber'"
              [selectedKeys]="selectedGuests"
              (pageChange)="onPageChange($event)"
              (sortChange)="onSortChange($event)"
              (selectedKeysChange)="handleCheckboxSelection()"
              uicConcertoGridDockedHeader
              [dockPager]="true"
              [offsetTop]="56"
              [rowClass]="getRowClass">

    <ng-template kendoPagerTemplate>
      <app-prepare-arrivals-grid-pager [gridView]="gridView"
                                       [settings]="gridSettings"
                                       (selectPageSize)="selectPageSize($event)"
                                       [printMenuItems]="printMenuItems"
                                       (print)="handlePrint($event)">
      </app-prepare-arrivals-grid-pager>
    </ng-template>

    <!-- checkboxes -->
    <kendo-grid-checkbox-column width="38" class="align-top text-center checkbox-column">
      <ng-template kendoGridCellTemplate let-dataItem let-idx="rowIndex">
        <span ngbTooltip="{{ getCheckboxRules(dataItem).tooltipText | translate }}"
              container="body"
              placement="right">
          <input class="ignore-row-click"
                 type="checkbox"
                 [kendoGridSelectionCheckbox]="idx"
                 data-slnm-ihg="CheckBox-SID"
                 [checked]="dataItem.checked"
                 [(ngModel)]="dataItem.selected"
                 [disabled]="!getCheckboxRules(dataItem).enableCheckbox"/>
        </span>
      </ng-template>
    </kendo-grid-checkbox-column>

    <kendo-grid-column class="pl-4 align-top" width="195" field="guest">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_GUEST_NAME" data-slnm-ihg="GuestLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <i class="expand-row-icon fas"
           data-slnm-ihg="CaretIcon-SID"
           [class.fa-caret-right]="!dataItem.expanded"
           [class.fa-caret-down]="dataItem.expanded"
           (click)="toggleItemExpandIcon(rowIndex, dataItem)">
        </i>
        <div class="name"
             data-slnm-ihg="GuestName-SID"
             [class.no-wrap-ellipsis]="!dataItem.expanded"
             [ngbTooltip]="displayToolTip(dataItem.lastName +', '+dataItem.firstName) ? transformData(dataItem.lastName+', '+dataItem.firstName) : ''"
             (click)="toggleItemExpandIcon(rowIndex, dataItem)"
             tooltipClass="{{dataItem.expanded ? 'tooltip-hidden' : ''}}">
          <span [innerHTML]="(dataItem.lastName + ', ' + dataItem.firstName) | titlecase | textHighlight: searchStr">
          </span>
        </div>
        <div class="badge-icons">
            <app-badge-list [badges]="dataItem.badges"></app-badge-list>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="40" class="align-top" field="guestProfile" title=""
                       [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a [routerLink]="['/guest-profile']" target="_blank" (click)="clickProfileIcon(dataItem.ihgRcNumber)">
          <i *ngIf="dataItem.ihgRcNumber"
             class="far fa-address-card profile-icon"
             data-slnm-ihg="ProfileIcon-SID"
             ngbTooltip="Guest Profile">
          </i>
        </a>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="130" field="companyName" headerClass="text-center">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_COY" data-slnm-ihg="CompanyLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center" data-slnm-ihg="CompanyName-SID">
          <div class="no-data-symbol" *ngIf="!dataItem.companyName">{{ noDataSymbol }}</div>
          <div *ngIf="dataItem.companyName"
               [ngbTooltip]="displayToolTip(dataItem.companyName) ? transformData(dataItem.companyName) : ''">
            {{ dataItem.companyName | titlecase | slice:0:this.characterCount }}
            <span *ngIf="dataItem.companyName.length>this.characterCount">...</span>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="130" field="groupName" headerClass="text-center">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GRP" data-slnm-ihg="GroupLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center" data-slnm-ihg="GroupName-SID">
          <div class="no-data-symbol" *ngIf="!dataItem.groupName">{{ noDataSymbol }}</div>
          <div *ngIf="dataItem.groupName"
               [ngbTooltip]="displayToolTip(dataItem.groupName) ? transformData(dataItem.groupName) : ''" [innerHTML]="(dataItem.groupName | titlecase | textHighlight: searchStr)">
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="80" field="arrival" [sortable]="false" class="text-center" headerClass="text-center">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_ARRIVAL" data-slnm-ihg="ArrivalLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span class="no-data-symbol" [attr.data-slnm-ihg]="'Arrival'  + (rowIndex + 1) +  '-SID'" >{{ dataItem.arrival ? dataItem.arrival : noDataSymbol }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="70" field="arrivalTime" headerClass="text-center">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_TIME" data-slnm-ihg="TimeLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center" data-slnm-ihg="Time-SID">
          <div class="no-data-symbol" *ngIf="!dataItem.arrivalTime">{{ noDataSymbol }}</div>
          <div *ngIf="dataItem.arrivalTime">{{ dataItem.arrivalTime }}</div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="70" field="nights" [sortable]="false" headerClass="text-center">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_NIGHTS" data-slnm-ihg="NightsLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center" data-slnm-ihg="NumberOfNights-SID">
          <div class="no-data-symbol" *ngIf="!dataItem.numberOfNights">{{ noDataSymbol }}</div>
          <div *ngIf="dataItem.numberOfNights">{{ dataItem.numberOfNights }}</div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="80" field="adultsChildren" [sortable]="false" headerClass="text-center">
      <ng-template kendoGridHeaderTemplate let-column>
        <span translate="LBL_ADULTS_CHILDREN" data-slnm-ihg="AdultsChildrenLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
          <div class="text-center" data-slnm-ihg="AdultsChildrenText-SID">
          {{dataItem.numberOfAdults}}/{{dataItem.numberOfChildren}}
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="70" field="room" [sortable]="false" headerClass="text-center">
      <ng-template kendoGridHeaderTemplate let-column>
        <span translate="LBL_ROOM" data-slnm-ihg="RoomLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="rm-number-container rm-number-color text-center">
          <button class="room-assign-btn btn btn-default"
                  data-slnm-ihg="RoomAssignButton-SID"
                  *ngIf="!dataItem.assignedRoomNumber && this.allowManage"
                  (click)="toggleItemExpandIcon(rowIndex, dataItem)">
            {{ 'COM_BTN_ASSIGN' | translate }}
          </button>
          <div class="assigned-room" *ngIf="dataItem.assignedRoomNumber && this.allowManage" (click)="toggleItemExpandIcon(rowIndex, dataItem,true)">
            <div class="room-number-text" data-slnm-ihg="AssignedRoomNumber-SID">{{ dataItem.assignedRoomNumber }}</div>
            <div data-slnm-ihg="RoomTypeCode-SID">{{ dataItem.assignedRoomStatus?.roomType}}</div>
          </div>
          <div class="no-data-symbol" *ngIf="!this.allowManage">{{ noDataSymbol }}</div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="185" field="status" [sortable]="false">
      <ng-template kendoGridHeaderTemplate let-column>
        <div class="col-heading-container" data-slnm-ihg="StatusLabel-SID">
          <div class="section main-heading-section">
            <div class="sub-heading statusPopover" container="body" placement="top" #popover=ngbPopover [ngbPopover]="popoverContent"
                 triggers="mouseenter:mouseleave" popoverClass=popover popoverTitle="{{'COM_LBL_STATUS' | translate}}">
              <span class="status" translate="COM_LBL_STATUS"></span>
              <span class="sub-heading-txt">
                <i class="fas fa-info-circle icon-color"></i>
              </span>
            </div>
          </div>
          <div class="section sub-heading-section">
            <div class="sub-heading">
              <span class="sub-heading-txt" translate="LBL_RM_ASSIGND"></span>
            </div>
            <div class="sub-heading">
              <span class="sub-heading-txt" translate="LBL_ALL_TSKS"></span>
            </div>
            <div class="sub-heading">
              <span class="sub-heading-txt" translate="LBL_RM_RDY"></span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <app-prep-progress
          [disabled]="!this.allowManage"
          [listItem]="dataItem"
          [isTodaySelected]="isTodaySelected"
          [roomSet]="roomSet.asObservable()"
          [refreshTask]="refreshTask.asObservable()">
        </app-prep-progress>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="85" field="notifyGuest" title="" headerClass="text-center"
                       [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span translate="COM_LBL_NOTIFY" data-slnm-ihg="ActionsLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <app-prepare-arrivals-grid-actions [allowManage]="this.allowManage"
                                           [listItem]="dataItem"
                                           [isTodaySelected]="isTodaySelected"
                                           [selectedDate]="selectedDate"
                                           (emitViewTasks)="handleViewTasks(rowIndex, dataItem)">
        </app-prepare-arrivals-grid-actions>
      </ng-template>
    </kendo-grid-column>

    <!--Empty column for no records alignment & empty grid no scroll bar hack -->
    <kendo-grid-column *ngIf="!gridView?.total" title="" [sortable]="false"></kendo-grid-column>

    <ng-template kendoGridDetailTemplate let-dataItem let-rowIndex="rowIndex">
      <app-prepare-arrivals-details [allowManage]="this.allowManage"
                                    [listItem]="dataItem"
                                    [expanded]="dataItem.expanded"
                                    [rowIndex]="rowIndex"
                                    [isTodaySelected]="isTodaySelected"
                                    [updateReservation]="true"
                                    [showPrintRegCard]="true"
                                    (emitTaskDoneEvent)="handleTaskDoneEvent(rowIndex, dataItem)"
                                    (emitRoomChange)="handleRoomEmit($event)">
      </app-prepare-arrivals-details>
    </ng-template>

    <ng-template kendoGridNoRecordsTemplate>
      <app-service-error
        [attr.data-slnm-ihg]="'UserGuidanceError-SID'"
        [errorEvent]="prepareDataErrorEvent"
        (refreshAction)="emitRefreshGridData()"
        [reportIssueAutoFill]="reportIssueAutoFill"
        [config]="filterOrSearchApplied ? noDataConfig.filterSearch : noDataConfig.load">
      </app-service-error>
    </ng-template>
  </kendo-grid>

  <ng-template #popoverContent>
    <ul>
      <li> {{'LBL_RM_ASSIGND' | translate}}: {{'ROOM_ASSGND_TOOL' | translate}} </li>
      <li> {{'LBL_ALL_TSKS' | translate}}: {{'ALL_TSKS_TOOL' | translate}} </li>
      <li> {{'LBL_RM_RDY' | translate}}: {{'RM_READY_TOOL' | translate}} </li>
    </ul>
  </ng-template>
</div>
