@import 'variables';
@import 'kendo-overrides';

$col-wdth-px: 180;
$sub-heading-wdth-px: 56;

.badge-icons {
  margin-top: 5px;
}

.name {
  color: $secondary-text-color;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
}

.profile-icon {
  color: $secondary-text-color;
  cursor: pointer;
  font-size: 16px;
}

.expand-row-icon {
  position: absolute;
  margin-left: -15px;
  font-size: 20px;
  color: $secondary-text-color;
  cursor: pointer;
}

.col-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-basis: $col-wdth-px * 1px;

  .section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-shrink: 0;
    flex-grow: 0;

    &.main-heading-section {
      flex-basis: 22px;
      justify-content: space-around;
    }

    &.sub-heading-section {
      flex-basis: 25px;
      justify-content: space-between;
    }
  }

  .sub-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: $sub-heading-wdth-px * 1px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.sub-heading-txt {
  font-size: 12px;
  line-height: 1em;
  text-align: center;
  font-weight: normal;
  word-break: break-word;
}

.status {
  font-size: 13px;
  font-weight: bold;
  padding-right: 3px;
}

.statusPopover {
  .icon-color {
    color: $secondary-text-color;

    &:hover {
      color: $link-color-hover;
    }
  }

  ul {
    display: block;
    list-style-type: disc;
  }
}

.assigned-room {
  cursor: pointer;
}

:host ::ng-deep {

  .tooltip-hidden {
    display: none;
  }

  .prepare-arrivals-grid.concerto-grid {
    position: relative;
    @include no-grid-x-overflow();

    .k-grid-header {
      border-color: $header-border-color;
      border-top-width: 2px;
      padding-bottom: 1px !important;
    }

    th {
      vertical-align: middle;
      font-size: 13px;
      height: 60px;
    }

    td:not(.k-detail-cell) {
      height: 60px;
    }

    td {
      font-size: 14px;
      line-height: normal;
    }

    .k-detail-row .k-detail-cell {
      padding: 0;
    }

    tr {

      &.k-state-selected > td {
        background-color: transparent;
      }

      &.k-master-row:not([data-kendo-grid-item-index ^= '0']) {
        border-top: 1px solid $input-border;
      }

      &.done-highlight {
        background-color: $twilight-gray;

        &:hover {
          background-color: $twilight-gray;
        }
      }
    }
    
    tr.k-master-row.no-ovevrflow + tr.k-detail-row td {
      overflow: visible;
    }

    tr:not(.done-highlight) {
      background-color: $primary-text-color;

      &:hover {
        background-color: $primary-text-color;
      }
    }

    .k-pager-wrap.k-grid-pager {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .rm-number-container {
    display: flex;
    height: 28px;
    align-items: center;
    justify-content: center;
  }

  .rm-number-color {
    color: $secondary-text-color;
  }

  .room-assign-btn {
    background: transparent;

    &:hover {
      background-color: $secondary-color-disabled;
    }
  }

  .no-data-symbol {
    font-size: 14px;
    font-weight: 400;
    color: $body-color;
  }

  .room-number-text {
    font-size: 16px;
    font-weight: bold;
  }

  .align-top {
    vertical-align: top;
  }

  .service-error {
    height: 400px;
    padding-top: 20px;
  }
}

::ng-deep {
  .notification-limit {
    .btn-default {
      display: none;
    }
  }
}
