<div class="collapsible-panel mb-2">
    <div class="pt-3 pl-3 pr-3 pb-2">
        <h5 (click)="togglePanel()" class="d-inline-block mb-0 mr-3">
            <i class="fas" [ngClass]="collapsed ? 'fa-caret-right': 'fa-caret-down'"></i>
            <app-truncated-tooltip class="d-inline-block" [widthClass]="'title-name-text'" [text]="panelTitle" [attr.data-slnm-ihg]="'TruncatedHeading-SID'">
            </app-truncated-tooltip>
        </h5>
        <span *ngIf="panelInfoLabel" class="panel-info d-inline-block text-truncate" [translate]="panelInfoLabel" [translateParams]="panelInfoParam"></span>
    </div>
    <div class="panel-body" *ngIf="!collapsed">
        <ng-container [ngTemplateOutlet]="template"></ng-container>
    </div>
</div>