@import "variables";
.collapsible-panel {
    border: 1px solid $header-border-color;
    i.fas,
    app-truncated-tooltip {
        cursor: pointer;
        vertical-align: middle;
    }
    app-truncated-tooltip {
        display: inline-flex;
        margin-left: 5px;
    }
    .panel-info {
        color: $collapsible-panel-color;
        border: 1px solid $collapsible-panel-color;
        font-size: 12px;
        padding: 0 10px;
        line-height: 20px;
        border-radius: 2px;
        max-width: 130px;
        position: relative;
        top: 5px;
    }
}