/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: p_TableStyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #696969;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #696969;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #696969;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #696969;
	max-id: 5;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	vertical-align: top;
	margin-bottom: 30px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #a9a9a9;
	name: Column1;
	id: 0;
	size: 15%;
	vertical-align: top;
	text-align: left;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	vertical-align: top;
	text-align: left;
	size: 85%;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #a9a9a9;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #696969;
	name: Header1;
	id: 2;
	background-color: #ffffff;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #a9a9a9;
	name: Body1;
	id: 1;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	vertical-align: top;
	text-align: left;
	cell-content-style-tag: p;
	separator-style: solid;
	separator-width: 0px;
}


/* Cell Styles: */
 
.TableStyle-p_TableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #696969;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #696969;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #696969;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #696969;
	border-bottom-width: 0px;
	margin-bottom: 30px;
	border-spacing: 0px 0px;
}

.TableStyle-p_TableStyle-Column-Column1
{
	width: 15%;
}

.TableStyle-p_TableStyle-Column-Column2
{
	width: 85%;
}

.TableStyle-p_TableStyle-Head-Header1
{
	
}

.TableStyle-p_TableStyle-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadI-Column1-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-p_TableStyle-HeadE-Column1-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-p_TableStyle-HeadF-Column1-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadH-Column1-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-p_TableStyle-HeadD-Column1-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadC-Column1-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadB-Column1-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadA-Column1-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadG-Column1-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadI-Column2-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-p_TableStyle-HeadE-Column2-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-p_TableStyle-HeadF-Column2-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadH-Column2-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-p_TableStyle-HeadD-Column2-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadC-Column2-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadB-Column2-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadA-Column2-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3b3f51;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-p_TableStyle-HeadG-Column2-Header1 p
{
	color: #3b3f51;
}

.TableStyle-p_TableStyle-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootI-Column1- p
{
	
}

.TableStyle-p_TableStyle-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-FootE-Column1- p
{
	
}

.TableStyle-p_TableStyle-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootF-Column1- p
{
	
}

.TableStyle-p_TableStyle-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-FootH-Column1- p
{
	
}

.TableStyle-p_TableStyle-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootD-Column1- p
{
	
}

.TableStyle-p_TableStyle-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootC-Column1- p
{
	
}

.TableStyle-p_TableStyle-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-FootB-Column1- p
{
	
}

.TableStyle-p_TableStyle-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootA-Column1- p
{
	
}

.TableStyle-p_TableStyle-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootG-Column1- p
{
	
}

.TableStyle-p_TableStyle-FootI-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootI-Column2- p
{
	
}

.TableStyle-p_TableStyle-FootE-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-FootE-Column2- p
{
	
}

.TableStyle-p_TableStyle-FootF-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootF-Column2- p
{
	
}

.TableStyle-p_TableStyle-FootH-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-FootH-Column2- p
{
	
}

.TableStyle-p_TableStyle-FootD-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootD-Column2- p
{
	
}

.TableStyle-p_TableStyle-FootC-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootC-Column2- p
{
	
}

.TableStyle-p_TableStyle-FootB-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-FootB-Column2- p
{
	
}

.TableStyle-p_TableStyle-FootA-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootA-Column2- p
{
	
}

.TableStyle-p_TableStyle-FootG-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-FootG-Column2- p
{
	
}

.TableStyle-p_TableStyle-Body-Body1
{
	
}

.TableStyle-p_TableStyle-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyI-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyI-Column2-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyE-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyE-Column2-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyF-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyF-Column2-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyH-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyH-Column2-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyD-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyD-Column2-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyC-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyC-Column2-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyB-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyB-Column2-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyA-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyA-Column2-Body1 p
{
	
}

.TableStyle-p_TableStyle-BodyG-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyG-Column2-Body1 p
{
	
}

.TableStyle-p_TableStyle-Body-Body2
{
	
}

.TableStyle-p_TableStyle-BodyI-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyI-Column1-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyE-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyE-Column1-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyF-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyF-Column1-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyH-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyH-Column1-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyD-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyD-Column1-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyC-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyC-Column1-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyB-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyB-Column1-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyA-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyA-Column1-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyG-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyG-Column1-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyI-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyI-Column2-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyE-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyE-Column2-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyF-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyF-Column2-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyH-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyH-Column2-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyD-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyD-Column2-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyC-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyC-Column2-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyB-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-p_TableStyle-BodyB-Column2-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyA-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyA-Column2-Body2 p
{
	
}

.TableStyle-p_TableStyle-BodyG-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-p_TableStyle-BodyG-Column2-Body2 p
{
	
}


