<div class="modal-content">
    <div class="modal-header">
        <h4 class="title header-content" data-slnm-ihg="WarningHeader-SID">
            <span [translate]="warningModalTitle"></span>
            <button type="button" class="close" (click)="closeModal()" [ngbTooltip]="'COM_BTN_CLOSE' | translate">&times;</button>
        </h4>
        <app-error-toast-message *ngIf="confirmChangesError" class="header-content" [attr.data-slnm-ihg]="'ConfirmChangesErrorToast-SID'" [errorEvent]="confirmChangesError.asObservable()" [translations]="errorContent" [reportIssueAutoFill]="reportIssueAutoFill"
            (reportAnIssueAction)="closeModal()" (retryAction)="continue()">
        </app-error-toast-message>
        <app-error-toast-message *ngIf="updateTotalsError" class="header-content updateTotals-error" 
                                [attr.data-slnm-ihg]="'UpdateTotalsErrorToast-SID'" 
                                [errorEvent]="updateTotalsError.asObservable()" 
                                [translations]="updateTotalsSaveErrorContent" 
                                [reportIssueAutoFill]="updateTotalsReportIssue"
                                (reportAnIssueAction)="closeModal()" 
                                (retryAction)="updateTotals()">
        </app-error-toast-message>
        <uic-toast-message *ngIf="roomUnassignmentWarningToast" [alert]="roomUnassignmentWarningToast"
                       data-slnm-ihg="RoomUnassignmentWarningToast-SID">
        </uic-toast-message>
        <uic-toast-message *ngIf="ratesEditedToast" [alert]="ratesEditedToast"
                    data-slnm-ihg="RatesEditedToast-SID">
        </uic-toast-message>
    </div>
    <div class="modal-body p-0">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th class="text-right pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="Original-SID" translate="LBL_WARNING_MODAL_HEADER_ORIGINAL"></th>
                    <th class="text-right pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="RequestedChange-SID" translate="LBL_WARNING_MODAL_HEADER_REQUESTED_CHANGE"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of formattedData; let i =index" [attr.data-slnm-ihg]="'ReservationData'+ i + '-SID'">
                    <td class="pt-1 pr-3 pb-1 pl-3" [attr.data-slnm-ihg]="'ReservationTitle'+ i + '-SID'" [innerHTML]="data.reservationTitle | translate"></td>
                    <td class="text-right pt-1 pr-3 pb-1 pl-3" [attr.data-slnm-ihg]="'Original'+ i + '-SID'">
                        <ng-container *ngIf="(data.reservationTitle === 'LBL_GST_ARRIVAL') || (data.reservationTitle === 'LBL_GST_DEPARTURE'); then originalDateTemplate; else originalTextTemplate">
                        </ng-container>
                        <ng-template #originalDateTemplate>
                            {{data.originalReservation | date: 'ddMMMyyyy' | uppercase}}
                        </ng-template>
                        <ng-template #originalTextTemplate>
                            <ng-container *ngIf="data.originalReservation !== ''">
                                <ng-container  *ngIf="data.reservationTitle === 'LBL_GST_GUEST_NAME'; then truncatedOriginalTooltipTemplate; else originalTextTemplate"></ng-container>
                                <ng-template #truncatedOriginalTooltipTemplate>
                                    <app-truncated-tooltip
                                    [text]="data.originalReservation"
                                    [slnmTag]="'OriginalGuestName'+i+'-SID'"
                                    id="originalGuestName"
                                    ></app-truncated-tooltip>
                                </ng-template>
                                <ng-template #originalTextTemplate>
                                    {{ data.originalReservation }}
                                </ng-template>
                            </ng-container>
                            <ng-container *ngIf="data.originalReservation === ''">
                                -
                            </ng-container>
                        </ng-template>
                    </td>
                    <td class="text-right pt-1 pr-3 pb-1 pl-3" [ngClass]="{'highlight-cell': data.originalReservation != data.requestedChange}" [attr.data-slnm-ihg]="'requestedChange'+ i + '-SID'">
                        <ng-container *ngIf="(data.reservationTitle === 'LBL_GST_ARRIVAL') || (data.reservationTitle === 'LBL_GST_DEPARTURE'); then requestDateTemplate; else requestTextTemplate">
                        </ng-container>
                        <ng-template #requestDateTemplate>
                            {{data.requestedChange | date: 'ddMMMyyyy' | uppercase}}
                        </ng-template>
                        <ng-template #requestTextTemplate>
                            <ng-container *ngIf="data.requestedChange !== ''">
                                <ng-container  *ngIf="data.reservationTitle === 'LBL_GST_GUEST_NAME'; then truncatedRequestedTooltipTemplate; else requestedTextTemplate"></ng-container>
                                <ng-template #truncatedRequestedTooltipTemplate>
                                    <app-truncated-tooltip
                                        id="requestedGuestName"
                                        [text]="data.requestedChange"
                                        [slnmTag]="'RequestedGuestName'+i+'-SID'"
                                    ></app-truncated-tooltip>
                                </ng-template>
                                <ng-template #requestedTextTemplate>
                                    {{ data.requestedChange }}
                                </ng-template>
                            </ng-container>
                            <ng-container *ngIf="data.requestedChange === ''">
                                -
                            </ng-container>
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td (click)="expandAvgRateView()" class="avg-rate-usd-link  pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="AverageRateLink"><i class="expand-row-icon fas" [class.fa-caret-right]="!isRowExpanded" [class.fa-caret-down]="isRowExpanded"></i> {{'LBL_AVERAGE_NIGHTLY_RATE' | translate}} <span class="currency">{{rateInfoBefore.rateInfo?.currency}}</span>
                    </td>
                    <td class="text-right pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="AverageBefore-SID">
                        {{rateInfoBefore.rateInfo?.averageRate}}
                    </td>
                    <td class="text-right pt-1 pr-3 pb-1 pl-3"  *ngIf="!avgRateComp?.avgNightlyRateForm.dirty && !isFromOfferUnavailable" [ngClass]="{'highlight-cell' : rateInfoBefore.rateInfo?.averageRate != rateInfoAfter.rateInfo?.averageRate}" data-slnm-ihg="AverageAfter-SID">{{rateInfoAfter.rateInfo.averageRate}}</td>
                    <td class="text-right pt-1 pr-3 pb-1 pl-3 disabled-color" *ngIf="avgRateComp?.avgNightlyRateForm.dirty || isFromOfferUnavailable" 
                    data-slnm-ihg="AverageAfter-SID">{{'LBL_PENDING' | translate}}</td>

                </tr>
                <tr *ngIf="isRowExpanded">
                    <td class="pt-1 pr-3 pb-1 pl-3" colspan="3" class="p-0">
                        <app-average-rate [rateInfoBefore]="rateInfoBefore" [rateInfoAfter]="rateInfoAfter" [hasRateOverride]="isEligibleForRateOverride" [editableMode]="openInEditableMode" [isFromOfferUnavailable]="isFromOfferUnavailable">
                        </app-average-rate>
                    </td>
                </tr>
                <tr>
                    <td class="pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="Currency-SID">{{'LBL_EST_TOT' | translate}} <span class="currency">{{rateInfoAfter.rateInfo?.currency}}</span></td>
                    <td class="text-right pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="TotalAmoutBeforeTax-SID">
                        {{(rateInfoBefore.rateInfo?.totalAmountAfterTax != '') ? rateInfoBefore.rateInfo?.totalAmountAfterTax : '-'}}</td>
                    <td class="text-right pt-1 pr-3 pb-1 pl-3" [ngClass]="{'highlight-cell' : (rateInfoBefore.rateInfo?.totalAmountAfterTax != rateInfoAfter.rateInfo?.totalAmountAfterTax) && !avgRateComp?.avgNightlyRateForm.dirty}" data-slnm-ihg="TotalAmoutAfterTax-SID">
                        <ng-container *ngIf="!avgRateComp?.avgNightlyRateForm.dirty && !isFromOfferUnavailable">
                            {{(rateInfoAfter.rateInfo?.totalAmountAfterTax != '') ? rateInfoAfter.rateInfo?.totalAmountAfterTax : '-'}}
                        </ng-container>
                        <span class="disabled-color" *ngIf="avgRateComp?.avgNightlyRateForm.dirty || isFromOfferUnavailable" translate="LBL_PENDING"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" (click)="handleCancel()" data-slnm-ihg="Cancel-SID" translate="COM_BTN_CANCEL"  [ngClass]="{'rate-override': isEligibleForRateOverride}"></button>
        <button class="btn btn-default" type="button" data-slnm-ihg="RateOverrideBtn-SID" translate="LBL_RATE_OVERRIDE_BTN" *ngIf="isEligibleForRateOverride && !openInEditableMode" (click)="expandRowInEditableMode()"></button>
        <button class="btn btn-primary" type="button" (click)="continue()" data-slnm-ihg="Confirm-SID" translate="LBL_CONFIRM_CHANGES" *ngIf="!openInEditableMode"></button>
        <button class="btn btn-primary" type="button" data-slnm-ihg="UpdateTotal-SID" (click)="updateTotals()" *ngIf="openInEditableMode" translate="LBL_UPDATE_TOTAL_BTN"></button>
    </div>
</div>
