@import "variables";
.modal-content {
  .modal-header {
    flex-wrap: wrap;
    .header-content {
      flex: 0 0 100%;
    }
  }
  .modal-footer {
    justify-content: space-between;
  }
  .modal-body {
    table {
        width: 100%;
        th,
        td {
            border-bottom: 1px solid $gray-80;
            line-height: 30px;
        }
        td:nth-child(1) {
            font-weight: bold;
        }
        th:nth-child(3) {
            background-color: $row-change-highlight;
        }
        th:nth-child(3),
        td:nth-child(3) {
            width: 180px;
            max-width: 180px;
            min-width: 180px;
        }
        th:nth-child(2),
        td:nth-child(2) {
            border-right: 1px solid $gray-80;
            width: 180px;
            max-width: 180px;
            min-width: 180px;
        }
        .avg-rate-usd-link {
            color: $primary-color;
            cursor: pointer;
        }
        .currency {
            font-weight: normal;
        }
        .disabled-color{
          color: $disabled-color;
        }
    }
  }
  .highlight-cell {
    background-color: $row-change-highlight;
    font-weight: bold;
  }
}

.rate-override {
  margin-right: auto;
}

:host ::ng-deep {
  uic-toast-message ngb-alert {
    margin-bottom: 0;
  }
}

::ng-deep .confirmation-modal {
  .modal-dialog {
    max-width: 590px;
  }
}
