@import 'variables';
@import '../../../check-in/components/check-in-breakpoint';

.check-in-block-keys {
    .check-in-block-keys-contents {
        text-align: center;
        padding-bottom: 10px;

        .icon-keys {
            color: $secondary-text-color;
            font-size: 32px;
        }
        .set-value {
            display: inline-block;
            left: -8px;
            position: relative;
            .check-in-keys-set-value {
                .plus-minus-icon-holder {
                    display: inline-block;
                    padding: 7px;
                    .plus-minus-icon-box {
                        width: 18px;
                        line-height: 14px;
                        border: 2px solid $secondary-text-color;
                        border-radius: 3px;
                        padding-bottom: 1px;

                        .icons {
                            color: $secondary-text-color;
                            font-size: 12px;
                        }
                    }
                }

                .plus-minus-icon-holder:not([disabled]):hover {
                    background-color: $odd-bg-color;
                    .plus-minus-icon-box {
                        border-color: #2a6496;
                        .icons {
                            color: #2a6496;
                        }
                    }
                }
                .plus-minus-icon-holder:not([disabled]):active,
                .plus-minus-icon-holder:not([disabled]):focus {
                    background-color: $gainsboro-white;
                    box-shadow: $active-box-shadow;
                }

                .keys-count {
                    height: 34px;
                    width: 35px;
                    text-align: center;
                    border: solid 1px $header-border-color;
                    border-radius: 3px;
                    font-weight: 700;
                }
            }
        }
        .cut-key-btn {
            float: right;
            padding-left: 7px;
            padding-right: 7px;
        }
    }
  .check-in-align {
    text-align: left;
  }
}

.cutKeyType {
    width: 100%;
    .container {
        .row {
            .cutType {
                padding: 0px;
                .cutTypeLabel {
                    padding: 0px;
                    margin: 0px;
                    box-shadow: none;
                    .cut-key-type{
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-width) {
  .check-in-block-keys {
    .check-in-block-keys-contents {
        .cut-key-btn {
            padding-left: 2px;
            padding-right: 2px;
        }
    }
  }
}
