
<label ngbRadioGroup name="fieldName" class="cutKeyType" [(ngModel)]="selectedCutType">
  <div class="container">
    <div class="row">
      <div class="col-6 cutType" [hidden]="modal">
        <label ngbButtonLabel class="cutTypeLabel">
          <input ngbButton type="radio" name="radio" value="duplicate" data-slnm-ihg="CutKeyDuplicate-SID"/>
          <span class="cut-key-type" translate="LBL_CUT_KEY_DUPLICATE"></span>
        </label>
      </div>
      <div class="col-6 cutType">
        <label ngbButtonLabel class="cutTypeLabel">
          <input ngbButton type="radio" name="radio" value="new" data-slnm-ihg="CutKeyNew-SID"/>
          <span class="cut-key-type" translate="LBL_CUT_KEY_NEW"></span>
        </label>
      </div>
    </div>
  </div>
</label>

<div class="check-in-block-keys">
  <div class="check-in-block-keys-contents" [ngClass]="{'check-in-align': modal === true}">
    <div class="set-value ml-0">
      <div class="check-in-keys-set-value">
        <button class="btn plus-minus-icon-holder" (click)="decreaseValue()" [disabled]="keyCount === minKeyCount || disableCutKey"
          data-slnm-ihg="KeysCountMinusIcon-SID">
          <div class="plus-minus-icon-box">
            <i class="fa fa-minus icons" aria-hidden="true"></i>
          </div>
        </button>
        <input type="number" [(ngModel)]="keyCount" class="keys-count" (keypress)="validateCutKeyCount($event, keyCount)"
        (blur)="onBlurEvent()" data-slnm-ihg="KeysCount-SID" [disabled]="disableCutKey">

        <button class="btn plus-minus-icon-holder" (click)="increaseValue()" [disabled]="keyCount === maxKeyCount || disableCutKey"
          data-slnm-ihg="KeysCountPlusIcon-SID">
          <div class="plus-minus-icon-box">
            <i class="fa fa-plus icons" aria-hidden="true"></i>
          </div>
        </button>
      </div>
    </div>
    <button [hidden]="modal" [disabled]="!shouldEnableButton()" class="btn btn-default cut-key-btn" (click)="onCutKey()">
      <div class="keys-btn cut-key" data-slnm-ihg="CutKeys-SID" translate="LBL_CUT_KEYS">
      </div>
    </button>
  </div>
</div>
