<div class="with-icons">
    <ng-content></ng-content>
    <span class="icon-block d-block" placement="top" #tooltip="ngbTooltip" [ngbTooltip]="tooltipText" (click)="openLookUpModal()">
      <i class="far fa-list-alt back-icon"></i>
      <i class="fas fa-search top-icon"></i>  
    </span>
</div>