@import 'variables';
:host ::ng-deep {
    .tooltip-inner {
        white-space: nowrap;
    }
    .with-icons {
        position: relative;
        .form-control {
            padding-right: 30px;
        }
    }
    .icon-block {
        position: absolute;
        right: 0;
        top: 29px;
        color: $danube-blue;
        height: 35px;
        line-height: 35px;
        display: block;
        width: 30px;
        text-align: center;
        cursor: pointer;
    }
    .back-icon {
        position: absolute;
        z-index: 1;
        left: 4px;
        top: 9px;
    }
    .top-icon {
        position: relative;
        z-index: 2;
        top: 3px;
    }
    .cursor-not-allowed {
        cursor: not-allowed;
        outline: none;
    }
    input[disabled],
    input[readonly] {
        cursor: not-allowed;
        &~span.icon-block {
            pointer-events: none;
            cursor: not-allowed !important;
            opacity: 0.5;
        }
    }
}