<form [formGroup]="avgNightlyRateForm">
  <table id="expanded-view">
    <thead>
    <tr>
      <th class="pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="Date-SID" translate="LBL_DATE"></th>
      <th class="text-right pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="NightlyRateOriginal-SID" translate="LBL_NIGHTLY_RATE"></th>
      <th class="text-right pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="NightlyRateRequest-SID" translate="LBL_NIGHTLY_RATE"></th>
    </tr>
    </thead>
    <tbody>
    <tr formArrayName="nightlyRates" *ngFor="let item of formattedData; let i=index" [attr.data-slnm-ihg]="'RateInfoData'+ i + '-SID'">
      <td class="pt-1 pr-3 pb-1 pl-3" [attr.data-slnm-ihg]="'Date'+ i + '-SID'">{{item.date | date: 'ddMMMyyyy' | uppercase}}</td>
      <td class="text-right pt-1 pr-3 pb-1 pl-3" [attr.data-slnm-ihg]="'Original'+ i + '-SID'">{{item.rateBefore ? item.rateBefore : '-'}}</td>
      <td class="text-right pt-1 pr-3 pb-1 pl-3" *ngIf="!editableMode" [attr.data-slnm-ihg]="'Changed'+ i + '-SID'" [ngClass]="{'highlight-cell': item.rateBefore != item.rateAfter}">{{item.rateAfter ? (item.rateAfter | number: '.2') : '-'}}</td>
      <td [formGroupName]="i" *ngIf="editableMode">
        <input type='text'
               inputmode="decimal"
               class="form-control text-right"
               formControlName="indvNightlyRate"
               mask="separator.2"
               (blur)="transformToTwoDigitsAfterDecimal($event, i)"
               thousandSeparator=","/>
      </td>
    </tr>
    <tr *ngIf="extraPersonChargeBefore > 0 || extraPersonChargeAfter > 0">
      <td class="pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="TotalExtraPersonTitle-SID" translate="LBL_EXTRA_PERSON_CHARGES"></td>
      <td class="text-right pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="TotalExtraPersonOriginal-SID">
        {{ extraPersonChargeBefore == 0 ? '-' : extraPersonChargeBefore }}
        <ng-container *ngIf="rateInfoBefore.rateInfo.extraPersonChargeIncluded && extraPersonChargeBefore > 0">
          <i class="fa fa-info-circle blue-color" [ngbTooltip]="'LBL_EXTRA_PERSON_CHARGES_INCL_MSG' | translate" aria-hidden="true"></i>
        </ng-container>
      </td>
      <td class="text-right pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="TotalExtraPersonChanged-SID" [ngClass]="{'highlight-cell': (extraPersonChargeBefore != extraPersonChargeAfter) && !avgNightlyRateForm.dirty}">
        <ng-container *ngIf="!avgNightlyRateForm.dirty && !isFromOfferUnavailable">
          {{ extraPersonChargeAfter == 0 ? '-' : extraPersonChargeAfter }}
          <ng-container *ngIf="rateInfoAfter.rateInfo.extraPersonChargeIncluded && extraPersonChargeAfter > 0">
            <i class="fa fa-info-circle blue-color" [ngbTooltip]="'LBL_EXTRA_PERSON_CHARGES_INCL_MSG' | translate" aria-hidden="true"></i>
          </ng-container>
        </ng-container>
        <span class="disabled-color" *ngIf="avgNightlyRateForm.dirty || isFromOfferUnavailable" translate="LBL_PENDING"></span>
      </td>
    </tr>
    <tr>
      <td class="pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="TotalServiceChargeTitle-SID" translate="LBL_TOTAL_SERVICE_CHARGES"></td>
      <td class="text-right pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="TotalServiceChargeOriginal-SID">
        {{serviceChargeBefore}}
        <ng-container *ngIf="rateInfoBefore.rateInfo.serviceChargeIncluded && (serviceChargeBefore != '-')">
          <i class="fa fa-info-circle blue-color" [ngbTooltip]="'LBL_SERVICE_CHARGES_INCL_MSG' | translate" aria-hidden="true"></i>
        </ng-container>
      </td>
      <td class="text-right pt-1 pr-3 pb-1 pl-3" data-slnm-ihg="TotalServiceChargeChanged-SID" [ngClass]="{'highlight-cell': (serviceChargeBefore != serviceChargeAfter) && !avgNightlyRateForm.dirty}">
        <ng-container *ngIf="!avgNightlyRateForm.dirty && !isFromOfferUnavailable">
          {{serviceChargeAfter}}
          <ng-container *ngIf="rateInfoAfter.rateInfo.serviceChargeIncluded && (serviceChargeAfter != '-')">
            <i class="fa fa-info-circle blue-color" [ngbTooltip]="'LBL_SERVICE_CHARGES_INCL_MSG' | translate" aria-hidden="true"></i>
          </ng-container>
        </ng-container>
        <span class="disabled-color" *ngIf="avgNightlyRateForm.dirty || isFromOfferUnavailable"
              translate="LBL_PENDING"></span>
      </td>
    </tr>
    <tr>
      <td class="pt-1 pr-3 pb-1 pl-3"
          data-slnm-ihg="TotalTaxesTitle-SID"
          translate="LBL_TOTAL_TAXES_AND_FEES"></td>
      <td class="text-right pt-1 pr-3 pb-1 pl-3"
          data-slnm-ihg="TotalTaxAmountOriginal-SID">
        {{totalTaxBefore}}
        <ng-container *ngIf="rateInfoBefore.rateInfo.taxesChargeIncluded && (totalTaxBefore != '-')">
          <i class="fa fa-info-circle blue-color"
             [ngbTooltip]="'LBL_TOTAL_TAXES_INCL_MSG' | translate"
             aria-hidden="true"></i>
        </ng-container>
      </td>
      <td class="text-right pt-1 pr-3 pb-1 pl-3"
          data-slnm-ihg="TotalTaxAmountChanged-SID"
          [ngClass]="{'highlight-cell': (totalTaxBefore != totalTaxAfter) && !avgNightlyRateForm.dirty }">
        <ng-container *ngIf="!avgNightlyRateForm.dirty && !isFromOfferUnavailable">
          {{totalTaxAfter}}
          <ng-container *ngIf="rateInfoAfter.rateInfo.taxesChargeIncluded && (totalTaxAfter != '-')">
            <i class="fa fa-info-circle blue-color"
               [ngbTooltip]="'LBL_TOTAL_TAXES_INCL_MSG' | translate"
               aria-hidden="true"></i>
          </ng-container>
        </ng-container>
        <span class="disabled-color" *ngIf="avgNightlyRateForm.dirty || isFromOfferUnavailable"
              translate="LBL_PENDING"></span>
      </td>
    </tr>
    </tbody>
  </table>
</form>
