@import 'variables';
:host ::ng-deep {
    table {
        width: 100%;
        th {
            padding-top: 15px !important;
            border-bottom: 2px solid $gray-80;
        }
        td {
            border-bottom: 1px solid $gray-80;
        }
        td {
            font-weight: normal;
        }
        th:nth-child(1),
        td:nth-child(1) {
            padding-left: 35px !important;
        }
        th:nth-child(2),
        td:nth-child(2) {
            border-right: 1px solid $gray-80;
            width: 180px;
            min-width: 180px;
        }
        th:nth-child(3) {
            width: 180px;
            min-width: 180px;
        }
    }
    .highlight-cell {
        background-color: $row-change-highlight;
        font-weight: bold;
    }
    .tooltip {
        white-space: nowrap;
        .tooltip-inner {
            max-width: none;
        }
    }
    .blue-color {
        color: $secondary-text-color;
    }
    .disabled-color {
        color: $table-disabled-color;
    }
}