@import 'variables';
::ng-deep .k-list-container .k-list-optionlabel {
    padding: 0px 4px;
    font-size: 14px;
    line-height: 1.8em;
    min-height: 1.8em;
}

:host ::ng-deep {
    .expiration-tooltip {
        display: inline-block;
        margin-left: 5px;
        color: $gray-80;
        &:hover {
            color: $gray-20;
        }
    }
    .mt-29 {
        margin-top: 29px;
        padding-left: 0px !important;
    }
    span.icon-card {
        font-size: 22px;
        vertical-align: sub;
    }
    .total-amountbox {
        position: relative;
        .form-control {
            text-align: right;
            padding-right: 58px;
        }
        .currency-code {
            position: absolute;
            width: 48px;
            right: 1px;
            top: 1px;
            background: $secondary-color-disabled;
            display: block;
            text-align: center;
            line-height: 32px;
            bottom: 1px;
            border-radius: 0 3px 3px 0;
        }
    }
    .k-datepicker .k-select,
    .k-dateinput-wrap .k-input {
        pointer-events: none;
        text-transform: uppercase;
        border-color: $input-border;
        background-color: $disabled-field-color;
        opacity: 1;
        text-transform: uppercase;
    }
    .k-picker-wrap {
        border-color: transparent;
    }
    .w-100 {
        border-width: 1px;
        background-color: transparent;
        border-radius: 0.25rem;
        border: 1px solid #b4b7ba;
        height: calc(1.5em + .85rem + -1px);
    }
    .k-link {
        color: #ff0000;
    }
    .k-state-disabled {
        opacity: 4;
        background-color: $k-state-disabled-background-color;
    }
    .k-datepicker .k-select {
        display: none;
    }
    .k-input {
        font-size: 0.875rem;
    }
    .req-star-custom {
        position: relative;
        &:before {
            content: '*';
            position: absolute;
            left: -10px;
            color: red;
            top: 1px;
            font-weight: 700;
        }
    }
    .pr-60 {
        padding-right: 60px;
    }
    .edit-icon {
        color: $secondary-text-color;
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 20px;
        font-weight: normal;
        display: block;
        cursor: pointer;
    }
    kendo-maskedtextbox {
        max-width: 100%;
        .k-textbox {
            width: 100%;
            font-size: 14px;
        }
    }
    .k-dropdown .k-input {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    form .k-dropdown .k-list-optionlabel {
        padding: 0px 4px !important;
    }
    .ng-invalid.ng-dirty.k-maskedtextbox>.k-textbox {
        border-color: $matched-error-color-kendo;
        color: inherit;
    }
    .ng-invalid.form-control.ng-touched {
        border-color: $matched-error-color-kendo;
    }
}