<form [formGroup]="creditCardPaymentForm"
      (ngSubmit)="onSubmit()"
      data-slnm-ihg="CreditCardPayment-SID">
    <div class="row"
         *ngIf="!cardDetailsSaved && pmsAuthSaveInd !== 'Y'">
        <div class="col-12 pr-60">
            <ng-container *ngIf="!cardDetailsEditable">
                <app-non-editable-credit-card-details data-slnm-ihg="NonEditableCardDetails-SID"
                                                      [cardCode]="cardCodeIconMaskMap[cardDetails?.code]?.text"
                                                      [cardNumber]="cardDetails?.number"
                                                      [cardExpirationDate]="cardExpirationDate"></app-non-editable-credit-card-details>
                <span class="edit-icon"
                      data-slnm-ihg="ToggleEditableMode-SID"
                      [ngbTooltip]="'LBL_EDIT_CARD' | translate"
                      (click)="toggleCardDetailsEditableFeature()">
                    <i class="far fa-edit"></i>
                </span>
      </ng-container>
      <div class="row"
           *ngIf="cardDetailsEditable">
        <div class="col-5 pb-3">
          <label class="control-label req-star-custom"
                 data-slnm-ihg="CreditCardTypeLabel-SID"
                 translate="LBL_CARD_TYPE"></label>
          <kendo-dropdownlist [valuePrimitive]="true"
                              [defaultItem]="defaultCreditCardSelectedItem"
                              [data]="creditCardTypes"
                              formControlName="creditCardType"
                              [textField]="'text'"
                              [valueField]="'value'"
                              data-slnm-ihg="CreditCardType-SID">
          </kendo-dropdownlist>
          <div *ngIf="getFormControl('creditCardType').errors?.required && (getFormControl('creditCardType').touched || getFormControl('creditCardType').dirty)"

               [ngClass]="{'error-box': getFormControl('creditCardType').errors?.required && (getFormControl('creditCardType').touched || getFormControl('creditCardType').dirty)}"

               class="error-text"
               translate="LBL_CARD_TYPE_REQD"
               data-slnm-ihg="CreditCardTypeError-SID">
          </div>
        </div>
        <div class="col-7 pb-3">
          <div class="row">
            <div class="col-6">
              <label class="control-label req-star-custom"
                     translate="LBL_LAST_FOUR_DIGITS"
                     data-slnm-ihg="LastFourDigitsLabel-SID"></label>
              <input type="text"
                     NumberOnly
                     minlength="4"
                     maxlength="4"
                     id="last-four-digits"
                     (input)="onLastFourDigitsValueEntering($event)"
                     class="form-control"
                     formControlName="cCardLastFourDigits"
                     data-slnm-ihg="LastFourDigits-SID">
              <div *ngIf="(getFormControl('cCardLastFourDigits').errors?.required || getFormControl('cCardLastFourDigits').errors?.pattern) && (getFormControl('cCardLastFourDigits').touched || getFormControl('cCardLastFourDigits').dirty)"

                   class="error-text"
                   translate="LBL_LAST_FOUR_DIGITS_REQD"
                   data-slnm-ihg="LastFourDigitsError-SID">
              </div>
            </div>
            <div class="col-6">
              <label class="control-label req-star-custom"
                     data-slnm-ihg="ExpirationLabel-SID"
                     translate="LBL_EXPN"></label>
              <i class="fa fa-info-circle expiration-tooltip"
                 [ngbTooltip]="'LBL_EXP_FORMAT' | translate"
                 aria-hidden="true"
                 data-slnm-ihg="ExpirationTooltip-SID"></i>
              <kendo-maskedtextbox includeLiterals="true"
                                   id="expiration-field"
                                   [mask]="mask"
                                   (change)="validateDate()"
                                   formControlName="expiration"
                                   data-slnm-ihg="Expiration-SID"></kendo-maskedtextbox>
              <div *ngIf="(getFormControl('expiration').errors?.required)  && (getFormControl('expiration').touched || getFormControl('expiration').dirty)"

                   class="error-text"
                   translate="LBL_EXPIRATION_REQD"
                   data-slnm-ihg="ExpirationError-SID"></div>
              <div *ngIf="(getFormControl('expiration').errors?.inValidMonth || getFormControl('expiration').errors?.patternError) && (getFormControl('expiration').touched || getFormControl('expiration').dirty)"

                   class="error-text"
                   translate="LBL_EXPIRATION_INVALID"
                   data-slnm-ihg="ExpirationError-SID"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 pb-3">
      <label class="control-label req-star-custom"
             data-slnm-ihg="DateLabel-SID"
             translate="LBL_DATE"></label>
      <kendo-datepicker formControlName="date"
                        format="ddMMMyyyy"
                        [placeholder]="'ddMMMyyyy'"
                        formatPlaceholder="formatPattern"
                        class="w-100"
                        data-slnm-ihg="Date-SID">
      </kendo-datepicker>
    </div>
    <div class="col-6 pb-3">
      <label class="control-label req-star-custom"
             data-slnm-ihg="AmountLabel-SID"
             translate="LBL_AMOUNT"></label>
      <div class="total-amountbox">
        <input type="number"
               id="amount"
               decimal="true"
               NumberOnly
               class="form-control"
               maxlength="17"
               (input)="onValueEntering($event)"
               (change)="onChangeAmount($event)"
               formControlName="amount"
               data-slnm-ihg="Amount-SID">
        <span class="currency-code"
              data-slnm-ihg="Currency-SID">{{ ratesInfo?.currencyCode }}</span>
      </div>
      <div *ngIf="getFormControl('amount').errors?.required && (getFormControl('amount').touched || getFormControl('amount').dirty)"

           class="error-text"
           translate="LBL_AMT_REQD">
      </div>
      <div *ngIf="(!getFormControl('amount').valid && !(getFormControl('amount').errors?.required)) && (getFormControl('amount').touched || getFormControl('amount').dirty)"

           class="error-text"
           translate="LBL_VALID_AMT"></div>
    </div>
    <div class="col-6 pb-3">
      <label class="control-label req-star-custom"
             data-slnm-ihg="AuthorizationCodeLabel-SID"
             translate="LBL_AUTH_CODE_PAYMENT"></label>
      <input type="text"
             appAlphaNumeric
             class="form-control"
             [maxlength]="authCodeMaxLength"
             (keyup)="onChangeAuthCode($event)"
             formControlName="authorizationCode"
             data-slnm-ihg="AuthorizationCode-SID">
      <div *ngIf="(getFormControl('authorizationCode').errors &&  !getFormControl('authorizationCode').errors?.required) && (getFormControl('authorizationCode').touched || getFormControl('authorizationCode').dirty)"

           class="error-text"
           translate="LBL_AUTH_CODE_INVALID"></div>
      <div *ngIf="getFormControl('authorizationCode').errors?.required && (getFormControl('authorizationCode').touched || getFormControl('authorizationCode').dirty)"

           class="error-text"
           translate="LBL_AUTH_AMT_INVALID"></div>

    </div>

    <div class="col-6 pb-3 comment-panel">
      <button type="button"
              *ngIf="!toggleCommentBox"
              data-slnm-ihg="AddComment-SID"
              class="btn btn-default mt-29"
              (click)="toggleCommentField()">
        <i class="fa fa-plus"
           aria-hidden="true"></i>
        &nbsp;
        <span translate="LBL_ADD_COMMENT"></span>
      </button>
      <div class="comment-box"
           *ngIf="toggleCommentBox">
        <label class="control-label"
               data-slnm-ihg="CommentLabel-SID"
               translate="LBL_SINGULAR_COMMENT"></label>
        <input type="text"
               class="form-control"
               maxlength="150"
               (keyup)="onChangeComment($event)"
               formControlName="comment"
               data-slnm-ihg="Comment-SID">
      </div>
    </div>
  </div>
  <app-display-auth-details data-slnm-ihg="DisplayAuthDetails-SID"
                            *ngIf="cardDetailsSaved || pmsAuthSaveInd === 'Y'"
                            [cardDetailsFromReservation]="cardDetails"
                            [fetchAuthRefresh]="fetchAuthRefresh"
                            [reservationNumber]="reservationNumber"
                            (emitFetchError)="handleFetchAuthDetailsError($event)">
  </app-display-auth-details>
  <div class="action-panel d-flex justify-content-between">
    <div class="left-slot-actions">
      <ng-content select="[left-slot-actions]"></ng-content>
    </div>
    <div>
      <button class="btn btn-default mr-2 button-cancel"
              type="button"
              (click)="onCancel()"
              data-slnm-ihg="CancelBtn-SID"
              translate="COM_BTN_CANCEL">
      </button>
      <button type="submit"
              class="btn btn-primary button-submit"
              data-slnm-ihg="Save-SID"
              [disabled]="!creditCardPaymentForm.valid || cardDetailsSaved"
              translate="COM_BTN_SAVE"></button>
    </div>
  </div>
</form>
