<div class="filters misc-filters" data-slnm-ihg="BlueFilter-SID">
    <button class="btn filter" type="button" [attr.data-slnm-ihg]="'Filter' + filter.label + '-SID'" [class.filter-active]="filter.selected" [class.d-ICON]="filter.filterName == 'amb'" [class.d-KIKI]="filter.filterName == 'ic' || filter.filterName == 'kar'"
        (click)="filter.count && handleFilterClick(filter)" *ngFor="let filter of filters">
    {{ filter.label | translate }}
    <span class="filter-count"
          [hidden]="!filter.count"
          [attr.data-slnm-ihg]="'Count' + filter.count + '-SID'">
      ({{ filter.count }})
    </span>
  </button>
</div>