@import 'variables';

.filters {
  .filter {
    background: $seagull-blue;
    border-radius: 2px;
    color: $btn-primary-color;
    margin: 5px 10px 5px 0;
    opacity: 0.6;
    padding: 2px 10px;

    &:after {
      content: '\f00c';
      font-family: "Font Awesome 5 Pro";
      margin-left: 5px;
      display: none;
      width: 14px;
    }

    &.filter-active {
      opacity: 1;

      &:after {
        display: inline-block;
      }
    }

    .filter-count {
      display: inline-block;
      margin: 0;
    }
  }
}   
