<div class="row prepare-arrivals-details" [@slideUpDownNgIf] *ngIf="expanded">
  <div class="col-12 display-flex">
    <div class="info-col" *ngIf="showArrivalInfo">
      <app-prepare-arrivals-details-info [listItem]="listItem" [stateName]="stateName">
      </app-prepare-arrivals-details-info>
    </div>
    <div class="room-tasks-col">
      <uic-toast-message class="feature-unavail-toast" [attr.data-slnm-ihg]="'FeatureUnavailableAlert-SID'"
                         *ngIf="!allowManage" [alert]="featureUnavailAlert">
      </uic-toast-message>
      <uic-toast-message id="pmsUnavailableToast" class="pms-conf-unavail-toast" [attr.data-slnm-ihg]="'PmsConfNumUnavailableAlert-SID'"
                         *ngIf="isPmsUniqueNumber" [alert]="pmsConfNumUnavailAlert">
      </uic-toast-message>
      <button type="button" class="btn btn-default btn-expand" data-slnm-ihg="RoomAssignmentSectionButton-SID"
              [disabled]="!allowManage || listItem.showManualGrid || isPmsUniqueNumber" (click)="onRoomCaretClick()">
        <i class="expand-row-icon fas" [class.fa-caret-right]="!isAssignRoomExpanded"
           [class.fa-caret-down]="isAssignRoomExpanded">
        </i>&nbsp;
        <span translate="LBL_RM_ASGMT"></span>
        <span class="room-number" *ngIf="listItem.assignedRoomStatus && !!listItem.assignedRoomStatus.roomNumber">
          <span>
            (<i *ngIf="listItem.freeUpgradeInd"
                class="category-tooltip" tooltipClass="tooltip-upgrade-content"
                placement="bottom"
                [ngbTooltip]="tooltipContent"
                data-slnm-ihg="UpgradeIcon-SID"
                class="fas fa-arrow-circle-up pr-1"></i>{{listItem.assignedRoomStatus.roomNumber}}
            {{listItem.assignedRoomStatus.roomType}})
          </span>
        </span>
      </button>
      <ng-template #tooltipContent>
        <div class="tooltip-upgrade" data-slnm-ihg="UpgradeTooltip-SID">
          <p class="upgrade-header">{{'LBL_RM_UPGRADE' | translate}} </p>
          <p>{{'LBL_BOOKING' | translate}}: {{ listItem?.origRoomTypeCode }} </p>
          <p>{{'LBL_RTC' | translate}}: {{ listItem?.roomToChargeCode }} </p>
        </div>
      </ng-template>
      <br>
      <app-prepare-arrivals-details-room *ngIf="allowManage && initialized"
                                         [expanded]="isAssignRoomExpanded"
                                         [animationDelay]="roomAnimDelay"
                                         [suggestedRoomCount]="suggestedRoomCount"
                                         (emitChangedRoom)="handleReleaseRoom($event)"
                                         [showArrivalInfo]="showArrivalInfo"
                                         [roomAnimationContext]="roomAnimationContext"
                                         [showNotifiedAlert]="showNotifiedAlert"
                                         [showRoomNotReadyAlert]="showRoomNotReadyAlert"
                                         [showPrintRegCard]="showPrintRegCard"
                                         [listItem]="listItem"
                                         [isTodaySelected]="isTodaySelected"
                                         [stateName]="stateName">
      </app-prepare-arrivals-details-room>

      <span class="row separator"></span>

      <button type="button" class="btn btn-default btn-expand" data-slnm-ihg="TasksSectionButton-SID"
              [disabled]="!allowManage || listItem.showManualGrid || isPmsUniqueNumber" (click)="onTaskCaretClick()"
              *accessControl="'add_task' as tagName with ReadOnlyTaskButtonTemplate customizer:addTaskAccessCustomizer">
        <i class="expand-row-icon fas" [class.fa-caret-right]="!isTasksExpanded"
           [class.fa-caret-down]="isTasksExpanded">
        </i>&nbsp;
        <span>{{ 'LBL_TASKS' | translate }} ({{ getTasksCount() }})</span>
      </button>
      <ng-template #ReadOnlyTaskButtonTemplate>
        <div class="task-div" [ngbTooltip]="'LBL_READ_ONLY_PERMISSION' | translate">
          <button type="button" [disabled]="true" class="btn btn-default btn-expand preapre-guest-task-btn" data-slnm-ihg="TasksSectionButton-SID">
        <i class="expand-row-icon fas" [class.fa-caret-right]="!isTasksExpanded"
           [class.fa-caret-down]="isTasksExpanded">
        </i>&nbsp;
        <span>{{ 'LBL_TASKS' | translate }} ({{ getTasksCount() }})</span>
      </button>
        </div>
    </ng-template>
      <app-prepare-arrivals-details-tasks *ngIf="allowManage && initialized"
                                          [expanded]="isTasksExpanded"
                                          [animationDelay]="taskAnimDelay"
                                          [listItem]="listItem"
                                          [stateName]="stateName"
                                          (emitDoneEvent)="emitTaskDoneEvent.emit()">
      </app-prepare-arrivals-details-tasks>
    </div>
  </div>
</div>
