@import 'variables';
@import '../../../../check-in/components/check-in-breakpoint';

.prepare-arrivals-details {
  &:hover {
    background-color: $secondary-color;
  }

  .feature-unavail-toast {
    margin-top: 1rem;
  }

  .checkbox-col {
    width: 3%;
  }

  .info-col {
    width: 17%;
    border-right: thin solid $input-border;
  }

  .room-tasks-col {
    width: 80%;
    padding: 0 .75rem 0.75rem 0.75rem;
  }

  .btn-expand {
    font-size: 20px;

    &:hover {
      background-color: $secondary-color-disabled;
    }
  }

  .btn:disabled {
    background-color: inherit;
    color: $gray-80;
  }

  .separator {
    border-bottom: 1px solid $header-border-color;
    margin-left: -13px;
    margin-right: -30px;
    margin-top: 25px;
  }

  .task-div {
    width: auto;
    display: inline-block;
  }

  .btn.preapre-guest-task-btn {
    color: $secondary-text-color;
  }

  .room-number {
    .fa-arrow-circle-up {
      font-size: 16px;
    }
  }
}

:host-context(.check-in-room-assign) {
  .prepare-arrivals-details {
    .checkbox-col {
      display: none;
    }

    .separator {
      margin: 0 -15px;
      margin-top: 38px;
    }

    .room-tasks-col {
      width: 100%;
      padding: 0;
    }
  }

  @media screen and (max-width: $tablet-landscape-width) {
    .btn-expand {
      font-size: 18px;
      padding: 5px 8px;

      .room-number {
        font-size: 16px;
      }
    }
  }
}

::ng-deep .tooltip-upgrade-content {

  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  background: white;
  margin-top: 10px;

  &.tooltip.show {
    opacity: 1;
  }

  .tooltip-upgrade {
    padding: 8px;
    font-size: 12px;
    max-width: 130px;
    max-height: 70px;
    line-height: 10px;

    .upgrade-header {
      font-size: 16px;
    }
  }

  .tooltip-inner {
    background-color: white;
    font-size: 125%;
    color: black;
    text-align: left;
  }

  .arrow {
    top: -15px;
    height: 15px;
  }

  .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: white;
  }

}

