<kendo-popup *ngIf="show && formData.valid"
             class="search-content-popover"
             [anchor]="anchor"
             [copyAnchorStyles]="true"
             [positionMode]="'absolute'">
  <div #searchContent class="search-content">
    <app-search-section-results *ngIf="roomListFiltered.length"
                                [sectionIdentifier]="previewSections.roomsPreview"
                                [totalsLabel]="'LBL_ROOM_COUNT'"
                                [dataProps]="roomsListPropsToDisplay"
                                [filterData]="roomListFiltered"
                                [seleniumPrefix]="'Room'"
                                (selectionMade)="onSelection($event)">
    </app-search-section-results>
    <app-search-section-results *ngIf="guestListFiltered.length"
                                [sectionIdentifier]="previewSections.guestsPreview"
                                [totalsLabel]="'LBL_GUESTS_COUNT_VIEW_ALL'"
                                [dataProps]="guestsListPropsToDisplay"
                                [filterData]="guestListFiltered"
                                [seleniumPrefix]="'Guest'"
                                (selectionMade)="onSelection($event)">
    </app-search-section-results>
    <app-search-section-results *ngIf="groupListFiltered.length"
                                [sectionIdentifier]="previewSections.groupsPreview"
                                [totalsLabel]="'LBL_GROUPS_COUNT_VIEW_ALL'"
                                [dataProps]="groupsListPropsToDisplay"
                                [filterData]="groupListFiltered"
                                [seleniumPrefix]="'Group'"
                                (selectionMade)="onSelection($event)">
    </app-search-section-results>
  </div>
</kendo-popup>
