@import 'variables';

.search-content-popover {
  .k-popup {
    border-radius: 0 !important;
  }
}

.search-content {
  ::ng-deep app-search-section-results:nth-child(2) {
    .nav {
      border-top: $border-color 1px solid;
    }
  }
}
