<div class="col-12">
  <uic-toast-message [attr.data-slnm-ihg]="'RoomTypeNoMatchAlert-SID'"
                     *ngIf="roomTypeNotMatchingAlert"
                     [alert]="roomTypeNotMatchingAlert">
  </uic-toast-message>
</div>
<ngb-tabset [destroyOnHide]="false"
            [activeId]="defaultTab"
            (tabChange)="handleTabChange($event)"
            #tabSet>
  <ngb-tab *ngFor="let tab of tabs"
           id="{{tab.id}}">
    <ng-template ngbTabTitle>
      <span class="tab-title"
            [attr.data-slnm-ihg]="tab.seleniumId"
            [translate]="tab.label"></span>
      <span [attr.data-slnm-ihg]="tab.roomCountSeleniumId"
            *ngIf="offers"
            class="room-count">&nbsp; ({{ 'LBL_RM' | translate: {roomCount: offers.suggestedProducts[tab.type] ? offers.suggestedProducts[tab.type].roomsAvailable
        : 0} }})
      </span>
    </ng-template>
    <ng-template ngbTabContent>
      <uic-user-guidance *ngIf="!offers?.suggestedProducts[tab.type]"
                         class="text-center"
                         [attr.data-slnm-ihg]="'NoRoomsAvailable-SID'"
                         [title]="'LBL_NO_RM_AVLBL' | translate">
        <p translate="LBL_NO_RM_BED_TYP"
           [attr.data-slnm-ihg]="'NoRoomForBedType-SID'"></p>
      </uic-user-guidance>
      <div class="d-flex"
           *ngIf="offers?.suggestedProducts[tab.type]">
        <ng-container *ngFor="let offer of offers?.suggestedProducts[tab.type].rateCategories; let i = index">
          <app-suggested-offer *ngIf="i < maxOfferCount"
                               [offer]="offer"
                               [roomType]="offers?.suggestedProducts[tab.type]?.name"
                               [roomCode]="offers?.suggestedProducts[tab.type]?.code"
                               [selected]="offer.selected"
                               (viewDetails)="handleViewDetails(offer, offers?.suggestedProducts[tab.type])"
                               (select)="handleSelection(offer, offers?.suggestedProducts[tab.type].rateCategories)"
                               (selectOffer)="handleOfferSelection(offer, offers?.suggestedProducts[tab.type])">
          </app-suggested-offer>
        </ng-container>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>