@import "variables";
:host ::ng-deep {
  .tab-content > .active {
    padding: 10px 10px 0 10px;
  }
  uic-toast-message {
    padding: 15px 10px 0;
  }
  app-suggested-offer {
    min-height: 200px;
    padding: 10px;
    flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    max-width: 25%;
  }
  .uic-user-guidance {
    p {
      width: 400px;
      margin: 0 auto;
    }
  }
  @media (max-width: 1024px) {
    app-suggested-offer {
      flex: 0 0 33.33%;
      -ms-flex: 0 0 33.33%;
      max-width: 33.33%;
      &:nth-of-type(4) {
        display: none;
      }
    }
  }
  @media (max-width: 768px) {
    app-suggested-offer {
      flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      max-width: 50%;
      &:nth-of-type(4),
      &:nth-of-type(3) {
        display: none;
      }
    }
  }
}
