@import 'variables';

.card-header {
  padding: 0;
}
.section-data {
  font-size: 24px;
}
.points-section {
  color: #EC6108;
}
.grayed-text {
  color: $gray-60;
}
.first-row {
  height: 4rem;
}
.priority-club-section {
  line-height: 1.9rem;
}
.small-text-section {
  font-size: 12px;
}
.ambassador-column {
  margin-top: -2rem;
}
.expire-color {
  color: $error-color;
}