<div>
  <div class="card-header mb-1" [translate]="keyMap.cardLoyalty"></div>
  <div class="row">
    <div class="col-6 pr-1">
      <div class="my-1 first-row d-flex justify-content-center flex-column">
        <div [translate]="keyMap.cardSectionRewardsNumber"></div>
        <div class="section-data">{{guest.guestLoyalty?.loyaltyID}}</div>
      </div>
      <div class="points-section my-1">
        <div [translate]="keyMap.cardSectionPoints"></div>
        <div class="section-data">{{guest.guestLoyalty?.pointsBalanceFormatted}}</div>
      </div>
    </div>
    <div class="col-6 border-left" *ngIf="!(guest.guestLoyalty?.ambassadorClubLevel || guest.guestLoyalty?.circleOrKarmaClubLevel)">
      <div class="ml-2 my-1 first-row d-flex justify-content-center flex-column">
        <div class="section-data priority-club-section">{{badgeIconNames[guest.guestLoyalty?.priorityClubLevel]}}</div>
      </div>
      <div class="ml-2 my-1 grayed-text">
        <div [translate]="keyMap.cardSectionMemberSince"></div>
        <div class="section-data text-nowrap">{{guest.guestLoyalty?.enrollmentDateFormatted}}</div>  
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center flex-column ambassador-column pl-1" *ngIf="(guest.guestLoyalty?.ambassadorClubLevel || guest.guestLoyalty?.circleOrKarmaClubLevel)">
      <div class="flex-grow-1 d-flex justify-content-center flex-column">
        <div>{{badgeIconNames[guest.guestLoyalty?.priorityClubLevel]}}</div>
        <div class="grayed-text small-text-section mt-1">
          <i class="far fa-star"></i><span class="text-nowrap d-inline-block px-1" [translate]="keyMap.cardSectionMemberSince"></span><span class="text-nowrap">{{guest.guestLoyalty?.enrollmentDateFormatted}}</span> 
        </div>
      </div>
      <div class="border-top flex-grow-1 d-flex justify-content-center flex-column" *ngIf="guest.guestLoyalty?.ambassadorClubLevel">        
        <div>{{badgeIconNames[guest.guestLoyalty?.ambassadorClubLevel]}}</div>
        <div class="grayed-text small-text-section mt-1" [ngClass]="{'expire-color': guest.guestLoyalty?.isExpiringWithin30Days}">
          <i class="far fa-calendar-alt"></i>&nbsp;<span [translate]="keyMap.cardSectionExpires"></span>&nbsp;<span>{{guest.guestLoyalty?.ambassadorExpDateFormatted}}</span> 
        </div>
      </div>
      <div class="border-top flex-grow-1 d-flex justify-content-center flex-column" *ngIf="guest.guestLoyalty?.circleOrKarmaClubLevel">
        <div>{{badgeIconNames[guest.guestLoyalty?.circleOrKarmaClubLevel]}}</div>
      </div>
    </div>
  </div>
</div>