<uic-card class="check-in-workflow card-body-p-0">
    <ngb-tabset [activeId]="selectedTab" [destroyOnHide]="payIntegratedFlag !== 'N'" (tabChange)="handleTabChange($event)">
        <ngb-tab [id]="workflowTabs[0].id">
            <ng-template ngbTabTitle>
                <i class="fa fa-check-circle" *ngIf="guestData?.selectedAmenity"></i>&nbsp;
                <span data-slnm-ihg="ReservationTab-SID" [translate]="workflowTabs[0].label"></span>
            </ng-template>
            <ng-template ngbTabContent>
                <app-check-in-reservation *ngIf="selectedTab === workflowTabs[0].id" [guestData]="guestData">
                </app-check-in-reservation>
            </ng-template>
        </ngb-tab>
        <ngb-tab [id]="workflowTabs[1].id">
            <ng-template ngbTabTitle>
                <i class="fas fa-exclamation-circle fa-lg" *ngIf="checkRoomAssignmentWarning()"></i>
                <i class="fa fa-check-circle" *ngIf="checkRoomAssignmentSuccess()"></i>&nbsp;
                <span data-slnm-ihg="AssignmentTab-SID" [translate]="workflowTabs[1].label"></span>
            </ng-template>
            <ng-template ngbTabContent>
                <app-check-in-room-assign *ngIf="selectedTab === workflowTabs[1].id" [guestData]="guestData">
                </app-check-in-room-assign>
            </ng-template>
        </ngb-tab>
        <ngb-tab [id]="workflowTabs[2].id" [disabled]="guestData?.ineligibleReservation || (guestData?.isCheckedIn && !enableCheckInBool && !checkinChangedNow)">
            <ng-template ngbTabTitle>
                <i class="fa fa-times-circle" *ngIf="guestData?.authError"></i>
                <i class="fa fa-check-circle" *ngIf="guestData?.isCheckedIn"></i>&nbsp;
                <span data-slnm-ihg="PaymentTab-SID" [translate]="workflowTabs[2].label"></span>
            </ng-template>
            <ng-template ngbTabContent>
                <app-check-in-payment #paymentCheckInComponent [guestData]="guestData" [payIntegratedFlag]="payIntegratedFlag" [pmsAuthSaveInd]="pmsAuthSaveInd" (handleSaveAuthDetails)="enableCheckIn($event)" (emitChangeTab)="navigateToGivenTab($event)">
                </app-check-in-payment>
            </ng-template>
        </ngb-tab>
        <ngb-tab [id]="workflowTabs[3].id" [disabled]="!guestData?.isCheckedIn || guestData?.ineligibleReservation">
            <ng-template ngbTabTitle>
                <i class="fa fa-times-circle" *ngIf="guestData?.isCheckedIn && guestData?.isCutkeyError"></i>
                <i class="fa fa-check-circle" *ngIf="guestData?.isCheckedIn && guestData?.keysCut"></i>&nbsp;
                <span data-slnm-ihg="KeysTab-SID" [translate]="workflowTabs[3].label"></span>
            </ng-template>
            <ng-template ngbTabContent>
                <app-check-in-keys *ngIf="selectedTab === workflowTabs[3].id" [guestData]="guestData"></app-check-in-keys>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

    <div class="container-footer">
        <div class="col-12 footer-buttons">
            <div class="col-6 no-gutter">
                <app-print-reg-card class="check-in-action no-shadow" *ngIf="selectedTab !== workflowTabs[3].id" [guestData]="guestData" [stateName]="stateName"></app-print-reg-card>
            </div>
            <div class="col-6 no-gutter">
                <button type="button" data-slnm-ihg="CheckInBtn-SID"
                *ngIf="(selectedTab == workflowTabs[2].id) && (guestData.paymentType === 'CARD') && (payIntegratedFlag === 'N') && !(guestData?.isCheckedIn)"
                [disabled]="(!enableCheckInBool && pmsAuthSaveInd === 'N') || !checkIsRoomReady()" class="btn btn-primary float-right"
                    (click)="triggerCheckIn()" translate="FDK_TITLE_CHECK_IN"></button>
                <button type="button" data-slnm-ihg="NextBtn-SID" *ngIf="!isLastActiveTab() && !((selectedTab == workflowTabs[2].id) && (guestData.paymentType === 'CARD') && (payIntegratedFlag === 'N') && !(guestData?.isCheckedIn))" class="btn btn-primary float-right"
                    (click)="handleNext()" [disabled]="(selectedTab === workflowTabs[2].id) && !guestData.isCheckedIn">
          <span translate="LBL_NEXT"></span>
        </button>
                <button type="button" *ngIf="isLastActiveTab()" class="btn btn-primary float-right" data-slnm-ihg="BackToGuestListBtn-SID" (click)="handleBackToGuestList()">
          <span translate="LBL_BK_TO_GST_LST"></span>
        </button>
                <button type="button" *ngIf="selectedTab !== workflowTabs[0].id" class="btn btn-default float-right mr-2" data-slnm-ihg="PreviousBtn-SID" (click)="handlePreviousTab()">
          <span translate="LBL_PREVIOUS"></span>
        </button>
            </div>
        </div>
    </div>
</uic-card>
