@import 'variables';

.check-in-workflow {
  .container-footer {
    display: flex;
    padding: 1rem;
    border-top: 1px solid $gray-80;

    .footer-buttons {
      display: flex;
    }

    .footer-buttons-keys {
      .btn-prev {
        margin-right: 10px;
      }
    }
  }

  .fa-exclamation-circle {
    color: $warning-color;
    font-size: 20px;
  }
  .fa-check-circle {
    color: $green-christi;
    font-size: 20px;
  }
  .fa-times-circle {
    color: $error-color;
    font-size: 20px;
  }
}

:host ::ng-deep .check-in-workflow {
  .nav-tabs {
    .nav-item {
      width: 25%;
      text-align: center;

      &:first-child {
        margin-left: 0;
      }
    }

    .nav-link {
      height: 100%;
      padding: 0.8rem 0;

      &.active,
      &.active:hover,
      &.active:focus {
        border: none;
      }
      &.disabled {
        opacity: 0.65;
      }
    }
  }

  .preferences {
    border-right: 1px solid $gray-80;

    .prepare-arrivals-details-info {

      .info-data {
        font-size: 14px;

        p {
          margin-bottom: 0.25rem !important;
        }
      }

      .section-space {
        padding: 0 1.25rem;
      }

      .special-requests {
        .forcheckIn.data-container {
          padding: 0.5rem 1.25rem;
        }
      }

      .heart-beat-actions, .guest-complaints {
        padding: 0.5rem 1.25rem;
      }
    }
  }
}

@media (hover: none) {
  .container-footer {
    .btn.btn-default:hover {
      background-color: transparent;
      }
  }
}
