<div [ngClass]="{'cwf-spacer': !isInitialized}">
  <app-stay-information *ngIf="isInitialized"
                        [panelCollapsed]="showAllOffers"
                        [reservationData]="reservationData"
                        (originalReservationData)="handleReservationData($event)"
                        (search)="handleStayInfoSearch($event)">
  </app-stay-information>
</div>
