@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

html.HomePage
{
	mc-master-page: url('../MasterPages/HomePage.flmsp');
	mc-community-features: disabled;
}

div.topichero
{
	background-size: cover;
	padding-top: 20px;
	height: auto;
	padding-bottom: 150px;
	background-position-x: left;
	background-image: none;
	background-color: #f2f2f2;
}

table
{
	
}

/*Makes images responsive*/

img
{
	height: auto;
	max-width: 100%;
}

/*Removes gap between image on homepage image and menu*/

MadCap|section.main-section
{
	margin-top: -10px;
}

html
{
	background-color: #f2f2f2;
}

div.backgroundImage
{
	margin-top: -10px;
	margin-bottom: -30px;
}

.move-right .exit-off-canvas
{
	box-shadow: none;
}

.right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after,
.left-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after
{
	content: none;
}

