<div *ngIf="windows"
     class="payment-routing"
     data-slnm-ihg="WindowRouting-SID">
  <div *ngFor="let routingWindow of windows | limitTo : limit; let index = index"
       class="payment-routing__window"
       [attr.data-slnm-ihg]="'WindowRoutingContainer' + (index + 1) + '-SID'">

    <div class="section" [attr.data-slnm-ihg]="'WindowRoutingTitle' + (index + 1) + '-SID'">
      <div class="section__item section__item--title">{{'LBL_WINDOW' | translate}} {{routingWindow?.window}}</div>
    </div>

    <div class="section" [attr.data-slnm-ihg]="'WindowRoutingPayment' + (index + 1) + '-SID'">
      <div class="section__item font-weight-bold" translate="LBL_PYMT_TYPE"></div>
      <div class="section__item">{{routingWindow?.payMethod?.payMethod?.value
        ? routingWindow?.payMethod?.payMethod?.value
        : emptyValue}}</div>
      <div class="section__item">{{routingWindow?.payMethod?.last4Digits
        ? '*' + routingWindow?.payMethod?.last4Digits
        : emptyValue}}</div>
    </div>

    <div class="section" [attr.data-slnm-ihg]="'WindowRoutingChargesIncluded' + (index + 1) + '-SID'">
      <div class="section__item font-weight-bold" translate="LBL_CHARGES_INCD"></div>
      <div class="section__item section__item--fill"><p>{{routingWindow?.routingInstruction || emptyValue}}</p></div>
    </div>

  </div>
</div>
