@import 'variables';

$section-row-height: 39px;
$window-width-desktop: 295px;
$window-width-tablet-portrait: 100%;
$window-width-tablet-landscape: 395px;

.payment-routing {
  width: $window-width-desktop;
  display: flex;
  flex-direction: column;

  &__window {
    width: 100%;
    box-sizing: border-box;

    .section {
      height: $section-row-height;
      border-width: 1px 1px 0;
      border-style: solid;
      border-color: $gray-80;
      padding: 7px;

      display: flex;
      flex-direction: row;
      justify-items: center;
      align-self: center;


      &__item {
        &:first-child {
          width: 50%;
        }

        &:nth-child(2), &:nth-child(3) {
          width: 25%;
          padding-left: 6px;
          padding-right: 6px;
        }

        &:nth-child(3) {
          display: flex;
          justify-content: flex-end;
        }
      }

      &__item--title {
        font-size: 18px;
      }

      &__item--fill {
        width: 50% !important;
        display: flex;
        justify-content: flex-end;

        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          height: fit-content;
        }
      }

      &:last-child {
        border-width: 1px 1px 1px;
      }
    }
  }

  &__window:not(:last-child) {
    margin-bottom: 15px;
  }
}

@include tablet-landscape-fdk() {
  .payment-routing {
    width: $window-width-tablet-landscape;
  }
}

@include tablet-portrait-fdk() {
  .payment-routing {
    width: $window-width-tablet-portrait;
  }
}
