@import 'variables';
@import "../check-in-breakpoint";

:host ::ng-deep {
  .large-font {
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
    margin-right: 7px;
    line-height: 20px;
  }

  .control-label {
    display: block;
    margin-bottom: 0.3rem;
  }
  
  .rate-category {
    color: #578ebe;
    cursor: pointer;
    font-weight: 400;
  }

  .gray-font {
    color: $gray-60;
  }

  .tablet-only {
    display: none;
  }

  .popover .arrow {
    left: 1rem !important;
  }

  .popover {
    margin-top: 3px !important;
  }
	.room-rate__details__item {
		flex: 0 0 110px;
		padding: 0 0 0.5rem 0;

		&:first-child {
			flex: 0 0 100%;
		}		
	}	

	.room-rate__details__item:nth-child(even){
		margin-right: 10px;
	}
}

  .assigned-room-number {
    width: 100%;
  }

  .info-dtl-roomcategory-infoicon {
    color: #578ebe;
    padding: 5px;
  }

  .costEstBtn {
    margin: -6px 0 0 4px;
    font-size: 16px;
  }

  .room-rate__details {
    display: flex;
    flex-wrap: wrap;

    .room-rate__details__item {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 0.5rem 0.5rem 0;

      &:first-child {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  .upgrade-icon {
    color: $secondary-text-color;
  }

  .room-number-font-size {
    font-size: 14px;
    font-weight: 400;
  }

  @media screen and (max-width: $tablet-landscape-width) {
    .tablet-only {
      display: block;
    }

    .tablet-hidden {
      display: none;
    }

    .room-rate__details {

      .room-rate__details__item,
      .room-rate__details__item:first-child {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }

    // .popover {
    // 	top: 120px;
    // 	left: 289px !important;
    // }
    // .popover-content {
    // 	left: 237px !important;
    // }

    // .popover-by-room-length {
    // 	left: 280px !important;
    // }
  }

  @media screen and (min-width: 1025px) {

    // .popover {
    // 	left: 98px !important;
    // }
    .popover-content {
      left: 46px !important;
    }
  }

  @media screen and (max-width: $tablet-portrait-width) {
    .room-rate__details {
      .room-rate__details__item {
        flex: 0 0 25%;
        max-width: 25%;

        &:first-child {
          position: absolute;
          width: auto;
          top: 20px;
          right: 20px;
          max-width: none;

          .control-label {
            display: inline-block;
            margin-right: 15px;
          }
        }
      }
    }

    .popover {
      top: 119px !important;
      left: 97px !important;
    }

    .popover-content {
      left: 46px !important;
    }

  }


  .popover-content-ipad {
    top: 119px !important;
    left: 245px !important;
  }

  .popover-content-ipad-no-assigned {
    top: 119px !important;
    left: 207px !important;
  }

  .popover .arrow {
    left: 0.7rem;
  }

  .popover {
    min-width: 120px;
    max-width: 125px;
    border-width: 0;
    border-radius: 0;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);

    p {
      margin-bottom: 2px;
      margin-left: 5px;
    }

    left:50px;
  }

  .popover .popover-body {
    padding: 8px;
    font-size: 12px;
  }

  .uic-card .card .card-header {	
    font-size: 20px !important;
  }

