<uic-card [cardTitle]="'LBL_RSVN_ROOM_RATE'" data-slnm-ihg="RoomRate-SID" class="card-body-top-0">
    <div class="room-rate__details">
        <div class="room-rate__details__item">
            <span class="control-label" translate="LBL_EST_TOT" data-slnm-ihg="EstimateTotalLabel-SID"></span>
            <span class="large-font" data-slnm-ihg="EstimateTotal-SID">
        {{ utility.formatFloatValue(guestData.ratesInfo?.totalAmountAfterTax) }}
      </span>
            <span data-slnm-ihg="EstimateTotalCurrency-SID">{{guestData.ratesInfo?.currencyCode}}</span>
            <span data-slnm-ihg="CostEstimateButton-SID"><button (click)="openCostEstimate()" class="btn btn-default costEstBtn"><i class="fas fa-file-invoice-dollar"></i></button></span>
        </div>
        <div class="room-rate__details__item">
            <span class="control-label" translate="LBL_ROOM" data-slnm-ihg="RoomLabel-SID"></span>
            {{assignCSSClass()}}
            <ng-container *ngIf="!guestData.assignedRoomNumber; else assignedRoom">
                <span data-slnm-ihg="RoomTypeCode-SID" *ngIf="guestData?.roomTypeCode">
          {{guestData.roomTypeCode}}</span>
                <span class="info-dtl-roomcategory-infoicon category-popover"  placement="bottom-left" #popover=ngbPopover
                [ngbPopover]="popoverContent" triggers="mouseenter:mouseleave" [popoverClass]="popupContentClass">
                        <i class="fas fa-info-circle"></i>
                </span>
            </ng-container>
            <ng-template #assignedRoom>
              <span *ngIf="guestData?.freeUpgradeInd"
                    class="pr-1 upgrade-icon"
                    data-slnm-ihg="RoomUpgradeIndicator-SID">
                <span class="category-tooltip" tooltipClass="tooltip-upgrade-content"
                      placement="bottom-left"
                      [ngbTooltip]="tooltipContent" >
                  <i class="fas fa-arrow-circle-up"></i></span>
            </span>
              <span class="large-font room-number-font-size"
                    [ngClass]="{'assigned-room-number': guestData.assignedRoomNumber.length > 4 && isDesktop}"
                    data-slnm-ihg="AssignedRoomNumber-SID">{{guestData.assignedRoomNumber}}</span>
              <span data-slnm-ihg="RoomTypeCode-SID">{{guestData.assignedRoomStatus?.roomType}}</span>
              <span *ngIf="!guestData?.freeUpgradeInd">
                <span class="info-dtl-roomcategory-infoicon category-popover" placement="bottom-left"
                      #popover=ngbPopover
                      [ngbPopover]="popoverContent" triggers="mouseenter:mouseleave">
                        <i class="fas fa-info-circle"></i>
                </span>
              </span>
            </ng-template>
          <ng-template #tooltipContent>
            <div class="tooltip-upgrade">
              <p class="upgrade-header">{{'LBL_RM_UPGRADE' | translate}} </p>
              <p>{{'LBL_BOOKING' | translate}}: {{ guestData?.origRoomTypeCode }} </p>
              <p>{{'LBL_RTC' | translate}}: {{ guestData?.roomToChargeCode }} </p>
            </div>
          </ng-template>

        </div>
        <div class="room-rate__details__item">
            <span class="control-label" translate="LBL_RATE_CAT" data-slnm-ihg="RateCategoryCode-SID"></span>
            <span class="rate-category" (click)="getRateCodeDetails()">{{guestData.rateCategoryCode}}</span>
        </div>
        <div class="room-rate__details__item">
            <span class="control-label" translate="LBL_GRP" data-slnm-ihg="GroupNameLabel-SID"></span>
            <span *ngIf="guestData.groupName; else notApplicable" class="tablet-hidden" data-slnm-ihg="GroupName-SID" [ngbTooltip]="(guestData.groupName?.length > grpCharLimit) ? (guestData.groupName | titlecase)  : ''">
        {{getDisplayValue(guestData.groupName, grpCharLimit)}}</span>
            <span *ngIf="guestData.groupName" class="tablet-only">{{guestData.groupName  | titlecase}}</span>
        </div>
        <div class="room-rate__details__item">
            <span class="control-label" translate="LBL_COY" data-slnm-ihg="CompanyNameLabel-SID"></span>
            <span *ngIf="guestData.companyName; else notApplicable" class="tablet-hidden" data-slnm-ihg="CompanyName-SID" [ngbTooltip]="(guestData.companyName?.length > grpCharLimit) ? (guestData.companyName | titlecase) : ''">
        {{getDisplayValue(guestData.companyName, grpCharLimit)}}</span>
            <span *ngIf="guestData.companyName" class="tablet-only">{{guestData.companyName  | titlecase}}</span>
        </div>
    </div>

    <ng-template #notApplicable>
        <span class="font-italic gray-font" translate="LBL_NA"></span>
    </ng-template>
    <ng-template #popoverContent>
            <p>{{'LBL_BOOKING' | translate}}: {{ guestData?.origRoomTypeCode }} </p>
            <p>{{'LBL_RTC' | translate}}: {{ guestData?.roomToChargeCode }}      </p>
    </ng-template>
</uic-card>
