@import 'variables';
@import '../../../check-in/components/check-in-breakpoint';

.manage-stay-room-assignment-card {
  padding: 10px;

  .manage-stay-card-header {
    .title-text {
      padding-left: 10px;
      font-size: 24px;
      font-weight: lighter;
    }

    .sub-title-text {
      font-size: 20px;
      font-weight: lighter;
    }

    .edit-room-assignment {
      float: right;
    }

    .edit-room-assignment:not([disabled]):hover {
      background-color: $odd-bg-color;

      .edit-room-icon {
        color: #2a6496;
      }
    }

    .edit-room-assignment:not([disabled]):active,
    .edit-room-assignment:not([disabled]):focus {
      background-color: $gainsboro-white;
      box-shadow: $active-box-shadow;
    }
  }

  .room-assignment-details {
    margin-top: 15px;

    .row {
      margin: 0px;

      .room-details-col {
        padding: 0px;

        .assigned-room-block,
        .room-details-block,
        .assigned-status-block,
        .room-keys-block {
          padding-bottom: 20px;

          .control-label {
            padding-bottom: 8px;
          }

          .assigned-room {
            .room-number {
              font-size: 20px;
              line-height: 15px;
              padding-right: 6px;
              font-weight: 200;
            }
          }

          .room-description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .wrap {
            white-space: normal;
          }
        }

        .room-keys-block {
          padding-bottom: 0px;
        }
      }

      .room-details-col-left {
        padding-left: 10px;
      }
    }
  }

  .error-cut-key {
    margin-top: 0px;
    height: 120px;
    width: 370px;
    overflow-y: scroll;
  }

  .change-room-view {
    margin-bottom: -10px;
  }

  .close-change-room {
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}

@media screen and (max-width: $tablet-portrait-width) {
  .manage-stay-room-assignment-card {
    .error-cut-key {
      width: 340px;
    }

    .toast-messages {
      ::ng-deep app-error-toast-message {
        uic-toast-message {
          .alert-danger {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
