<div class="manage-stay-room-assignment-card" data-slnm-ihg="ManageRoomAssignment-SID"
    [ngClass]="{'disabled' : focusedCard && !changeRoomView}">
  <div *ngIf="!changeRoomView">
    <div class="manage-stay-card-header">
      <span class="title-text" translate="LBL_RM_ASGMT" data-slnm-ihg="RoomAssignment-SID"></span>
      <button class="btn clickable edit-room-assignment"
              data-slnm-ihg="ChangeRoom-SID"
              [ngbTooltip]="'LBL_CHG_ROOM' | translate"
              container="body"
              (click)="openRoomChange()"
              [disabled]="disableRoom">
        <i class="far fa-edit edit-room-icon"></i>
      </button>
    </div>
    <div class="toast-messages">
      <!-- Cut Key error toast -->
      <app-error-toast-message
        [attr.data-slnm-ihg]="'CutKeyError-SID'"
        [errorEvent]="cutKeyAssignmentError.asObservable()"
        [translations]="cutKeyErrorContent.assignRoom"
        [reportIssueAutoFill]="reportIssueAutoFill"
        (retryAction)="onCutKeyRetry()">
      </app-error-toast-message>
    </div>

    <div class="room-assignment-details" [ngClass]="{'error-cut-key': cutKeyError===true}" *ngIf="!hasErrorRoomData">
      <div class="row">
        <div class="col-6 room-details-col room-details-col-left">
          <div class="assigned-room-block">
            <div class="control-label" translate="LBL_ASGND_RM" data-slnm-ihg="AssignedRoomLabel-SID"></div>
            <div class="assigned-room">
              <span class="room-number" data-slnm-ihg="AssignedRoomNumber-SID">{{manageStayData?.roomNumber}}</span>
              <span class="room-type" data-slnm-ihg="AssignedRoomType-SID">{{manageStayData?.roomType}}</span>
            </div>
          </div>
          <div class="room-details-block">
            <div class="control-label" translate="LBL_RM_DETAILS" data-slnm-ihg="AssignedRoomDetailsLabel-SID"></div>
            <div *ngIf="manageStayData?.roomDetails && manageStayData?.roomDetails.length ;else no_feature">
              <div class="room-description" *ngFor="let roomDetails of manageStayData?.roomDetails | slice:0:3;"
                data-slnm-ihg="AssignedRoomDetails-SID">
                {{roomDetails.description}}
              </div>
            </div>
            <ng-template #no_feature>
              <div class="room-description wrap" translate="LBL_NO_ROOM_DETAILS"></div>
            </ng-template>
          </div>
        </div>
        <div class="col-6 room-details-col room-details-col-right">
          <div class="assigned-status-block">
            <div class="control-label" translate="LBL_RM_STATUS" data-slnm-ihg="AssignedRoomStatusLabel-SID"></div>
            <app-reservation-status [status]="manageStayData?.roomStatus" [desktopView]="true"
                                [uniqueId]=""></app-reservation-status>
          </div>
          <div class="room-keys-block">
            <div class="control-label" translate="LBL_KEYS" data-slnm-ihg="KeysLabel-SID"></div>
            <div>
              <app-encoder-selector (encoder)="encoderSelected($event)"></app-encoder-selector>
              <app-manage-cut-key (isCutKeyError)="isCutKeyError($event)" [manageStayData]="manageStayData"
                                  [pmsNumber]="pmsNumber" [encoder]="selectedEncoder" [disableCutKey]="disableRoom"></app-manage-cut-key>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="hasErrorRoomData">
      <app-service-error
        [attr.data-slnm-ihg]="'RoomAssignmentError-SID'"
        [errorEvent]="emitError.asObservable()"
        [reportIssueAutoFill]="reportIssueConfig"
        [cardType]="errorCardType"
        (refreshAction)="refresh()">
      </app-service-error>
    </div>
  </div>

  <div *ngIf="changeRoomView" class="change-room-view">
    <div class="manage-stay-card-header">
      <span class="title-text room-assign-header" data-slnm-ihg="RoomAssignment-SID">
        {{ 'LBL_RM_ASGMT' | translate }} ({{ manageStayData?.roomNumber }} {{ manageStayData?.roomType }})
      </span>
      <app-manage-change-room [reservationData]="reservationData"
                              (roomAssignmentModified)="roomAssignmentChange($event)"></app-manage-change-room>
      <button class="btn btn-default close-change-room" (click)="closeRoomChange()">
        <span translate="COM_BTN_CLOSE"></span>
      </button>
    </div>
  </div>
</div>
