<div>
  <div class="search-row">
    <div class="left-section">
      <app-guest-search [searchQuery]="searchQuery"
                        [groupList]="groupList"
                        [previewEnabled]="true"
                        [searchDate]="searchDate"
                        [source]="'ARRIVALSTAB'"
                        (search)="onGuestSearch($event)"
                        (emitGuestSelection)="handleGuestSelection($event)"
                        (emitGroupSelection)="handlePreviewGroupSelection($event)"
                        (emitAllGroupSelection)="handlePreviewGroupSelection($event, true)">
      </app-guest-search>
    </div>
    <div class="right-section">
      <app-show-hide-groups class="pr-2" [showGroups]="showGroups" (emitChange)="handleShowHideGroup($event)">
      </app-show-hide-groups>
      <app-day-picker [selected]="selector" [startDate]="localCurrentDate" (change)="onSelectorChange($event)">
      </app-day-picker>
    </div>
  </div>
  <div class="additional-actions-row">
    <div *ngIf = "enableWalkIn" class="walk-in-button">
      <button class="btn btn-primary" [routerLink]="['/walk-in']">
        <i class="fas fa-plus-circle"></i> {{'LBL_CREATE_WALK_IN' | translate}}
      </button>
    </div>
  </div>
  <app-group-block [hidden]="!showGroups"
                   [selectedDate]="searchDate"
                   [searchQuery]="searchQuery"
                   [parentTabActive]="isActiveTab"
                   [subcategory]="ga.SUB_CATEGORY.ARRIVALSTAB"
                   (emitSelectedGroup)="handleGroupSelection($event)"
                   (emitGroupList)="handleGroupList($event)">
  </app-group-block>
  <div *ngIf="selectedGroup && showArrivals" class="card-header pb-1 pt-4" data-slnm-ihg="GroupSelected-SID">
    {{ 'GUEST_LIST' | translate }} - {{ selectedGroup | titlecase }}
  </div>
  <app-guest-list-grid [hidden]="!showArrivals"
                       [dateIndex]="dateIndex"
                       [searchDate]="searchDate"
                       [localCurrentDate]="localCurrentDate"
                       [guestData]="guestData"
                       [guestDataErrorEvent]="emitError.asObservable()"
                       (refreshAction)="onGuestListRefresh()"
                       (stateChange)="onStateChange($event)"
                       [selectedGroup]="selectedGroup"
                       [searchBy]="selectedGroup ? null : searchQuery"
                       [isSearchResult]="selectedGroup ? false : !!searchQuery"
                       [gridState]="gridState" [totalItems]="totalItems" (print)="handlePrint($event)">
  </app-guest-list-grid>
  <app-print-grid-container hidden
                            [searchString]="searchQuery"
                            [selectedDate]="searchDate"
                            [localDate]="localCurrentDate"
                            [detailed]="detailedPrint"
                            [printGuestList]="printableRecords.asObservable()"
                            [otherTab]="'arrivalsTab'">
  </app-print-grid-container>
</div>
