@import 'variables';

$guest-search-btn-min-wdth: 60px;
$guest-search-btn-height: 36px;
$guest-search-txt-input-wdth: 463px;
$guest-search-txt-input-height: 34px;

.btn.btn-disable {
  background: transparent;
}

.search-row {
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap-reverse;

  .left-section {
    margin: 0 0 0 20px
  }
  .right-section {
    margin: 0 15px 0 auto;
    display: flex;
  }
}

.additional-actions-row {
  display: flex;
  justify-content: flex-end;

  .walk-in-button {
    margin-right: 15px;

    i {
      padding-right: 3px;
    }
  }
}

.guest-search {
  .guest-search-inline-box{
    display: inline-block;
    vertical-align: middle;
  }
  .btn-guest-search {
    height: $guest-search-btn-height;
    min-width: $guest-search-btn-min-wdth;
  }

.search-input {
  width: $guest-search-txt-input-wdth;
  height: $guest-search-txt-input-height;
  margin-right: 2px;
}

.reset-btn {
  margin-left: 7px;
}

.error-box {
  border: $invalid-border;
}
}


::ng-deep app-guest-arrivals {

  app-day-picker {
    .day-picker {
      display: flex;
      justify-content: flex-end;
    }
  }

  .uic-user-guidance {
    height: 400px;
    padding-top: 20px !important;

    .guidance-title {
      margin-bottom: 8px !important;
    }

    .guidance-content {
      padding: 0 350px;
      line-height: normal;
    }
  }

  @media only screen and (min-width: 1199.99px) {
    app-guest-arrivals {
      .uic-user-guidance {
        .guidance-content {
          padding: 0 350px;
          line-height: normal;
        }
      }
    }
  }
}
