@import 'variables';

.hotel-features {
  .dining {
    border-bottom: 1px solid $gray-80;
  }

  .category-btn {
    width: 100%;
  }

  .chevron-icon {
    float: right;
    font-size: 12px;
  }
}

:host ::ng-deep .hotel-features {
  .service-error {
    .error-header {
      font-weight: 400;
      margin-bottom: 0;
      font-size: 12px;
    }

    .error-body {
      font-size: 12px;
    }
  }

  .uce-error-wrapper {
    min-height: 30px;

    .icon {
      display: none;
    }

    .error .error-body {
      font-size: 12px !important;
    }
  }

  .uic-card .card .card-header {	
    font-size: 20px !important;
  }
}
