<uic-card [cardTitle]="'LBL_HTL_FEAT'" class="hotel-features card-body-top-0" data-slnm-ihg="HotelFeatures-SID">
  <!--Dining Section-->
  <div class="dining pb-1">
    <button type="button"
            class="btn btn-default category-btn"
            data-slnm-ihg="Dining-SID"
            (click)="handleDiningClick()">
      <span class="float-left">
        <i class="fas fa-utensils"></i>
        <span class="pl-2" translate="LBL_DINING"></span>
      </span>
      <span class="chevron-icon">
        <span class="fas fa-chevron-down" *ngIf="!isDiningExpanded"></span>
        <span class="fas fa-chevron-up" *ngIf="isDiningExpanded"></span>
      </span>
    </button>
    <app-dining-features [hidden]="!isDiningExpanded" [isExpanded]="isDiningExpanded"></app-dining-features>
  </div>

  <!--Wellness Section-->
  <div class="wellness pt-1">
    <button type="button"
            class="btn btn-default category-btn"
            data-slnm-ihg="Wellness-SID"
            (click)="handleWellnessClick()">
      <span class="float-left">
        <i class="fas fa-heartbeat"></i>
        <span class="pl-2" translate="LBL_WLNS"></span>
      </span>
      <span class="chevron-icon">
        <span class="fas fa-chevron-down" *ngIf="!isWellnessExpanded"></span>
        <span class="fas fa-chevron-up" *ngIf="isWellnessExpanded"></span>
      </span>
    </button>

    <app-wellness-features [hidden]="!isWellnessExpanded" [isExpanded]="isWellnessExpanded"></app-wellness-features>
  </div>

</uic-card>
