@import 'variables';
@import 'kendo-overrides';

.guest-complaints-grid {
  border-bottom: 1px solid $input-border;

  .description {
    line-height: 22px;
    max-height: 110px;
    overflow: hidden;
  }

  .view {
    text-align: center;
    cursor: pointer;
    color: $link-color;
  }

  .date-link {
    text-align: center;
    cursor: pointer;
    color: $link-color;
  }

  .ellipsis {
    text-align: center;
    color: $link-color;
  }
}

:host ::ng-deep {
  .guest-complaints-grid.concerto-grid {
    @include no-grid-x-overflow();

    .k-grid-aria-root {
      border-top: 1px solid $input-border;
    }

    .k-grid-header {
      border-top: 1px solid $input-border;
      border-bottom: 2px solid $input-border;
      padding-bottom: 1px !important;
    }

    tr {
      height: 40px;
    }

    th {
      line-height: 28px;
      vertical-align: middle;
    }

    td {
      vertical-align: top;
    }

    td, th {

      &.tablet-column {
        vertical-align: top;
        height: 60px;
      }

      &.desktop-column {
        height: 36px;
      }
    }

    tbody tr {
      background-color: $primary-text-color;

      &:not([data-kendo-grid-item-index ^= '0']) {
        border-top: 1px solid $input-border;
      }

      &:hover {
        background-color: $primary-text-color;
      }
    }

    .upper-pager {
      uic-concerto-grid-pager-info {
        font-weight: 700;
        position: absolute;
        top: 22px;
      }
    }
  }
}
