<div class="guest-complaints-grid concerto-grid">
  <kendo-grid [kendoGridBinding]="guestComplaints"
              [pageSize]="gridState?.take"
              [skip]="gridState?.skip"
              [pageable]="true"
              [filterable]="false"
              [scrollable]="false">

    <ng-template kendoPagerTemplate>
      <div class="w-100">
        <uic-concerto-grid-pager class="upper-pager w-100"
                                 [translations]="pagerTranslations"></uic-concerto-grid-pager>
      </div>
    </ng-template>

    <kendo-grid-column [width]="gridColumns.dateWidth"
                       field="openTime"
                       headerClass="text-center no-wrap">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_DATE" data-slnm-ihg="DateLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
       <div class="date-link"
            data-slnm-ihg="Date-SID"
            (click)="navigateToCaseDetails(dataItem)">{{ dataItem?.openTime | uppercase }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.reasonWidth"
                       field="reasonCategory"
                       headerClass="text-nowrap">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_REASON" data-slnm-ihg="ReasonNameLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div data-slnm-ihg="Reason-SID">{{ dataItem?.reasonCategories?.length ? dataItem.reasonCategories : appConstants.EMDASH }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.descriptionWidth"
                       field="description">
      <ng-template kendoGridHeaderTemplate>
        <span translate="COM_LBL_DESCRIPTION"
              data-slnm-ihg="DescNameLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <app-max-height-view-more [content]="dataItem?.note || appConstants.EMDASH"
                                  [contentSlmnTag]="'Description' + (rowIndex + 1) + 'SID'"
                                  [viewMoreSlmnTag]="'DescriptionViewMore' + (rowIndex + 1) + 'SID'"
                                  [maxHeight]="'110'"
                                  (viewMoreAction)="navigateToCaseDetails(dataItem)"></app-max-height-view-more>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.actionTakenWidth" field="actionTaken">
      <ng-template kendoGridHeaderTemplate>
        <span data-slnm-ihg="ActionTakenLabel-SID">{{ 'LBL_ACTION_TAKEN' | translate }}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div data-slnm-ihg="ActionTaken-SID">{{ dataItem?.actionCodes?.length ?  dataItem?.actionCodes : appConstants.EMDASH }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.statusWidth" field="hotelStatus" headerClass="text-center">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_STATUS" data-slnm-ihg="StatusLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center" data-slnm-ihg="Status-SID">{{dataItem.hotelStatus}}</div>
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
        <app-service-error
          [attr.data-slnm-ihg]="'UserGuidanceError-SID'"
          [errorEvent]="emitError.asObservable()"
          [reportIssueAutoFill]="reportIssueAutoFill">
        </app-service-error>
    </ng-template>

  </kendo-grid>
</div>
