<div class="offers-by-category-grid concerto-grid"
     *ngIf="gridData?.data?.length">
  <kendo-grid [data]="gridData"
              [filterable]="false"
              [selectable]="false"
              [pageable]="true"
              [pageSize]="gridState.take"
              [skip]="gridState.skip"
              (pageChange)="handlePageChange($event)">
    <ng-template kendoPagerTemplate>
      <uic-concerto-grid-pager class="w-100"></uic-concerto-grid-pager>
    </ng-template>
    <kendo-grid-column class="align-top">
      <ng-template kendoGridCellTemplate
                   let-dataItem
                   let-rowIndex="rowIndex">
        <app-collapsible-item [attr.data-slnm-ihg]="'Product-' + rowIndex + '-SID'"
                              [panelTitle]="getPanelTitle(dataItem)"
                              [panelInfoLabel]="'LBL_RM_AVLBL'"
                              [panelInfoParam]="{roomCount: dataItem.roomsAvailable}">
          <ng-template>
            <app-rates-table [reservationNumber]="reservationNumber"
                             (estimatedTotal)="setEstimatedTotal($event)"
                             [roomCode]="dataItem.code"
                             [roomName]="dataItem.name"
                             [roomDesc]="dataItem.description"
                             [searchCritera]="searchCritera"
                             [originalReservationData]="originalReservationData"
                             [ratesData]="dataItem.rateCategories">
            </app-rates-table>
          </ng-template>
        </app-collapsible-item>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>