@import 'variables';

::ng-deep app-strategy-performance-item2 {
  .smaller {
    font-size: 0.95em;
  }

  .success-title, .failure-title, .balanced-title {
    border-color: transparent;
    border-radius: 2px;
  }

  .success-title {
    /* background-color: $chart-green-color; */
    background-color: #7DB45C;
  }

  .failure-title {
    /* background-color: $chart-red-color; */
    background-color: #FB1B1D;
  }

  .balanced-title {
    /* background-color: $warning-color; */
    background-color: #FBC41D;
  }
}

