<uic-card class="guest-spending" id="spending-card">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="card-header p-0" data-slnm-ihg="SpendingLabel-SID" [translate]="keyMap.cardSpending"></div>
    <ngb-tabset type="pills" (tabChange)="handleTabChange($event)">
      <ngb-tab id="lastStay">
        <ng-template ngbTabTitle><span data-slnm-ihg="LastStayTab-SID" translate="LBL_LAST_STAY"></span></ng-template>
      </ngb-tab>
      <ngb-tab id="pastYear">
        <ng-template ngbTabTitle><span data-slnm-ihg="PastStayTab-SID" translate="LBL_PAST_YEAR"></span></ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <ng-container *ngIf="initialized && !hasErrors">
    <app-guest-profile-spending-breakdown [spent]="spent" [attr.data-slnm-ihg]="isLastStayEnabled ? 'LastStay-SID' : 'PastYear-SID'"></app-guest-profile-spending-breakdown>
  </ng-container>

  <div *ngIf="initialized && hasErrors " class="insights-body">
    <app-service-error [cardType]="errorCardType" [errorEvent]="emitError.asObservable()"
      [reportIssueAutoFill]="reportIssueConfig" (refreshAction)="refresh($event)" 
      (reportIssueAction)="reportIssueClicked()" [config]="errorConfig">
    </app-service-error>
  </div>
</uic-card>