@import 'variables';
$accommodation-percent-background: rgb(56, 94, 157);
$foodbeverage-percent-background: rgb(255, 198, 0);
$breakdown-label-font-weight: 700;
$breakdown-label-font-size: 14px;
$breakdown-label-line-height: 16px;
$currency-color:rgb(102, 102, 102);
$percent-container-height:35px;
$percent-container-width:55px;
.card-header {
  padding: 0;
}


::ng-deep app-guest-profile-spending {

  .nav-pills {
    .nav-link {
      margin-left: 10px;
      color: rgb(87, 142, 190) !important;
      border-radius: 2px;
      &:hover {
        background-color: #F2F2F2 !important;
      }
      &:active {
       box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px 0px inset;
      }
    }
    .nav-link.active {
      background-color: #F2F2F2 !important;
      &:hover {
        .nav-link {
          color: #2D6594;
        }
      }
    }
  }

  ngb-tabset .tab-content {
    padding: 0;
  }
  spending-data{
    margin-top: 10px;
  }

  .spend-total {
    font-size: 30px;
    font-weight: 400;
    color: rgb(236, 97, 8);
  }

  .spend-currency {
    font-size: 22px;
    font-weight: 400;
    color: rgb(153, 153, 153);
  }
  .spending-breakdown {
    & .accommodation {
      & .percent-container {
        height: $percent-container-height;
        width: $percent-container-width;
        background-color: $accommodation-percent-background;
      }
      & .percent-text {
        font-size: $breakdown-label-font-size;
        color:$white;
        font-weight: $breakdown-label-font-weight;
      }
    }
    & .foodbeverage {
      & .percent-container {
        height: $percent-container-height;
        width: $percent-container-width;
        background-color: $foodbeverage-percent-background;
      }
      & .percent-text {
        font-size: $breakdown-label-font-size;
        font-weight: $breakdown-label-font-weight;
      }      
    }
    & .label {
      font-size: $breakdown-label-font-size;
      font-weight: $breakdown-label-font-weight;
      line-height: $breakdown-label-line-height;
    }
    & .amount {
      color: $currency-color;
      line-height: $breakdown-label-line-height;
    }
    & .currency {
      font-size: 10px;
      color: $currency-color;
    }
  }
  & #spending-card .error {
      margin-top: 3px;
  }
}
