@import "variables";
.room-info {
  border: 1px solid $gray-80;
  color: $body-color;
  text-align: center;
  padding: 15px 12px;
  flex: 1;
  width: 180px;
  height: 100%;
  &:hover:not(.selected):not(.hover-disabled) {
    background: $secondary-text-color;
    border: 1px solid $secondary-text-color;
    color: $nav-text-hover;
    cursor: pointer;
  }
  &.selected {
    border: 1px solid $secondary-text-color;
    background: $hawkes-blue;
  }
  &.emphasized {
    border: 1px solid $persimmon;
    &:hover {
      border: 1px solid $secondary-text-color;
    }
  }
  .room-number {
    font-size: 30px;
    font-weight: 300;
    display: inline-block;
    margin: 0.25rem 0 0 0;
    line-height: 1;
  }
  .room-status {
    font-size: 12px;
    margin: 10px 0;
  }
  .room-type {
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
    margin: 10px 0 0 4px;
  }
  .room-features {
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin: 0;
    &.preference {
      list-style-type: none;
    }
    &.no-preference {
      li {
        margin-left: 15px;
        font-size: 12px;
        span {
          position: relative;
          left: -10px;
          top: -2px;
        }
      }
    }
    .feature-icon {
      line-height: 22px;
      font-size: 14px;
    }
    .feature-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      line-height: 22px;
      vertical-align: top;
      margin-left: 8px;
      font-size: 12px;
      width: 125px;
    }
  }
  &:not(.selected):not(.hover-disabled):not(:hover) {
    .room-features {
      .fa-check {
        color: $status-complete-primary-color;
      }
      .fa-times {
        color: $status-incomplete-primary-color;
      }
    }
  }
  .notified-bell {
    font-size: 20px;
    position: absolute;
    right: 6px;
    top: 26px;
  }
  .do-not-move {
    position: absolute;
    left: 12px;
    top: 25px;
  }

  .no-features {
    margin-top: 15px;
    line-height: 24px;
  }
  .warning {
    color: $mckenzie-orange;
    font-weight: 700;
  }
  .pad-left-20 {
    padding-left: 0px;
  }
  app-dnm-reason-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
  }
  .no-upgrade {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
}
