<div class="room-info"
     data-slnm-ihg="RoomPanel-SID"
     [ngClass]="{'selected': roomInfo?.selected && !(isCheckedIn && !enableRoomMove),
                 'emphasized': emphasized,
                 'hover-disabled disable-control': listItem?.showManualGrid || listItem?.ineligibleReservation || (isCheckedIn && !enableRoomMove) || !roomInfo
                 }"
     (click)="!listItem?.showManualGrid && !listItem?.ineligibleReservation && !(isCheckedIn && !enableRoomMove) && handleRoomPanelClick()">
    <div *ngIf="roomInfo; else noRoomInfo">
        <i class="fas fa-bell notified-bell" *ngIf="listItem?.notified"></i>
        <app-dnm-reason-tooltip *ngIf="listItem?.doNotMoveRoom && listItem?.assignedRoomNumber === roomInfo?.roomNumber"
            [reservationNumber]="listItem?.reservationNumber"
            [dnmReason]="listItem?.dnmReason"
            [dnmInteraction]="dnmInteraction"></app-dnm-reason-tooltip>
        <h5 class="room-number" [ngClass]="{'pad-left-20': listItem?.doNotMoveRoom && listItem?.assignedRoomNumber}" data-slnm-ihg="RoomNumber-SID">{{ roomInfo.roomNumber }}</h5>
        <h6 class="room-type" data-slnm-ihg="RoomType-SID">{{ roomInfo.roomType }}</h6>

        <div class="room-status" data-slnm-ihg="RoomStatus-SID" [ngClass]="{'warning': showRoomNotReadyAlert && listItem.assignedRoomNumber && isRoomNotReady}" *ngIf="roomInfo.frontOfficeStatus || roomInfo.roomStatus">
            {{ roomStatus[roomInfo.frontOfficeStatus]?.label | translate }}
            <span *ngIf="roomInfo.frontOfficeStatus && roomInfo.roomStatus"> / </span> {{ roomStatus[roomInfo.roomStatus]?.label | translate }}
        </div>

        <ul class="room-features preference" *ngIf="roomInfo.reservationFeatures && roomInfo.reservationFeatures.length; else featureList">
            <li class="feature-item" [attr.data-slnm-ihg]="'ReservationFeatures' + i + '-SID'" *ngFor="let reservation of roomInfo.reservationFeatures | limitTo : maxFeatures; let i = index">
                <i class="feature-icon fas" [ngClass]="{'fa-check': reservation.matched, 'fa-times': !reservation.matched}">
        </i>
                <span class="feature-text" [ngbTooltip]="((reservation.description.length > maxCharLimit) ? reservation.description : '') | titlecase" container="body" placement="left">
          {{ utility.truncateWithEllipsis(reservation.description, maxCharLimit) | titlecase }}
        </span>
            </li>
        </ul>

        <ng-template #featureList>
            <ul class="room-features no-preference" *ngIf="roomInfo.features && roomInfo.features.length; else noFeatures">
                <li class="feature-item" [attr.data-slnm-ihg]="'RoomFeatures' + i + '-SID'" *ngFor="let feature of roomInfo.features| limitTo : maxFeatures; let i=index">
                    <span class="feature-text" [ngbTooltip]="((feature.description.length > maxCharLimit) ? feature.description: '') | titlecase" container="body" placement="left">
            {{ utility.truncateWithEllipsis(feature.description, maxCharLimit)  | titlecase }}
          </span>
                </li>
            </ul>
        </ng-template>

        <ng-template #noFeatures>
            <div class="no-features" translate="LBL_NO_FTRS" data-slnm-ihg="DTL-RM-PNL-RM-NO-FTRS"></div>
        </ng-template>

    </div>

  <ng-template #noRoomInfo>
    <ng-container *ngIf="upgradeRoom">
      <div class="no-upgrade">
        <span translate="LBL_NO_SGG_UPG" data-slnm-ihg="NoSuggestedUpgrade-SID"></span>
      </div>
    </ng-container>
  </ng-template>
</div>
