<div class="form-group room-search">
  <div class="search-container">
    <input #searchInput
           type="text"
           name="search"
           class="form-control search-input"
           maxlength="255"
           autocomplete="off"
           data-slnm-ihg="RoomSearchInput-SID"
           [(ngModel)]="searchQuery"
           placeholder="{{placeholder}}"
           (keyup)="doSearch(searchQuery)"/>

          

    <div class="inside-input">
      <div class="search-button" data-slnm-ihg="RoomSearchButton-SID" (click)="doSearch(searchQuery)">
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>
</div>
