
.room-search {

  margin: 0;

  .search-input {
    height: 36px;
  }

  .search-container {
    position: relative;

    .inside-input {
      position: absolute;
      background: transparent;
      top: 0;
      right: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .search-button {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 0px;
        font-size: 16px;
        margin-right: 5px;
      }

    }
    
  }

}