<uic-card>
  <div class="card-header">
    <span class="title" [translate]="keyMap.cardStays"></span>
    <span class="subtitle ml-2">(<span [translate]="keyMap.staysSubtitle"></span>)</span>
  </div>
  <div *ngIf="initialized && !hasErrors">
    <div class="top-section d-flex justify-content-between">
      <div class="stays-my-hotel pr-3 border-right">
        <span class="stays-my-hotel" [translate]="keyMap.staysAtMyHotel"></span>
        <span class="number ml-2">{{stayData?.numberOfStaysMyHotel}}</span>
      </div>
      <div class="stays-ihg px-3">
        <span class="stays-ihg" [translate]="keyMap.staysTotalStays"></span>
        <span class="number ml-2">{{stayData?.totalStaysIhgHotels}}</span>
      </div>
      <div class="most-visited-brand pl-4 border-left" data-slnm-ihg="PercentMostVisits-SID" *ngIf="stayData?.percentOfMostVisits">
        <span class="most-visited-brand" [translate]="keyMap.staysMostVisited"></span>
        <span class="number ml-2">{{stayData?.percentOfMostVisits}}%</span>
      </div>
      <div class="most-visited-brand-logo" data-slnm-ihg="BrandMostVisited-SID" *ngIf="stayData?.brandMostVisited">
        <img class="ml-4" [src]="stayData?.brandMostVisited" alt="Brand Logo"/>
      </div>
    </div>
    <div class="border-top">
      <table class="bottom-section">
        <thead>
          <tr>
            <th class="w-50" [translate]="keyMap.staysLast3Stays"></th>
            <th class="text-center"
                [ngClass]="{'w-25' : !stayData?.showAccruedPoints}"
                [translate]="keyMap.staysCheckinDate"></th>
            <th class="text-center"
                [ngClass]="{'w-auto' : !stayData?.showAccruedPoints}"
                [translate]="keyMap.staysNights"></th>
            <th *ngIf="stayData?.showAccruedPoints"
                class="text-center text-nowrap"
                [translate]="keyMap.accruedPoints"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lastStay of stayData.lastStays;index as itemIndex">
            <td class="text-nowrap">
              <span  
                 [attr.data-slnm-ihg]="'GuestProfileLastStayHotel'+ (itemIndex+1) + '-SID'"
                 [ngbTooltip]="displayHotelBrandAndNameToolTip(lastStay)" 
                 placement="top" container="body">
                 {{displayHotelBrandAndName(lastStay)}}
              </span>              
            </td> 
            <td class="text-center text-nowrap">{{lastStay.checkInDate | date: dateFormat}}</td>
            <td class="text-center text-nowrap">{{lastStay.numberOfNights}}</td>
            <td *ngIf="stayData?.showAccruedPoints"
                class="text-right text-nowrap accrued-points">
              <span>
                   {{lastStay.accruedPoints | number: '1.0-0'}}<i class="fas fa-star"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
  <div class="err-section" *ngIf="initialized && hasErrors">
    <app-service-error 
      [cardType]="errorCardType" 
      [errorEvent]="emitError.asObservable()"
      [reportIssueAutoFill]="reportIssueConfig"
      (refreshAction)="refresh($event)"
      (reportIssueAction)="reportIssueClicked()"
      [config]="errorConfig">
    </app-service-error>
  </div>
</uic-card>
