@import 'variables';

::ng-deep app-guest-profile-stay uic-card .card{
  min-height: 250px;
}

.card-header {
  position: relative;
  top: -20px;
  left: -20px;
  margin-bottom: -20px;
  font-weight: 300;
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 18px;
  }
}

@mixin subsection-header {
  font-weight: 700;
  font-size: 14px;
}



.top-section {
  padding-bottom: 20px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  .number {
    font-size: 24px;
    font-weight: 400;
    color: $persimmon;
  }
  .stays-my-hotel {
    @include  subsection-header;
    flex: 0 0 auto;
  }
  
  .stays-ihg {
    @include  subsection-header;
    flex: 1 1 auto;
  } 
  
  .most-visited-brand {
    @include  subsection-header;
    flex: 1 1 auto;
  }

  .most-visited-brand-logo {
    width: 25%;
    img {
      position: relative;
      top: -20px;
      width: 117px;
      height: 53px;
    }
  }
}

.bottom-section {
  margin-top: 12px;
  width: 100%;
  table-layout: fixed;

  th {
    @include  subsection-header;
  }

  .accrued-points {
    padding-right: 30px;
    font-weight: 400;
    color: $persimmon;
    & .fa-star {
      padding-left: 3px;
    }
  }
}

.err-section {
  position: relative;
  top: -20px;
}
