@import "variables";

.comments-card {
  .arrow-icon {
    color: $chart-yellow-color;
    margin-right: 10px;
    line-height: 21px;
  }

  .action {
    display: flex;
    margin-top: 10px;
  }

  .comments-icon {
    position: absolute;
    top: 24px;
    right: 25px;
    font-size: 1.5rem;
    color: $chart-yellow-color;
  }

  .text {
    word-break: break-word;
  }

  .line-clamp
  {
    display : block;
    display: -webkit-box;
    -webkit-box-orient : vertical;
    position : relative;

    line-height: 1.2;
    overflow : hidden;
    text-overflow : ellipsis;
    padding: 0 !important;
  }

  .line-clamp:after
  {
    content    : '...';
    text-align : right;
    bottom     : 0;
    right      : 0;
    width      : 25%;
    display    : block;
    position   : relative;
    height     : calc(1em * 1.2);
    background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
  }
  @supports (-webkit-line-clamp: 1)
  {
    .line-clamp:after
    {
      display: none !important;
    }
  }

  .line-clamp-3
  {
    -webkit-line-clamp: 3;
    height: calc(1em * 1.2 * 3);
  }

  .show-more-button {
    cursor: pointer;
    margin: 0 0 0 -0.7rem;
    &:active {
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .35);
    }
    .fa-arrow-down, .fa-arrow-up {
      margin-right: 0.5rem;
    }
  }

  .showMore {
    overflow: visible;
    max-height: none;
  }

  .showLess {
    overflow: hidden;
    max-height: 180px;
  }
}

:host ::ng-deep {
  .comments {
    .service-error {
      .error-body {
        margin: 10px 0 0 0;
        text-align: left;
      }
    }

    uic-card.comments-card {
      .uic-card {
        .card {
          border: 1px solid $chart-yellow-color;

          .card-header {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
