<div #commentsContainer class="comments">
  <uic-card [cardTitle]="'COM_LBL_CMNTS'" class="card-body-top-0 comments-card">

   <i class="comments-icon fas fa-scroll" [attr.data-slnm-ihg]="'CommentsIcon-SID'"></i>

    <div [ngClass]="(containerHeight > maxHeight) && showViewMore ? 'showMore':'showLess'">
    <ng-container *ngFor="let commentList of commentsList; let i = index" >
      <div *ngIf="i < maxEntries"
           class="action">
        <i class="arrow-icon fas fa-arrow-right"></i>
        <div class="text line-clamp line-clamp-3" [attr.data-slnm-ihg]="'CommentList ' + i + '-SID'">{{ commentList.commentText }}</div>
      </div>
    </ng-container>
    </div>

    <span [hidden]="(containerHeight < maxHeight)" class="btn btn-link show-more-button" (click)="toggleValue()">
        <span *ngIf="!showViewMore" [attr.data-slnm-ihg]="'ShowMore-SID'">
          <i class="fas fa-arrow-down"></i>
          <span [attr.data-slnm-ihg]="'CommentsShowMore-SID'"> {{ translations.showMore | translate }} </span>
        </span>
        <span *ngIf="showViewMore" [attr.data-slnm-ihg]="'ShowLess-SID'">
          <i class="fas fa-arrow-up"></i>
          <span [attr.data-slnm-ihg]="'CommentsShowLess-SID'"> {{ translations.showLess | translate }} </span>
        </span>
    </span>

    <div class="service-error-container" [hidden]="commentsList?.length">
      <app-service-error
        [attr.data-slnm-ihg]="'CommentsError-SID'"
        [config]="errorConfig"
        [showSpinner]="showSpinner"
        [cardType]="errorCardType"
        [errorEvent]="emitError.asObservable()">
      </app-service-error>
    </div>
  </uic-card>
</div>

