<div #ttc
     class="truncate-text__container"
     [ngClass]="widthClass"
     container="body"
     [ngbTooltip]="truncatedText ?  text:  ''">
  <ng-container *ngTemplateOutlet="innerSpanTemplate ? innerSpanTemplate: defaultTemplate;context:{
           text:text,
           seleniumTag:slnmTag }"></ng-container>
  <ng-template #defaultTemplate><span [attr.data-slnm-ihg]="slnmTag">{{text}}</span></ng-template>
</div>
