<div class="p-3">
  <div [ngClass]= "performanceItem.status + '-title'" class="border-bottom text-center py-2 font-weight-bold">
    Version {{performanceItem.version}} of Sell Strategy Results - {{performanceItem.name}}
  </div>
  <div class="border-bottom text-center py-2">
    <span class="font-weight-bold pr-2">Effective Dates:</span><span>{{formatDate(performanceItem.startDate)}} to {{formatDate(performanceItem.endDate)}}</span>
  </div>
  <div class="border-top border-bottom">
    <div class="row py-2">
      <div class="col-6 border-right">
        <div class="font-weight-bold">Projected Uplift</div>
          <table class="smaller">
              <tbody>
                  <tr *ngFor="let key of getKeys(performanceItem.projectedUplift)">
                      <td class="pr-2">{{key}}</td>
                      <td>{{performanceItem.projectedUplift[key] | number:'1.1-1'}}%</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="col-6 border-left">
        <div class="font-weight-bold">Actual Uplift</div>
        <table class="smaller">
            <tbody>
                <tr *ngFor="let key of getKeys(performanceItem.actualUplift)">
                    <td class="pr-2">{{key}}</td>
                    <td>{{performanceItem.actualUplift[key] | number:'1.1-1'}}%</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="border-top border-bottom">
    <div class="font-weight-bold">{{performanceItem.explanation.text}}</div>
    <div class="smaller" *ngFor="let reason of performanceItem.explanation.reasons; let i = index"><span class="mr-2">{{i+1}})</span>{{reason}}</div>
  </div>
  <div class="pt-3 border-top">
    <button class="btn btn-primary d-inline-block w-100">View detailed analysis</button>
  </div>
</div>