@import 'variables';

.hidden {
  display: none;
}

.manage-stay-component {

  .alert-bar {
    margin-bottom: 20px;
  }

  .clickable {
    color: $secondary-text-color;
    cursor: pointer;
    font-weight: bold;
  }

  .disabled > .clickable {
    cursor: default;
    opacity: 0.5;
  }

  .title-block {
    font-size: 24px;
    font-weight: 300;
    padding-left: 22px;
    padding-top: 10px;
    display: inline-block;
  }

  .body-content {
    display: flex;
    flex-direction: column;

    .guest-profile {
      margin-bottom: 20px;
      height: 130px;

      @media (max-width: 1024px) {
        height: 200px;
      }
    }

    .options-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .card {
        height: 280px;
        width: 380px;
      }

      .tasks {
        @media (max-width: 1024px) {
          width: 100%;
          order: 3;
          margin-top: 20px;
        }
      }

      .tasks.expanded + .payment.hidden {
        @media (max-width: 1024px) {
          display: flex;
        }
      }

      .room-assignment, .payment {
        @media (max-width: 1024px) {
          width: 487px;
        }

        @media (max-width: 768px) {
          width: 359px;
        }
      }

      .card.room-assignment.expanded {
        width: 100%;
        height: auto;
      }

      .card.tasks.expanded {
        width: 780px;

        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }
  }
}
