<div class="manage-stay-component" data-slnm-ihg="ManageStay-SID">
  <div class="alert-bar">
    <butter-bar-component [hasSuccessBarDisplay]="hasSuccessDisplay" [dataSuccessToast]="successDataToast" (successAction)="copyToClipBoard()"></butter-bar-component>
    <butter-bar-component [hasErrorBarDisplay]="hasErrorBarDisplay" [dataLoadErrorToast]="dataErrorToast"></butter-bar-component>
  </div>
  <div class="body-content">
    <div class="in-house edit">
      <app-in-house-edit-stay [guestInformation]="guestData"
                              [state]="stateNames.manageStay"
                              [reservationNumber]="reservationNumber"
                              [reservationData]="reservationData"
                              [isEditView]="editStayToggled"
                              (editStayChange)="handleEditStayChange($event)"></app-in-house-edit-stay>
    </div>

    <div class="options-container">

      <div class="room-assignment card" [ngClass]="{'expanded' : manageRoomExpanded}">
        <app-manage-room-assignment [focusedCard]="focusedCard"
                                    [reservationNumber]="reservationNumber"
                                    [pmsNumber]="pmsNumber"
                                    [reservationData]="reservationData"
                                    (changeRoom)="changeRoom($event)"
                                    [disableRoom]="editStayToggled">
        </app-manage-room-assignment>
      </div>

      <div class="tasks card" [ngClass]="{'hidden' : manageRoomExpanded, 'expanded' : tasksExpanded}">
        <app-manage-tasks [focusedCard]="focusedCard" [reservationNumber]="reservationNumber"
                          [pmsReservationNumber]="pmsNumber"
                          (toggleTasksCard)="toggleTasks($event)"
                          [disableTasks]="editStayToggled"></app-manage-tasks>
      </div>

      <div class="payment card" [ngClass]="{'hidden' : manageRoomExpanded || tasksExpanded}">
        <app-manage-payment [focusedCard]="focusedCard" [reservationNumber]="reservationNumber"
                            [reservationData]="reservationData" (paymentProcessing)="paymentProcessing($event)"
                            [disablePayment]="editStayToggled"></app-manage-payment>
      </div>

    </div>
  </div>
</div>
