@import 'variables';

.credit-card-container {
  width: 295px;
  height: 185px;

  .credit-card {
    background-color: $sirocco-green;
    color: $white;
    width: 295px;
    height: 185px;
    border-radius: 10px;
    box-shadow: 0 12px 12px rgba(153, 153, 153, 0.35);
  }

  .vl {
    border-left: 6px solid $timberwolf-gray;
    height: 185px;
    margin-left: 12px;
  }

  .card-container {
    padding: 20px 20px 20px 15px;
  }

  .card-code {
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
  }

  .card-number {
    font-size: 18px;
  }

  .fa-th {
    color: $timberwolf-gray;
    margin-bottom: 16px;
  }

  .card-data {
    display: flex;
    font-size: 14px;
    padding-top: 16px;
  }

  .control-label {
    margin-bottom: 0.1rem;
  }
}

:host ::ng-deep {
  kendo-popup {
    box-shadow: none;

    .k-popup {
      border: none;
    }
  }

  .static-popup {
    .k-animation-container-fixed {
      position: static;
    }
  }
}
