<div class="credit-card-container" [ngClass]="{ 'static-popup': !animate}">
  <div #anchor></div>
  <kendo-popup [animate]="animation" [anchor]="anchor" *ngIf="initialized">
    <div class="credit-card">
      <div class="vl">
        <div class="card-container">
          <div class="card-code" data-slnm-ihg="CardCode-SID">
            <i [ngClass]="cardCodeIconMaskMap[cardDetails.code].icon"></i>
          </div>
          <div><i class="fas fa-th fa-2x"></i></div>
          <div class="card-number" *ngIf="cardDetails.number" data-slnm-ihg="CardNumber-SID">
            <span>{{ cardCodeIconMaskMap[cardDetails.code].pattern }}</span>
            <span>{{ cardDetails.number.substr(cardDetails.number.length - 4) }}</span>
          </div>
          <div class="card-data">
            <span data-slnm-ihg="CardExpiry-SID">
              {{ cardDetails.expireDate.substr(0, 2) }} / {{ cardDetails.expireDate.substr(2, 2) }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </kendo-popup>
</div>