<div class="text-center" *ngIf="isCheckedIn" translate="LBL_CHECKED_IN"></div>
<div class="bubble-container" data-slnm-ihg="PrepProgressStatus-SID" *ngIf="!isCheckedIn">
  <app-status-bubble [color]="!this.disabled ? bubbleColor.roomAssigned : statusColor.inactive"
                     [attr.data-slnm-ihg]="'RoomAssignedStatus-SID'">
    <ng-container *ngTemplateOutlet="!this.disabled &&  bubbleColor.roomAssigned === statusColor.complete ? 
      displayCheckIcon : displayNumber; context: {num: 1}">
    </ng-container>
  </app-status-bubble>

  <div class="line"></div>

  <app-status-bubble [color]="!this.disabled ? bubbleColor.allTasks : statusColor.inactive"
                     [attr.data-slnm-ihg]="'AllTasksStatus-SID'">
    <ng-container *ngIf="!disabledCheckIcon">
      <ng-container *ngTemplateOutlet="!this.disabled && bubbleColor.allTasks === statusColor.complete ? 
        displayCheckIcon : displayNumber; context: {num: 2}">
      </ng-container>
    </ng-container>
    <ng-container *ngIf="disabledCheckIcon">
      <ng-container *ngTemplateOutlet="!this.disabled && bubbleColor.allTasks === statusColor.inactive ? 
        displayCheckIcon : displayNumber; context: {num: 2}">
      </ng-container>
    </ng-container>
  </app-status-bubble>

  <div class="line"></div>

  <app-status-bubble [color]="!this.disabled ? bubbleColor.roomReady : statusColor.inactive"
                     [attr.data-slnm-ihg]="'RoomReadyStatus-SID'">
    <ng-container *ngTemplateOutlet="!this.disabled && bubbleColor.roomReady === statusColor.complete ? displayCheckIcon :
                  displayNumber; context: {num: 3}">
    </ng-container>
  </app-status-bubble>

  <ng-template #displayCheckIcon>
    <i class="fa fa-check check-icon" data-slnm-ihg="CheckIcon-SID"></i>
  </ng-template>

  <ng-template #displayNumber let-num="num">
    <span data-slnm-ihg="StatusNumber-SID">{{num}}</span>
  </ng-template>
</div>