@import 'variables';
$sub-heading-wdth-px: 60;
$bubble-wdth-px: 25;
.bubble-container {
    margin-left: ($sub-heading-wdth-px - $bubble-wdth-px) * .5px;
    margin-right: ($sub-heading-wdth-px - $bubble-wdth-px) * .5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    .line {
        display: flex;
        flex-basis: 42px;
        flex-grow: 1;
        flex-shrink: 1;
        height: 1px;
        background-color: $status-inactive-primary-color;
    }
    .check-icon {
        font-size: 10px;
    }
}
