<div class="in-house-edit-stay">
  <uic-toast-message *ngIf="unassignedGuestsToast"
                     [alert]="unassignedGuestsToast"
                     data-slnm-ihg="UnassignedWarningToast-SID">
  </uic-toast-message>
  <app-edit-stay
    [state]="state"
    [reservationNumber]="reservationNumber"
    [isEditView]="isEditView">
    <ng-container view-only-slot>
      <div *ngIf="!isEditView" class="guest-profile card">
        <app-manage-guest [guestInfo]="guestInformation?.guestInfo"
                          [reservationData]="reservationData"
                          (emitChange)="handleEditToggle($event)"></app-manage-guest>
      </div>
    </ng-container>

  </app-edit-stay>
</div>
