<div class="warning-notify-guest" data-slnm-ihg="WarningUnassignedTask-SID">
    <div class="modal-header">
      <h4 class="modal-title" data-slnm-ihg="Title-SID"
        translate="LBL_WARN_RM_UNASSGND_TTTL">
      </h4>
      <button type="button" class="close" data-slnm-ihg="ButtonCloseX-SID"
        [ngbTooltip]="'COM_BTN_CLOSE' | translate" (click)="dismiss()">&times;
      </button>
    </div>
    <div class="modal-body">
      <app-error-toast-message
        [attr.data-slnm-ihg]="'ChangeRoomError-SID'"
        [errorEvent]="emitError.asObservable()"
        [translations]="roomErrorContent.changeRoom"
        [reportIssueAutoFill]="reportIssueAutoFill.changeRoomError"
        (reportAnIssueAction)="dismiss()"
        (retryAction)="releaseRoom()">
      </app-error-toast-message>

      <div *ngIf="hasTasks">
        <p class="warning-msg" data-slnm-ihg="WarningRoomUnassignedText-SID" translate="LBL_WARN_RM_UNASSGND"
          [translateParams]="{roomNo: roomNo}">
        </p>&nbsp;
        <span class="view-tasks" placement="right" popoverClass="popover-bulk-notify" [ngbPopover]="tasksPopover"
          translate="LBL_VW_TSKS" triggers="mouseenter:mouseleave"></span>
      </div>

      <div *ngIf="!hasTasks">
        <p class="warning-msg" data-slnm-ihg="WarningRoomUnassignedConfirm-SID" translate="LBL_WARN_RM_UNASSGND_CONFIRM"
           [translateParams]="{roomNo: roomNo}">
        </p>
      </div>

      <div *ngIf="enableRoomMove" class="pt-4 room-status-selector">
        <span class="housekeeping-label" data-slnm-ihg="HouseKeepingStatusLabelText-SID" translate="LBL_HK_CHANGE"
              [translateParams]="{roomNo: roomNo}">
        </span>
        <br>
        <app-house-keeping-status-selector [roomNo]="roomNo" [inspectedFlag]="arrival?.inspected"
                                           (status)="statusSelected($event)">
        </app-house-keeping-status-selector>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" data-slnm-ihg="CancelButton-SID" translate="COM_BTN_CANCEL"
        (click)="dismiss()">
      </button>
      <button class="btn btn-primary"
              [disabled]="enableRoomMove && !isStatusSelected"
              data-slnm-ihg="ChangeRoomButton-SID"
              translate="LBL_CHG_ROOM"
              (click)="releaseRoom()">
      </button>
    </div>

    <ng-template #tasksPopover>
      <div class="popover-content-tasks">
        <app-trace-list [arrival]="arrival" [ordertask]="'resolved'"></app-trace-list>
      </div>
    </ng-template>
  </div>
