@import 'variables';

.modal-footer {
  position: relative;
}

.modal-body {
  .warning-msg {
    display: inline;
  }

  .view-tasks {
    color: $secondary-text-color;
    cursor: pointer;
  }

  .txt-inprogress {
    color: $error-color;
  }

  .txt-completed {
    color: $error-color;
  }

  .housekeeping-label {
    padding-bottom: 10px;
  }
}

:host ::ng-deep .popover-bulk-notify {
  margin-top: 0px;
  min-width: 250px;
  border-width: 0px;
  border-radius: 0px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);

  @include mobile() {
    max-width: 250px;
    //Not ideal but necessary due to important platform styles  @ src/stylesheets/bootstrap-override.scss
    top: -9px !important;
    left: 425px !important;
  }

  .popover-content {
    padding: 10px;
    max-width: 300px;
    text-align: left;
  }

  .popover-content-tasks {
    padding: 10px;
    min-width: 250px;
    max-width: 300px;
    text-align: left;
  }

  .alert-message{
    color: $fire-engine-red;
  }
}
