<div data-slnm-ihg="EditPreferencesModal-SID">
  <div class="modal-header">
    <h4 class="modal-title" data-slnm-ihg="EditPreferencesTitle-SID" [translate]="keyMap.obsModelEditPrefGuest"></h4>
    <button type="button" data-slnm-ihg="EditPreferencesCloseIcon-SID" class="close" (click)="onClose()" ngbTooltip="{{keyMap.obsModalClose | translate}}">&times;</button>
  </div>
  <div class="modal-body"> 
      <app-error-toast-message 
      [errorEvent]="emitError.asObservable()"
      (retryAction)="onRetry()"
      (reportAnIssueAction)="onReportAnIssue()"
      [reportIssueAutoFill]="reportIssueConfig"
      [translations]="toastTranslationConfig"
    ></app-error-toast-message>
    <div *ngIf="initialized">
    <div class="sub-topics" data-slnm-ihg="EditRoomPreferenceTopic-SID" [translate]="keyMap.obsModelRoomPref"></div>
    <form [formGroup]="preferenceForm">
      <div class="row">  
      <div class="col-6 mt-3" *ngIf="elevator">
        <label for="elevator" class="control-label" data-slnm-ihg="EditPreferencesElevatorLabel-SID" [translate]="keyMap.obsModalElevator"></label>
        <kendo-dropdownlist 
          data-slnm-ihg="EditPreferencesElevatorDropDown-SID"
          formControlName="elevator"
          name="elevator"
          [data]="elevator"
          textField="description"
          valueField="key"
          [valuePrimitive]="true"
          [(ngModel)]="prefData.elevator"
        >
        </kendo-dropdownlist>
      </div> 
      <div class="col-6 mt-3" *ngIf="floor">
        <label for="floor" class="control-label" data-slnm-ihg="EditPreferencesFloorLabel-SID" [translate]="keyMap.obsModalFloor"></label>
        <kendo-dropdownlist 
          data-slnm-ihg="EditPreferencesFloorDropDown-SID"
          formControlName="floor"
          name="floor"
          [data]="floor"
          textField="description"
          valueField="key"
          [valuePrimitive]="true"
          [(ngModel)]="prefData.floor"
        >
        </kendo-dropdownlist>
      </div>
      <div class="col-6 mt-3" *ngIf="smoking">
        <label for="smoking" class="control-label" data-slnm-ihg="EditPreferencesSmokingLabel-SID" [translate]="keyMap.obsModalSmoking"></label>
        <kendo-dropdownlist 
          data-slnm-ihg="EditPreferencesSmokingDropDown-SID"
          formControlName="smoking"
          name="smoking"
          [data]="smoking"
          textField="description"
          valueField="key"
          [valuePrimitive]="true"
          [(ngModel)]="prefData.smoking"
        >
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="underline-brd"></div>
    <app-group-profile-edit-pref-checkbox [checkboxType]="'interest'" [checkBoxData]="interest" [form]="preferenceForm" [titleLabel]="keyMap.featureInterests" [subTopic]="keyMap.prefInterests" ></app-group-profile-edit-pref-checkbox>
    <div class="underline-brd chkbox-brd"></div>  
    <app-group-profile-edit-pref-checkbox [checkboxType]="'destinations'" [checkBoxData]="guestPreferenceData.destinations" [form]="preferenceForm" [subTopic]="keyMap.prefFavDestination" ></app-group-profile-edit-pref-checkbox>
    <div class="underline-brd chkbox-brd"></div>  
    <div class="row">  
      <div class="col-6">
        <label for="dietary" class="control-label" data-slnm-ihg="EditPreferencesDietaryLabel-SID" [translate]="keyMap.prefDietaryPref"></label>
        <kendo-dropdownlist 
          data-slnm-ihg="EditPreferencesDietaryDropDown-SID"
          formControlName="dietary"
          name="dietary"
          [data]="dietary"
          textField="description"
          valueField="key"
          [valuePrimitive]="true"
          [(ngModel)]="prefData.dietary"
        >
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="underline-brd"></div>  
    <app-group-profile-edit-pref-checkbox [checkboxType]="'exercise'" [checkBoxData]="exercise" [form]="preferenceForm" [subTopic]="keyMap.prefExercisePref" ></app-group-profile-edit-pref-checkbox>
    <div class="underline-brd chkbox-brd"></div>  
    <app-group-profile-edit-pref-checkbox [checkboxType]="'relaxation'" [classType]="'col-6 pr-0'" [checkBoxData]="relaxation" [form]="preferenceForm"  [subTopic]="keyMap.prefRelaxtionPref" ></app-group-profile-edit-pref-checkbox>
    <div class="underline-brd chkbox-brd"></div> 
    <div class="row">  
      <div class="col-6"> 
        <label class="control-label" data-slnm-ihg="EditPreferencesFavSportsLabel-SID" [translate]="keyMap.prefFavSportsTeam"></label>
        <input data-slnm-ihg="EditPreferenceFavTeam-SID" formControlName="favorite_team" id="favSports" class="form-control brd-radius-0" [(ngModel)]="favorite_team" type="text" name="favSports"/>
      </div>
    </div>
    <div class="underline-brd"></div>  
    <div class="row">  
        <div class="col-6"> 
          <label class="control-label" data-slnm-ihg="EditPreferencesPetNameLabel-SID" [translate]="keyMap.prefPetName"></label>
          <input data-slnm-ihg="EditPreferencePetName-SID" id="petName" formControlName="pet_name" class="form-control brd-radius-0" [(ngModel)]="pet_name" type="text" name="petName"/>
        </div>
        <div class="col-6"> 
            <label class="control-label" data-slnm-ihg="EditPreferencesPetTypeLabel-SID" [translate]="keyMap.prefPetType"></label>
            <input id="petType" data-slnm-ihg="EditPreferencePetType-SID" formControlName="pet_type" class="form-control brd-radius-0" [(ngModel)]="pet_type" type="text" name="petType"/>
          </div>
      </div>
    </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" (click)="onCancel()" data-slnm-ihg="EditPreferencesCancelBtn-SID" [translate]="keyMap.obsModalCancel">
    </button>
    <button class="btn btn-primary btn-space" type="button" (click)="onSave()" data-slnm-ihg="EditPreferencesSaveBtn-SID" [translate]="keyMap.obsModalSave" [disabled]="!preferenceForm.dirty">
    </button>
  </div>
</div>