@import "variables";

::ng-deep .edit-preferences {
    .modal-dialog {
      width: 768px;
      max-width: 768px;
    }
    .k-dropdown-wrap, .brd-radius-0 {
      border-radius: 0px;
    }
    .sub-topics {
      font-size: 20px;
      font-weight: 300;
    }
    .underline-brd {
      border-bottom: 1px solid $tabs-border-bottom-color;
      margin: 30px 0 24px 0;
    }
    .chkbox-brd {
      margin-top: 20px;
    }
  }