<div class="prepare-arrivals-details-tasks" [@slideUpDown]="{value: expanded, params: { delay : animationDelay}}">
  <app-error-toast-message [attr.data-slnm-ihg]="'TasksLoadError-SID'"
                           [hidden]="!expanded"
                           [errorEvent]="loadTaskError.asObservable()"
                           [translations]="loadTaskErrorContent"
                           [reportIssueAutoFill]="fetchAutofill"
                           (retryAction)="getTasksList()">
  </app-error-toast-message>
  <app-error-toast-message [attr.data-slnm-ihg]="'AddTaskError-SID'"
                           [errorEvent]="addTaskError.asObservable()"
                           [translations]="addTaskErrorContent"
                           [reportIssueAutoFill]="addAutofill"
                           (retryAction)="retrySendTrace()">
  </app-error-toast-message>
  <div *ngIf="initialized && expanded">
    <ng-container *ngIf="listItem.tasks.length; then tasksGrid; else noTasks"></ng-container>

    <div class="create-task float-left" *ngIf="listItem.tasks.length < maxTasksCount">
      <button class="btn btn-default btn-add-tsk"
              data-slnm-ihg="AddTaskButton-SID"
              [disabled]="listItem.showManualGrid || listItem.ineligibleReservation"
              (click)="addTask()"
              *accessControl="'add_task' as tagName with ReadOnlyAddNewTaskButton customizer:addTaskAccessCustomizer">
        <i class="fas fa-plus plus-icon"></i>&nbsp;
        <span translate="LBL_ADD_TSK"></span>
      </button>
      <ng-template #ReadOnlyAddNewTaskButton>
        <div class="add-task-div" [ngbTooltip]="'LBL_READ_ONLY_PERMISSION' | translate">
          <button class="btn btn-default btn-add-tsk" data-slnm-ihg="AddTaskButton-SID"  disabled
            (click)="addTask()">
            <i class="fas fa-plus plus-icon"></i>&nbsp;
            <span translate="LBL_ADD_TSK"></span>
          </button>
        </div>
    </ng-template>
    </div>
    <div class="done-btn float-right">
      <button class="btn btn-primary"
              [disabled]="listItem.showManualGrid"
              translate="LBL_DONE"
              data-slnm-ihg="DoneButton-SID"
              (click)="handleDone()">
      </button>
    </div>

    <ng-template #tasksGrid>
      <table class="tasks-table mb-3">
        <thead>
        <tr>
          <th></th>
          <th width="22%" translate="LBL_DEPT_CODE" data-slnm-ihg="DepartmentCodeLabel-SID"></th>
          <th width="35%" translate="COM_LBL_ACTIONS" data-slnm-ihg="TaskActionsLabel-SID"></th>
          <th width="10%"
              class="text-center"
              translate="COM_LBL_STATUS"
              data-slnm-ihg="TaskStatusLabel-SID">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dataItem of listItem.tasks; let rowIndex = index">
          <td>
            <span data-slnm-ihg="TraceText-SID" *ngIf="dataItem.isResolved !== null">
              {{ dataItem.traceText | limitTo: 50 }}
            </span>
            <input class="form-control"
                   *ngIf="dataItem.isResolved === null"
                   data-slnm-ihg="TraceInput-SID"
                   type="text"
                   maxlength="50"
                   [(ngModel)]="dataItem.traceText"
                   (ngModelChange)="handleTraceChange()"
                   [placeholder]="'LBL_ADD_ANO_TSK' | translate">
          </td>
          <td>
            <span data-slnm-ihg="DepartmentCodeText-SID"
                  *ngIf="dataItem.isResolved !== null"
                  [innerText]="dataItem.departmentCode">
            </span>
            <kendo-dropdownlist name="departmentCode"
                                [attr.data-slnm-ihg]="'DepartmentCodeSelect-SID'"
                                *ngIf="dataItem.isResolved === null"
                                [data]="departmentsList"
                                textField="code"
                                valueField="code"
                                [valuePrimitive]="true"
                                [defaultItem]="{code: ('LBL_SELECT' | translate) + '...'}"
                                [(ngModel)]="dataItem.departmentCode"
                                (ngModelChange)="onDepartmentChange(dataItem.departmentCode)">
            </kendo-dropdownlist>
          </td>
          <td>
            <button class="btn btn-primary action-btn"
                    type="button"
                    data-slnm-ihg="TaskSentButton-SID"
                    *ngIf="dataItem.isResolved !== null" disabled>
              <i class="fas fa-check check-icon"></i>&nbsp;
              <span translate="LBL_SENT"></span>
            </button>
            <div *ngIf="dataItem.isResolved === null">
              <button class="btn btn-primary action-btn"
                      [disabled]="isTraceDisabled(dataItem)"
                      (click)="sendTrace(dataItem)">
                <span translate="LBL_TRACE" data-slnm-ihg="TraceButton-SID"></span>
              </button> &nbsp;
              <button class="btn btn-default action-btn del-btn"
                      data-slnm-ihg="TaskDeleteButton-SID"
                      (click)="deleteTrace(rowIndex)">
                <span translate="COM_BTN_DLT"></span>
              </button>
            </div>
          </td>
          <td class="text-center">
            <i class="fas fa-check resolved-icon"
               data-slnm-ihg="TaskStatusCheckIcon-SID"
               *ngIf="dataItem.isResolved"></i>
            <i class="far fa-clock progress-icon"
               data-slnm-ihg="TaskStatusProgressIcon-SID"
               *ngIf="dataItem.isResolved === false"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>

    <ng-template #noTasks>
      <div translate="LBL_NO_ASSOC_TSK" data-slnm-ihg="NoTasks-SID" class="m-3"></div>
    </ng-template>
  </div>
</div>
