@import 'variables';

.prepare-arrivals-details-tasks {
  padding: 0 1rem 1rem;

  .tasks-table {
    width: 100%;

    td {
      white-space: normal;
      vertical-align: middle;
      line-height: 20px;
      padding-top: 0.45em;
      height: 50px;
    }

    th {
      border-bottom: 2px solid $header-border-color;
      padding: 0 10px 0 10px;
      word-wrap: break-word;
      white-space: normal;
      font-weight: bold;
      font-size: 14px;
      height: 30px;
    }

    thead tr {
      height: auto;
      background-color: $secondary-color !important;
    }

    tbody tr {
      height: 50px;
      line-height: 1.6em;
      border-bottom: thin solid $input-border;
    }
  }

  .action-btn {
    min-width: 80px;
    max-height: 36px;
  }

  .resolved-icon {
    font-size: 16px;
    color: $green-christi;
  }

  .progress-icon {
    font-size: 16px;
    color: $gray-rolling-stone;
  }

  .del-btn {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  }

  .trace-error {
    color: red;
  }

  .report-issue {
    color: $secondary-text-color;
    cursor: pointer;
  }
}

:host ::ng-deep {
  .k-list-scroller {
    max-height: 200px;
  }

  uic-toast-message {
    padding-top: 10px;
  }
}

:host-context(.check-in-room-assign) {
  .prepare-arrivals-details-tasks {
    .tasks-table {
      td {
        padding: 0.45em 0.6em;
      }
    }

    .done-btn {
      display: none;
    }
  }
}
