<div class="row">
    <div class="col-5">
        <label class="control-label" translate="LBL_CARD_TYPE" data-slnm-ihg="CardCodeLabel-SID"></label>
        <app-truncated-tooltip [text]="cardCode" [slnmTag]="'CardCode-SID'"></app-truncated-tooltip>
    </div>
    <div class="col-7">
        <div class="row">
            <div class="col-6">
                <label class="control-label d-block" data-slnm-ihg="LastFourDigitsLabel-SID" translate="LBL_LAST_FOUR_DIGITS"></label>
                <p class="card-number" *ngIf="cardNumber" data-slnm-ihg="LastFourDigits-SID">
                    <span>{{ cardNumber.substr(cardNumber.length - 4) }}</span>
                </p>
            </div>
            <div class="col-6">
                <label class="control-label" data-slnm-ihg="ExpirationLabel-SID" translate="LBL_EXPN"></label>
                <p data-slnm-ihg="ExpirationText-SID">{{ cardExpirationDate }}</p>
            </div>
        </div>
    </div>
</div>