<div class="post-master">
  <div class="flex-row right container">
    <input type="checkbox" id="PM-room" name="PM-room" data-slnm-ihg="PostMasterCheckbox-SID"
          [(ngModel)]="selectedCheckBox" (change)="showPMRooms($event)">
    <label for="PM-room" class="label" data-slnm-ihg="PostMasterLabel-SID"
           translate="LBL_POST_MASTER"></label>
  </div>
</div>
