.post-master {

  .right {
    text-align: right;
    padding-right: 0px;
  }

  .label {
    word-wrap: break-word;
    padding-left: 7px;
    cursor: pointer;
  }

  [type="checkbox"]
  {
    vertical-align: middle;
    cursor: pointer;
  }

}
