$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;

::ng-deep app-guest-list {
  .card-body {
    padding: 0;
  }

  .tab-content {
    padding: 0;
  }

  .nav-tabs {
    margin-bottom: 20px;
  }

  .nav-tabs .nav-item {
    font-size: 16px;
    &:first-child {
      margin-left: 0;
    }
  }

}
