<div class="guest-list">
  <!-- Prepare print Error -->
  <app-error-toast-message
    [attr.data-slnm-ihg]="'PreparePrintError-SID'"
    [errorEvent]="prepareArrivalsService.printPrepareError.asObservable()"
    [translations]="printError"
    [dismissible]="true"
    [reportIssueAutoFill]="prepareReportIssue"
    (retryAction)="prepareArrivalsService.retryPrint.next()">
  </app-error-toast-message>

  <!-- Arrival print Error -->
  <app-error-toast-message
    [attr.data-slnm-ihg]="'ArrivalPrintError-SID'"
    [errorEvent]="guestListService.printArrivalError.asObservable()"
    [translations]="printError"
    [dismissible]="true"
    [reportIssueAutoFill]="arrivalReportIssue"
    (retryAction)="guestListService.retryArrivalPrint.next()">
  </app-error-toast-message>

  <uic-card>
    <ngb-tabset [activeId]="selectedTab" [destroyOnHide]="false" (tabChange)="handleTabChange($event)">
      <ngb-tab id="{{tabs[0].tabName}}">
        <ng-template ngbTabTitle>
          <span data-slnm-ihg="PrepareTab-SID" [translate]="keyMap.tabPrepare"></span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-prepare-arrivals [isActiveTab]="selectedTab === tabs[0].tabName" [arrivalParams]="arrivalParams">
          </app-prepare-arrivals>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="{{tabs[1].tabName}}">
        <ng-template ngbTabTitle>
          <span data-slnm-ihg="ArrivalsTab-SID" [translate]="keyMap.tabArrivals"></span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-guest-arrivals [isActiveTab]="selectedTab === tabs[1].tabName"></app-guest-arrivals>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="{{tabs[2].tabName}}">
        <ng-template ngbTabTitle>
          <span data-slnm-ihg="InHouseTab-SID" [translate]="keyMap.tabInHouse"></span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-in-house-view [isActiveTab]="selectedTab === tabs[2].tabName" [inHouseParams]="inHouseParams"></app-in-house-view>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="{{tabs[3].tabName}}">
        <ng-template ngbTabTitle>
          <span data-slnm-ihg="AllGuests-SID" [translate]="keyMap.tabAllGuests"></span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-all-guests  [attr.data-slnm-ihg]="'AllGuestsView-SID'"
                           [isActiveTab]="selectedTab === tabs[3].tabName" ></app-all-guests>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </uic-card>
</div>
