#datePicker {
  position: relative;

  &:focus {
    outline: none;
  }

  // Styling to put stress on today's date
  /* .ui-ihg-datepicker-today {
     a {
       background-color: #eee;
     }
   } */

  .datepicker-field-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .datepicker-field {
      display: inline-block;
      width: 48%;

      label {
        font-weight: 700;
      }
    }

    .checkOutDate, .checkInDate{
      margin-left:0;
      width: 100%;
    }

    .checkOutDate:focus, .checkInDate:focus{
      outline: 0;
    }

    .input-and-icon.disabled {
      background-color:lightgray;
      .checkOutDate {
        background-color: lightgray;
        opacity:.4;
      }
      .input-adjacent-icon{
        background-color: lightgray;
        opacity:.75;
      }
    }

    .input-adjacent-icon {
      padding: 3px 10px 0 5px;
      background-color:#fff;
      font-size:30px;
      cursor: pointer;
      color: #578EBE;
      margin-left:-2px; //for safari
    }

    .input-adjacent-icon.k-icon {
      width: 41.25px;
    }

    .input-and-icon {
      display:flex;
      background-color:white;
    }

    .input-and-icon.brand-outline {
      outline-width:2px;
    }

    .searchbox{
      box-sizing: border-box ;
      margin-right: 5px;
    }

    .arrowHolderUp {
      width: 0;
      height: 0;
      border-left:15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid lightgray;
      content:"&nbsp;";
      right:9px;
      display:none;
      position:absolute;
      top:2px;
    }

    .arrowCenterer{
      width:100%;
      position: relative;
    }

    .arrowUpShown {
      display: block;
    }
  }

  @media only screen and (min-width: 768px) {
    .calendarModule{
      &.checkInFocus{left: -315px;}
      &.checkOutFocus{right: 215px;}
    }
  }

  .calendarModule {
    position: absolute;
    z-index: 99;
    width: 100%;

    .ui-ihg-datepicker-title {
      text-align:center;
      font: "Graphik-Semibold";
      margin-top:20px;
    }

    .ui-ihg-datepicker-month{
      padding-right:.5em
    }

    table {
      border-spacing: 0;
      border-collapse: collapse
    }

    td {
      border: 1px solid lightgray;
      padding: 0;
    }

    label {
      display: block;
    }

    input {
      display: block;
    }

    .ui-ihg-datepicker-title {
      color: #3f3d3d;
    }

    .ui-ihg-datepicker-calendar {
      color: #3f3d3d;
      text-align: center;
    }

    .ui-ihg-datepicker-inline {
      right: 166px;
      background-color: lightgray;
      width:620px;
      position:relative;
      padding-bottom: 15px;
      margin-top:15px;
      margin-left:3px;
    }

    .ui-ihg-datepicker-group {
      display: inline-block;
      margin-left:15px;
    }

    .ui-state-default {
      background-color: #fff;
      display: inline-block;
      text-align: center;
      line-height: 40px;
      color: #3f3d3d;
      position: relative;
      user-select: none;
    }

    .ui-ihg-datepicker-clickable-date {
      height:40px;
      width:40px;
    }

    .ui-ihg-datepicker-clickable-date:not(.ui-ihg-datepicker-disabled) {
      cursor: pointer;
    }

    .ui-ihg-datepicker-yesterday:not(.ui-ihg-datepicker-check-in){
      background-color: lightgray;
      color: #3f3d3d;
    }

    .ui-ihg-datepicker-yesterday.ui-ihg-datepicker-check-in{
      color: #3f3d3d;
    }

    .ui-ihg-datepicker-disabled:not(.ui-ihg-datepicker-check-in):not(.ui-ihg-datepicker-check-out):not(.ui-datepicker-selected):not(.brand-highlight) {
      color: #3f3d3d;
      background-color: lightgray;
      text-decoration: line-through;
    }

    .ui-ihg-datepicker-disabled.ui-ihg-datepicker-selected:not(.ui-ihg-datepicker-check-in):not(.ui-ihg-datepicker-check-out) {
      text-decoration: line-through;
    }

    .ui-ihg-datepicker-disabled:hover:not(.ui-ihg-datepicker-check-in):not(.ui-ihg-datepicker-check-out) {
      color: #3f3d3d;
      cursor: default;
    }

    //this invisible super-small space gets us a slightly longer and better looking strike-through
    .ui-ihg-datepicker-disabled::before, .ui-ihg-datepicker-disabled::after{
      content:"\00a0";
      font-size:0;
      opacity: 0;
    }

    .ui-ihg-datepicker-selected{
      color: #FFF;
      background-color: #578EBE;
      text-decoration: none;
    }

    .ui-ihg-datepicker-next-icon, .ui-ihg-datepicker-prev-icon {
      height: 10px;
      width: 10px;
      color: black;
      font-family: "Font Awesome 5 Pro";
      position: absolute;
      top:20px;
    }

    .ui-ihg-datepicker-prev-icon {
      left:20px;
    }

    .ui-ihg-datepicker-next-icon {
      right:20px;
    }

    .ui-ihg-datepicker-prev-icon:before {
      content: "\f053"; //chevron
    }

    .ui-ihg-datepicker-next-icon:before {
      content: "\f054"; //chevron
    }

    &.minimumMonth .ui-ihg-datepicker-prev-icon{
      display:none;
    }

    &.maximumMonth .ui-ihg-datepicker-next-icon{
      display:none;
    }

    .arrowHolderRight, .arrowHolderLeft {
      display: none;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      position:absolute;
      top:14px;
    }

    .ui-ihg-datepicker-check-in .arrowHolderLeft {
      display: inline-block;
      border-left: 6px solid #fff;
      left:0;
    }

    .ui-ihg-datepicker-check-out .arrowHolderRight {
      display: inline-block;
      border-right: 6px solid #fff;
      right:0;
    }

    @media only screen and (max-width: 767px) {
      .ui-ihg-datepicker-inline {
        width:320px;
      }

      .arrowHolderRight, .arrowHolderLeft {
        top:11px;
      }

      &.checkInFocus .ui-ihg-datepicker { //moves the datepicker with focus
        position: absolute;
        left: 10px; //nudge for weird size
      }

      &.checkOutFocus .ui-ihg-datepicker {
        position: absolute;
        right: 0;
      }
    }

    @media only screen and (max-width: 740px) {
      &.checkInFocus .ui-ihg-datepicker {
        left: 0; //remove weird size nudge
      }
    }

    @media only screen and (max-width: 360px) {
      .ui-ihg-datepicker-inline {
        width: 100vw;
        display:flex;
        flex-direction:column;
      }

      .ui-ihg-datepicker-group {
        margin: 0 auto;
      }

      &.checkInFocus .ui-ihg-datepicker, &.checkOutFocus .ui-ihg-datepicker { //moves the datepicker with focus
        left: -20px;
      }
    }

    .ui-ihg-datepicker-today {
      div {
        border: 1px solid #578EBE;

        &.ui-ihg-datepicker-selected {
          border-color: white;
        }
      }
    }
  }
}
