<div id="datePicker" [formGroup]="parentForm" tabindex="0" (blur)="onOutsideClick($event)">
  <div class="datepicker-field-container">
    <div class="datepicker-field">
      <label for="arrivalDate" style="display: block" data-slnm-ihg="ArrivalLablel-SID" translate="LBL_GST_ARRIVAL"></label>
      <div class="input-and-icon" [ngClass]="{'brand-outline':focusField === 'arrival' && hasFocus}" data-slnm-ihg="ArrivalSection-SID">
        <input type="hidden" readonly formControlName="dateFormat">
        <input id="arrivalDate" type="text" maxlength="25" autocomplete="off"
               readonly (blur)="onOutsideClick($event)"
               class="form-control searchbox arrivalDate"
               name="arrival-input" data-slnm-ihg="ArrivalField-SID"
               title="arrival date"
               formControlName="arrivalDate"
               (focus)="onFocus('arrival')">
        <div class="input-adjacent-icon k-icon k-i-calendar" (click)="onCalendarClick('arrivalDate')"></div>
      </div>
      <div class="arrowCenterer">
        <div class="arrowHolderUp" [ngClass]="{'arrowUpShown':focusField === 'arrival' && hasFocus}"></div>
      </div>
    </div>

    <div class="datepicker-field">
      <label for="departureDate" style="display: block" data-slnm-ihg="DepartureLabel-SID" translate="LBL_GST_DEPARTURE"></label>
      <div class="input-and-icon"
           [ngClass]="{'brand-outline':focusField === 'departure' && hasFocus}" data-slnm-ihg="DepartureSection-SID">
        <input id="departureDate" type="text" maxlength="35" autocomplete="off"
               readonly (blur)="onOutsideClick($event)"
               class="form-control searchbox departureDate"
               name="departure-input" data-slnm-ihg="DepartureField-SID"
               title="departure date"
               formControlName="departureDate"
               (focus)="onFocus('departure')">
        <div class="input-adjacent-icon k-icon k-i-calendar" (click)="onCalendarClick('departureDate')"></div>
      </div>
      <div class="arrowCenterer">
        <div class="arrowHolderUp" [ngClass]="{'arrowUpShown':focusField === 'departure' && hasFocus}"></div>
      </div>
    </div>
  </div>

  <div [hidden]="!hasFocus">
    <span class="calendarModule" [ngClass]="{
      'arrivalFocus':focusField === 'arrival' && hasFocus,
      'departureFocus':focusField === 'departure' && hasFocus,
      'minimumMonth':isMinimumMonth(),
      'maximumMonth':isMaximumMonth()
      }"
          [attr.data-calendarMonth]="firstShownCalendar.month"
          [attr.data-calendarYear]="firstShownCalendar.year">

      <p-ihg-calendar (ngModelChange)="calendarDateSelect($event)"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="clickedDate"
                      [numberOfMonths]="numberOfMonths"
                      [locale]="locale"
                      [showOtherMonths]="false"
                      [defaultDate]="defaultCalendarDate"
                      [inline]="true"
                      (onMonthChange)="onMonthChange($event)">
        <ng-template pTemplate="date" let-date>
          <div [ngClass]="{
          'ui-ihg-datepicker-disabled' : isDisabled(date),
          'ui-ihg-datepicker-selected brand-highlight' : isSelected(date),
          'ui-ihg-datepicker-today': isToday(date)
          }"
               class="ui-ihg-datepicker-clickable-date brand-text-hover"
               [attr.data-dateString]="echoDateString(date)"
               [attr.data-year]="date.year"
               [attr.data-month]="date.month+1"
               [attr.data-day]="date.day">

            <span class='arrowHolderLeft'></span>
            {{date.day}}
            <span class='arrowHolderRight'></span>
          </div>
        </ng-template>
      </p-ihg-calendar>
    </span>
  </div>
</div>
