<div>    
    <button (click) = "navigateStrategyPerformance()" class="btn btn-primary mb-3">Go to past strategy performance</button>
    <div class="row">
      <div class="col-4" *ngFor="let strategy of strategyData; let i = index">
        <uic-card>
          <app-strategy-management-item [strategy]="strategy">  
          </app-strategy-management-item>
        </uic-card>
      </div>
      <div class="col-4">
        <uic-card class="new-strategy-card">
          <div class="p-3">
            <div class="border-bottom text-center py-2 title">
              Create New Sales Strategy
            </div>
            <div class="text-center py-2 d-flex justify-content-center">
              <button class="d-block my-3 btn plus-sign" (click)="onCreateStreategy()"><i class=" fas fa-plus"></i></button>
            </div>
          </div>
        </uic-card>
      </div>
    </div>
</div>
