::ng-deep app-strategy-management-list  {
  .title {
    background-color: #337ab7;
    color: #FFFFFF;
    border-color: transparent;
    border-radius: 2px;
  }

  .plus-sign, .plus-sign:hover {
    font-size: 14em;
    color: #5B9BD5;
  }

  .new-strategy-card {
    height: 419px;
    div.uic-card {
      height: 419px;
      div.card {
        height: 419px;
      }
    }    
  }
  
  .card-body {
    padding: 0;
  }

  .tab-content {
    padding: 0;
  }

  .nav-tabs {
    margin-bottom: 35px;
  }

  .nav-tabs .nav-item:first-child {
    margin-left: 0;
  }
}