<div class="row" *ngIf="guest">
    <div class="col-sm-3 sidebar">
      <p
        [ngbTooltip]="(guestDisplayName?.length > guestNameCharLimit) ? guestDisplayName: ''" 
        class="full-name text-nowrap">{{utility.truncateWithEllipsis(guestDisplayName, guestNameCharLimit)}}</p>
      <p><img class="badge-icon"
        *ngFor="let path of guest.badgeIconPaths"
        [src]="path" />
      </p>
      <hr>

      <app-guest-profile-preferences></app-guest-profile-preferences>
      
      <app-guest-profile-interests></app-guest-profile-interests>
      
      <app-guest-profile-preferred-language></app-guest-profile-preferred-language>
      
      <hr>
      <p class="attribute-header"><i class="fas fa-phone"></i><span [translate]="keyMap.featurePhone"></span></p>
      <p [innerText]="guest.phoneNumber || ''"></p>
      <p class="attribute-header"><i class="fas fa-envelope"></i><span [translate]="keyMap.featureEmail"></span></p>
      <p [innerText]="guest.email || ''"></p>
      <p *ngIf="guest.address?.companyName" class="attribute-header"><i class="fas fa-building"></i><span [translate]="keyMap.featureCompany"></span></p>
      <p *ngIf="guest.address?.companyName" [innerText]="guest.address?.companyName"></p>
      <p class="attribute-header"><i class="fas fa-map-marker-alt"></i><span [translate]="keyMap.featureAddress"></span></p>
      <p [innerText]="getGuestAddress(guest)"></p>
      
    </div>
  
    <div class="col-sm-9">
      <div class="row pt-3">
        <div class="col-12 col-lg-6">
          <uic-card>
            <app-guest-profile-loyalty [guest]="guest"></app-guest-profile-loyalty>
          </uic-card>
        </div>
        <div class="col-12 col-lg-6">
          <app-guest-profile-insights [guest]="guest"></app-guest-profile-insights>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-12">
          <app-guest-profile-stay></app-guest-profile-stay>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
        <app-guest-profile-heartbeat></app-guest-profile-heartbeat>
        </div>
        <div class="col-12 col-lg-6">
          <app-guest-profile-spending></app-guest-profile-spending>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 observation-card">
          <uic-card>
            <app-guest-profile-observation-list [guest]="guest"></app-guest-profile-observation-list>
          </uic-card>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(guest === null || guest === undefined) && !guestErr" class="mt-5 pt-4 noDataInfo">
    <div class="title-text" [translate]="keyMap.noGuestProfileData"></div>
    <span class="p-2 mt-3 btn-link cursor-pointer ref-btn"
                  (click)="onReportIssue()"
                  [translate]="keyMap.reportAnIssueButton">
    </span>
  </div>
  <div [hidden]="!hasErrors" class="err-margin">
    <app-service-error [errorEvent]="emitError.asObservable()"
                      (refreshAction)="refresh()">
    </app-service-error>
  </div>
