@import 'variables';

.full-name {
  font-size: 30px;
  line-height: normal;
}

::ng-deep app-guest-profile uic-card .card {
  height: 214px;
}

::ng-deep app-guest-profile .observation-card {
  uic-card .card {
    height: auto;
  }
}

.sidebar {
  margin-top: -30px;
}



.card-header {
  padding: 0;
}

.attribute-header {
  font-weight: bold;
  margin: 18px 0 10px;

  .fas {
    margin-right: 8px;
  }
}

.preferences-list {
  list-style-type: none;
  padding-left: 0;
}

.badge-icon {
  height: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 30px;
}

.show-more-button {
  cursor: pointer;
  margin: -0.5rem 0 0 -0.5rem;
  &:active {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .35);
  }
  .fa-arrow-down, .fa-arrow-up {
    margin-right: 0.5rem;
  }
}

.title-text {
  font-size: 24px;
  font-weight: lighter;
}

.ref-btn {
  display: inline-block;
}

.noDataInfo {
  text-align: center;
  margin: 0 auto;
}

.err-margin {
  margin-top: 35px;
}