@import 'variables';
@import 'kendo-overrides';


::ng-deep {
  .room-conflicts-grid.concerto-grid {
    @include fdk-grid-common-styles() {
      .profile-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .conflict {
        color: $close-icon-color;
      }
      .clear {
        color: $check-icon-color;
        margin-right: 3px;
      }
      .no-records {
        height: 400px;
        padding-top: 20px;
      }
      .rm-number-container {
        display: flex;
        height: 28px;
        align-items: center;
        justify-content: center;
      }
      .rm-number-color {
        color: $secondary-text-color;
      }
      .room-unassign-btn {
        background: transparent;
      }
    }
  }
}
