<div class="concerto-grid room-conflicts-grid">
  <kendo-grid [kendoGridBinding]="conflicts"
              [pageable]="false"
              [filterable]="false"
              [scrollable]="false">
    <kendo-grid-column field="guestName"
                       [width]="desktopColumnWidths?.guestName">
      <ng-template kendoGridHeaderTemplate>
        <div class="pl-3">
          <span translate="LBL_GST_GUEST_NAME" data-slnm-ihg="GuestNameLabel-SID"></span>
        </div>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="px-3">
          <app-truncated-tooltip [text]="dataItem?.guestName"
                                 [slnmTag]="'GuestName' + (rowIndex + 1) + '-SID'"></app-truncated-tooltip>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="loyalty"
                       [width]="desktopColumnWidths?.loyalty">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_LOYALTY" data-slnm-ihg="LoyaltyLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="badge-icons" [attr.data-slnm-ihg]="'GuestBadges' + (rowIndex + 1) + '-SID'">
          <app-badge-list [badges]="dataItem?.badges"></app-badge-list>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="checkInDate"
                       [width]="desktopColumnWidths?.arrival">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_ARRIVAL" data-slnm-ihg="ArrivalLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span class="text-uppercase" [attr.data-slnm-ihg]="'GuestArrival'  + (rowIndex + 1) +  '-SID'">
          {{ dataItem.checkInDate ? (dataItem.checkInDate | date:appConstants.PIPE_DD_MM_FORMAT_NO_SPACE) : appConstants.EMDASH }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="desktopColumnWidths?.departure"
                       field="checkOutDate">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_DEPARTURE" data-slnm-ihg="DepartureLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
         <span class="text-uppercase" [attr.data-slnm-ihg]="'GuestDeparture'  + (rowIndex + 1) +  '-SID'">
          {{ dataItem.checkOutDate ? (dataItem.checkOutDate | date:appConstants.PIPE_DD_MM_FORMAT_NO_SPACE) : appConstants.EMDASH }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="desktopColumnWidths?.status"
                       field="reservationStatus">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_STATUS" data-slnm-ihg="StatusLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div [attr.data-slnm-ihg]="'ConflictStatus'  + (rowIndex + 1) +  '-SID'">
          <span class="conflict" *ngIf="dataItem?.isConflictActive; else clear"
                translate="LBL_GST_CONFLICT"></span>
          <ng-template #clear><i class="fas fa-check-circle clear"></i> <span translate="GC_CLEAR"></span></ng-template>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="desktopColumnWidths?.doNotMove"
                       field="doNotMoveRoom">
      <ng-template kendoGridHeaderTemplate>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="dataItem?.doNotMoveRoom"
              class="do-not-move"
              [ngbTooltip]="dataItem?.doNotMoveRoomReason"
              placement="top"
              container="body"
              [attr.data-slnm-ihg]="'DoNotMoveIndicator'  + (rowIndex + 1) +  '-SID'">
          <i class="fas fa-bell fa-lock"></i></span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="desktopColumnWidths?.action"
                       field="actions">
      <ng-template kendoGridHeaderTemplate>
        <span translate="COM_LBL_ACTIONS" data-slnm-ihg="ActionsLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div *ngIf="hasDoNotMoveAccess || !dataItem?.doNotMoveRoom; else viewAction"
             class="rm-number-container rm-number-color text-center">
          <div *ngIf="dataItem?.isConflictActive; else clearConflict">
            <button class="room-unassign-btn btn btn-default"
                    (click)="releaseRoom(dataItem)">
              {{ 'LBL_GST_UNASSIGN' | translate }}
            </button>
          </div>
          <ng-template #clearConflict>
            <span [attr.data-slnm-ihg]="'ActionsLabel'  + (rowIndex + 1) +  '-SID'">{{appConstants.EMDASH}}</span>
          </ng-template>
        </div>

        <ng-template #viewAction>
          <span class="rm-number-color text-center cursor-pointer"
                translate="LBL_GST_VIEW"
                [attr.data-slnm-ihg]="'ViewActionLabel'  + (rowIndex + 1) +  '-SID'"
                (click)="viewReservation(dataItem)"></span>
        </ng-template>
      </ng-template>


    </kendo-grid-column>
    <ng-template kendoGridNoRecordsTemplate>
    </ng-template>
  </kendo-grid>
</div>
