<div class="warning-notify-guest" data-slnm-ihg="WarningUnresolvedTasks-SID">
  <div class="modal-header">
    <h4 class="modal-title"
        data-slnm-ihg="Title-SID"
        translate="LBL_MOD_TTL_UNRSLV_TSK"></h4>
    <button type="button"
            class="close"
            data-slnm-ihg="ButtonCloseX-SID"
            [ngbTooltip]="'COM_BTN_CLOSE' | translate" (click)="dismiss()">&times;
    </button>
  </div>
  <div class="modal-body">
    <p [hidden]="unresolvedTasksCount == 1"
       data-slnm-ihg="UnresolvedTasks1Text-SID"
       translate="LBL_MOD_TXT_UNRSLV_TSKS"
       [translateParams]="{tasksCount: unresolvedTasksCount}">
    </p>
    <p [hidden]="unresolvedTasksCount != 1"
       [attr.data-slnm-ihg]="'UnresolvedTasks' + unresolvedTasksCount +'Text-SID'"
       translate="LBL_MOD_TXT_UNRSLV_TSK"></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default view-tasks" (click)="close('viewTasks')" translate="LBL_VW_TSKS"></button>
    <button class="btn btn-default"
            data-slnm-ihg="CancelButton-SID"
            translate="COM_BTN_CANCEL"
            (click)="dismiss()">
    </button>
    <button class="btn btn-primary"
            data-slnm-ihg="NotifyGuestButton-SID"
            translate="LBL_NTFY_GST"
            (click)="close()">
    </button>
  </div>
</div>
