<div class="manage-guest" data-slnm-ihg="ManageGuest-SID" *ngIf="guestInfo">
  <div class="top-row flex">
    <div class="guest-section flex">
      <div class="guest-profile-container flex" [ngClass]="{'non-member' : !guestInfo.rcNumber}">
        <span class="guest-name" data-slnm-ihg="GuestName-SID">
          <span [ngbTooltip]="(guestInfo.guestName.length > guestNameCharLimit) ? guestInfo.guestName : ''"
                      class="guest-name" [attr.guest-name]="guestInfo.guestName">
            {{utility.truncateWithEllipsis(guestInfo.guestName, guestNameCharLimit) | titlecase}}
          </span>
        </span>
        <span class="profile-card" data-slnm-ihg="GuestProfile-SID">
          <a [routerLink]="['/guest-profile']" target="_blank" *ngIf="guestInfo.rcNumber"
                     (click)="setMemberProfile(guestInfo.rcNumber)">
            <i class="far fa-address-card name" [ngbTooltip]="'LBL_GUGEST_PROFILE' | translate"></i>
          </a>
        </span>
      </div>
      <div class="guest-icons guest-badges-container flex" data-slnm-ihg="GuestBadgesList-SID">
        <app-badge-list [badges]="guestInfo.badges"></app-badge-list>
      </div>
    </div>
    <div class="res-num-section flex">
      <span class="reservation-header" [translate]="'LBL_RSVN'"></span>
      <span class="reservation-number" data-slnm-ihg="ReservationNumber-SID"> {{guestInfo.resNumber}}</span>
      <button class="btn clickable edit-reservation flex" data-slnm-ihg="EditReservation-SID"
                    [ngbTooltip]="'LBL_EDT_STY' | translate"
                    (click)="handleEditReservation()">
        <i class="far fa-edit edit-stay-icon"></i>
      </button>
    </div>
  </div>

  <div class="bottom-row">
    <div class="points-and-rewards res-block">
      <div class="rewards-number-container" data-slnm-ihg="RCContainer-SID" *ngIf="guestInfo.rcNumber" >
        <span class="header" [translate]="'LBL_RW_NO'"></span>
        <span class="rewards-number" data-slnm-ihg="RCNumber-SID"> {{guestInfo.rcNumber}}</span>
      </div>
      <div class="enrollment-container" *ngIf="!guestInfo.rcNumber" data-slnm-ihg="EnrollmentContainer-SID">
        <span class="header" [translate]="'LBL_LYLT_ENROLL'"></span>
      </div>
      <div class="points-total-container" data-slnm-ihg="RCPoints-Container-SID" *ngIf="guestInfo.rcNumber">
        <span class="header" [translate]="'LBL_GST_POINTS'"></span>
        <span class="points-total" data-slnm-ihg="RCPoints-SID"> {{guestInfo.rcPoints | number}}</span>
      </div>
      <div class="enrollment-container" *ngIf="!guestInfo.rcNumber" data-slnm-ihg="EnrollmentLinkContainer-SID">
        <a class="enrollment-link clickable" data-slnm-ihg="EnrollmentLink-SID" (click)="openEnrollmentModal()">
          <i class="fas fa-star"></i>
          <span class="enrollment-text" [translate]="'LBL_ENROLL'"></span>
        </a>
      </div>
    </div>

    <div class="arrival res-block">
      <span class="header" [translate]="'LBL_GST_ARRIVAL'"></span>
      <span class="res-data" data-slnm-ihg="CheckInDate-SID">{{formatDate(guestInfo.checkInDate)}}</span>
    </div>

    <div class="departure res-block">
      <span class="header" [translate]="'LBL_GST_DEPARTURE'"></span>
      <span class="res-data" data-slnm-ihg="CheckOutDate-SID">{{formatDate(guestInfo.checkOutDate)}}</span>
    </div>

    <div class="nights res-block">
      <span class="header" [translate]="'LBL_GST_NIGHTS_COL'"></span>
      <span class="res-data" data-slnm-ihg="Nights-SID">{{guestInfo.nights}}</span>
    </div>

    <div class="adults res-block">
      <span class="header" [translate]="'LBL_ADULTS'"></span>
      <span class="res-data" data-slnm-ihg="Adults-SID">{{guestInfo.adults}}</span>
    </div>

    <div class="children res-block">
      <span class="header" [translate]="'LBL_CHLDRNS'"></span>
      <span class="res-data" data-slnm-ihg="Children-SID">{{guestInfo.children}}</span>
    </div>

    <div class="rooms res-block">
      <span class="header" [translate]="'LBL_ROOMS'"></span>
      <span class="res-data" data-slnm-ihg="Rooms-SID">{{guestInfo.rooms}}</span>
    </div>

    <div class="group res-block">
      <span class="header" [translate]="'LBL_GRP'"></span>
      <span class="res-data truncate" *ngIf="guestInfo.groupName" data-slnm-ihg="GroupName-SID"
            [ngbTooltip]="displayToolTip(guestInfo.groupName) ? transformData(guestInfo.groupName) : ''">
            {{guestInfo.groupName | titlecase}}
      </span>
      <span class="no-value" *ngIf="!guestInfo.groupName" data-slnm-ihg="GroupName-SID" [innerText]="'N/A'"></span>
    </div>

    <div class="company res-block">
      <span class="header" [translate]="'LBL_COY'"></span>
      <span class="res-data truncate" *ngIf="guestInfo.companyName" data-slnm-ihg="CompanyName-SID"
            [ngbTooltip]="displayToolTip(guestInfo.companyName) ? transformData(guestInfo.companyName) : ''">
            {{guestInfo.companyName | titlecase}}
      </span>
      <span class="no-value" *ngIf="!guestInfo.companyName" data-slnm-ihg="CompanyName-SID" [innerText]="'N/A'"></span>
    </div>

    <div class="rate res-block">
      <span class="header" [translate]="'LBL_RATE_CAT'"></span>
      <span class="res-data rate-code" data-slnm-ihg="RateCode-SID" (click)="getRateCodeDetails()">{{guestInfo.rateCode}}</span>
    </div>

    <div class="total res-block">
      <span class="header" [translate]="'LBL_EST_TOT'"></span>
      <div class="total-amount-container">
        <span class="res-data total-amount" data-slnm-ihg="TotalAmount-SID">{{guestInfo.estimatedTotal | number : '1.2-2'}} </span>
        <span class="res-data currency" data-slnm-ihg="CurrencyCode-SID">{{guestInfo.currencyCode}}</span>
        <span data-slnm-ihg="CostEstimateButton-SID">
          <button (click)="openCostEstimate()" class="btn btn-default cost-estimate-button">
            <i class="fas fa-file-invoice-dollar"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
