@import 'variables';

.manage-guest {
  padding: 14px 22px;

  .flex, .res-block, .split-row {
    display: flex;
  }

  .top-row {
    font-size: 16px;
    justify-content: space-between;
    padding-bottom: 12px;
    align-items: center;
    font-weight: 100;

    .guest-name, .res-num-section {
      font-size: 24px;
      
      .edit-stay-icon:not([disabled]):hover {
        background-color: $odd-bg-color;

        .edit-stay-icon {
          color: #2a6496;
        }
      }

      .edit-stay-icon:not([disabled]):active,
      .edit-stay-icon:not([disabled]):focus {
        background-color: $gainsboro-white;
        box-shadow: $active-box-shadow;
      }
    }

    .guest-name {
      padding-right: 16px;
    }

    .guest-profile-container {
      align-items: center;
      min-width: 210px;
      justify-content: space-between;
      margin-right: 14px;
      padding-right: 14px;
      border-right: 1px solid lightgray;

      a {
        font-size: 20px;
      }
    }

    .guest-profile-container.non-member {
      border: none;
    }

    .profile-card {
      a {
        color: $secondary-text-color;

        &:hover {
          color: $secondary-text-color;
        }
      }
    }

    .guest-icons.guest-badges-container {
      align-items: center;

      .badge-icon-list {
        .badge-icon {
          height: 26px;
          width: 26px;
          margin: 0;
          padding-right: 2px;
        }
      }
    }

    .res-num-section {
      font-size: 20px;
      align-items: center;
    }

    .reservation-header {
      padding-right: 6px;
    }
  }

  .bottom-row {
    display: flex;

    @media (max-width: 1024px) {
      display: grid;
      display: -ms-grid;

      grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px;
      grid-template-rows: 60px 60px;

      -ms-grid-columns: 120px 120px 120px 120px 120px 120px 120px 120px;
      -ms-grid-rows: 60px 60px;

      .points-and-rewards {
        grid-column: span 2;
        -ms-grid-column-span: 2;
      }

      .group {
        grid-row-start: 2;
        -ms-grid-row:2;
      }

      .group, .company, .rate, .total {
        grid-column: span 2;
        -ms-grid-column-span: 2;
        padding-top: 7px;
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 100px 100px 100px 100px 80px 80px 85px 80px;
      -ms-grid-columns: 100px 100px 100px 100px 80px 80px 85px 80px;
    }

    .enrollment-link {
      color: $secondary-text-color;

      &:hover {
        color: $chart-darkblue-color;
      }

      .enrollment-text {
        padding-left: 7px;
        font-weight: normal;
      }
    }

    .rewards-number-container, .enrollment-container {
      padding-bottom: 9px;
    }

    .res-block{
      flex-direction: column;
      padding-right: 20px;

      @media (max-width: 1024px) {
        padding-right: 0;
      }

      .truncate {
        max-width: 72px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: 1024px) {
          max-width: 200px;
        }

        @media (max-width: 768px) {
          max-width: 187px;
        }
      }

      .total-amount-container {
        display: flex;
        align-items: center;
      }

      .header {
        font-weight: bold;
        padding-bottom: 9px;

        &:last-of-type {
          padding-bottom: 6px;
        }
      }

      .total-amount {
        font-size: 20px;
        font-weight: 100;
      }

      .currency {
        padding-left: 7px;
      }

      .cost-estimate-button {
        padding: 0 7px;
      }

      .rate-code {
        color: $secondary-text-color;
        cursor: pointer;
      }
    }

    .no-value {
      opacity: 0.6;
    }
  }
}
