
<div class="p-3">
  <div class="border-bottom text-center py-2 title">
    {{strategy.name}}
  </div>
  <div class="border-bottom text-left py-2">
    <table>
      <tbody>
        <tr>
            <td>Effective Booking Dates:</td>
            <td class="px-1">{{formatDate(strategy.effectiveBookingDates.start)}} to {{formatDate(strategy.effectiveBookingDates.end)}}</td>
        </tr>
        <tr>
            <td>Effective Stay Dates:</td>
            <td class="px-1">{{formatDate(strategy.effectiveStayDates.start)}} to {{formatDate(strategy.effectiveStayDates.end)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="border-top border-bottom py-2">
    <div class="font-weight-bold">Property Cluster:</div>
    <div>{{strategy.propertyCluster}}</div>
    <div class="font-weight-bold">Channel(s):</div>
    <div>{{strategy.channels}}</div>
    <div class="font-weight-bold">SPARx Proposed Strategies:</div>
    <div>{{strategy.sparkProposedStrategies}}</div>
    <div class="font-weight-bold">A/B Performance Ratio:</div>
    <div>
      <ngb-rating 
        [readonly]="true" 
        max="5"
        [(rate)]="strategy.currentAnalystRating.rate"></ngb-rating>
      <div class="d-inline font-weight-bold ml-1">
        <span class="mr-1">{{strategy.currentAnalystRating.rateLabel}}</span>
      </div>
    </div>
    <div class="font-weight-bold">Strategy State:</div>
    <div>{{strategy.state}}</div>
  </div>
  <div class="d-flex justify-content-center w-100 pt-3 border-top">
    <button class="btn btn-primary d-inline-block" (click)="onView()">View</button>
  </div>
</div>