app-offer-type-buttons {
  position: absolute;
  right: 15px;
  top: 20px;
}

app-suggested-offers-tabs {
  margin: 0 -15px;
  display: block;
}

.mr-10 {
  margin-right: 10px;
}

:host ::ng-deep {
  .card-body {
    padding: 0 15px 15px;
  }
  .btn-link.btn-plain {
    cursor: pointer;
  }
}
