<uic-card [attr.data-slnm-ihg]="cardSeleniumId" [cardTitle]="cardTitle" [hidden]="!shouldShowOffers">

  <app-offer-type-buttons [hidden]="noOffers" (selection)="handleOfferTypeSelection($event)"></app-offer-type-buttons>

  <app-suggested-offers-tabs [hidden]="!offerCategoryVisibility[offerCategory.SUGGESTED] || noOffers"
                             [offers]="suggestedOffers" [reservationNumber]="reservationNumber"
                             [searchCritera]="searchCritera"
                             [originalReservationData]="originalReservationData"
                             (estimatedTotal)="setEstimatedTotal($event)"
                             (roomForceSold)="forceSellRoom()">
  </app-suggested-offers-tabs>

  <app-offer-by-products-grid [reservationNumber]="reservationNumber"
                              [hidden]="!offerCategoryVisibility[offerCategory.PRODUCTS] || noOffers"
                              [searchCritera]="searchCritera"
                              [originalReservationData]="originalReservationData"
                              (estimatedTotal)="setEstimatedTotal($event)" (noOffers)="handleNoOffers($event)"
                              (suggestedOffers)="handleSuggestedOffers($event)">
  </app-offer-by-products-grid>

  <app-offer-by-rates-grid [reservationNumber]="reservationNumber"
                           [hidden]="!offerCategoryVisibility[offerCategory.RATES] || noOffers"
                           [searchCritera]="searchCritera"
                           [originalReservationData]="originalReservationData"
                           (estimatedTotal)="setEstimatedTotal($event)" (noOffers)="handleNoOffers($event)" >
  </app-offer-by-rates-grid>


  <uic-user-guidance [hidden]="!noOffers" class="text-center" [attr.data-slnm-ihg]="'NoOffers-SID'"
                     [title]="'LBL_NO_OFFERS' | translate">
    <p translate="LBL_CURR_NO_OFFERS" [attr.data-slnm-ihg]="'CurrentlyNoOffers-SID'"></p>

    <button *ngIf="!isInHouseStay && roomsForceSold <= 0" class="mr-10 btn btn-default" [attr.data-slnm-ihg]="'ForceSell-SID'" translate="BTN_FRCE_SELL"
            (click)="displayForceSellModal()">
    </button>

    <button *ngIf="!isInHouseStay" class="btn btn-primary" [attr.data-slnm-ihg]="'BackToCheckIn-SID'" translate="LBL_BK_TO_CHK_IN"
            (click)="navigateToCheckIn()">
    </button>

    <button *ngIf="isInHouseStay" class="btn btn-primary" [attr.data-slnm-ihg]="'BackToManageStay-SID'" translate="LBL_BK_TO_MANAGE_STAY"
            (click)="handleManageStayNavigation()">
    </button>

  </uic-user-guidance>
</uic-card>
