@import 'variables';

.card-header {
  padding: 0;
}

::ng-deep .guest-new-observation-modal {
  .modal-dialog {
    width: 680px;
    max-width: 680px;
  }
}

::ng-deep .guest-profile-observation-list {
  .comment-button {
    cursor: pointer;
    border-radius: 2px;        
    height: 36px;
    &:active {
      background-color: rgba(228, 228, 228, 1);
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .35);
    }
  }
  .filter-by-section {
    margin-right: -1rem;
  }
  
  .hotel-dropdown {
    display: inline-block;
    .dropdown-toggle::after {
      display: none
    }
    .hotel-dropdown-label {
      cursor: pointer;
      font-size: 14px;
      padding: 0.5rem;
      width: 100%;
      text-align: left;
    }
    .hotel-dropdown-list {
      min-width: 100%;
    }
    .hotel-dropdown-selected {
      background-color: $secondary-color-hover;
    }
  }
  
}