<div class="guest-profile-observation-list">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="card-header flex-shrink-0">
      <span [translate]="keyMap.cardObservations"></span><span> ({{observationsCount}})</span>
    </div>
    <div class="flex-shrink-0">
      <div class="d-inline-block mr-2" >
          <span [translate]="keyMap.observationView"></span>:
          <div ngbDropdown class="hotel-dropdown">
            <div class="btn btn-link comment-button" ngbDropdownToggle>
              <span [translate]="listDropdownLabel"></span><i class="fas fa-chevron-down ml-2"></i>
            </div>
            <ul ngbDropdownMenu class="hotel-dropdown-list p-0">
              <li [ngClass]="{ 'hotel-dropdown-selected':listDropdownLabel === keyMap.observationMyHotel }" (click)="setList('MY')">
                <div class="btn btn-link hotel-dropdown-label" [translate]="keyMap.observationMyHotel"></div>
              </li>
              <li [ngClass]="{ 'hotel-dropdown-selected':listDropdownLabel === keyMap.observationOtherHotels }" (click)="setList('OTHER')">
                <div class="btn btn-link hotel-dropdown-label" [translate]="keyMap.observationOtherHotels"></div>
              </li>
              <li class="border-top" [ngClass]="{ 'hotel-dropdown-selected':listDropdownLabel === keyMap.observationAllHotels }" (click)="setList('ALL')">
                <div class="btn btn-link hotel-dropdown-label" [translate]="keyMap.observationAllHotels"></div>
              </li>
            </ul>
          </div>
      </div>
      <div class="d-inline-block">
        <span [translate]="keyMap.observationSortBy"></span>:
        <div ngbDropdown class="hotel-dropdown">
          <div class="btn btn-link comment-button" ngbDropdownToggle>
            <span [translate]="sortDropdownLabel"></span><i class="fas fa-chevron-down ml-2"></i>
          </div>
          <ul ngbDropdownMenu class="hotel-dropdown-list p-0">
            <li [ngClass]="{ 'hotel-dropdown-selected':sortDropdownLabel === keyMap.observationMostRecent }" (click)="setSortBy('MOST_RECENT')">
              <div class="btn btn-link hotel-dropdown-label" [translate]="keyMap.observationMostRecent"></div>
            </li>
            <li [ngClass]="{ 'hotel-dropdown-selected':sortDropdownLabel === keyMap.observationMostHelpful }" (click)="setSortBy('MOST_HELPFUL')">
              <div class="btn btn-link hotel-dropdown-label" [translate]="keyMap.observationMostHelpful"></div>
            </li>
            <li 
              *ngIf="listDropdownLabel !== keyMap.observationMyHotel"
              [ngClass]="{ 'hotel-dropdown-selected':sortDropdownLabel === keyMap.observationHotelCode }" 
              (click)="setSortBy('HOTEL_CODE')">
              <div class="btn btn-link hotel-dropdown-label" [translate]="keyMap.observationHotelCode"></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="d-inline-block filter-by-section">
        <span [translate]="keyMap.observationFilterBy"></span>:
        <div ngbDropdown class="hotel-dropdown" placement="bottom-right">
          <div class="btn btn-link comment-button" ngbDropdownToggle>
            <span [translate]="filterByDropdownLabel"></span><i class="fas fa-chevron-down ml-2"></i>
          </div>
          <ul ngbDropdownMenu class="hotel-dropdown-list p-0 filter-by-dropdown">
            <li class="text-nowrap" *ngFor="let filterByOption of filterByOptions" [ngClass]="{ 'hotel-dropdown-selected':filterByDropdownLabel === filterByOption.label }" (click)="setFilterBy(filterByOption.value)">
              <div class="btn btn-link hotel-dropdown-label" [translate]="filterByOption.label"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-service-error *ngIf="!observationsList || observationsList.length === 0"
    (refreshAction)="refresh($event)"
    [reportIssueAutoFill]="reportIssueConfig"
    [cardType]="errorCardType"
    [errorEvent]="emitError.asObservable()"
    [config]="errorConfig"
    (reportIssueAction)="onReportIssueClicked()">

  </app-service-error>
  <ng-template ngFor let-observation [ngForOf]="observationsList" let-i="index">
    <app-guest-profile-observation 
      *ngIf="i < observationsShown" 
      [showHotelName]="listDropdownLabel !== keyMap.observationMyHotel" 
      [observation]="observation"
      [firstName]= "guest.firstName"
      [memberId]="guest.guestLoyalty?.loyaltyID">
    </app-guest-profile-observation>
  </ng-template>
  <div *ngIf="observationsShown < observationsList.length" class="d-flex justify-content-center flex-wrap mt-3">
    <div class="btn btn-link comment-button flex-shrink-0" (click)="loadMore()">
      <i class="fas fa-arrow-down mr-2"></i>
      <span [translate]="keyMap.observationLoadMore"></span>
    </div>
  </div>
  <div *ngIf="!hasError" class="d-flex justify-content-center flex-wrap mt-3">
    <div class="btn btn-link comment-button flex-shrink-0" (click)="onAddObservation()">
      <i class="fas fa-plus mr-2"></i>
      <span [translate]="keyMap.observationAddObservation"></span>
    </div>
  </div>
</div>