@import 'variables';

.attribute-header {
  font-weight: bold;
  margin: 18px 0 10px;

  .pref-icon {
    margin-right: 5px;
  }
}
.preferences-list {
  list-style-type: none;
  padding-left: 0;
}

.show-more-button {
  cursor: pointer;
  margin: -0.5rem 0 0 -0.5rem;
  &:active {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .35);
  }
  .fa-arrow-down, .fa-arrow-up {
    margin-right: 0.5rem;
  }
}
.prf-edit-icon {
  color: $secondary-text-color;
  cursor: pointer;
  float: right;
  &:hover {
    color: $link-color;
  }
}
.disableEdit {
  color: $primary-color-disabled;
  cursor: default;
  &:hover {
    color: $primary-color-disabled;
  }
}
