<p class="attribute-header"><i class="far fa-door-closed pref-icon"></i><span data-slnm-ihg="RoomPreferences-SID" [translate]="keyMap.featurePreferences"></span>
  <span *ngIf="editPreferenceEnable()" class="prf-edit-icon" data-slnm-ihg="EditRoomPreferencesIcon-SID" (click)="editPreferences()"><i class="fas fa-edit"></i></span>
</p>
<div *ngIf="initialized && !hasErrors">
    <span *ngIf="roomPreferences.length === 0" data-slnm-ihg="RoomPreferenceOptionNone-SID" [translate]="keyMap.none"></span>
    <ul class="preferences-list" *ngIf="roomPreferences.length !== 0" data-slnm-ihg="RoomPreferenceOptions-SID">
        <li *ngFor="let item of roomPreferences; let i = index" [attr.data-slnm-ihg]="'RoomPreferenceOption_'+i+'-SID'">
          <span *ngIf="i < maxPreferences || showAllPreferences" [innerText]="item"></span>
        </li>
      </ul>
      <span *ngIf="roomPreferences.length > maxPreferences" class="btn btn-link show-more-button" data-slnm-ihg="RoomPreferencesShowAll-SID" (click)="showAllPreferences = !showAllPreferences" >
        <span *ngIf="!showAllPreferences"><i class="fas fa-arrow-down"></i><span data-slnm-ihg="RoomPreferencesShowMore-SID" [translate]="keyMap.featureShowMore"></span></span>
        <span *ngIf="showAllPreferences"><i class="fas fa-arrow-up"></i><span data-slnm-ihg="RoomPreferencesShowLess-SID" [translate]="keyMap.featureShowLess"></span></span>
      </span>
</div>
<div [hidden]="!hasErrors">
  <app-service-error [cardType]="errorCardType" [errorEvent]="emitError.asObservable()"
                    (refreshAction)="refresh()"
                    [config]="errorConfig"
                    [reportIssueAutoFill]="reportIssueConfig"
                    (reportIssueAction)="onReportIssueClicked()">
  </app-service-error>
</div>
