<div class="page-kebab">
  <div #cardKebab>
    <ng-content select=".card-kebab"></ng-content>
  </div>
  <div>
    <hin-card-kebab data-slnm-ihg="PageKebab-SID" class="float-right">
      <div data-slnm-ihg="SendFeedback-SID" class="item feedback" (click)="onFeedbackClicked()">
        <i class="fas fa-paper-plane"></i><span translate="COM_SND_FDBCK"></span>
      </div>
    </hin-card-kebab>
  </div>
</div>
