  ::ng-deep hin-card-kebab {
    .menu__kebab {
      background-color: #fff;
      border-radius: 2px;
      padding: 0px;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);

      &:hover {
        box-shadow: none;
      }
    }
    .manage-link {
      padding: 0px;
      font-size: 1rem;
      height: 42px;
      width: 40px;
      margin: 0 auto;
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }