<div class="group-arrivals-grid concerto-grid" [ngClass]="isDesktopView ? 'desktop-grid' : 'tablet-grid'">
  <kendo-grid [data]="gridView"
              [pageSize]="gridState?.take || 10"
              [skip]="gridState?.skip || 0"
              [pageable]="true"
              [sort]="gridState?.sort || [{ field: 'guestName', dir: 'asc' }]"
              [sortable]="{ allowUnsort: false, mode: 'single' }"
              (dataStateChange)="onDataStateChange($event)"
              (sortChange)="onSortChange($event)">

    <ng-template kendoPagerTemplate>
      <div class="w-100">
        <uic-concerto-grid-pager class="upper-pager w-100">
        </uic-concerto-grid-pager>
      </div>
    </ng-template>

    <kendo-grid-column [width]="gridColumns.guestNameWidth" field="guestName"
                       [class]="isDesktopView ? 'guest-column desktop-column' : 'guest-column tablet-column'">
      <ng-template kendoGridHeaderTemplate>
        <div class="pl-3">
          <span class="column-table-cell" [translate]="keyMap.gridGuestName" data-slnm-ihg="GuestNameLabel-SID"></span>
        </div>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="pl-3 text-nowrap">
					<span
            [ngbTooltip]="(dataItem.guestName?.length > guestNameCharLimit) ? dataItem.guestName: ''"
            class="guest-name" (click)="onGuestNameClick(dataItem)" [attr.guest-name]="dataItem.guestName"
            [attr.data-slnm-ihg]="'GuestName' + (rowIndex + 1) + '-SID'"
            [innerHTML]="(dataItem.guestName | truncateText: guestNameCharLimit | textHighlight: searchBy)">
          </span>
        </div>
        <div *ngIf="!isDesktopView" class="badge-icons tablet-view"
             [attr.data-slnm-ihg]="'GuestBadges' + (rowIndex + 1) + '-SID'">
          <app-badge-list [badges]="dataItem.badges"></app-badge-list>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.profileWidth" [class]="isDesktopView ? '' : 'tablet-column'"
                       field="guestProfile"
                       title="" [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <a [routerLink]="['/guest-profile']" target="_blank" *ngIf="dataItem.loyaltyId"
           (click)="setMemberProfile(dataItem.loyaltyId)"
           [attr.data-slnm-ihg]="'GuestProfile' + (rowIndex + 1) + '-SID'">
          <i class="far fa-address-card name"
             [ngbTooltip]="keyMap.guestProfile | translate">
          </i>
        </a>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="loyalty" [width]="gridColumns.loyaltyWidth" class="loyalty-column" *ngIf="isDesktopView"
                       [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span class="column-table-cell" [translate]="keyMap.gridLoyalty" data-slnm-ihg="LoyaltyLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="badge-icons" [attr.data-slnm-ihg]="'GuestBadges' + (rowIndex + 1) + '-SID'">
          <app-badge-list [badges]="dataItem.badges"></app-badge-list>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.groupWidth" class="group-name-column" field="groupName"
                       [title]="keyMap.gridGroup | translate">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_GROUP" data-slnm-ihg="GroupNameLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div>
          <div class="no-data-symbol" *ngIf="!dataItem.groupName"
               [attr.data-slnm-ihg]="'GuestGroup' + (rowIndex + 1) + '-SID'">{{ noDataSymbol }}</div>
          <div *ngIf="dataItem.groupName" [attr.group-name]="dataItem.groupName"
               [attr.data-slnm-ihg]="'GuestGroup' + (rowIndex + 1) + '-SID'"
               [ngbTooltip]="displayToolTip(dataItem.groupName) ? transformData(dataItem.groupName) : ''">
            <span
              [innerHTML]="(dataItem.groupName | truncateText: characterCount | titlecase | textHighlight: searchBy)">
            </span>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.arrivalWidth" class="arrival-column" [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_ARRIVAL" data-slnm-ihg="ArrivalLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span class="no-data-symbol" [attr.data-slnm-ihg]="'Arrival'  + (rowIndex + 1) +  '-SID'">
          {{ getDateValue(dataItem.checkInDate)}}
        </span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.nightsWidth" field="nights"
                       [title]="keyMap.gridNights | translate" [sortable]="false">
    </kendo-grid-column>

    <kendo-grid-column *ngIf="gridColumns.departureWidth > 0" [width]="gridColumns.departureWidth"
                       field="deparatureDate"
                       [title]="keyMap.gridDeparture | translate" [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span [attr.data-slnm-ihg]="'GuestDeparture' + (rowIndex + 1) + '-SID'">
          {{ getDateValue(dataItem.deparatureDate) }}
        </span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.roomWidth" field="room"
                       [title]="keyMap.gridRoom | translate" [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="no-data-symbol" [attr.data-slnm-ihg]="'Room' + (rowIndex + 1) + '-SID'">
          <div *ngIf="dataItem.roomNumber; else noRoom" class="room-column">
            <span class="room-number"
                  [ngClass]="{'tablet-portrait' : isTabletPortraitView}">{{dataItem.roomNumber}}</span>
            <span class="room-type" [ngClass]="{'tablet-portrait' : isTabletPortraitView}">{{dataItem.roomType}}</span>
          </div>
          <ng-template #noRoom>
            <span>{{ noDataSymbol }}</span>
          </ng-template>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.statusWidth" field="status"
                       [title]="keyMap.gridStatus | translate" [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <app-reservation-status [status]="dataItem.prepStatus" [desktopView]="isDesktopView"
                                [uniqueId]="rowIndex + 1"></app-reservation-status>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="gridColumns.actionsWidth" field="actions" [title]="keyMap.actions | translate"
                       [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <ng-container *ngIf="isToday(dataItem.checkInDate); else prepareTemplate">
        <span class="check-in"
              [attr.data-slnm-ihg]="'ActionsCheckin' + (rowIndex + 1) + '-SID'"
              [translate]="(dataItem.ineligibleReservation || dataItem.prepStatus === reservationStatuses.inHouse ||
                            dataItem.prepStatus === reservationStatuses.checkedIn ?  keyMap.observationView : keyMap.checkIn)"
              (click)="navigateToCheckInPage(dataItem)">
        </span>
        </ng-container>
        <ng-template #prepareTemplate>
          <span class="check-in"
                [attr.data-slnm-ihg]="'ActionsPrepare' + (rowIndex + 1) + '-SID'"
                [translate]="keyMap.tabPrepare"
                (click)="navigateToPreparePage(dataItem)">
          </span>
        </ng-template>
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
      <div class="no-records" *ngIf="gridView.data.length==0">
        <app-service-error
          [attr.data-slnm-ihg]="'NoSearchResult-SID'"
          [errorEvent]="guestDataErrorEvent"
          (refreshAction)="onRefresh($event)"
          (reportIssueAction)="onReportIssueClicked()"
          [reportIssueAutoFill]="reportIssueConfig"
          [config]="errorConfig">
        </app-service-error>
      </div>
    </ng-template>
  </kendo-grid>
</div>
