@import 'variables';
@import 'kendo-overrides';

.name {
  color: $secondary-text-color;
  cursor: pointer;
  font-size: 16px;
}

.check-in {
  color: $secondary-text-color;
  cursor: pointer;
}

.no-records {
  height: 280px;
  padding-top: 20px;
}

.tablet-view {
  padding-left: 16px;
}

.tablet-portrait {
  display: block;
}

.room-number {
  font-weight: bold;
  font-size: 16px;
  padding-right: 3px;
}

:host ::ng-deep {
  .group-arrivals-grid.concerto-grid {
    @include no-grid-x-overflow();

    .k-grid-aria-root {
      border-top: 1px solid $input-border;
    }
    .k-grid-header {
      border-top: 1px solid $input-border;
      border-bottom: 2px solid $input-border;
      padding-bottom: 1px !important;
    }

    tr {
      height: 40px;

      td {
        &:first-of-type {
          padding-left: 8.4px;
        }
      }
    }

    th {
      line-height: 28px;
      vertical-align: middle;

      &:first-of-type {
        padding-left: 8.4px;
        a {
          display: flex;
          align-items: center;
        }
      }
    }

    td, th {
      padding: 0;

      &:not(:first-of-type) {
        text-align: center;
      }

      &.guest-column {
        color: $secondary-text-color;
      }

      &.tablet-column {
        vertical-align: top;
        height: 60px;
      }
      &.desktop-column {
        height: 36px;
      }
    }

    .k-detail-row .k-detail-cell {
      padding: 0;
    }

    tbody tr {
      background-color: $primary-text-color;

      &:not([data-kendo-grid-item-index ^= '0']) {
        border-top: 1px solid $input-border;
      }

      &:hover {
        background-color: $primary-text-color;
      }
    }
    .upper-pager {
      uic-concerto-grid-pager-info {
        font-weight: 700;
      }
    }
  }
  .group-arrivals-grid.concerto-grid.desktop-grid {
    td, th {
      &:nth-of-type(3), &:nth-of-type(7), &:nth-of-type(9) {
        text-align: left;
      }
    }
  }
}

.guest-name {
  color: $secondary-text-color;
  cursor: pointer;
  font-weight: normal;
}
