@import 'variables';

.check-in-room-assign {
  margin-top: -15px;
  margin-bottom: -15px;
  overflow: hidden;
  &.no-overflow {
    overflow: visible;
  }
}

:host ::ng-deep {
  .alert {
    .message-container {
      width: 388px;
    }
  }

  .toast-no-action {
    .alert {
      .message-container {
        width: auto;
      }
    }
  }
}
