<div class="check-in-room-assign row" [ngClass]="{'no-overflow':guestData?.doNotMoveRoom && guestData?.assignedRoomNumber}">
  <div class="preferences col-3 no-gutter">
    <app-prepare-arrivals-details-info [listItem]="guestData"></app-prepare-arrivals-details-info>
  </div>
  <div class="col-9 pt-2 pb-2">
    <app-prepare-arrivals-details [allowManage]="true"
                                  [listItem]="guestData"
                                  [expanded]="true"
                                  [suggestedRoomCount]="2"
                                  [roomAnimationContext]="'.check-in-room-assign'"
                                  [showNotifiedAlert]="false"
                                  [showArrivalInfo]="false"
                                  [showRoomNotReadyAlert]="!guestData.isCheckedIn">
    </app-prepare-arrivals-details>
  </div>
</div>
