<div>
  <div class="modal-header">
    <h4 class="modal-title" [translate]="keyMap.obsModalTitle"></h4>
    <button type="button" class="close" (click)="onClose()" ngbTooltip="{{keyMap.obsModalClose | translate}}">&times;</button>
  </div>
  <div class="modal-body"> 
    <app-error-toast-message 
      [errorEvent]="emitError.asObservable()"
      (retryAction)="onRetry()"
      (reportAnIssueAction)="onReportAnIssue()"
      [translations]="toastTranslationConfig"
      [reportIssueAutoFill]="reportIssueAutoFill"
    ></app-error-toast-message>
    <form
      #form="ngForm"
      name="observationForm"
      autocomplete="off"
      novalidate>
      <div class="row mt-3">
        
        <div class="col-6">
          <label for="category" class="control-label" [translate]="keyMap.obsModalCategory"></label>
          <kendo-dropdownlist 
            name="category"
            [data]="categoryData"
            textField="label"
            valueField="value"
            [valuePrimitive]="true"
            [(ngModel)]="formData.category"
          >
          </kendo-dropdownlist>
        </div>
          
        <div class="col-6">
          <label for="visibility" class="control-label" [translate]="keyMap.obsModalVisibility"></label>
          <kendo-dropdownlist 
            name="visibility"
            [data]="visibilityData"
            textField="label"
            valueField="value"
            [valuePrimitive]="true"
            [(ngModel)]="formData.visibility"
          >
          </kendo-dropdownlist>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <label for="comment" class="control-label"
          [translate]="keyMap.obsModalObservation">
        </label>
        <div class="grayed-text">{{charsLeftCount}}<span class="d-inline-block ml-1" [translate]="charsLeftCount === 1 ? keyMap.obsModalChar : keyMap.obsModalChars"></span></div>      
      </div>
      <textarea id="comment"
        name="comment"
        class="form-control comment-area"
        rows="3"
        [(ngModel)]="formData.comment"
        [maxlength]="maxCommentChars"
        (ngModelChange)="charsLeftCount = maxCommentChars - formData.comment.length"
        placeholder="{{keyMap.obsModalEnterObservation | translate}}">
      </textarea>
      <div class="mt-3">
          <input class="d-inline-block mr-1" type="checkbox" name="ack" [(ngModel)]="formData.ack"/>
          <span [translate]="keyMap.obsModalAcknowledgement"></span>
      </div>      
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" (click)="onCancel()" [translate]="keyMap.obsModalCancel">
    </button>
    <button class="btn btn-primary btn-space" type="button" (click)="onAddObservation()" [translate]="keyMap.obsModalAddObservation" [disabled]="isInvalid()">
    </button>
  </div>
</div>