<div class="concerto-grid offers-grid" *ngIf="visibleItems && visibleItems.length">
    <kendo-grid [data]="visibleItems">
        <kendo-grid-column field="code" width="150">
            <ng-template kendoGridHeaderTemplate>
                <div class="pl-3">
                    <span translate="LBL_RM_CODE" data-slnm-ihg="RoomCodeLabel-SID"></span>
                </div>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="pl-3 blue-text" [attr.data-slnm-ihg]="'RoomCode' + (rowIndex + 1) + '-SID'">
                    <button type="button" class="btn btn-link btn-plain" (click)="openDescriptionModal(dataItem, rowIndex)">{{dataItem.code}}</button>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="name">
            <ng-template kendoGridHeaderTemplate>
                <span translate="LBL_ROOM_TYPE" data-slnm-ihg="RoomTypeLabel-SID"></span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div [attr.data-slnm-ihg]="'RoomType' + (rowIndex + 1) + '-SID'" *ngIf="dataItem.name" [ngClass]="'btn-link btn-plain'">
                    <button type="button" class="btn btn-link btn-plain" (click)="openDescriptionModal(dataItem, rowIndex)">{{dataItem.name}}</button>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="avgNightlyRate" width="180">
            <ng-template kendoGridHeaderTemplate>
                <div class="column-table-cell text-right pr-0 pr-lg-3 d-none d-lg-block" translate="LBL_AVERAGE_NIGHTLY_RATE" data-slnm-ihg="AvgNightlyRateLabel-SID"></div>
                <div class="column-table-cell text-right pr-0 pr-lg-3 d-block d-lg-none" translate="LBL_AVG_NIGHTLY_RATE" data-slnm-ihg="AvgNightlyRateLabel-SID"></div>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="pr-0 pr-lg-3 text-right" [attr.data-slnm-ihg]="'AvgNightlyRate' + (rowIndex + 1) + '-SID'">
                    {{dataItem?.rateInfo?.averageRate}}
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="roomsAvailable" width="150">
            <ng-template kendoGridHeaderTemplate>
                <div class="text-right text-capitalize pr-0 pr-lg-3" translate="LBL_RM_AVLBL" [translateParams]="{roomCount: ''}" data-slnm-ihg="RoomsAvlblLabel-SID"></div>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="pr-0 pr-lg-3 text-right" [attr.data-slnm-ihg]="'RoomsAvlbl' + (rowIndex + 1) + '-SID'">
                    {{dataItem.roomsAvailable}}
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column width="120">
            <ng-template kendoGridHeaderTemplate>
                <span class="d-block text-center" translate="COM_LBL_ACTIONS" data-slnm-ihg="ActionsLabel-SID"></span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="text-center" [attr.data-slnm-ihg]="'Actions' + (rowIndex + 1) + '-SID'">
                    <button type="button" (click)="openWarningModal(rowIndex)" class="btn btn-link btn-plain" translate="COM_LBL_SLCT"></button>
                </div>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <app-show-more-less class="d-block pl-3" *ngIf="productsData && productsData.length > defaultItemCount" [isShowingMore]="visibleItems.length === productsData.length" (toggle)="handleToggle($event)">
    </app-show-more-less>
</div>

<ng-template #roomTypeName>
    <div data-slnm-ihg="LoyaltyEnrollment-SID">
        <span class="control-label" translate="LBL_LYLT_ENROLL"></span>
    </div>
</ng-template>
