<app-action-toggle-dropdown *ngIf="guestItem && showDropdown">

  <ng-container *ngIf="isGuestInHouse(); else noneInHouseReservations">
    <app-action-toggle-item (click)="navigateToStayManagementPage(guestItem)">
            <span class="manage-stay"
                  [attr.data-slnm-ihg]="'ManageStay' + (rowIndex + 1) + '-SID'"
                  [translate]="keyMap.manageStay">
            </span>
    </app-action-toggle-item>
  </ng-container>

  <ng-template #noneInHouseReservations>
    <app-action-toggle-item *ngIf="isToday(guestItem.checkInDate)" (click)="navigateToCheckIn(guestItem)">
        <span class="check-in"
              [attr.data-slnm-ihg]="'AllGuestsActionsCheckIn' + (rowIndex + 1) + '-SID'"
              [translate]="( isGuestCheckedIn() || guestItem.ineligibleReservation ?  keyMap.observationView :  keyMap.checkIn)">
        </span>
    </app-action-toggle-item>

    <app-action-toggle-item *ngIf="isToday(guestItem.checkInDate) || isPrepareThreshold(guestItem.checkInDate)"
                            (click)="navigateToPrepare(guestItem)">
          <span class="prepare"
                [attr.data-slnm-ihg]="'AllGuestsActionsPrepare' + (rowIndex + 1) + '-SID'"
                [translate]="keyMap.tabPrepare">
          </span>
    </app-action-toggle-item>
  </ng-template>
</app-action-toggle-dropdown>
