<div>
  <div class="modal-header">
    <h4 class="modal-title" [translate]="keyMap.obsModalFlagCmd"></h4>
    <button type="button" class="close" (click)="onClose()" ngbTooltip="{{keyMap.obsModalClose | translate}}">&times;</button>
  </div>
  <div class="modal-body"> 
    <app-error-toast-message 
      [errorEvent]="emitError.asObservable()"
      (retryAction)="onRetry()"
      (reportAnIssueAction)="onReportAnIssue()"
      [reportIssueAutoFill]="reportIssueAutoFill"
      [translations]="toastTranslationConfig"
    ></app-error-toast-message>
    <div class="row"> 
     <div class="col-12" [translate]="keyMap.obsModalFlagMsg"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" (click)="onCancel()" [translate]="keyMap.obsModalNo">
    </button>
    <button class="btn btn-primary btn-space" type="button" (click)="onSave()" [translate]="keyMap.obsModalYes">
    </button>
  </div>
</div>