<div class="in-house-list concerto-grid">
  <kendo-grid [data]="guestData"
              [pageSize]="gridState?.take || 10"
              [skip]="gridState?.skip || 0"
              [pageable]="true"
              [sort]="gridState?.sort || [{ field: 'guestName', dir: 'asc' }]"
              [sortable]="{ allowUnsort: false, mode: 'single' }"
              (dataStateChange)="onDataStateChange($event)"
              (sortChange)="onSortChange($event)"
              uicConcertoGridDockedHeader
              [dockPager]="true"
              [offsetTop]="56">

    <ng-template kendoPagerTemplate>
      <div class="w-100">
        <app-in-house-grid-pager [gridView]="guestData"
                                 [settings]="gridSettings"
                                 (selectPageSize)="pageSizeUpdate($event)"
                                 [printMenuItems]="printMenuItems"
                                 (print)="handlePrint($event)">
        </app-in-house-grid-pager>
      </div>
    </ng-template>

    <kendo-grid-column [width]="guestNameWidth" field="guestName"
                       [class]="isDesktopView ? 'guest-column desktop-column' : 'guest-column tablet-column'">
      <ng-template kendoGridHeaderTemplate>
        <div class="guest-name-label">
          <span class="column-table-cell" [translate]="keyMap.gridGuestName" data-slnm-ihg="GuestNameLabel-SID"></span>
        </div>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="text-nowrap">
          <span
            [ngbTooltip]="(getGuestName(dataItem).length > guestNameCharLimit) ? getGuestName(dataItem) : ''"
            class="check-in guest-name" (click)="onGuestNameClick(dataItem)" [attr.guest-name]="getGuestName(dataItem)" [attr.data-slnm-ihg]="'GuestName' + (rowIndex + 1) + '-SID'">
            {{utility.truncateWithEllipsis(getGuestName(dataItem), guestNameCharLimit) | titlecase}}
          </span>
        </div>
        <div *ngIf="!isDesktopView" class="badge-icons tablet-view" [attr.data-slnm-ihg]="'GuestBadges' + (rowIndex + 1) + '-SID'">
          <app-badge-list [badges]="dataItem.badges"></app-badge-list>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="profileWidth" [class]="isDesktopView ? '' : 'tablet-column'" field="guestProfile" title="" [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <a [routerLink]="['/guest-profile']" target="_blank" *ngIf="dataItem.loyaltyId"
           (click)="setMemberProfile(dataItem.loyaltyId)" [attr.data-slnm-ihg]="'GuestProfile' + (rowIndex + 1) + '-SID'">
          <i class="far fa-address-card name"
             [ngbTooltip]="keyMap.guestProfile | translate">
          </i>
        </a>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="loyalty" [width]="loyaltyWidth" class="loyalty-column" *ngIf="isDesktopView" [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span class="column-table-cell" [translate]="keyMap.gridLoyalty" data-slnm-ihg="LoyaltyLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="badge-icons" [attr.data-slnm-ihg]="'GuestBadges' + (rowIndex + 1) + '-SID'">
          <app-badge-list [badges]="dataItem.badges"></app-badge-list>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="groupWidth" class="group-name-column" field="groupName" [title]="keyMap.gridGroup | translate">
      <ng-template kendoGridHeaderTemplate>
        <div class="group-grid-content-header">
          <span translate="LBL_GST_GROUP" data-slnm-ihg="GroupNameLabel-SID"></span>
        </div>
        
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="group-grid-content">
          <div class="no-data-symbol" *ngIf="!dataItem.groupName" [attr.data-slnm-ihg]="'GuestGroup' + (rowIndex + 1) + '-SID'">{{ noDataSymbol }}</div>
          <div *ngIf="dataItem.groupName" [attr.group-name]="dataItem.groupName" [attr.data-slnm-ihg]="'GuestGroup' + (rowIndex + 1) + '-SID'"
               [ngbTooltip]="displayToolTip(dataItem.groupName) ? transformData(dataItem.groupName) : ''">
            <span>{{ dataItem.groupName | titlecase | slice : 0 : groupCharacterLimit }}</span>
            <span *ngIf="dataItem.groupName.length > groupCharacterLimit">...</span>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column class="night-column" [width]="nightsWidth" field="nights"
                       [title]="keyMap.gridNights | translate" [sortable]="false">
    </kendo-grid-column>

    <kendo-grid-column *ngIf="departureWidth > 0" [width]="departureWidth" field="deparatureDate"
                       [title]="keyMap.gridDeparture | translate">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span [attr.data-slnm-ihg]="'GuestDeparture' + (rowIndex + 1) + '-SID'">{{ formatDate(dataItem.checkOutDate) }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="roomWidth" field="room"
                       [title]="keyMap.gridRoom | translate">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="no-data-symbol" [attr.data-slnm-ihg]="'Room' + (rowIndex + 1) + '-SID'">
          <div *ngIf="dataItem.roomNumber; else noRoom" class="room-column">
            <span class="room-number" [ngClass]="{'tablet-portrait' : isTabletPortraitView}">{{dataItem.roomNumber}} </span>
            <span class="room-type" [ngClass]="{'tablet-portrait' : isTabletPortraitView}">{{dataItem.roomType}}</span>
          </div>
          <ng-template #noRoom>
            <span>{{ noDataSymbol }}</span>
          </ng-template>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="statusWidth" field="status"
                       [title]="keyMap.gridRoomStatus | translate" [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <app-reservation-status [status]="dataItem.roomStatus" [desktopView]="isDesktopView"
                                [uniqueId]="rowIndex + 1"></app-reservation-status>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="actionsWidth" field="actions" [title]="keyMap.actions | translate" [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span class="manage-stay-link" (click)="navigateToStayManagementPage(dataItem)"
              [translate]="keyMap.manageStay" [attr.data-slnm-ihg]="'ManageStay' + (rowIndex + 1) + '-SID'">
        </span>
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
      <div class="no-records" *ngIf="guestData.data.length==0">
        <app-service-error
          [attr.data-slnm-ihg]="'NoSearchResult-SID'"
          [errorEvent]="guestDataErrorEvent"
          (refreshAction)="onRefresh($event)"
          (reportIssueAction)="onReportIssueClicked()"
          [reportIssueAutoFill]="reportIssueConfig"
          [config]="isSearchResult ? searchErrorConfig : errorConfig">
        </app-service-error>
      </div>
    </ng-template>
  </kendo-grid>
</div>