@import 'variables';

.in-house-list.concerto-grid {

  .k-grid tbody tr {
    background-color: $primary-text-color;
  }

  .k-grid-aria-root {
    order: 2;
  }

  kendo-pager {
    order: 1;
    background-color: $primary-text-color;
    border: none;
    overflow: visible;
    padding: 15px;

    .pager-amount {
      font-weight: bold;
    }
  }

  .guest-name-label {
    padding-left: 24px;
  }

  .guest-name {
    color: $secondary-text-color;
    cursor: pointer;
  }

  .room-number {
    font-weight: bold;
    font-size: 16px;
  }

  kendo-grid {
    border: none;

    .concerto-grid-docked-header {
      top: 121px;
      width: 1180px;
    }

    .group-grid-content-header {
      padding-left: 5.75rem;
    }
    .group-grid-content {
      padding-left: 1rem;
      text-align: center;
    }
    
    .no-data-symbol {
      padding-left: 0.75rem;
      text-align: center;
    }
  }

  .k-grid-content {
    overflow: auto;
  }

  .k-grid th, .k-grid td {
   border-style: none;
  }

  th {
    height: 40px;
    font-weight: bold;
    padding: 0;
    color: #212529;

    a, .k-link:link, .k-link:visited, .grid-link {
      color: #212529;
      align-items: center;

      .k-icon {
        font-size: 16px;
      }
    }

    &:nth-of-type(5) {
      text-align: center;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: $primary-text-color;
      }

      td {
        &:first-of-type {
          padding: 0 0 0 24px;
        }

        &:nth-of-type(2) {
          text-align: center;
        }

        &:not(:first-of-type) {
          padding: 0;
        }

        height: 40px;

        .fa-address-card {
          color: $secondary-text-color;
          font-size: 16px;
        }
      }

      &:not(:first-of-type) {
        td {
          border-top: 1px solid $input-border;
        }
      }
    }
  }

  .k-grid-header {
    padding: 0;
    background-color: $primary-text-color;
    border-bottom: 2px solid $input-border;
  }

  .k-grid-header-wrap {
    border-right: none;
    border-top: 2px solid $input-border;
  }

  .k-grid-header .k-header {
    vertical-align: middle;

    .k-link {
      display: flex;
    }
    .k-grid td {
      padding: 0;
    }
  }

  .k-grid .k-alt {
    background-color: white;
  }

  .manage-stay-link {
    color: $secondary-text-color;
    cursor: pointer;
  }

  /*.expand-row-icon {
    position: absolute;
    margin-left: -15px;
    margin-top: 7px;
    color: $secondary-text-color;
    cursor: pointer;
  }*/

  .no-records {
    height: 400px;
    padding-top: 20px;
  }

  .loyalty-column {
    padding: 0;
  }

  .night-column {
    text-align: center;
  }
}

