<div>
  <div class="modal-body d-flex flex-column">
    <div class="title p-2 pr-4 d-flex">
      <div class="font-weight-bold p-2">Strategy Name:</div>
      <div class="d-inline-block flex-grow-1">
        <input id="strategyName" class="form-control" type="text" name="strategyName" [(ngModel)]="formData.strategyName" 
          placeholder="Enter Strategy Name Here"/>
      </div>
    </div>
    <div class="mt-4">
        <table>
            <tbody>
                <tr>
                    <td>Effective Booking Dates:</td>
                    <td class="px-3 py-1">
                      <kendo-datepicker 
                      name="bookingStart"
                      [(ngModel)]="formData.booking.start"
                      [placeholder]="'MM/dd/yyyy'"
                      >
                      </kendo-datepicker>
                    </td>
                    <td>to</td>
                    <td class="px-3 py-1">
                      <kendo-datepicker 
                      name="bookingEnd"
                      [(ngModel)]="formData.booking.end"
                      [placeholder]="'MM/dd/yyyy'"
                      >
                      </kendo-datepicker>
                    </td>
                </tr>
                <tr>
                    <td>Effective Stay Dates:</td>
                    <td class="px-3 py-1">
                      <kendo-datepicker 
                      name="stayStart"
                      [(ngModel)]="formData.stay.start"
                      [placeholder]="'MM/dd/yyyy'"
                      >
                      </kendo-datepicker>
                    </td>
                    <td>to</td>
                    <td class="px-3 py-1">
                      <kendo-datepicker 
                      name="stayEnd"
                      [(ngModel)]="formData.stay.end"
                      [placeholder]="'MM/dd/yyyy'"
                      >
                      </kendo-datepicker>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mt-4">
     <div class="col-4">
        <label for="propertyCluster" class="control-label">Property Cluster:</label>
        <kendo-dropdownlist 
            name="propertyCluster"
            defaultItem="Create New Strategy Cluster"
            [data]="propertyClusterOptions"
            [valuePrimitive]="true"
            [(ngModel)]="formData.propertyCluster"
          >
        </kendo-dropdownlist>
     </div>
    <div class="col-4">
        <label for="channel" class="control-label">Select Channel:</label>
        <kendo-dropdownlist 
            name="channel"
            defaultItem="Select Channel"
            [data]="channelOptions"
            [valuePrimitive]="true"
            [(ngModel)]="formData.channel"
          >
        </kendo-dropdownlist>
     </div>
     <div class="col-4">
         <label for="aggressiveness" class="control-label">Aggressiveness:</label>
         <kendo-dropdownlist 
             name="aggressiveness"
             defaultItem="Set Strategy Aggressiveness"
             [data]="aggressivenessOptions"
             [valuePrimitive]="true"
             [(ngModel)]="formData.aggressiveness"
           >
         </kendo-dropdownlist>
      </div>
    </div>
    <div class="mt-4">
        <label for="percentage" class="control-label">Set A/B Testing Percentages:</label>
        <input id="aPercentage" class="form-control percentage-input mx-2" type="number" name="aPercentage" [(ngModel)]="formData.aPercentage" 
          placeholder="A %"/>
        <span>/</span>
        <input id="bPercentage" class="form-control percentage-input mx-2" type="number" name="bPercentage" [(ngModel)]="formData.bPercentage" 
          placeholder="B %"/>
    </div>
    <div class = "mt-4">
        <label for="successRanges" class="control-label">Set Success Target Ranges (%):</label>
        <table>
            <tbody>
                <tr>
                    <td class="font-weight-bold">REVPAR:</td>
                    <td class="px-3 py-1">
                      <input id="minRevpar" class="form-control" type="number" name="minRevpar" [(ngModel)]="formData.revpar.min" 
                        placeholder="Min % Gain"/>
                    </td>
                    <td class="px-3 py-1">
                      <input id="maxRevpar" class="form-control" type="number" name="maxRevpar" [(ngModel)]="formData.revpar.max" 
                        placeholder="Max % Gain"/>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">ADR:</td>
                    <td class="px-3 py-1">
                      <input id="minAdr" class="form-control" type="number" name="minAdr" [(ngModel)]="formData.adr.min" 
                        placeholder="Min % Gain"/>
                    </td>
                    <td class="px-3 py-1">
                      <input id="maxAdr" class="form-control" type="number" name="maxAdr" [(ngModel)]="formData.adr.max" 
                        placeholder="Max % Gain"/>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">OCC:</td>
                    <td class="px-3 py-1">
                      <input id="minOcc" class="form-control" type="number" name="minOcc" [(ngModel)]="formData.occ.min" 
                        placeholder="Min % Gain"/>
                    </td>
                    <td class="px-3 py-1">
                      <input id="maxOcc" class="form-control" type="number" name="maxOcc" [(ngModel)]="formData.occ.max" 
                        placeholder="Max % Gain"/>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">BOOK%:</td>
                    <td class="px-3 py-1">
                      <input id="minBook" class="form-control" type="number" name="minBook" [(ngModel)]="formData.book.min" 
                        placeholder="Min % Gain"/>
                    </td>
                    <td class="px-3 py-1">
                      <input id="maxBook" class="form-control" type="number" name="maxBook" [(ngModel)]="formData.book.max" 
                        placeholder="Max % Gain"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button class="btn btn-primary" type="button" (click)="onSave()">Create strategy</button>
    <button class="btn btn-primary" type="button" (click)="onCancel()" >Cancel</button>
  </div>
</div>