@import 'variables';

.check-in-amenity {
  .sub-title-text {
    font-size: 20px;
    font-weight: lighter;
  }

  .chk-enroll,
  .enroll,
  .fas .fa-star {
    &:hover {
      color: $chart-darkblue-color;
    }

    color: $nav-bottom-border;
    cursor: pointer;
  }

  .btn-amenity {
    max-width: 110px;
    min-width: 110px;
    height: 36px;
    background-color: $white;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: $gray-80;
    border-radius: 2px;
    margin-top: 12px;
    color: $secondary-text-color;
    cursor: pointer;

    &:not([disabled]):hover {
      background-color: $primary-color-hover;
      color: $primary-text-color;
    }
    &:focus {
      box-shadow: none;
    }
    &:disabled {
      cursor: default;
    }
  }

  .btn-sel-amenity {
    max-width: 110px;
    min-width: 110px;
    height: 36px;
    background-color: $chart-darkblue-color;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: $gray-80;
    border-radius: 2px;
    margin-top: 12px;
    color: $white;

    &:hover {
      background-color: $chart-darkblue-color;
    }
  }

  .amenity-container {
    font-weight: 700;
    font-size: 16px;
    color: $gray-60;
    display: flex;
    justify-content: space-evenly;

    .amenity-points {
      font-weight: 200;
      font-size: 20px;
    }
  }

  .vl-separator {
    border-left: 1px solid $persimmon;
    width: 2px;
    height: 20px;
    margin: 0 10px 0 10px;
  }

  .separator-txt {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    width: 20px;
    padding-left: 3px;
    color: $body-color;
  }

  .separator {
    display: flex;
    flex-direction: column-reverse;
  }

  .no-amenity-text {
    font-weight: 200;
    font-size: 20px;
  }

  .points-text {
    margin-top: -4px;
  }
}

:host ::ng-deep {
  .uce-error-wrapper {
    min-height: auto;
  }

  .error-body {
    color: $body-color;
    font-size: 14px;
    font-weight: 400;
  }

  .ref-btn {
    border-color: transparent;
    background-color: $danube-blue;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    color: $white;
    text-align: center;
    width: 81px;
    height: 36px;
    font-size: 14px;
    display: table;
    margin: 12px auto;

    &:hover {
      background-color: $primary-color-hover;
      border-color: transparent;
      -webkit-box-shadow: 0 0.2em 0.5em $silver-gray;
      box-shadow: 0 0.2em 0.5em $silver-gray;
    }
  }
}
