<div class="check-in-amenity" *ngIf="initialized; else errorTemplate">
  <div *ngIf="!guestData?.otaFlag && guestData?.amenityFlag; else otamember">
    <p class="sub-title-text" data-slnm-ihg="SelectLoyaltyAmenity-SID" translate="LBL_SEL_LOY_AMEN"></p>

    <div class="row amenity-container">
      <div class="col no-gutter text-center">
        <div translate="LBL_OTHR_AMENTY"></div>
        <button class="btn btn-amenity" (click)="selectAmenity(amenityMap.otherAmenity)"
               [ngClass]="guestData.selectedAmenity === amenityMap.otherAmenity ? 'btn-sel-amenity' : 'btn-amenity'"
               [disabled]="guestData.isCheckedIn || guestData.ineligibleReservation">
          <i class="fas fa-check" *ngIf="guestData.selectedAmenity === amenityMap.otherAmenity"></i>&nbsp;
          <span *ngIf="guestData.selectedAmenity !== amenityMap.otherAmenity; else selected" translate="LBL_SELECT"
                data-slnm-ihg="OtherAmenitySelect-SID">
          </span>
        </button>
      </div>

      <ng-container *ngIf="true; then separator"></ng-container>

      <div class="no-gutter text-center" *ngIf="guestData?.amenityPoints || hasErrors" [ngClass]="hasErrors ? 'col-4': 'col'">
        <div class="points-text" *ngIf="guestData?.amenityPoints; else errorTemplate">
          <span class="amenity-points">{{guestData?.amenityPoints}}</span>&nbsp;<span translate="LBL_PTS"></span>
        </div>
        <div *ngIf="guestData?.amenityPoints">
          <button class="btn btn-amenity" (click)="selectAmenity(amenityMap.points)"
                 [ngClass]="guestData.selectedAmenity === amenityMap.points ? 'btn-sel-amenity' : 'btn-amenity'"
                 [disabled]="guestData.isCheckedIn || guestData.ineligibleReservation">
            <i class="fas fa-check" *ngIf="guestData.selectedAmenity === amenityMap.points"></i>&nbsp;
            <span *ngIf="guestData.selectedAmenity !== amenityMap.points; else selected" translate="LBL_SELECT"
                  data-slnm-ihg="AmenityPointsSelect-SID">
          </span>
          </button>
        </div>
      </div>

      <ng-container *ngIf="guestData?.amenityPoints || hasErrors; then separator"></ng-container>

      <div class="col no-gutter text-center">
        <div translate="LBL_NONE"></div>
        <button [ngClass]="guestData.selectedAmenity === amenityMap.none ? 'btn-sel-amenity' : 'btn-amenity'"
               class="btn btn-amenity" (click)="selectAmenity(amenityMap.none)"
               [disabled]="guestData.isCheckedIn || guestData.ineligibleReservation">
          <i class="fas fa-check" *ngIf="guestData.selectedAmenity === amenityMap.none"></i>&nbsp;
          <span *ngIf="guestData.selectedAmenity !== amenityMap.none; else selected" data-slnm-ihg="NoneSelect-SID"
                translate="LBL_SELECT">
      </span>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #separator>
  <div class="col-1 separator">
    <ng-container *ngIf="true; then splitline;"></ng-container>
    <div class="separator-txt">or</div>
    <ng-container *ngIf="true; then splitline;"></ng-container>
  </div>
</ng-template>

<ng-template #splitline>
  <div class="row vl-separator"></div>
</ng-template>

<ng-template #selected>
  <span translate="LBL_SLCTD"></span>
</ng-template>

<ng-template #otamember>
  <p class="no-amenity-text text-center" translate="LBL_CHKIN_NO_WLC_AMNTY" data-slnm-ihg="NoWelcomeAmenity-SID"></p>
  <p class="text-center" translate="LBL_CHKIN_NT_ELGBL" data-slnm-ihg="NotEligibleWelcomeAmenity-SID"></p>
</ng-template>

<ng-template #errorTemplate>
  <app-service-error [showSpinner]="!initialized"
                     [errorEvent]="emitError.asObservable()"
                     [config]="errorConfig"
                     [cardType]="errorCardType"
                     [showReportAnIssue]="null"
                     (refreshAction)="getAmenityPoints()">
  </app-service-error>
</ng-template>
