<div class="offer-buttons">
  <button *ngFor="let button of buttons" [hidden]="!button.visible"
          class="btn btn-default mr-2" [ngClass]="{'selected': button.selected}"
          [translate]="button.label" [attr.data-slnm-ihg]="button.seleniumId"
          (click)="handleInteraction(button, true)">
  </button>
</div>