<ng-container *ngIf="cardDetails.length > 0">
  <div class="row" *ngFor="let eachCard of cardDetails">
    <div class="col-12">
      <app-non-editable-credit-card-details data-slnm-ihg="NonEditableCardDetails-SID" [cardCode]="cardCodeIconMaskMap[eachCard?.cardType]?.text" [cardNumber]="eachCard?.cardNumber" [cardExpirationDate]="eachCard?.expiryDate"></app-non-editable-credit-card-details>
    </div>
    <div class="col-5">
      <label class="control-label" data-slnm-ihg="DateLabel-SID" translate="LBL_DATE"></label>
      <p data-slnm-ihg="Date-SID">{{ eachCard?.authDate | date: 'ddMMMyyyy' | uppercase }}</p>
    </div>
    <div class="col-7">
      <label class="control-label" data-slnm-ihg="AmountLabel-SID" translate="LBL_AMOUNT"></label>
      <p data-slnm-ihg="Amount-SID">
        {{ eachCard?.authAmount | number : '.2-2' }}&nbsp;&nbsp;<span>{{ eachCard?.currencyCode }}</span></p>
    </div>
    <div class="col-5 pb-3">
      <label class="control-label" data-slnm-ihg="AuthorizationCodeLabel-SID"
             translate="LBL_AUTH_CODE_PAYMENT"></label>
      <p data-slnm-ihg="AuthorizationCode-SID">{{ eachCard?.authCode }}</p>
    </div>
    <div class="col-7 pb-3 comment-panel">
      <button type="button" disabled *ngIf="eachCard?.commentText == ''" data-slnm-ihg="AddComment-SID"
              class="btn btn-link mt-29">
        <i class="fa fa-plus" aria-hidden="true"></i>
        &nbsp;<span translate="LBL_ADD_COMMENT"></span>
      </button>
      <div class="comment-box" *ngIf="eachCard?.commentText != ''">
        <label class="control-label" data-slnm-ihg="CommentLabel-SID" translate="LBL_SINGULAR_COMMENT"></label>
        <app-truncated-tooltip [text]="eachCard?.commentText" [slnmTag]="'Comment-SID'"></app-truncated-tooltip>
      </div>
    </div>
  </div>
</ng-container>