@import 'variables';

.uce-error-wrapper {
  display: block;
  position: relative;
  .error {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    .icon {
      color: $body-color;
      font-size: 20px;
    }
    .error-header {
      font-size: 24px;
      font-weight: 300;
      line-height: normal;
    }
    .error-body {
      font-size: 14px;
      font-weight: 400;
    }
    &.btn-primary {
      margin: 8px;
    }
    .btn-trans {
        background-color: transparent;

        &:hover {
            background-color: $secondary-color-hover;
        }
    }
  }

  .spinner-overlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    .spinner {
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      left: 50%;
    }
  }
}
