<div class="uce-error-wrapper w-100" *ngIf="initialized">
  <div class="error" *ngIf="!showSpinner">
      <div class="error-header border-bottom pb-3">
        <span class="icon mr-2 pr-1"><i [ngClass]="icon" data-slnm-ihg="ErrorIcon-SID"></i></span>
        <span translate="{{header}}" data-slnm-ihg="ErrorHeader-SID"></span>
      </div>
      <div class="error-body m-3" translate="{{body}}" data-slnm-ihg="ErrorBody-SID"></div>
      <button *ngIf="showRefreshBtn"
              class="btn btn-primary"
              (click)="handleRefresh()"
              [translate]="refreshActionText"
              data-slnm-ihg="RefreshButton-SID"></button>
      <div>
        <button class="btn btn-default btn-trans"
                *ngIf="showReportAnIssue"
                (click)="onReportIssue()"
                translate="REPORT_AN_ISSUE_MENU"
                data-slnm-ihg="ReportAnIssue-SID"></button>
      </div>
  </div>
  <div class="spinner-overlay" [hidden]="!showSpinner">
      <img class="spinner" src="assets/images/fa-spinner-anim.gif">
  </div>
</div>
