<div class="create-walk-in">
  <uic-card>
    <ngb-tabset [activeId]="selectedTab" [destroyOnHide]="false" (tabChange)="handleTabChange($event)">
      <ngb-tab [id]="tab.tabId" *ngFor="let tab of workflowTabs; index as i;" [disabled]="disableGuestInfoTab(tab.tabId)">
        <ng-template ngbTabTitle>
          <i class="fas fa-check-circle mr-2" *ngIf="tab.tabComplete"></i>
          <span class="create-walk-in__desk-width" [attr.data-slnm-ihg]="tab.slmTag" [translate]="tab.tabName"></span>
        </ng-template>
        <ng-template ngbTabContent>
          <ng-container [ngSwitch]="tab.tabId">
            <ng-container *ngSwitchCase="walkInWorkflowTabs.stayInfo">
              <app-walk-in-stay-info (originalReservationDate)="handleOriginalReservationData($event)"></app-walk-in-stay-info>
            </ng-container>
            <ng-container *ngSwitchCase="walkInWorkflowTabs.guestInfo">
              <app-walk-in-guest-info [walkInModelData]="walkInModelData"></app-walk-in-guest-info>
            </ng-container>
          </ng-container>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </uic-card>
</div>