@import 'variables';

::ng-deep app-create-walk-in-workflow {
  .card-body {
    padding: 0;

    ngb-tabset {
      .nav-tabs {
        .nav-item:first-child {
          margin-left: 0;
        }

        .nav-item {
          flex: 1 1 auto;
          text-align: center;
          max-width: 245px;
        }
      }
    }
    .tab-content {
      padding: 0;
    }
  }

  .cwf-spacer {
    height: 225px;
  }

  .fa-check-circle {
    color: $check-icon-color;
    font-size: 14px;
  }
}
