/*@import 'variables';

.modal-content {

}

.modal-header {
  border-bottom: 1px solid $popup-border-color !important;
}

.title {
  font-weight: 200;
  white-space: nowrap;
}

.modal-body {
  padding: 30px 30px;
}

.btn {
  box-sizing: content-box;
  line-height: 20px;
  font-size: 14px;
  padding: 7px 12px;

}

.modal-footer {
  .btn.btn-primary:not(:disabled):not(.disabled) {
    &:hover, &:focus {
      background-color: $primary-color-hover;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    }
    &:active, &.active {
      background-color: $primary-color-pressed;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.35);
      border-color: $primary-color-pressed;
      color: #FFFFFF;
    }
  }
}*/
