<div #heightContainer
     class="view-more-container"
     [ngStyle]="{'max-height.px': maxHeight,
                 'height.px': maxHeight}"
     [attr.data-slnm-ihg]="contentSlmnTag"
     [innerHTML]="content">
</div>
<div *ngIf="displayViewMore"
     class="view float-right"
     [attr.data-slnm-ihg]="viewMoreSlmnTag"
     (click)="viewMoreAction.emit()">... <span [translate]="viewMoreText"></span>
</div>
