.pager-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.pager-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.print-setting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
