<div class="pager-container no-gutters w-100">
  <div data-slnm-ihg="PagerInfo-SID" >
    <div class="pager-info w-100 text-left font-weight-bold">
      <ng-container *ngIf="total > 0; then regularInfo; else noItemFoundInfo"></ng-container>
      <ng-template #regularInfo>
        <span data-slnm-ihg="CurPageInfo-SID" class="current-page">{{currentPageText}} </span>-
        <span data-slnm-ihg="MaxItemsPageInfo-SID" class="max-items"> {{maxItems}}</span>
        <span data-slnm-ihg="OfTextPagerInfo-SID" class="of-text"> {{textFor('pagerOf')}}</span>
        <span data-slnm-ihg="TotalCountPageInfo-SID" class="total"> {{total}}</span>
        <span data-slnm-ihg="GuestPageInfo-SID" class="items-text"> {{ 'LBL_GUESTS' | translate }}</span>
      </ng-template>
      <ng-template #noItemFoundInfo>
        <span data-slnm-ihg="NoGuestPageInfo-SID">{{'LBL_NO_ITEMS_TO_DISPLAY' | translate}}</span>
      </ng-template>
    </div>
  </div>

  <div class="pager-controls no-gutters" data-slnm-ihg="PaginationControl-SID">
    <uic-concerto-grid-pager-prev-buttons></uic-concerto-grid-pager-prev-buttons>
    <uic-concerto-grid-pager-input></uic-concerto-grid-pager-input>
    <uic-concerto-grid-pager-next-buttons></uic-concerto-grid-pager-next-buttons>
  </div>

  <div class="print-setting no-gutters">
    <app-print-grid [menuItems]="printMenuItems"
                    [disabled]="!(gridView.data && gridView.data.length)"
                    (print)="handlePrint($event)">
    </app-print-grid>
    <uic-concerto-grid-settings [attr.data-slnm-ihg]="'SettingGear-SID'"
                                [gridSettings]="settings"
                                (emitPageSize)="selectedPageSize($event)">
    </uic-concerto-grid-settings>
  </div>
</div>