@import 'variables';
@import 'kendo-overrides';

::ng-deep {
  .all-guests-grid.concerto-grid {
    @include fdk-grid-common-styles() {
      .profile-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .guest-name, .profile, .rate-category {
        color: $secondary-text-color;
        cursor: pointer;
        font-weight: normal;

        &__card {
          font-size: 16px;
        }
      }
      .badge-icons {
        margin-top: 5px;
      }
      .no-records {
        height: 400px;
        padding-top: 20px;
      }
      .room-number {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}
