<div class="concerto-grid all-guests-grid"
     [ngClass]="isDesktopView ? 'desktop-grid' : 'tablet-grid'">
  <kendo-grid [data]="gridData"
              [pageSize]="gridState?.take"
              [skip]="gridState?.skip"
              [sort]="gridState?.sort"
              [pageable]="true"
              [dockPager]="true"
              [offsetTop]="56"
              [sortable]="{ allowUnsort: false, mode: 'single' }"
              (dataStateChange)="onDataStateChange($event)"
              uicConcertoGridDockedHeader>

    <ng-template kendoPagerTemplate>
      <uic-concerto-grid-pager class="w-100"
                               [attr.data-slnm-ihg]="'AllGuestsPager-SID'"
                               [translations]="pagerTranslations"
                               [gridSettings]="gridSettings"
                               (outPagesize)="pageSizeUpdate($event)"></uic-concerto-grid-pager>
    </ng-template>

    <kendo-grid-column field="guestName"
                       [width]="columnWidths?.guestNameWidth">
      <ng-template kendoGridHeaderTemplate>
        <div class="pl-3">
          <span translate="LBL_GST_GUEST_NAME" data-slnm-ihg="GuestNameLabel-SID"></span>
        </div>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="px-3 guest-name-container">
          <app-truncated-tooltip [text]="dataItem?.guestName | titlecase"
                                 [innerSpanTemplate]="highlightPipe"
                                 [slnmTag]="'GuestName' + (rowIndex + 1) + '-SID'"></app-truncated-tooltip>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="guestProfile"
                       title=""
                       [width]="columnWidths?.profileWidth"
                       [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="profile-icons">
          <a class="profile" *ngIf="dataItem?.loyaltyId"
             [routerLink]="['/guest-profile']"
             target="_blank"
             (click)="viewMemberProfile(dataItem.loyaltyId)"
             [attr.data-slnm-ihg]="'GuestProfile' + (rowIndex + 1) + '-SID'">
            <i class="far fa-address-card profile__card"
               [ngbTooltip]="'LBL_GUGEST_PROFILE' | translate">
            </i>
          </a>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="loyalty"
                       [width]="columnWidths?.loyaltyWidth"
                       [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_LOYALTY" data-slnm-ihg="LoyaltyLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="badge-icons" [attr.data-slnm-ihg]="'GuestBadges' + (rowIndex + 1) + '-SID'">
          <app-badge-list [badges]="dataItem?.badges"></app-badge-list>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="checkIn"
                       [width]="columnWidths?.arrivalWidth">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_ARRIVAL" data-slnm-ihg="ArrivalLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span class="text-uppercase" [attr.data-slnm-ihg]="'GuestArrival'  + (rowIndex + 1) +  '-SID'">
          {{ dataItem.checkInDate ? (dataItem.checkInDate | date:appConstants.PIPE_DD_MM_FORMAT_NO_SPACE) : appConstants.EMDASH }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="columnWidths?.departureWidth"
                       field="deparatureDate">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GST_DEPARTURE" data-slnm-ihg="DepartureLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
         <span class="text-uppercase" [attr.data-slnm-ihg]="'GuestDeparture'  + (rowIndex + 1) +  '-SID'">
          {{ dataItem.deparatureDate ? (dataItem.deparatureDate | date:appConstants.PIPE_DD_MM_FORMAT_NO_SPACE) : appConstants.EMDASH }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="columnWidths?.groupWidth"
                       class="text-left pr-3"
                       headerClass="text-left"
                       field="groupName">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GRP_COMP"
              data-slnm-ihg="GroupCompanyNameLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <ng-container *ngIf="dataItem?.groupCompanyName; else noData">
          <app-truncated-tooltip [text]="dataItem?.groupCompanyName"
                                 [slnmTag]="'GroupCompanyName' + (rowIndex + 1) + '-SID'"></app-truncated-tooltip>
        </ng-container>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="columnWidths?.rateWidth"
                       class="text-left"
                       headerClass="text-left"
                       field="rateCategoryCode">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_RATE" data-slnm-ihg="RateLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span class="rate-category" (click)="getRateCodeDetails(rowIndex)"
              [attr.data-slnm-ihg]="'RateCategoryCode'  + (rowIndex + 1) +  '-SID'">
          {{dataItem?.rateCategoryCode || appConstants.EMDASH}}
        </span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="columnWidths?.roomWidth"
                       field="room"
                       class="text-left"
                       headerClass="text-left">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_ROOM" data-slnm-ihg="RoomLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="dataItem?.roomNumber" [attr.data-slnm-ihg]="'RoomNumber'  + (rowIndex + 1) +  '-SID'">
          <span class="room-number">{{dataItem?.roomNumber}} </span>
          <span class="room-type">{{dataItem?.roomType || appConstants.EMDASH}}</span>
        </span>
        <span *ngIf="!dataItem?.roomNumber" [attr.data-slnm-ihg]="'RoomNumber'  + (rowIndex + 1) +  '-SID'">
          {{appConstants.EMDASH}}
        </span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="columnWidths?.statusWidth"
                       field="status"
                       class="text-left"
                       headerClass="text-left"
    >
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_STATUS" data-slnm-ihg="StatusLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <span [attr.data-slnm-ihg]="'ReservationStatus'  + (rowIndex + 1) +  '-SID'">
            {{dataItem?.reservationStatus ?
            reservationStatusMap[dataItem?.reservationStatus] || appConstants.EMDASH :
            appConstants.EMDASH}}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="columnWidths?.actionsWidth"
                       field="actions"
                       [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span translate="COM_LBL_ACTIONS" data-slnm-ihg="ActionsLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div *ngIf="dataItem.reservationStatus">
          <app-all-guests-actions [guestItem]="dataItem"
                                  [rowIndex]="rowIndex"
                                  [localDate]="localCurrentDate">
          </app-all-guests-actions>
        </div>
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
      <div class="no-records" *ngIf="gridData?.data && gridData?.data.length==0">
        <app-service-error
          [attr.data-slnm-ihg]="'NoSearchResultAllGuests-SID'"
          [errorEvent]="allGuestDataErrorEvent"
          (refreshAction)="onRefresh($event)"
          (reportIssueAction)="onReportIssueClicked()"
          [reportIssueAutoFill]="reportIssueConfig"
          [config]="isSearchResult ? searchErrorConfig : noDataErrorConfig">
        </app-service-error>
      </div>
    </ng-template>
  </kendo-grid>
</div>

<ng-template #noData>
  {{appConstants.EMDASH}}
</ng-template>

<ng-template #highlightPipe let-text="text" let-seleniumTag="seleniumTag">
  <span [attr.data-slnm-ihg]="seleniumTag" [innerHTML]="text | textHighlight:search"></span>
</ng-template>
