@import "variables";

.offer-panel {
  border: 1px solid $gray-80;
  padding: 20px;
  cursor: pointer;

  &:hover:not(.selected) {
    background: $secondary-text-color;
    border: 1px solid $secondary-text-color;
    color: $nav-text-hover;
  }

  &.selected {
    border: 1px solid $secondary-text-color;
    background: $hawkes-blue;
  }

  &:not(:hover),
  &.selected:hover {
    .fa-check {
      color: $status-complete-primary-color;
    }
    .fa-times {
      color: $status-incomplete-primary-color;
    }
  }

  .avg-nightly-rate {
    font-size: 18px;
    font-weight: 300;
    .nightly-rate {
      font-size: 30px;
    }
  }
  .rate-info {
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;

    app-truncated-tooltip {
      display: inline-block;
      vertical-align: text-top;
      ::ng-deep .rate-name {
        max-width: 176px;
      }
    }
  }
  .room-info {
    font-size: 12px;
    line-height: 17px;

    app-truncated-tooltip {
      display: inline-block;
      vertical-align: text-top;
      ::ng-deep .room-type {
        max-width: 158px;
      }
    }
  }

  ul.items {
    padding: 0;
    margin: 20px 0 0 0;
    list-style-type: none;

    li {
      .fas {
        font-size: 12px;
        width: 10px;
      }
    }
  }
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  button.btn {
    width: calc(50% - 5px);
  }
}

@media screen and (max-width: 1024px) {
  .offer-panel {
    .room-info {
      app-truncated-tooltip {
        ::ng-deep .room-type {
          max-width: 180px;
        }
      }
    }

    .rate-info {
      app-truncated-tooltip {
        ::ng-deep .rate-name {
          max-width: 205px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .offer-panel {
    .room-info {
      app-truncated-tooltip {
        ::ng-deep .room-type {
          max-width: 220px;
        }
      }
    }
    .rate-info {
      app-truncated-tooltip {
        ::ng-deep .rate-name {
          max-width: 235px;
        }
      }
    }
  }
}
