<div class="offer-panel"
     [ngClass]="{'selected': selected}"
     data-slnm-ihg="OfferContainer-SID"
     (click)="handleSelect()">
  <p class="avg-nightly-rate text-center mb-2">
    <span class="nightly-rate"
          data-slnm-ihg="NightlyRate-SID">{{ offer.averageNightlyRate | number: '2.2-2' }}</span>&nbsp;
    <span data-slnm-ihg="CurrencyCode-SID">{{ offer.rateInfo.currency | uppercase }}</span>
  </p>
  <h4 class="rate-info text-center mb-1">
    <app-truncated-tooltip [widthClass]="'rate-name'"
                          text="{{ offer.name | uppercase}}"
                          [slnmTag]="'RateName-SID'">
    </app-truncated-tooltip>
    <span class="rate-code ml-1"
        data-slnm-ihg="RateCode-SID">({{offer.code | uppercase}})</span>
  </h4>
  <h5 class="room-info text-center">
    <i class="fas fa-bed mr-1"
       data-slnm-ihg="BedIcon-SID"></i>
    <app-truncated-tooltip [widthClass]="'room-type'"
                           text="{{roomType | titlecase}}"
                           [slnmTag]="'RoomTypeName-SID'">
    </app-truncated-tooltip>
    <span class="room-code ml-1"
          data-slnm-ihg="RoomCode-SID">({{roomCode | uppercase}})</span>
  </h5>
  <ul class="items">
    <li>
      <i class="fas mr-2"
         [ngClass]="{'fa-check': offer.rateInfo.rateRules[0]?.refundable, 
             'fa-times': !offer.rateInfo.rateRules[0]?.refundable}"></i>
      <span translate="LBL_REFUNDABLE"
            data-slnm-ihg="Refundable-SID"></span>
    </li>
    <li>
      <i class="fas mr-2"
         [ngClass]="{'fa-check': offer.pointsEligible, 
         'fa-times': !offer.pointsEligible}"></i>
      <span translate="LBL_PTS_ELGBL"
            data-slnm-ihg="PointsEligible-SID"></span>
    </li>
    <li>
      <i class="fas mr-2"
         [ngClass]="{'fa-check': offer.breakfastIncluded, 
         'fa-times': !offer.breakfastIncluded}"></i>
      <span translate="LBL_BRKFST_INCLD"
            data-slnm-ihg="BreakfastInclusion-SID"></span>
    </li>
  </ul>
</div>
<div *ngIf="selected" class="btn-wrap">
  <button class="btn btn-default"
          type="button"
          (click)="handleViewDetails()"
          data-slnm-ihg="ViewDetails-SID"
          translate="LBL_VW_DTLS"></button>
  <button class="btn btn-primary"
          type="button"
          (click)="handleSelectOffer()"
          data-slnm-ihg="SelectOffer-SID"
          translate="LBL_SLCT_OFR"></button>
</div>