<ng-container *ngTemplateOutlet="heartBeatSurvey && validHeartBeatData ? icons: noData"></ng-container>
<ng-template #icons>
  <div class="spacer d-flex justify-content-center heartbeat-icons">
      <span class="ht-icon" *ngIf="isValidLowGuestLoveScore(heartBeatSurvey.guestLove)" [ngbTooltip]="keyMap.lowGuestLoveScore | translate"><i class="fas fa-flag icon-flag" aria-hidden="true"></i></span>
      <span class="ht-icon" *ngIf="showIcon(heartBeatSurvey.likeComment,heartBeatSurvey.makeStayBetterComment)" [ngbTooltip]="keyMap.pastComments | translate" (click)="openCommentsModal()"><i class="fas fa-comment icon-comment" aria-hidden="true"></i></span>
      <span class="ht-icon" *ngIf="showIcon(heartBeatSurvey.sleepIssue)" [ngbTooltip]="keyMap.sleepIssues | translate"><i class="fas fa-bed icon-bed" aria-hidden="true"></i></span>
  </div>
  <div class="text-center grayed-text">{{heartBeatSurvey.surveyDate | date: datePipeDisplayFormat }}</div>
</ng-template>
<ng-template #noData>
  <div class="hb-no-data text-center" [translate]="keyMap.none"></div>
</ng-template>
