<div data-slnm-ihg="CorporateIDLookUpModal-SID">
  <div class="modal-header">
    <h4 class="modal-title" data-slnm-ihg="Title-SID" translate="LBL_LOOK_UP_CRPRT"></h4>
    <button type="button" class="close" aria-label="Close" data-slnm-ihg="CloseIcon-SID"
    (click)="closeModal()">&times;
    </button>
  </div>
  <div class="modal-body">
    <app-corporate-id-look-up-form (emitCancelSearch)="closeModal()" (emitAddCrprtIdToForm)="handleEmittedCoprporateId($event)"></app-corporate-id-look-up-form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-slnm-ihg="CloseButton-SID" (click)="closeModal()" translate="COM_BTN_CLOSE"></button>
  </div>
</div>
