::ng-deep .modal-lookup {
    .modal-dialog {
        max-width: 720px;
    }
    .modal-header {
        padding: 15px 30px;
        .close {
            font-size: 26px;
            opacity: .4;
            padding: 13px 15px;
            font-weight: 300;
        }
    }
    .modal-footer {
        padding: 15px 30px;
    }
    .modal-body {
        padding: 20px 30px 10px;
    }
}

