<div class="offers-by-category-grid concerto-grid"
     *ngIf="gridData?.data?.length">
  <kendo-grid [data]="gridData"
              [filterable]="false"
              [selectable]="false"
              [pageable]="true"
              [pageSize]="gridState.take"
              [skip]="gridState.skip"
              (pageChange)="handlePageChange($event)">
    <ng-template kendoPagerTemplate>
      <uic-concerto-grid-pager class="w-100"></uic-concerto-grid-pager>
    </ng-template>
    <kendo-grid-column class="align-top">
      <ng-template kendoGridCellTemplate
                   let-dataItem
                   let-rowIndex="rowIndex">
        <app-collapsible-item [attr.data-slnm-ihg]="'Product-' + rowIndex + '-SID'"
                              [panelTitle]="getPanelTitle(dataItem)"
                              [panelInfoLabel]="dataItem.pointsEligible ? 'LBL_PTS_ELGBL' : ''">
          <ng-template>
            <app-products-table [reservationNumber]="reservationNumber"
                                (estimatedTotal)="setEstimatedTotal($event)"
                                [rateName]="dataItem.name"
                                [rateCode]="dataItem.code"
                                [pointsEligible]="dataItem.pointsEligible"
                                [searchCritera]="searchCritera"
                                [originalReservationData]="originalReservationData"
                                [productsData]="dataItem.products">
            </app-products-table>
          </ng-template>
        </app-collapsible-item>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>