:host ::ng-deep {
    kendo-grid {
        uic-concerto-grid-pager-info {
            font-weight: 700;
            .of-text {
                font-weight: normal;
            }
            .items-text {
                display: none;
            }
        }
        tbody tr,
        tbody tr:hover,
        .k-detail-row:hover,
        .k-detail-row:hover>td,
        .k-detail-row thead tr {
            background-color: transparent !important;
        }
        tbody>tr:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }
        colgroup {
            col {
                &:first-child {
                    width: 15px;
                }
                &:nth-child(2) {
                    width: 125px;
                }
                &:nth-child(3) {
                    width: 120px;
                }
                &:nth-child(5) {
                    width: 160px;
                }
                &:nth-child(6) {
                    width: 90px;
                }
            }
        }
        .k-grid-header {
            padding: 0 !important;
            .k-hierarchy-cell {
                display: table-cell !important;
            }
            .k-hierarchy-col {
                display: table-column !important;
            }
        }
        .k-grid-content {
            overflow-y: auto;
            .k-hierarchy-cell,
            .k-hierarchy-col {
                display: table-cell !important;
            }
            .k-hierarchy-col {
                display: table-column !important;
            }
            .k-detail-row .k-detail-cell {
                padding-left: 10px !important;
            }
        }
        .inner-table {
            tr {
                border-bottom: none !important;
                th {
                    font-size: 14px;
                    font-weight: bold;
                    &:first-child {
                        width: 186px;
                    }
                }
                td {
                    font-size: 14px;
                    line-height: 28px;
                    vertical-align: top;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        uic-concerto-grid-pager .col-4.col-lg-6 {
            min-width: 40%;
        }
    }
}