<kendo-grid [data]="corporateAccounts" [filterable]="false" [selectable]="false" [pageable]="true" [pageSize]="gridState.take" [skip]="gridState.skip" (pageChange)="handlePageChange($event)">
    <ng-template kendoPagerTemplate>
        <uic-concerto-grid-pager class="w-100"></uic-concerto-grid-pager>
    </ng-template>
    <kendo-grid-column field="corporateId">
        <ng-template kendoGridHeaderTemplate>
            <div class="pl-2">
                <span data-slnm-ihg="CoprporateIdLabel-SID" translate="LBL_CRPRT_ID"></span>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="pl-2" [attr.data-slnm-ihg]="'CoprporateId' + (rowIndex + 1) + '-SID'">
                {{dataItem.corporateId}}
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="accountType">
        <ng-template kendoGridHeaderTemplate>
            <div class="pl-2">
                <span data-slnm-ihg="AccountTypeLabel-SID" translate="LBL_ACCT_TYPE"></span>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="pl-2" [attr.data-slnm-ihg]="'AccountType' + (rowIndex + 1) + '-SID'">
                <ng-container *ngIf="dataItem.accountType!=''">
                    {{dataItem.accountType}}
                </ng-container>
                <ng-container *ngIf="dataItem.accountType==''">
                    -
                </ng-container>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="corporateSalesProgram">
        <ng-template kendoGridHeaderTemplate>
            <div class="pl-2">
                <span data-slnm-ihg="CorporateSalesProgramLabel-SID" translate="LBL_CRPRT_SALES"></span>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="pl-2">
                <ng-container *ngIf="dataItem.corporateSalesProgram!=''">
                    <app-truncated-tooltip [widthClass]="'title-text'" [text]="dataItem.corporateSalesProgram" [slnmTag]="'CorporateSalesProgram' + (rowIndex + 1) + '-SID'"></app-truncated-tooltip>
                </ng-container>
                <ng-container *ngIf="dataItem.corporateSalesProgram==''">
                    -
                </ng-container>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="corporateName">
        <ng-template kendoGridHeaderTemplate>
            <div class="pl-2">
                <span data-slnm-ihg="CorporateNameLabel-SID" translate="LBL_CRPRT_NAME"></span>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="pl-2">
                <ng-container *ngIf="dataItem.corporateName!=''">
                    <app-truncated-tooltip [text]="dataItem.corporateName" [slnmTag]="'CorporateName' + (rowIndex + 1) + '-SID'"></app-truncated-tooltip>
                </ng-container>
                <ng-container *ngIf="dataItem.corporateName==''">
                    -
                </ng-container>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="actions">
        <ng-template kendoGridHeaderTemplate>
            <div class="pl-2 text-center">
                <span data-slnm-ihg="ActionLabel-SID" translate="LBL_ACTION"></span>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="pl-2 text-center">
                <button class="btn btn-default" [attr.data-slnm-ihg]="'Action' + (rowIndex + 1) + '-SID'" (click)="addCorporateIdToForm(dataItem.corporateId)" placement="top" [ngbTooltip]="'Add'"><i class="fas fa-plus-circle"></i></button>
            </div>
        </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
        <table class="inner-table">
            <thead>
                <tr>
                    <th data-slnm-ihg="AddressLabel-SID" translate="LBL_ADDRESS"></th>
                    <th data-slnm-ihg="AliasNameLabel-SID" translate="LBL_ALIAS_NAME"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td [attr.data-slnm-ihg]="'Address' + (rowIndex + 1) + '-SID'">
                        <ng-container *ngIf="dataItem.address!=''">
                            {{dataItem.address}}
                        </ng-container>
                        <ng-container *ngIf="dataItem.address==''">
                            -
                        </ng-container>
                    </td>
                    <td [attr.data-slnm-ihg]="'AliasName' + (rowIndex + 1) + '-SID'">
                        <ng-container *ngIf="dataItem.aliasName!=''">
                            {{dataItem.aliasName | titlecase}}
                        </ng-container>
                        <ng-container *ngIf="dataItem.aliasName==''">
                            -
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</kendo-grid>