<kendo-multiselect class="status-filter"
  *ngIf="roomList"
  [kendoMultiSelectSummaryTag] = "1"
  [data]="distinctStatusList"
  [autoClose]="false"
  [(ngModel)]="selectedStatus"
  [clearButton]="false"
  [placeholder]="'LBL_FLTR_STATUS' | translate"
  [kendoDropDownFilter]="filterSettings"
  [attr.data-slnm-ihg]="'StatusSelect-SID'"
  (valueChange)="handleValueChange($event)">
  <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
    {{'+'}}{{ dataItems.length }} {{ 'LBL_MORE' | translate }}
  </ng-template>
</kendo-multiselect>
