<app-action-toggle-dropdown>
  <app-action-toggle-item (click)="openGroupArrivalsModal()">
    <span class="color-default" translate="LBL_VW_ALL_GST_GRP"></span>
  </app-action-toggle-item>
</app-action-toggle-dropdown>
