<div class="group-block">
  <div class="card-header py-0" data-slnm-ihg="Groups-SID">
    {{ 'LBL_GRPS' | translate }} ({{ groupList?.length || 0}})
  </div>
  <app-group-list-grid [gridState]="gridState"
                       [items]="groupList"
                       [localDate]="localDate"
                       [searchQuery]="searchQuery || previewSearchValue"
                       [displayBorder]="!!previewSearchValue && !this.isAllGroupSelected"
                       [topic]="subcategory"
                       (emitSelectedGroup)="emitSelectedGroup.emit($event)"
                       [prepareGuestDataErrorEvent]="emitError.asObservable()"
                       (refreshAction)="onGuestListRefresh()"
                       (stateChange)="changeState($event)">
  </app-group-list-grid>
</div>
