<div>
    <button (click)="navigateProposedStrategies()" class="btn btn-primary mb-3">Go to proposed strategies</button>
    <div class="row">
        <div class="col-4" *ngFor="let performanceItem of performanceData">
          <uic-card>
            <app-strategy-performance-item [performanceItem]="performanceItem">  
            </app-strategy-performance-item>
          </uic-card>
        </div>
      </div>
</div>
