@import 'variables';

.check-in-keys {
  .check-in-text {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin-bottom: 0;
  }

  .title-text {
    font-size: 24px;
    font-weight: lighter;
    color: $gray-20;
  }

  .keys-reg-card-block {
    padding-top: 5px;
    justify-content: center;

    .keys-block {
      padding: 0;
    }
  }

  .encoder-selector-container {
    padding-top: 15px;
    justify-content: center;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .check-in-keys {
    .check-in-text {
      height: 108px;
    }
  }
}
