<div class="check-in-keys">
  <div class="toast-messages">
    <!-- Cut Key error toast -->
    <app-error-toast-message
      [attr.data-slnm-ihg]="'CutKeyError-SID'"
      [errorEvent]="cutKeyAssignmentError.asObservable()"
      [translations]="cutKeyErrorContent.assignRoom"
      [reportIssueAutoFill]="reportIssueAutoFill.suggestedRoomError"
      (retryAction)="onCutKeyRetry()">
    </app-error-toast-message>
  </div>

  <div class="row check-in-text">
    <div class="col-md-6 text-center">
      <h3 class="title-text" data-slnm-ihg="KeysReg-SID" translate="LBL_KYS_CPLT_HEAD">
      </h3>
      <p translate="LBL_KYS_CPLT_MSG"></p>
    </div>
  </div>
  <div class="row encoder-selector-container">
    <app-encoder-selector (encoder)="encoderSelected($event)"></app-encoder-selector>
  </div>
  <div class="row keys-reg-card-block">
    <div class="col-md-6 keys-block">
      <app-keys (isCutKeyError)="isCutKeyError($event)" [guestData]="guestData"
                [encoder]="selectedEncoder"></app-keys>
    </div>
  </div>
</div>
