<div class="p-3">
  <div class="border-bottom text-center py-2 title">
    Version {{strategy.version}} of Proposed Strategy - {{strategy.name}}
  </div>
  <div class="border-bottom text-center py-2">
    <span class="font-weight-bold">Effective Dates:</span> {{formatDate(strategy.startDate)}} to {{formatDate(strategy.endDate)}}
  </div>
  <div class="border-top border-bottom">
    <div class="row">
      <div class="col-6 border-right py-2">
        <div class="font-weight-bold">Projected Uplift</div>
        <table class="smaller">
            <tbody>
                <tr *ngFor="let key of getKeys(strategy.uplifts)">
                    <td class="pr-2">{{key}}</td>
                    <td>{{strategy.uplifts[key] | number:'1.2-2'}}%</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="col-6 border-left py-2">
        <div class="font-weight-bold">Proposed Rates</div>
        <table class="smaller">
            <tbody>
                <tr *ngFor="let key of getKeys(strategy.rates)">
                    <td class="pr-2 text-nowrap">{{key}}</td>
                    <td>${{strategy.rates[key] | number:'1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="border-top border-bottom py-2">
    <div class="text-center font-weight-bold">Rms Demand and Forecast</div>
    <table class="smaller">
        <tbody>
            <tr>
                <td class="pr-2">Hurdle Points</td>
                <td>C1/${{strategy.demandAndForecast.hurdlePoints.C1| number:'1.2-2'}} :: C2/${{strategy.demandAndForecast.hurdlePoints.C2| number:'1.2-2'}}</td>
            </tr>
            <tr>
                <td class="pr-2">BFR</td>
                <td>${{strategy.demandAndForecast.bfr| number:'1.2-2'}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="border-top border-bottom pt-2">
        <table class="table fixedtable">
          <thead>
            <tr>
              <th></th>
              <th>Prior Year</th>
              <th>CompSet</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>REVPAR</td>
              <td>${{strategy.priorYear.REVPAR| number:'1.2-2'}}</td>
              <td>${{strategy.compset.REVPAR| number:'1.2-2'}}</td>
            </tr>
            <tr>
              <td>ADR</td>
              <td>${{strategy.priorYear.ADR| number:'1.2-2'}}</td>
              <td>${{strategy.compset.ADR| number:'1.2-2'}}</td>
            </tr>
            <tr>
              <td>OCC</td>
              <td>{{strategy.priorYear.OCC| number:'1.2-2'}}%</td>
              <td>{{strategy.compset.OCC| number:'1.2-2'}}%</td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="d-flex justify-content-between w-100 pt-3 border-top">
    <button class="btn btn-primary d-inline-block">Publish</button>
    <button class="btn btn-primary d-inline-block" (click)="onModify()">Modify</button>
    <button class="btn btn-primary d-inline-block">Reject</button>
  </div>
</div>