<div class="row justify-content-start align-items-center no-gutters w-100">
  <div class="col-4 col-lg-3">
    <div class="pager-info w-100 text-left font-weight-bold" data-slnm-ihg="PagerInfo-SID">
      <ng-container *ngIf="total > 0; then regularInfo; else noItemFoundInfo"></ng-container>
      <ng-template #regularInfo>
        <span class="current-page">{{currentPageText}} </span>-
        <span class="max-items"> {{maxItems}}</span>
        <span class="of-text"> {{textFor('pagerOf')}}</span>
        <span class="total"> {{total}}</span>
        <span class="items-text"> {{ 'LBL_GUESTS' | translate }}</span>
        <span *ngIf="selectedListCount() > 0">, {{ selectedListCount() }} {{ 'LBL_SLCTD' | translate }}</span>
        <span class="pl-3" *ngIf="selectedListCount() > 1">
          <app-bulk-notify  *accessControl="'notify_guest' as tagName with bulkNotifyGuestReadOnly; customizer:accessModifier.bulkNotifyGuestAccessCustomizer" [listItems]="this.gridView.data"></app-bulk-notify>
        </span>
        <ng-template #bulkNotifyGuestReadOnly>
          <button  class="btn btn-default disabled-bell"  [ngbTooltip]="'LBL_READ_ONLY_PERMISSION' | translate" placement="right" data-slnm-ihg="DisabledBulkNotifyBell-SID">
              <i class="far fa-bell" ></i>
          </button>
        </ng-template>
      </ng-template>
      <ng-template #noItemFoundInfo>
        <span>{{'LBL_NO_ITEMS_TO_DISPLAY' | translate}}</span>
      </ng-template>
    </div>
  </div>

  <div class="col-5 col-lg-6">
    <div class="row justify-content-center align-items-center no-gutters" data-slnm-ihg="PaginationControl-SID">
      <uic-concerto-grid-pager-prev-buttons></uic-concerto-grid-pager-prev-buttons>
      <uic-concerto-grid-pager-input></uic-concerto-grid-pager-input>
      <uic-concerto-grid-pager-next-buttons></uic-concerto-grid-pager-next-buttons>
    </div>
  </div>

  <div class="col-3 col-lg-3">
    <div class="row justify-content-end align-items-center no-gutters">
      <app-print-grid [menuItems]="printMenuItems"
        [disabled]="!(gridView.data && gridView.data.length)"
        (print)="handlePrint($event)"></app-print-grid>
      <uic-concerto-grid-settings [attr.data-slnm-ihg]="'SettingGear-SID'"
                                  [gridSettings]="settings"
                                  (emitPageSize)="selectedPageSize($event)">
      </uic-concerto-grid-settings>
    </div>
  </div>
</div>
