@import 'variables';

:host ::ng-deep {
  .pager-info,
  .pager-input {
    color: $body-color;
  }

  uic-concerto-grid-settings {
    .container {
      padding: 0;
    }
  }
  .disabled-bell {
    color: $gray-60;
    cursor: default;
  }
  button {
    &.btn.btn-default.disabled-bell:hover{
      background-color: #FFFFFF;
    }
  }
}

