::ng-deep .conflicts-modal {
  .modal-dialog {
    max-width: 605px;
  }

  .modal-header {
    flex-wrap: wrap;

    .error-message {
      flex: 0 0 100%;
    }
  }

  .modal-sub-heading {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
