<div class="modal-content">

  <div class="modal-header">
    <h4 class="modal-title" data-slnm-ihg="ConflictsHeader-SID">
      <span *ngIf="view === viewTypes.roomConflicts" translate="LBL_ROOM__NOT_AVLBL"
            [translateParams]="{roomNum:originalReservationData?.roomNumber}"></span>
      <span *ngIf="view === viewTypes.manualAssign"
            [translate]="viewChangeEnabled ? 'LBL_CHG_ROOM' : 'LBL_ASGN_RM'"></span>
    </h4>
    <button type="button" class="close" (click)="dismissModal()" [ngbTooltip]="'COM_BTN_CLOSE' | translate">&times;
    </button>
    <app-error-toast-message class="error-message"
                             [attr.data-slnm-ihg]="'ConfirmChangesErrorToast-SID'"
                             [errorEvent]="emitError.asObservable()"
                             [translations]="errorContent"
                             [reportIssueAutoFill]="reportIssueAutoFill"
                             (retryAction)="tryAgain()">
    </app-error-toast-message>
    <app-error-toast-message class="error-message"
                             [attr.data-slnm-ihg]="'ManualAssignErrorToast-SID'"
                             [errorEvent]="manualAssignErrorEvent.asObservable()"
                             [translations]="manualAssignErrorContent"
                             [reportIssueAutoFill]="manualAssignErrorAutoFill"
                             (retryAction)="tryAgain()">
    </app-error-toast-message>
  </div>

  <div class="modal-body" [ngClass]="{'p-0': view === viewTypes.roomConflicts}">
    <ng-container *ngIf="conflicts && view === viewTypes.roomConflicts">
      <div class="info m-3"
           translate="LBL_ROOM__NOT_AVLBL_CONFLICT_MSG"
           [translateParams]="{roomNum: originalReservationData?.roomNumber}"></div>
      <app-conflicts-grid [conflicts]="conflicts"
                          [hasDoNotMoveAccess]="hasDoNotMoveAccess"
                          [conflictRoom]="originalReservationData?.roomNumber"
                          (conflictsResolved)="handleConflictsResolvedUpdate($event)"></app-conflicts-grid>
    </ng-container>
    <ng-container *ngIf="listItem && view === viewTypes.manualAssign">
      <h3 *ngIf="!viewChangeEnabled"
          class="modal-sub-heading"
          translate="LBL_ROOM_TYPE_SELECT"
          [translateParams]="{roomType: listItem?.roomType}">
      </h3>
      <app-manual-assign-grid [listItem]="listItem"
                              [stateName]="stateName"
                              [selectedRoom]="selectedRoom"
                              [selectedRoomTypes]="[listItem?.roomType]"
                              [disabledRoomType]="true"
                              [getListWatcher]="manualAssignRoomRefreshTrigger.asObservable()"
                              [showPostMasterRoom]="true"
                              [calculateRemainingGridHeight]="false"
                              (assignRoom)="onRoomSelection($event)"></app-manual-assign-grid>
    </ng-container>
  </div>

  <div class="modal-footer" [ngClass]="{'justify-content-between': viewChangeEnabled}">
    <button *ngIf="viewChangeEnabled"
            class="btn btn-default mr-auto"
            type="button"
            (click)="toggleView()"
            data-slnm-ihg="ToggleView-SID"
            [translate]="view === viewTypes.roomConflicts ? 'LBL_CHG_ROOM' : 'LBL_VIEW_CONFLICT'"></button>

    <button class="btn btn-default"
            type="button"
            (click)="dismissModal()"
            data-slnm-ihg="Cancel-SID"
            translate="COM_BTN_CANCEL"></button>

    <button *ngIf="view === viewTypes.roomConflicts"
            class="btn btn-primary"
            type="button"
            (click)="continue()"
            data-slnm-ihg="ConflictsConfirm-SID"
            [translate]=" allConflictsResolved ? 'COM_BTN_CONT' : 'COM_BTN_RFRSH'"></button>

    <button *ngIf="view === viewTypes.manualAssign"
            [disabled]="!selectedRoom"
            class="btn btn-primary"
            type="button"
            (click)="manualAssignRoomContinue()"
            data-slnm-ihg="ContinueManualRoomAssignment-SID"
            [translate]="viewChangeEnabled ? 'COM_BTN_CONT' : 'LBL_CONFIRM'"></button>
  </div>
</div>
