<p class="attribute-header">
  <i class="fas fa-spa header-icon"></i>
  <span data-slnm-ihg="GuestInterests-SID" [translate]="keyMap.featureInterests"></span>
</p>
<div *ngIf="initialized && !hasErrors">
    <span *ngIf="interests.length === 0" data-slnm-ihg="GuestInterestsNone-SID" [translate]="keyMap.none"></span>
    <ul class="interests-list" *ngIf="interests.length !== 0" data-slnm-ihg="GuestInterestsOptions-SID">
        <li *ngFor="let item of interests; let i = index" [attr.data-slnm-ihg]="'GuestInterestsOption_'+i+'-SID'">
          <span *ngIf="i < maxInterests || showAllInterests" [translate]="item"></span>
        </li>
      </ul>
      <span *ngIf="interests.length > maxInterests" class="btn btn-link show-more-button" data-slnm-ihg="GuestInterestsShowAll-SID" (click)="enableShowAllInterest()" >
        <span *ngIf="!showAllInterests"><i class="fas fa-arrow-down"></i><span data-slnm-ihg="GuestInterestsShowMore-SID" [translate]="keyMap.featureShowMore"></span></span>
        <span *ngIf="showAllInterests"><i class="fas fa-arrow-up"></i><span data-slnm-ihg="GuestInterestsShowLess-SID" [translate]="keyMap.featureShowLess"></span></span>
      </span> 
</div>
<div [hidden]="!hasErrors">
  <app-service-error [cardType]="errorCardType" [errorEvent]="emitError.asObservable()"
                    (refreshAction)="refresh()"
                    [config]="errorConfig"
                    (reportIssueAction)="onReportIssueClicked()">
  </app-service-error>
</div>
