@import 'variables';

.attribute-header {
  font-weight: bold;
  margin: 18px 0 10px;

  .header-icon {
    margin-right: 5px;
  }
}
.interests-list {
  list-style-type: none;
  padding-left: 0;
}

.show-more-button {
  cursor: pointer;
  margin: -0.5rem 0 0 -0.5rem;
  &:active {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .35);
  }
  .fa-arrow-down, .fa-arrow-up {
    margin-right: 0.5rem;
  }
}