<div #printableContent *ngIf="guestList && guestList.length">
  <app-search-criteria
                       [selectedDate]="selectedDate || localDate"
                       [searchString]="searchString"
                       [filters]="filters"
                       [guestCount]="guestList?.length"
                       [arrivalTab]="arrivalTab">
  </app-search-criteria>

  <app-guest-list-table
                        [items]="guestList"
                        [allowManage]="allowManage"
                        [isTodaySelected]="isTodaySelected"
                        [detailed]="detailed"
                        [searchDate]="selectedDate"
                        [otherTab]="otherTab"
                        [localDate]="localDate">
  </app-guest-list-table>
</div>
