<div class="heart-beat-comments">
  <div class="modal-header">
    <h4 class="modal-title">
      <span translate="LBL_HB_CMNT_TTL" data-slnm-ihg="CommentsTitle-SID"></span>
      <span *ngIf="!heartBeatDate; else surveyDate" class="pl-1" translate="LBL_HB_CMNT_SUB_TTL" data-slnm-ihg="CommentsSubTitle-SID"></span>
      <ng-template #surveyDate><span class="pl-1"
                                     translate="LBL_HB_CMNT_SUB_TTL_DATE"
                                     [translateParams]="{date: heartBeatDate | date :'dd MMM yyyy'}"
                                     data-slnm-ihg="SurveyDate-SID"></span></ng-template>
    </h4>
    <button type="button"
            class="close"
            data-slnm-ihg="ButtonCloseX-SID"
            [ngbTooltip]="'COM_BTN_CLOSE' | translate"
            (click)="close()">&times;
    </button>
  </div>

  <div class="modal-body">
    <ng-container *ngIf="heartBeatComment">
      <h6 class="control-label" translate="LBL_LIKE_STAY" data-slnm-ihg="LikeStayLabel-SID"></h6>
      <p data-slnm-ihg="LikeStayText-SID">{{ heartBeatComment | limitTo : maxCommentsLimit}}</p>
    </ng-container>

    <ng-container *ngIf="heartBeatImprovement">
      <h6 class="control-label" translate="LBL_MK_STAY_BTR" data-slnm-ihg="MakeStayBetterLabel-SID"></h6>
      <p data-slnm-ihg="MakeStayBetterText-SID">{{ heartBeatImprovement | limitTo : maxCommentsLimit}}</p>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default"
            data-slnm-ihg="ButtonClose-SID"
            translate="COM_BTN_CLOSE"
            (click)="close()">
    </button>
  </div>
</div>
