<span class="do-not-move"
      [ngClass]="{'cursor-pointer': dnmReason}"
      data-slnm-ihg="DoNotMoveIndicator-SID"
      #popover="ngbPopover"
      [ngbPopover]="popoverContent"
      popoverClass="reason-popover"
      triggers="manual"
      (mouseenter)="dnmReason && popover.open()"
      (mouseleave)="dnmReason && popover.close()">
  <i class="fas fa-lock"></i>
</span>

<ng-template #popoverContent>
  <app-dnm-reason-tooltip-content [dnmReason]="dnmReason"></app-dnm-reason-tooltip-content>
</ng-template>