:host ::ng-deep {
  .reason-popover {
    min-width: 240px;
    left: -26px !important;
    top: auto !important;
    font-size: 12px;
    bottom: calc(100% - 8px);
    .arrow {
      left: 46px !important;
    }
  }
  .do-not-move {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    i {
      position: absolute;
      left: 12px;
      top: 29px;
    }
  }
}
