<div class="toggle-switch" [attr.data-slnm-ihg]="slnmTag + '-SID'">
  <div class="d-flex align-items-center toggle-switch__label">
    <label class="control-label mb-0"
           [attr.data-slnm-ihg]="slnmTag + 'Label-SID'"
           [translate]="label"></label>
  </div>
  <div class="toggle-switch__toggle">
    <bSwitch [attr.data-slnm-ihg]="slnmTag + 'Toggle-SID'"
             [switch-on-color]="'success'"
             [switch-animate]="true"
             [(ngModel)]="toggleState"
             [switch-base-class]="'bootstrap-switch'"
             (onChangeState)="updateToggle()"
             [switch-handle-width]="width"
             [switch-disabled]="disabled">
    </bSwitch>
  </div>
</div>
