@mixin box-shadow-mixin($box-shadow-input) {
  -webkit-box-shadow: $box-shadow-input;
  -moz-box-shadow: $box-shadow-input;
  box-shadow: $box-shadow-input;
}

@mixin toggle-switch-style(
  $toggle-height: 30px,
  $shadow-color:rgba(0, 0, 0,0.247058823529412)) {
  .bootstrap-switch {
    height: $toggle-height;

    &.bootstrap-switch-wrapper {
      border-radius: 3px;
      border: 0;

      &.bootstrap-switch-container {
        display: flex;
      }
    }

    .bootstrap-switch-label,
    .bootstrap-switch-handle-off.bootstrap-switch-default,
    .bootstrap-switch-handle-on.bootstrap-switch-success {
      height: $toggle-height;
    }

    .bootstrap-switch.bootstrap-switch-handle-off {
      @include box-shadow-mixin(inset -3px 1px 3px 0 $shadow-color);
    }
  }

  .bootstrap-switch.bootstrap-switch-off {
    .bootstrap-switch-container {
      display: flex;
    }

    .bootstrap-switch-label {
      @include box-shadow-mixin(inset 0.5px -2px 0px 0px $shadow-color);
    }

    .bootstrap-switch-handle-off {
      @include box-shadow-mixin(inset -2px 2px 3px 0px $shadow-color);
    }
  }

  .bootstrap-switch.bootstrap-switch-on {

    .bootstrap-switch-container {
      display: flex;
    }

    .bootstrap-switch-success {
      @include box-shadow-mixin(inset 1px 1px 2px 0 $shadow-color);
    }

    .bootstrap-switch-label {
      @include box-shadow-mixin(inset -3px -3px 2px 0px $shadow-color);
    }
  }
}


.toggle-switch {
  display: flex;
  flex-direction: row;

  .toggle-switch__label {
    padding-right: 1.5rem;
  }

  .toggle-switch__toggle {
    ::ng-deep {
      @include toggle-switch-style();
    }
  }

}



