<!-- Manual Assign Button -->

  <button class="btn btn-default manual-assign-btn"
          data-slnm-ihg="ManualRoomAssignmentButton-SID"
          [disabled]="listItem?.assignedRoomNumber || listItem?.disableManualAssign || listItem?.ineligibleReservation ||
  (isCheckedIn && !enableRoomMove)"
          (click)="handleGridDisplay(true)"
          [ngClass]="{'disable-control': (isCheckedIn && !enableRoomMove)}">
    <span translate="LBL_MAN_ASSIGN"
          container="body"
          [ngbTooltip]="listItem?.notified ? ('LBL_MOD_BTN_TTIP' | translate) : ''"
          class="d-block">
    </span>
  </button>



<!-- Manual Assign Grid -->
<div *ngIf="displayGrid"
     class="flyout"
     @flyInOut>
  <div class="flyout-contents"
       [style.max-height]="setFlyOutContainerHeight()">
    <div class="flyout-header flex-row">
      <h6 class="control-label col-7">
        <span data-slnm-ihg="ManualAssignTitle-SID"
              translate="LBL_MAN_ASSIGN"></span>
      </h6>
      <app-post-master [attr.data-slnm-ihg]="'PostMaster-SID'"
                       class="col-4 pl-0"
                       (postMasterChecked)="checkShowPostMaster($event)">
      </app-post-master>
      <button class="close-btn"
              data-slnm-ihg="ManualRoomAssignmentCloseButton-SID"
              (click)="handleGridDisplay(false)">
        <i class="fas fa-times close-icon"></i>
      </button>
    </div>
    <div class="toast-messages">
      <!-- Room assignment generic error toast -->
      <app-error-toast-message [errorEvent]="manualRoomAssignmentError.asObservable()"
                               [translations]="roomErrorContent.assignRoom"
                               [reportIssueAutoFill]="reportIssueAutoFill.manualRoomAssignError"
                               (retryAction)="handleAssign(roomToAssign)">
      </app-error-toast-message>

      <!-- Room assignment defined error toast -->
      <uic-toast-message *ngIf="roomAsignmentDefinedError"
                         [alert]="roomAsignmentDefinedError"
                         [attr.data-slnm-ihg]="roomAsignmentDefinedErrorSlnmId">
      </uic-toast-message>
    </div>
    <div class="flyout-body">
      <app-manual-assign-grid [listItem]="listItem"
                              [showRoomsPanel]="showRoomsPanel"
                              [getListWatcher]="manualAssignRoomListTrigger.asObservable()"
                              [stateName]="stateName"
                              [reportIssueAutoFill]="reportIssueAutoFill"
                              [showPostMasterRoom]="showPostMaster"
                              (assignRoom)="assignRoom($event)">
      </app-manual-assign-grid>
    </div>
  </div>
</div>