@import 'variables';
$flyout-right-pos: 35px;
.manual-assign-btn {
    position: absolute;
    right: $flyout-right-pos;
}

.flyout {
    background-color: $primary-bkg-color;
    position: relative;
    top: 47px;
    right: $flyout-right-pos;
    .close-btn {
        border: 0;
        background: transparent;
        outline: none;
        line-height: 1;
        &:hover,
        &:focus,
        &:active {
            background: transparent;
            border: 0;
            outline: inherit;
        }
        .close-icon {
            color: $gray-60;
            font-size: 14px;
        }
    }
    .flyout-contents {
        padding: 0.75rem 0.75rem 0 0.75rem;
        border: 1px solid $gray-80;
    }
    .flyout-header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-direction: row;
    }
    .flyout-body {
        margin-top: 15px;
    }
}

@mixin manual-room-assignment-custom-width($width, $subWidth) {
    .flyout {
        width: calc(#{$width} - #{$subWidth});
        position: absolute;
    }
}

:host-context(.check-in-room-assign) {
    .flyout {
        right: 4px;
    }
    .manual-assign-btn {
        right: 0;
    }
    @include tablet-landscape-fdk {
        @include manual-room-assignment-custom-width($tablet-landscape-width-fdk, 50%);
    }
    @include tablet-portrait-fdk {
        @include manual-room-assignment-custom-width($tablet-portrait-width-fdk, 38%);
    }
}

@media screen and (max-width: 767px){
    .manual-assign-btn {
        float: right;
        padding-left: 0.275rem;
        position: relative !important;
        left: 5px;
        padding-right: 0.275rem;
        top: 4px;
    }
}