<div class="search-criteria">
  <h2>
    <span translate="LBL_GST_LST"></span>&nbsp;|&nbsp;
    <span>{{(selectedDate ? selectedDate : defaultDate) | date: 'ddMMMyyyy' | uppercase}}</span>
  </h2>
  <h3 class="hotel-name">{{hotelName.name}}&nbsp;
    <ng-container *ngIf="hotelName.id">({{hotelName.id}})</ng-container>
  </h3>
  <ng-container *ngIf="!arrivalTab">
    <div class="search-string small-text">
      <span class="bold-font" translate="COM_SRCH_TITLE"></span>: "{{searchString}}"
    </div>
    <h2 translate="LBL_FLTRD_LST" [translateParams]="{guestCount: guestCount}"></h2>
    <div class="filters small-text">
      <span class="bold-font" translate="LBL_APLD_FLTRS"></span>:
      <span *ngFor="let filter of filters; let last = last;">{{filter | translate}}
        <ng-container *ngIf="!last"> | </ng-container>
      </span>
    </div>
  </ng-container>
  <ng-container *ngIf="arrivalTab">
    <div class="search-string small-text">
      <span class="bold-font" translate="COM_SRCH_TITLE"></span>: "{{searchString}}"
    </div>
    <h2>{{guestCount}} {{'LBL_GUESTS' | translate}}</h2>
  </ng-container>
</div>