<div [ngbTooltip]="!isTodaySelected ? ToolTipTemplate : ''" *ngIf="stateName === 'guest-list-details'">
    <button class="btn btn-default print-card-btn" data-slnm-ihg="PrintRegCard-SID" (click)="PrintRegCard()"
     [disabled]="!isTodaySelected || isCheckedIn" [ngClass]="{'disable-control': isCheckedIn}">
      <i class="fas fa-print icon-print" aria-hidden="true"></i>
      <div class="keys-btn print-card" translate="LBL_PRINT_REG_CARD"></div>
    </button>
    <ng-template #ToolTipTemplate>
        <div translate="TT_REG_CARD_GST_TODAY"></div>
    </ng-template>
</div>

<div *ngIf="stateName === 'check-in'">
    <button class="btn btn-default print-card-btn" data-slnm-ihg="PrintRegCard-SID" (click)="PrintRegCard()"
     [disabled]="guestData.isCheckedIn || isCheckedIn || guestData?.ineligibleReservation" [ngClass]="{'disable-control': isCheckedIn}">
      <i class="fas fa-print icon-print" aria-hidden="true"></i>
      <div class="keys-btn print-card" translate="LBL_PRINT_REGISTRATION_CARD"></div>
    </button>
</div>
