// extended-stay or market-segments
body[brand-code=CDLW],
body[brand-code=STAY] {
  .d-extended-stay-none {
    display: none;
  }
  .d-market-segments {
    display: none;
  }
}

body:not([brand-code=CDLW]):not([brand-code=STAY]) {
  .d-extended-stay {
    display: none;
  }
  .d-market-segments-none {
    display: none;
  }
}

// brand KIKI
body[brand-code=KIKI] {
  .d-KIKI-none,
  .hidden-KIKI {
    display: none;
  }
}

body:not([brand-code=KIKI]) {
  .d-KIKI,
  .visible-KIKI {
    display: none;
  }
}

// brand ICON
body[brand-code=ICON] {
  .d-ICON_none,
  .d-ICON-none,
  .hidden-ICON {
    display: none;
  }
}

body:not([brand-code=ICON]) {
  .d-ICON,
  .visible-ICON {
    display: none;
  }
}
