@import 'variables';
.btn-add {
    color: $secondary-text-color;
    background: none;
    border: 0;
    padding: 0;
    &:before {
        font-size: 18px;
        cursor: pointer;
    }
}

.btn-remove {
    color: $error-color;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.page-header-row {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 16px;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border: none;
    .card-header {
        font-weight: lighter;
        background-color: transparent;
        border: none;
        font-size: 24px;
        padding: 20px;
    }
}

.form-control {
    border-color: #cccccc;
}

.form-control::placeholder {
    color: #cccccc;
    opacity: 1;
}

.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    color: #cccccc;
}

.form-control::-ms-clear {
    width: 0;
    height: 0;
}

.card-body-p-0 {
    .card-body {
        padding: 0;
    }
}

.card-body-top-0 {
    .card-body {
        padding-top: 0;
    }
}

.display-flex {
    display: flex;
}

.display-inline {
    display: inline-block;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.no-wrap-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.no-transition {
    transition: none !important;
}

.col-3 {
    .uic-card .card .card-header {
        font-size: 20px !important;
    }
}

.error-color {
    color: $error-color;
}

.action-menu {
    .dropdown-toggle {
        margin-left: 2px;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
        &:focus {
            background-color: transparent;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
        &::after {
            display: none;
        }
    }
    .dropdown-menu {
        left: auto !important;
        right: 0;
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        .dropdown-item {
            padding: 0.5rem 0.75rem;
        }
        ul.item-list {
            list-style: none;
            padding: 15px;
            margin: 0;
            li {
                color: $secondary-text-color;
                font-size: 14px;
                margin-bottom: 8px;
                cursor: pointer;
                &:hover {
                    color: $link-color-hover;
                }
            }
        }
    }
}

.txt-link {
    color: $secondary-text-color;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.btn-link.btn-plain {
  padding: 0;
  text-align: left;
  &:active,
  &:focus,
  &:hover {
    background: none;
    text-decoration: none;
    box-shadow: none;
  }
}

.error-message {
  color: $error-color;
  margin-top: 5px;
}

.req-star-custom {
    position: relative;
    padding-left: 0;
    &:before {
        content: '*';
        position: absolute;
        left: -10px;
        color: $required-field-asterix;
        top: 1px;
        font-weight: bold;
    }
}

.disable-control {
    cursor: not-allowed !important;
}

.btn-link.btn-plain {
  padding: 0;
  text-align: left;
  &:active,
  &:focus,
  &:hover {
    background: none;
    text-decoration: none;
    box-shadow: none;
  }
}

.error-message {
  color: $error-color;
  margin-top: 5px;
}

.req-star-custom {
  position: relative;
  padding-left: 0;
  &:before {
    content: '*';
    position: absolute;
    left: -10px;
    color: $required-field-asterix;
    top: 1px;
    font-weight: bold;
  }
}

uic-user-guidance{
    width: 100%;
}