.k-icon {
  font-family: "Font Awesome 5 Pro" !important;
}

.concerto-grid .k-grid {
  th .k-i-sort-asc-sm,
  th .k-i-sort-desc-sm {
    color: $body-color;
    margin-left: 6px !important;
    vertical-align: baseline !important;
  }

  th .k-i-sort-desc-sm:before {
    content: "\f13a" !important;
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
  }

  th .k-i-sort-asc-sm:before {
    content: "\f139" !important;
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
  }

  .k-grid-aria-root {
    width: 100%; // IE fix for grid being display: flex
  }
}

.k-multiselect {
  position: relative;

  .k-button {
    color: $primary-text-color;
    padding: 3px;
    font-size: 13px;
  }

  .k-i-close.k-clear-value {
    display: none;
  }

  .k-searchbar {
    .k-input {
      font-size: 14px;
      &::placeholder {
        color: #bbb;
      }
    }
  }
}

.k-multiselect:after {
  content: "\f0ca";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 7px;
  pointer-events: none;
  color: $secondary-text-color;
  right: 10px;
}

.k-multiselect:hover:after {
  color: $disabled-color;
}

.k-list-scroller {
  max-height: 300px;

  .k-item {
    color: $secondary-text-color;
    font-size: 16px;
  }

  .k-item.k-state-selected {
    display: none;
  }
}

.concerto-grid .k-grid .k-pager-wrap.k-grid-pager {
  color: #333333;
  overflow: visible;
}

@include type-desktop {
  .concerto-grid .k-grid .k-grid-header {
    // add a padding of the same width as a scrollbar to grid header on desktops
    // so the bordered columns of grid header and grid body are aligned on every device
    padding-right: 17px !important;
  }
}

.k-i-arrow-60-down::before,
.k-i-arrow-s::before,
.k-i-collapse::before,
.k-i-expand-s::before,
.k-i-kpi-trend-decrease::before,
.k-i-sarrow-s::before {
  content: "\f078";
}

.k-i-arrow-60-right::before,
.k-i-arrow-e::before,
.k-i-expand-e::before,
.k-i-expand::before,
.k-i-sarrow-e::before {
  content: "\f054";
}

.k-i-close:before,
.k-i-group-delete:before,
.k-i-x:before {
  content: "\f00d" !important;
}

.k-i-calendar:before {
  content: "\f073" !important;
}

@mixin no-grid-x-overflow {
  .k-grid-aria-root {
    overflow-x: auto;

    .k-grid-header-wrap {
      overflow: hidden;
    }

    kendo-grid-list,
    .k-grid-content {
      overflow-x: auto;
      overflow-y: visible;
    }
  }
}

.k-calendar .k-content td {
  &.disabled-date,
  &.k-weekend.disabled-date {
    pointer-events: none;
    opacity: 0.5;
  }
}

.lookup-combo-container {
  position: relative;
  border-radius: 0.25rem;
  border: none;
  .input-panel {
    .form-control {
      border: 1px solid $gray-80;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: $secondary-color-disabled;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .k-dropdown {
    width: auto;
    .k-dropdown-wrap {
      border: 1px solid $gray-80;
      border-right: none;
      background: $secondary-color-disabled;
      font-style: normal;
      font-size: 14px;
      color: $secondary-text-color;
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }
  &.focussed {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    .input-panel {
      .form-control {
        border-color: #80bdff;
        border-left-color: $secondary-color-disabled;
      }
    }
    .k-dropdown {
      .k-dropdown-wrap {
        border-color: #80bdff;
      }
    }
  }
  &.error-box {
    .input-panel {
      .form-control {
        border-color: $error-color;
      }
    }
  }
}

@mixin fdk-grid-common-styles {
  @include no-grid-x-overflow();

  uic-concerto-grid-pager-info {
    font-weight: 700;
  }

  .k-grid-aria-root {
    border-top: 1px solid $input-border;
  }

  .k-grid-header {
    border-top: 1px solid $input-border;
    border-bottom: 2px solid $input-border;
    padding-bottom: 1px !important;
  }

  tr {
    height: 40px;

    td {
      &:first-of-type {
        padding-left: 8.4px;
      }
    }
  }

  th {
    line-height: 28px;
    vertical-align: middle;

    &:first-of-type {
      padding-left: 8.4px;

      a {
        display: flex;
        align-items: center;
      }
    }
  }

  td, th {
    padding: 0;

    &:not(:first-of-type) {
      text-align: center;
    }

    &.tablet-column {
      vertical-align: top;
      height: 60px;
    }

    &.desktop-column {
      height: 36px;
    }
  }

  .k-detail-row .k-detail-cell {
    padding: 0;
  }

  tbody tr {
    background-color: $primary-text-color;

    &:not([data-kendo-grid-item-index ^= '0']) {
      border-top: 1px solid $input-border;
    }

    &:hover {
      background-color: $primary-text-color;
    }
  }

  @content

}

.k-list-container {
  .k-list-optionlabel {
    padding-right: 4px;
    padding-left: 4px;
  }
}
