@include print {
  @page {
    size: auto;
  }

  .page-break-after {
    page-break-after: always;
  }

  .page-break-before {
    page-break-before: always;
  }

  .page-break-inside {
    page-break-inside: auto;
  }

  .page-break-avoid {
    page-break-inside: avoid;
  }

  html, body {
    height: auto;
  }

  div2 {
    border: 1px solid red;
    margin: -1;
  }

  body {
    -webkit-print-color-adjust: exact;
    background-color: #fff !important;
    position: relative;
    min-width: 0 !important;

    h2, h3 {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.1;
      margin: 20px 0 10px;
    }

    h3 {
      font-size: 24px;
    }
  }

  uic-header,
  uic-detached,
  uic-footer,
  .page-header-row,
  .card-minimum-content {
    display: none;
  }

  .container-fluid {
    width: auto;
  }

  .service-view {
    min-height: 0 !important;
  }
}
