// todo move to common
.ihg-logo {
  padding-right: 0 !important;
}

// todo move to common
.page-title-wrap {
  margin-bottom: 0 !important;
}

// todo move to common
@include smallest-mobile {
  .ihg-logo-image-container {
    display: none !important;
  }
}

@include screen {
  body[state-view=dashboard],
  body[state-view=pseudo-modal],
  body[state-view=pseudo-modal-desktop] {
    .content-container {
      padding-left: 0;
      padding-right: 0;
      min-width: 320px;
      max-width: 1200px;
      margin: auto;
      box-sizing: content-box;
    }
  }

  body[state-view=full],
  body[state-view=pseudo-modal],
  body[state-view=pseudo-modal-desktop] {
    .app {
      padding-top: 0 !important;
    }
  }
}

@include mobile {
  body[state-view=dashboard] {
    .content-container {
      max-width: 400px;
    }
  }

  &.modal-open {
    .app > *:not(uic-detached-toast-message) {
      display: none;
    }

    .modal {
      overflow: auto;
    }
  }

  .modal-dialog {
    margin-top: 0;
    width: 100%;
    max-width: 100%;
  }
}

@include min-mobile {
  body[state-view=dashboard],
  body[state-view=pseudo-modal],
  body[state-view=pseudo-modal-desktop] {
    .dashboard-container {
      position: relative;
      transform: scale(calc(var(--width) / 400));
      transform-origin: top left;
    }
  }
}

@include tablet {
  body[state-view=dashboard],
  body[state-view=pseudo-modal] {
    .content-container {
      max-width: 800px;
    }
  }

  &.modal-open {
    .app > *:not(uic-detached-toast-message) {
      display: none;
    }

    .modal {
      overflow: auto;
    }
  }

  .modal-dialog {
    margin-top: 0;
  }
}

@include desktop {
  body.modal-open.feedback-message {
    .app {
      display: none;
    }

    .modal {
      overflow: auto;
    }
  }
}
