$smallest-mobile-width: 320px;
$min-mobile-width: 400px;
$mobile-width: 477px;
$tablet-width: 877px;
$tablet-scale-width-min: 600px;
$desktop-width: 1277px;
$tablet-portrait-width-fdk: 768px;
$tablet-landscape-width-fdk: 1024px;


@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin smallest-mobile {
  @media screen and (max-width: $smallest-mobile-width) {
    @content;
  }
}

@mixin min-mobile {
  @media screen and (max-width: #{$min-mobile-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile-tablet {
  @media screen and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin retina {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin screen {
  @media screen {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}

@mixin ios {
  body[device-type=ios] {
    @content;
  }
}

@mixin android {
  body[device-type=android] {
    @content;
  }
}

@mixin type-desktop {
  body[device-type='desktop'] {
    @content;
  }
}

@include ios {
  .d-android { display: none !important; }
  .d-ios-none { display: none !important; }
  .d-type-desktop { display: none !important; }
}

@include android {
  .d-android-none { display: none !important; }
  .d-ios { display: none !important; }
  .d-type-desktop { display: none !important; }
}

@include type-desktop {
  .d-android { display: none !important; }
  .d-ios { display: none !important; }
  .d-type-desktop-none { display: none !important; }
}

@include mobile {
  @include landscape {
    &.lock {
      // mobile "lock" portrait orientation
      // can't use position fixed or vw, vh
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }

  .d-mobile-none,
  .d-desktop {
    display: none !important;
  }

  &[device-view*=landscape] .d-mobile-portrait,
  &[device-view*=landscape] .d-mobile-landscape-none,
  &[device-view*=portrait] .d-mobile-landscape,
  &[device-view*=portrait] .d-mobile-portrait-none {
    display: none !important;
  }

  .d-tablet,
  .d-tablet-portrait,
  .d-tablet-landscape {
    display: none !important;
  }
}

@include tablet {
  .d-mobile,
  .d-mobile-portrait,
  .d-mobile-landscape {
    display: none !important;
  }

  &.lock {
    // tablet "lock" landscape orientation
    // can't use position fixed or vw, vh
    @media (orientation: portrait) {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      position: absolute;
      left: 100%;
    }
  }

  .d-tablet-none,
  .d-desktop {
    display: none !important;
  }

  &[device-view*=landscape] .d-tablet-portrait,
  &[device-view*=landscape] .d-tablet-landscape-none,
  &[device-view*=portrait] .d-tablet-landscape,
  &[device-view*=portrait] .d-tablet-portrait-none {
    display: none !important;
  }
}

@include desktop {
  .d-mobile,
  .d-mobile-portrait,
  .d-mobile-landscape {
    display: none !important;
  }

  .d-tablet,
  .d-tablet-portrait,
  .d-tablet-landscape {
    display: none !important;
  }

  .d-desktop-none {
    display: none !important;
  }
}

// fdk responsive mixins //
@mixin tablet-landscape-fdk {
  @media screen and (max-width: $tablet-landscape-width-fdk) {
    @content;
  }
}

@mixin tablet-portrait-fdk {
  @media screen and (max-width: $tablet-portrait-width-fdk) {
    @content;
  }
}

@mixin fdk-desktop {
  @media screen and (min-width: $tablet-landscape-width-fdk + 1) {
    @content;
  }
}
