@import 'variables';

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: $overlay-color;
  font-family: 'Open Sans', sans-serif;
  color: $body-color;
}

@media screen {
  .app {
    position: relative;
    min-height: 100%;
    padding-top: 48px;
  }

  .content-container {
    padding-bottom: 80px;
  }
}

.page-title {
  font-weight: lighter;
  padding: 1rem 0;
}

.cursor-pointer {
  cursor: pointer;
}

.modal-dialog {
  margin: 9.063rem auto;

  .modal-title {
    font-style: normal;
    margin: 0;
    line-height: 1.42857143;
    font-size: 1.125rem;
  }
  .modal-header {
    button.close {
      &:focus {
        opacity: .2;
        outline: none;
      }
      &:hover {
        opacity: .5;
        outline: none;
      }  
    }
  }
}

.modal-medium {
  .modal-dialog {
    width: 600px;
    max-width: 600px;
  }
}

.large-modal {
  .modal-dialog {
    width: 800px;
    max-width: 95%;
  }
}

.extra-large-modal {
  .modal-dialog {
    width: 1180px;
    max-width: 95%;
  }
}

//Colors
.border-dark-grey {
  border: #777;
}

.border-left-dark-grey {
  border-left: #777 1px solid;
}

.font-bold {
  font-weight: bold
}

.font-italic {
  font-style: italic;
}

.dark-grey {
  color: #777;
}

.wrap {
  word-wrap: break-word;
}

// Text transforms

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

//Specific rule to override bootstrap in HTML tables
.table > tbody > tr > td.align-middle {
  vertical-align: middle;
}

//Specific rule to override bootstrap in HTML tables
.table > tbody > tr > th.align-middle {
  vertical-align: middle;
}

// Base theme

.mandatory-field-ind {
  color: $error-color;
  display: inline;
}

ng-form .inline-block label.required:before {
  content: "* ";
  color: $error-color;
  position: relative;
  padding-right: 3px;
  left: 5px;
}

ng-form .hide-required .inline-block label.required:before {
  content: "";
}

form label.required:before {
  content: "* ";
  color: $error-color;
  position: absolute;
  left: 5px;
}

form .hide-required label.required:before {
  content: "";
}

form .form-group .form-control.ng-dirty.ng-invalid-valdr {
  border-color: $error-color;
}

form .form-group .form-control.ng-touched.ng-invalid-valdr {
  border-color: $error-color;
}

form .has-error .form-control.ui-select-match {
  border-color: $error-color;
}

form .valdr-invalid-dirty-touched-group:after {
  color: $error-color;
}

form .valdr-message {
  color: $error-color;
}

a, .k-link:link, .k-link:visited, .grid-link {
  color: $link-color;
}

a:hover, .k-nav-current.k-state-hover .k-link {
  color: $link-color-hover;
}

.text-primary {
  color: $primary-color;
}

// Buttons common theme

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.k-button,
.k-primary,
.k-success,
.k-info,
.k-warning,
.k-danger {
  text-shadow: none;
  -webkit-box-shadow: 0 0.1em 0.4em #D3D3D3;
  box-shadow: 0 0.1em 0.4em #D3D3D3;
  border-radius: $border-radius-base;
}

.k-multiselect .k-button {
  background-color: $primary-color;
  border-color: $primary-darken-color-10;
}

.k-multiselect .k-button:hover {
  background-color: $primary-lighten-color-10;
}

.btn-lookup,
.btn-lookup.active,
.btn-lookup:hover,
.btn-lookup:focus {
  background-color: #dddddd;
  color: $primary-color
}

.btn-default:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active,
.k-button:active,
.k-button.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  border-radius: $border-radius-base;
}

.btn:active,
.btn.active {
  background-image: none;
}

.btn-default,
.k-button {
  border-color: transparent;
  background-color: $secondary-color;
  color: $secondary-text-color;
}

.btn-default:hover,
.k-button:hover {
  background-color: $secondary-color-hover;
  border-color: transparent;
  color: $secondary-text-color;
}

.k-button:active,
.k-button.active,
.k-button:focus {
  background-color: $secondary-color-pressed;
  color: $secondary-text-color;
}

.btn-default:active,
.btn-default.active,
.btn-default:focus {
  background-color: transparent;
  color: $secondary-text-color;
}

.btn-primary,
.k-primary,
.k-overflow-container .k-primary {
  background-color: $primary-color;
  color: $primary-text-color;
  border-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.k-primary:focus,
.k-primary.k-state-focused,
.k-primary:hover,
.k-primary:focus:active:not(.k-state-disabled):not([disabled]), .k-primary:focus:not(.k-state-disabled):not([disabled]) {
  background-color: $primary-color-hover;
  border-color: transparent;
  -webkit-box-shadow: 0 0.2em 0.5em #C5C5C5;
  box-shadow: 0 0.2em 0.5em #C5C5C5;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.k-primary.active,
.k-primary:active {
  background-color: $primary-color-pressed;
  border-color: $primary-color-pressed;
  color: $primary-text-color;
}

.btn.btn-primary.disabled, .btn.btn-primary:disabled {
  background-color: $secondary-text-color;
  opacity: 0.5;
}

.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5cb85c), color-stop(100%, #419641));
  background-image: -moz-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -ms-linear-gradient(top, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}

.btn-success:hover,
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}

.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}

.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #2aabd2));
  background-image: -moz-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -ms-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}

.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}

.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}

.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0ad4e), color-stop(100%, #eb9316));
  background-image: -moz-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -ms-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}

.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9534f), color-stop(100%, #c12e2a));
  background-image: -moz-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: -ms-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}

.btn-link-danger {
  color: #b92c28;
}

.btn-link-danger:hover {
  color: #c12e2a;
}

.btn-link {
  color: #578ebe;
}

.btn-link:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}

.btn-link:active,
.btn-link.active,
.btn-link:focus {
  background-color: #e4e4e4;
  -webkit-box-shadow: 0 0.2em 0.5em #C5C5C5;
  box-shadow: 0 0.2em 0.5em #C5C5C5;
}

.btn-link.disabled, .btn-link:disabled {
  color: #578ebe;
}
