// This file is used for storing application specific variables such as:
// colors, rounded corner radius, etc
@import "responsive-mixins";
$brand-logo-size: 40px;
$border-color: #e7e7e7;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$success-color: #3C763D;
$body-color: #333;
$input-border: #CCC;
$addon-color: #EEE;
$disabled-color: #808080;
$content-background-color:#F5F5F5;
$hover-background-color: #e8e8e8;
$primary-color: darken(#428bca, 6.5%);
$primary-text-color: #FFFFFF;
$primary-color-hover: #3276b1;
$primary-color-pressed: #255683;
$primary-color-disabled: #9cc1e2;
$primary-darken-color-5: darken($primary-color, 5%);
$primary-darken-color-10: darken($primary-color, 10%);
$primary-lighten-color-5: lighten($primary-color, 10%);
$primary-lighten-color-10: lighten($primary-color, 10%);
$link-color: #005EB8;
$link-color-hover: #000000;
$link-color-active: #1b3f5f;
$secondary-color: #FFFFFF;
$secondary-color-hover: #f2f2f2;
$secondary-color-pressed: #d7d7d7;
$secondary-color-disabled: #e4e4e4;
$secondary-text-color: #578ebe;
$error-color: #FF0000;
$warning-color: #D68712;
$nav-color: $content-background-color; // themes override this value. background used to avoid noticeable color swap on context change.
$nav-background-hover: darken($nav-color, 10%);
$nav-bottom-border:#578EBE;
$border-radius-base:2px;
// Sidebar navigation
$col-fixed-width: 220px;
$col-fixed-padding: 15px;
$col-fixed-total-width: $col-fixed-width+$col-fixed-padding;
$nav-text-color: #bcc2cb;
$nav-text-hover: #FFFFFF;
$sidebar-background-color: #444d58;
$sidebar-background-hover: #55616f;
$nav-background-color: #55616f;
$nav-background-hover: lighten($nav-background-color, 5%);
// Components
$invalid-border: 1px solid $error-color;
$success-border: 1px solid $success-color;
// Grid
$odd-bg-color: #f2f2f2;
$filter-row-bg: #e4e4e4;
$header-border-color: #cccccc;
$filter-row-selected: #cdcdcd;
$overlay-color: #f2f2f2;
$row-selected: #578ebe;
$row-selected-color: #ffffff;
$row-hover: #b2e5f5;
$row-sorted: rgba(0, 0, 0, 0.085);
$row-totals:#C9C9C9;
$row-change-highlight:#eff4f9;
$arrow-up: "/images/font-awesome_caret-up.png";
$arrow-down: "/images/font-awesome_caret-down.png";
// Tabs
$tabs-border-bottom-color: #DDD;
//Table
$table-sort-by-background-color-primary: #D9D9D9;
$table-sort-by-background-color-secondary: #CECECE;
$table-disabled-color: #797979;
$pager-info-color: #a6a6a6;
// Charts
$chart-gray-color: #707372;
$chart-lightgreen-color: #5cb85c;
$chart-green-color: #3d893d;
$chart-orange-color: #d96932;
$chart-red-color: #d71920;
$chart-darkblue-color: #00597c;
$chart-lightblue-color: #00bbe7;
$chart-purple-color: #622567;
$chart-pink-color: #c50084;
$chart-yellow-color: #ffc600;
$active-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
$input-focus-color: #66afe9;
$input-focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
0 0 8px rgba(102, 175, 233, .6);
$toast-message-yellow-text-color: #896d3e;
$toast-message-yellow-background-color: #fcf8e4;
$button-box-shadow: 0 0.1em 0.4em #D3D3D3;
$check-icon-color: #090;
$close-icon-color: #FF1F00;
$btn-primary-color: #ffffff;
$modal-content-bg: #ffffff;
$toast-green: #3c763d;
$bar-alert-red: #D71821;
$bar-vacant: #FFC602;
$bar-clean-progress: #385E9D;
$bar-dirty-progress: #D71821;
// Theme Colors
$gray-60: #999;
$gray-rolling-stone: #707372;
$green-christi: #55951B;
$white: #ffffff;
$gray-80: #cccccc;
$gainsboro-white: #e4e4e4;
$gray-20: #333333;
$pacific-blue: #169BD5;
$twilight-gray: #F5F8F2;
$hawkes-blue: #CDDDEC;
$persimmon: #ec6108;
$apple-green: #6ea33d;
$fire-engine-red: #D71821;
$seagull-blue: #70B2C9;
$eggplant-violet: #830051;
$sirocco-green: #707371;
$timberwolf-gray: #D6D2CB;
$mckenzie-orange: #8A6D3B;
$early-dawn-yellow: #FCF8E3;
$danube-blue: #578EBE;
$silver-gray: #C5C5C5;
$mckenzie-orange: #8A6D3B;
$lavender-violet: #F0F7FD;

// Status Colors
$status-inactive-primary-color: #C9C9C9;
$status-complete-primary-color: #55951B;
$status-incomplete-primary-color: $fire-engine-red;
$status-in-progress-primary-color: #FFC602;
// Background Colors
$primary-bkg-color: $white;
$required-field-asterix: #FF0000;
$collapsible-panel-color: #a1a1a1;
$disabled-field-color: #e9ecef;
$k-state-disabled-background-color: #e4e7eb;
$matched-error-color-kendo: #CE0058;
