.app {
  .max-width {
    max-width: 1180px;
  }

  .page-header {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .shared-controls {

      .page-header-btns {
        display: flex;
        align-items: center;

        & > * {
          margin-left: 10px;
        }
      }

      .left-components {
        padding: 0;
      }

      .right-components {
        padding: 0;
      }
    }

  }

  ::ng-deep .footer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
