<div class="app container-fluid">
  <uic-spinner></uic-spinner>
  <uic-header [userDetails]="userDetails"></uic-header>
  <uic-detached-toast-message></uic-detached-toast-message>
  <div class="container-fluid content-container" [ngClass]="{'max-width': maxWidth}">
    <div class="row" *ngIf="initialized">
      <!-- row and col classes cause issues with mobile when the device width nears 400px -->
      <div class="d-flex flex-column page-header w-100">
        <div class="d-flex breadcrumbs">
          <uic-breadcrumbs></uic-breadcrumbs>
        </div>

        <div class="d-flex shared-controls">
          <div class="d-flex left-components">
            <uic-page-title *ngIf="showPageTitle" [attr.data-slnm-ihg]="slnmId"></uic-page-title>
          </div>

          <div class="d-flex ml-auto right-components page-header-btns">
            <app-help *ngIf="showHelp"></app-help>
            <app-page-level-kebab></app-page-level-kebab>
          </div>
        </div>
      </div>

      <div class="col-12 no-gutter">
        <uic-toast-message-outlet [hidden]="disablePageError"></uic-toast-message-outlet>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div *ngIf="initialized === false">
      <uic-error-container [showRefreshBtn]="true"
                           [showSpinner]="false"
                           [spinnerEnabled]="false"
                           (refreshAction)="ngOnInit()">
      </uic-error-container>
    </div>
  </div>
  <uic-footer [userDetails]="loggedInUserDetails"></uic-footer>
</div>

