/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

MadCap|miniTocProxy
{
	background-color: #707372;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body
{
	color: #3b3f51;
	font-size: 1em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

select
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

input
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

textarea
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

script
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a:link
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a:visited
{
	color: #255683;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a:focus
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a:hover
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a:active
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptLink
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keywordLink
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relatedTopics
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|glossaryTerm
{
	color: #ed9c28;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|xref
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	mc-format: '{paratext}';
}

select#lang
{
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 4px 0;
	font-size: 16px;
	color: rgba(0,0,0, 0.45);
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.45);
}

select#lang:focus
{
	outline: none;
	/* Remove focus */
}

.selectField label
{
	display: none;
	/* Hide label */
}

.selectField select
{
	/* Hide default arrow so we can show custom arrow */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.selectField
{
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	position: relative;
	margin-top: -1.5em;
	position: absolute;
	right: 0;
	width: 100px;
}

.selectField:after
{
	position: absolute;
	top: 0.75em;
	right: 0.5em;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: .25em solid transparent;
	border-right: .25em solid transparent;
	border-top: 0.375em solid rgba(0,0,0, 0.45);
	pointer-events: none;
}

.langSelect
{
	width: 100%;
	padding: 20px;
	/* margin: 0 auto; */
	/* top: 50%; */
	/* margin-top: -2em; */
	position: relative;
	/* right: 0; */
	/* left: 0; */
}

MadCap|toggler
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|popupHead
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|shortcut
{
	color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|helpControlMenuItem.Highlighted
{
	background-color: #578ebe;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.move-right .exit-off-canvas
{
	box-shadow: none;
}

.right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after,
.left-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after
{
	content: 'none';
}

img.FloatCenter
{
	mc-float: center;
	vertical-align: baseline;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|breadcrumbsProxy
{
	border-bottom-style: none;
	border-bottom-width: 0;
	font-size: .75em;
	mc-breadcrumbs-prefix: ' ';
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.right-off-canvas-menu
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.move-right
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.left-off-canvas-menu
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.exit-off-canvas
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

::marker
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

::before
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

::after
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|equation
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|namedDestination
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|qrCode
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|pageFooter.OddPage
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|pageFooter.FirstPage
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|pageFooter.EvenPage
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|pageFooter
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|pageHeader.OddPage
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|pageHeader.FirstPage
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|pageHeader.EvenPage
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|pageHeader
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keywordLinkControlListItemLink:visited
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keywordLinkControlListItemLink:link
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keywordLinkControlListItemLink:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keywordLinkControlListItemLink:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keywordLinkControlListItemLink
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keywordLinkControlListItem
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keywordLinkControlList
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptLinkControlListItemLink:visited
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptLinkControlListItemLink:link
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptLinkControlListItemLink:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptLinkControlListItemLink:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptLinkControlListItemLink
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptLinkControlListItem
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptLinkControlList
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relatedTopicsControlListItemLink:visited
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relatedTopicsControlListItemLink:link
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relatedTopicsControlListItemLink:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relatedTopicsControlListItemLink:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relatedTopicsControlListItemLink
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relatedTopicsControlListItem
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relatedTopicsControlList
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|helpControlListItemLink:visited
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|helpControlListItemLink:link
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|helpControlListItemLink:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|helpControlListItemLink:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|helpControlListItemLink
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|helpControlListItem
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|helpControlList
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|helpControlMenu
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|popupBody
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|popup:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|popup:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|popup
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|expandingBody
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|expandingHead:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|expandingHead:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|expandingHead
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|expanding
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|dropDownBody
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|dropDownHotspot:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|dropDownHotspot:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|dropDownHotspot
{
	color: #3b3f51;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|dropDownHead
{
	font-style: normal;
	font-weight: bold;
	font-size: 1.375em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/caret-right.PNG');
	mc-open-image: url('../Images/caret-down.PNG');
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|annotation
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|footnote
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|endnoteBlock
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|endnotesBlock
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|footnoteBlock
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|footnotesBlock
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|section
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conditionalText
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|model3D
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|slideThumbnail.active
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|slideThumbnail:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|slideThumbnail
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|slideshowBullet.active
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|slideshowBullet:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|slideshowBullet
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|slideshowCaption
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|slide
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|slideshow
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|snippetBlock
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|snippetText
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|searchResultsProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|menuProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|searchBFRProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|endnotesProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relationshipsItem
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relationshipsHeading.task
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relationshipsHeading.reference
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relationshipsHeading.concept
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relationshipsHeading
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relationshipsProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|glossaryProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptsProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|listOfProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|indexProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|tocProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|topicToolBFRProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|pageBreak
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|bodyProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|variable
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|concept
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keyword
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

figcaption
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

figure
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

br::before
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

br
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

s
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

button
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

colgroup
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

noframes
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

frameset
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

frame
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

form
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

fieldset
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

style
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

head
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

area
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

map
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

col
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

legend
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

option
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

optgroup
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

label
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

datalist
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

q
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

nav
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

header
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

footer
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

canvas
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

aside
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

article
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

var
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

tt
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

sub
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

sup
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

strong
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

strike
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

samp
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

u
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

small
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

kbd
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ins
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

i
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

em
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

del
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

cite
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

code
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

big
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

b
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

acronym
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

abbr
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ol
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

dir
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

menu
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

center
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

dt
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

dd
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

dl
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

pre
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

blockquote
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

address
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

caption
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

td
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

th
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

tfoot
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

tbody
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

thead
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

tr
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

table
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

html.topic
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

html.task
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

html.reference
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

html.concept
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

html
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.state
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SeeIndexTerms
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SeeIndex
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SeeAlsoIndexTerms
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SeeAlsoIndex
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight9
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight8
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight7
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight6
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight5
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight4
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight3
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight2
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight10
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight1
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.SearchHighlight
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span.boolean
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.TOC9
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.TOC8
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.TOC7
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.TOC6
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.TOC5
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.TOC4
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.TOC3
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.TOC2
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.TOC1
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.MiniTOC9
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.MiniTOC8
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.MiniTOC7
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.MiniTOC6
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.MiniTOC5
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.MiniTOC4
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.MiniTOC3
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.MiniTOC2
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.MiniTOC1
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.ListOf
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.IndexHeading
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.Index9
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.Index8
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.Index7
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.Index6
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.Index5
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.Index4
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.Index3
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.Index2
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.Index1
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.ConceptContext
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p.Concept
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.Row-8-4::before
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.Row-8-4::after
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.Row-8-4
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.Row-6-6::before
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.Row-6-6::after
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.Row-6-6
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.Row-4-4-4::before
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.Row-4-4-4::after
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.Row-4-4-4
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.GlossaryPageTerm
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.GlossaryPageHeading
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.GlossaryPageEntry
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.GlossaryPageDefinition
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div:nth-child(3)
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div:nth-child(2)
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div:nth-child(1)
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div::before
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div::after
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h6
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h5
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h4
{
	font-size: 1.125em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h3
{
	font-size: 1.37em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h2
{
	font-size: 1.625em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1
{
	font-size: 2em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

hr
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

object
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

li.has-submenu
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

li::marker
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

li
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ul.off-canvas-list
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ul
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|helpControlMenuItem
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|toggler:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|toggler:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|xref.TOCPageNumber
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|xref.RelLinkPageNumber
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|xref.ListOfPageNumber
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|xref.IndexPageNumber
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|xref.ConceptPageNumber
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|xref:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|xref:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|glossaryTerm.Popup
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|glossaryTerm.Hyperlink
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|glossaryTerm.Expanding
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|glossaryTerm:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|glossaryTerm:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relatedTopics:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|relatedTopics:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keywordLink:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|keywordLink:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptLink:hover
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|conceptLink:focus
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a.Popup
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a.MCBreadcrumbsLink
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a.GlossaryPageTerm
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a::after
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img.pic500
{
	width: 500px;
	height: auto;
	vertical-align: text-top;
	float: right;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|dropDownHead.h4
{
	font-size: 1.125em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.card
{
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.search-bar
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.search
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|searchBarProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

MadCap|topicToolbarProxy
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

@media print
{
	table
	{
		width: 5.5;
	}

	h1
	{
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	}

	h2
	{
		
	}

	h3
	{
		
	}

	h4
	{
		
	}

	MadCap|dropDownHead.h4
	{
		
	}

	body
	{
		background-image: url('../Images/PrintHeader.png');
		background-repeat: no-repeat;
		padding-top: 100px;
		background-position: 0;
		font-size: 0.75 em;
	}

	MadCap|dropDown.noPrint
	{
		display: none;
	}
}

@media only screen and (max-width: 4279px)
{
	body
	{
		
	}

	div.card
	{
		background-color: #ffffff;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	MadCap|dropDownHead
	{
		font-size: 1.37;
	}

	MadCap|dropDownHead.h4
	{
		font-size: 1.125em;
	}
}

@media only screen and (max-width: 767px)
{
	body
	{
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	}
}

.search,
.search-bar
{
	margin-left: 27%;
}

