<div>    
    <button (click)="navigateSellStrategyAnalysis()" class="btn btn-primary mb-3">Go to sell strategy analysis</button>
    <div class="row">
      <div class="col-4" *ngFor="let strategy of sparkStrategyData; let i = index">
        <uic-card>
          <app-spark-strategy-item [strategy]="strategy">  
          </app-spark-strategy-item>
        </uic-card>
      </div>
    </div>
</div>
