<div class="walk-in">
  <app-confirm-changes *ngIf="showPanel"
                       [estimatedTotal]="estimatedTotal"
                       [searchCritera]="searchCriteriaParent"
                       [guestData]="walkInModelData">
  </app-confirm-changes>
  <div class="walk-in-process">
    <app-create-walk-in-workflow [workflowTabs]="tabs"
                                 [selectedTab]="selectedTab"
                                 [walkInModelData]="walkInModelData"
                                 (tabSelect)="onTabSelect($event)"
                                 (originalReservationData)="handleOriginalReservationData($event)">
    </app-create-walk-in-workflow>
  </div>
  <app-offers *ngIf="selectedTab !== walkInWorkflow.guestInfo && showAllOffers"
              [searchCritera]="searchCriteriaParent"
              [originalReservationData]="originalReservationData"
              (estimatedTotal)="setEstimatedTotal($event)">
  </app-offers>
</div>
