<uic-card>
  <ngb-tabset [destroyOnHide]="false" #manageStay (tabChange)="handleTabChange($event)">
    <ngb-tab id="stayInfo" data-slnm-ihg="StayInfoTab-SID" title="{{'LBL_STAY_INFORMATION' | translate}}">
      <ng-template ngbTabContent>
        <app-stay-information #stayInfo
                              [state]="state"
                              [reservationNumber]="reservationNumber"
                              (originalReservationData)="handleReservationData($event)"
                              (stayInformationChange)="saveGuestInfo.emit($event)"
                              (search)="handleStayInfoSearch($event)">
        </app-stay-information>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="guestInfo" data-slnm-ihg="GuestInfoTab-SID" title="{{'LBL_GUEST_INFORMATION' | translate}}">
      <ng-template ngbTabContent>
        <app-guest-information #guestInfo
                               [reservationNumber]="reservationNumber"
                               [state]="state"
                               (cancelEdit)="cancelEdit.emit()"
                               (emitGuestInfo)="saveGuestInformation($event)">
        </app-guest-information>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</uic-card>
