<div class="manage-payment-component" data-slnm-ihg="ManagePayment-SID" [ngClass]="{'disabled' : focusedCard && !paymentActivated}">
  <div class="row m-0 p-0">
    <div class="title-block col-md-8" data-slnm-ihg="PaymentTitle-SID" [translate]="'LBL_PYMT'"></div>
    <div class="col-md-4" *ngIf="!hasErrors && enableEditPayment">
      <!--- Edit Icon is hidden, till the implementation is in place for it -->
      <button class="btn clickable float-right pay-edit" [disabled]="disablePayment" data-slnm-ihg="PaymentEdit-SID">
          <i class="far fa-edit edit-room-icon"></i>
      </button>
    </div>
  </div>
  <div class="clickable d-none" (click)="doPayment()">
    Use this function when processing payment so the other panels can be disabled.
  </div>

  <div *ngIf="otherType" data-slnm-ihg="NoData-SID">
    <div class="p-2 text-center">
      <p class="title pt-3 pb-2 m-0" data-slnm-ihg="NoPaymentTile-SID" translate="LBL_OTHER_PAYMENT_METHOD"></p>
      <p translate="LBL_OTHER_PAYMENT_DESCRIPTION" data-slnm-ihg="NoPayMentDes-SID" class="pt-2 m-0 pl-1 pr-1"></p>
    </div>
  </div>

  <div class="row m-0 payment-block" *ngIf="paymentDetails && !otherType">
    <div class="col-md-6 left-block">
      <div class="container-block">
        <div class="header-block" data-slnm-ihg="PaymentMethod-SID" translate="LBL_PYMT_METH"></div>
        <div class="content-block" data-slnm-ihg="CardType-SID" *ngIf="paymentDetails.paymentType; else noData">{{paymentDetails.paymentType}}
        </div>
      </div>
      <div class="container-block">
        <span class="header-block" data-slnm-ihg="CardNumber-SID" translate="LBL_CARD_NO"></span>
        <span class="float-right" data-slnm-ihg="CardLogo-SID" *ngIf="cardType"><i class="logo"
             [ngClass]="cardCodeIconMaskMap[paymentDetails.cardType].icon"></i></span>
        <div class="content-block" *ngIf="cardType && paymentDetails.cardNumber; else noData">
          <span data-slnm-ihg="CardNumberPattern-SID">{{ cardCodeIconMaskMap[paymentDetails.cardType].pattern }}</span>
          <span data-slnm-ihg="CardNumberLastFour-SID">{{ paymentDetails.cardNumber.substr(paymentDetails.cardNumber.length - 4) }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <div class="container-block">
        <div class="header-block" data-slnm-ihg="AuthAmount-SID" translate="LBL_AUTH_AMOUNT"></div>
        <div class="content-block" data-slnm-ihg="Amount-SID" *ngIf="paymentDetails.amount; else noData">{{paymentDetails.amount}}</div>
      </div>
      <div class="container-block">
        <div class="header-block" data-slnm-ihg="CardExpiration-SID" translate="LBL_EXPN"></div>
        <div class="content-block" data-slnm-ihg="Expiration-SID" *ngIf="paymentDetails.expirationDate; else noData">
          {{ paymentDetails.expirationDate.substr(5, 2) }} / {{ paymentDetails.expirationDate.substr(2, 2) }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="reservationData && !hasErrors" class="no-Post">
    <app-no-post [noPostState]="reservationData?.noPost"
                 [stateName]="'manage-stay'"
                 [reservationNumber]="reservationData?.reservationNumber"
                 [pmsUniqueNumber]="reservationData?.pmsUniqueNumber">
    </app-no-post>
  </div>
  </div>

  <ng-template #noData>
    <div data-slnm-ihg="Empty-SID">-</div>
  </ng-template>

  <div class="error-container" *ngIf="hasErrors">
    <app-service-error [errorEvent]="emitError.asObservable()"
                       [cardType]="errorCardType"
                       [reportIssueAutoFill]="reportIssueAutoFill"
                       (refreshAction)="refresh()">
    </app-service-error>

</div>
