.manage-payment-component {

  .header-block {
    font-weight: 700;
  }

  .container-block {
    padding-bottom: 20px;
  }

  .payment-block {
    padding-top: 12px;
  }

  .left-block {
    padding: 0 0 0 22px;
  }

  .content-block {
    padding-top: 5px;
  }

  .logo {
    margin-right: 30px;
    font-size: 24px;
  }

  .pay-edit {
    margin-top: 12px;
  }

  .title {
    font-size: 24px;
    font-weight: 200;
  }

  .no-Post {
    padding-left: 26px;
  }
}
