.insight-icon {
  color: rgb(236, 97, 8);
  display: inline-block;
  font-size: 24px;
  line-height: 36px;
  margin: 0px 5px;
}

.insight-icon-big {
  font-size: 36px;
  max-height: 40px;
}

.insight-icons {
  height: 36px;
  margin-bottom: 10px;
}

.insight-title {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  line-height: 20px;
}

.insight-secondary {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 20px;
}
