<div class="row">
  <div class="col-12">
    <div class="insight-info">
      <div class="insight-icons">
        <i class="fas insight-icon" *ngFor="let icon of insight.icons" [ngClass]="icon"></i>
        <p *ngFor="let bagdeIconPath of insight.badgeIconPaths"><img class="insight-icon insight-icon-big" 
          [src]="bagdeIconPath" />
        </p>
      </div>
      <div class="insight-text">
        <p class="insight-title">
          <span [translate]="insight.primaryText" [translateParams]="{firstName: insight.firstName, points: insight.pointsToAchieve, loyaltyLevel: insight.nextLoyaltyLevel}"></span>
        </p>
        <p class="insight-secondary" *ngIf="insight.enrollmentDate"><span [translate]="keyMap.asOf"></span><span> {{insight.enrollmentDate}}</span></p>
      </div>
    </div>
  </div>
</div>
