@import 'variables';

::ng-deep .cost-estimate {
  .modal-dialog {
    width: 750px;
    max-width: 750px;
  }

  .modal-body {
    padding: 0px;
  }

  .modal-footer {
    padding-right: 12px;
  }

  .estimatedTotal {
    font-weight: 900;
    font-size: 14px;
    padding-right: 24px;
  }

  .estimatedNumeric {
    font-size: 20px;
    font-weight: 100;
  }

  .currencyType {
    padding: 0 10px 0 4px;
  }

  .estimatedBox {
    border-top: 1px solid $input-border;
    padding: 5px 0;
  }

  .cursorDefault {
    cursor: default;
  }
}

:host ::ng-deep {
  .cost-estimate-grid.concerto-grid {
    .k-grid-header {
      border-bottom: 2px solid $input-border;
    }
    .k-grid-header-wrap {
       overflow: visible !important;
    }

    th {
      line-height: 20px;
      padding-bottom: 2px;
      padding: 0.45em 0.65em;
      overflow: visible;
    }

    td,
    th {
      &.column-checkbox {
        border-right: 1px solid $header-border-color;
        text-align: center;
        vertical-align: top;
      }

      &.guest-column {
        color: $secondary-text-color;
      }

      &.guest-profile {
        vertical-align: top;
      }
    }

    .k-detail-row .k-detail-cell {
      padding: 0;
    }

    tbody tr {
      background-color: $primary-text-color;

      &:not([data-kendo-grid-item-index ^='0']) {
        border-top: 1px solid $input-border;
      }

      &:hover {
        background-color: $primary-text-color;
      }
    }

    .upper-pager {
      uic-concerto-grid-pager-info {
        font-weight: 700;
      }
    }

    .k-grid .k-pager-wrap.k-grid-pager {
      padding-left: 8px;
    }

    .info-btn {
      color: #578ebe;
      padding-left: 5px;
    }
  }
}