<div data-slnm-ihg="CostEstimateModal-SID">
  <div class="modal-header">
    <h4 class="modal-title" data-slnm-ihg="Title-SID" translate="LBL_COST_ESTIMATE"
        [translateParams]="{noOfNights: noOfNights}"></h4>
    <button type="button" data-slnm-ihg="CloseIcon-SID" class="close" (click)="onClose()"
            ngbTooltip="{{'COM_BTN_CLOSE' | translate}}">&times;</button>
  </div>
  <div class="modal-body">
    <div *ngIf="initialized">
      <div class="concerto-grid cost-estimate-grid" data-slnm-ihg="Table-SID">
        <kendo-grid [data]="gridView"
                    [pageSize]="gridOptions.pageSize"
                    [skip]="gridOptions.skip"
                    (pageChange)="onPageChange($event)"
                    [pageable]="gridOptions.pageable"
                    [sortable]="gridOptions.sortable"
                    uicConcertoGridDockedHeader
                    [dockPager]="true">
          <ng-template kendoPagerTemplate>
            <div class="w-100">
              <uic-concerto-grid-pager [translations]="gridPagerTranslations" class="upper-pager w-100">
              </uic-concerto-grid-pager>
            </div>
          </ng-template>
          <kendo-grid-column width="80" class="text-center" headerClass="text-center" field="date" title=""
                             [sortable]="false">
            <ng-template kendoGridHeaderTemplate>
              <span translate="LBL_DATE" data-slnm-ihg="Date-SID"></span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>{{ formatDate(dataItem.date) }}</ng-template>
          </kendo-grid-column>
          <kendo-grid-column width="85" class="text-right" headerClass="text-right" field="roomRate" title=""
                             [sortable]="false">
            <ng-template kendoGridHeaderTemplate>
              <span translate="LBL_NIGHTLY_RATE" data-slnm-ihg="NightyRate-SID"></span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column width="90" class="text-right" headerClass="text-right" field="exCharge" title=""
                             [sortable]="false">
            <ng-template kendoGridHeaderTemplate>
              <span translate="LBL_EXTRA_PERSON_CHARGE" data-slnm-ihg="ExtraPersonCharge-SID"></span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column width="100" class="text-right" headerClass="text-right" field="tax" title=""
                             [sortable]="false">
            <ng-template kendoGridHeaderTemplate>
              <span translate="LBL_TAXES_FEES" data-slnm-ihg="TaxesFees-SID"></span>
              <span class="info-btn"
                    [ngbTooltip]="'TAXES_FEES_TOOL_TIP' | translate " placement="right"
                    triggers="mouseenter:mouseleave">
                <i class="fas fa-info-circle"></i>
              </span>
            </ng-template>

            <ng-template kendoGridCellTemplate let-dataItem>
              <ng-template #toolTipContent>
                <div *ngFor="let charge of dataItem.charges; let i = index"
                     [attr.data-slnm-ihg]="'Tooltip' + i + '-SID'" class="text-left">{{charge.description}}: <span>
                    {{charge.ammount}}</span></div>
              </ng-template>
              <div *ngIf="dataItem.charges.length !== 0 && dataItem.charges[0] !== null; else noTooltip"
                   [ngbTooltip]="toolTipContent" class="cursorDefault" placement="right">{{dataItem.tax}}</div>
              <ng-template #noTooltip>
                <div class="cursorDefault" placement="right">{{dataItem.tax}}</div>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column width="105" class="text-right" headerClass="text-right" field="serviceCharge" title=""
                             [sortable]="false">
            <ng-template kendoGridHeaderTemplate>
              <span translate="LBL_SERVICE_CHARGES" data-slnm-ihg="ServiceCharges-SID"></span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column width="55" class="text-right" headerClass="text-right" field="room" title=""
                             [sortable]="false">
            <ng-template kendoGridHeaderTemplate>
              <span translate="LBL_ROOMS" data-slnm-ihg="Rooms-SID"></span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column width="95" class="text-right" headerClass="text-right" field="totalAmmount" title=""
                             [sortable]="false">
            <ng-template kendoGridHeaderTemplate>
              <span translate="LBL_TOTAL_AMOUNT" data-slnm-ihg="TotalAmount-SID"></span>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
      <div class="text-right estimatedBox" *ngIf="totalEstimateAmount">
        <span class="estimatedTotal" data-slnm-ihg="Total-SID" translate="LBL_EST_TOT"></span>
        <span class="estimatedNumeric" data-slnm-ihg="TotalValue-SID">{{totalEstimateAmount}}</span><span
              data-slnm-ihg="CurrencyCode-SID" class="currencyType">{{currencyCode}}</span>
      </div>
    </div>
    <div [hidden]="!hasErrors || initialized">
      <app-service-error
                         [attr.data-slnm-ihg]="'NoSearchResult-SID'"
                         [errorEvent]="costEstimateError.asObservable()"
                         [reportIssueAutoFill]="reportIssueAutoFill"
                         (reportIssueAction)="onReportAnIssue()"
                         (refreshAction)="refresh()">
      </app-service-error>
    </div>
  </div>
  <div class="modal-footer" *ngIf="footerVisible">
    <button class="btn btn-primary" type="button" (click)="onClose()" data-slnm-ihg="CloseButton-SID"
            translate="COM_BTN_CLOSE">
    </button>
  </div>
</div>