<div class="guest-info-block" data-slnm-ihg="GuestInformationForm-SID">
  <div *ngIf="!reservationNumber">
    <h5 class="guest-title" translate="LBL_GUEST_HEADER" data-slnm-ihg="GuestHeader-SID"></h5>
  </div>
  <form [formGroup]="guestInfoFromGroup" (ngSubmit)="onSubmit()">
    <div class="row guest-area">
      <div class="col-4 mb-3 req-star-parent club-number order-1
                order-xl-5 col-xl-4">
        <div class="with-icons">
          <app-lookup-field
            [ngbTooltip]="reservationNumber ? '' : ('LBL_NO_LOYALTY_FEATURE' | translate)"
            [tooltipText]="'LBL_LOOK_UP' | translate"
            (openLookUpModalEvt)="openRewardsMemberModal()">
            <label for="ihgRcNumber" class="control-label" data-slnm-ihg="RewardsClubMemberLabel-SID"
              [innerHTML]="'LBL_IHGRW_NO' | translate">
            </label>
            <input type="text" data-slnm-ihg="RewardsClubNumber-SID" (blur)="onChangeClubNo()"
                   (keyup.backspace)="onChangeClubNo()"
                   [ngClass]="{'invalid-border': guestInfoFromGroup.get('ihgRcNumber').errors}"
                   formControlName="ihgRcNumber" class="form-control brd-radius-0">
          </app-lookup-field>
        </div>
        <div *ngIf="guestInfoFromGroup.get('ihgRcNumber').dirty && guestInfoFromGroup.get('ihgRcNumber').errors">
          <span class="error-color" data-slnm-ihg="ErrorSpan-SID">{{'GI_ERR_VALID_IHG'| translate }}</span>
        </div>
      </div>
      <div class="col-4 mb-3 req-star-parent order-2 order-xl-7">
          <!-- <span *ngIf="isEnroll" class="chk-enroll mt-2" data-slnm-ihg="EnrollLink-SID"
          [ngbTooltip]="reservationNumber ? '' : 'LBL_NO_LOYALTY_FEATURE' | translate"
          (click)="openEnrollmentModal()">
      <i class="fas fa-star"></i>&nbsp;
      <span class="enroll" translate="LBL_ENROLL"></span>
    </span> -->
      </div>
      <div class="col-4 mb-3 req-star-parent order-3 order-xl-7"></div>
      <div class="col-3 mb-3 req-star-parent truncate order-4 order-xl-7">
        <span class="req-star">&#42;</span>
        <label for="firstName" class="control-label" data-slnm-ihg="FirstNameLabel-SID" translate="LBL_FIRST_NAME">
        </label>
        <input type="text" data-slnm-ihg="FirstName-SID" formControlName="firstName" maxlength="56"
               [ngClass]="{'cursor-not-allowed':isClubMember}" class="form-control brd-radius-0" (input)="checkMaxLength(guestInfoFromGroup.get('firstName'),56)">
            <div class="phone-number-error-message"
               *ngIf="guestInfoFromGroup.get('firstName').errors?.pattern">
            <span class="error-color">{{ 'LBL_ENTER_VALID_NAME' | translate }}</span>
          </div>
          <div class="phone-number-error-message"
               *ngIf="(guestInfoFromGroup.get('firstName').touched ) &&
                      (guestInfoFromGroup.get('firstName').errors?.required || guestInfoFromGroup.get('firstName').errors?.emptySpaces)">
            <span class="error-color">{{ 'LBL_ERR_EMPTY_FIRST_NAME' | translate }}</span>
          </div>

      </div>
      <div class="col-3 mb-3 req-star-parent truncate order-5 order-xl-7">
        <span class="req-star">&#42;</span>
        <label for="lastName" class="control-label" data-slnm-ihg="LastNameLabel-SID" translate="LBL_LAST_NAME"></label>
        <input type="text" data-slnm-ihg="LastName-SID" formControlName="lastName" maxlength="57"
               [ngClass]="{'cursor-not-allowed':isClubMember}" class="form-control brd-radius-0" (input)="checkMaxLength(guestInfoFromGroup.get('lastName'),57)">
               <div class="phone-number-error-message"
               *ngIf="guestInfoFromGroup.get('lastName').errors?.pattern">
                   <span class="error-color">{{ 'LBL_ENTER_VALID_NAME' | translate }}</span>
              </div>
              <div class="phone-number-error-message"
               *ngIf="(guestInfoFromGroup.get('lastName').touched ) &&
                      (guestInfoFromGroup.get('lastName').errors?.required || guestInfoFromGroup.get('lastName').errors?.emptySpaces)">
            <span class="error-color">{{ 'LBL_ERR_EMPTY_LAST_NAME' | translate }}</span>
          </div>
      </div>
      <div class="col-3 mb-3 req-star-parent truncate order-6 order-xl-7">
        <label for="middleName" class="control-label" data-slnm-ihg="MiddleInitialLabel-SID"
               translate="LBL_MIDDLE_INITIAL"></label>
        <input type="text" data-slnm-ihg="MiddleInitial-SID" formControlName="middleName" maxlength="1"
               [ngClass]="{'cursor-not-allowed':isClubMember}" class="form-control brd-radius-0">
               <div class="phone-number-error-message"
               *ngIf="(guestInfoFromGroup.get('middleName').errors?.pattern ||
                (guestInfoFromGroup.get('middleName').touched && guestInfoFromGroup.get('middleName').errors?.emptySpaces))">
                   <span class="error-color">{{ 'LBL_ENTER_VALID_INIT' | translate }}</span>
              </div>
      </div>
      <div class="col-3 mb-3 req-star-parent order-7 order-xl-7 d-none d-xl-block"></div>

      <div class="col-6 col-xl-3 mb-3 req-star-parent order-8 order-xl-7">
        <span class="req-star">&#42;</span>
        <label for="phoneNumber" class="control-label" data-slnm-ihg="PhoneLabel-SID" translate="LBL_PHONE"></label>
        <div>
          <kendo-dropdownlist data-slnm-ihg="PhoneDropDown-SID" formControlName="phoneType" class="drop-down-phone-type"
                              [data]="phoneTypes" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true">
          </kendo-dropdownlist>
          <input type="text" data-slnm-ihg="Phone-SID" formControlName="phoneNumber" maxlength="20"
                 class="form-control brd-radius-0 input-phone"
                 [ngClass]="{'form-control': true,'invalid-border':(guestInfoFromGroup.get('phoneNumber').touched) &&
                 guestInfoFromGroup.get('phoneNumber').errors}">
          <div class="phone-number-error-message"
               *ngIf="(guestInfoFromGroup.get('phoneNumber').touched ) &&
                      guestInfoFromGroup.get('phoneNumber').errors?.required">
            <span class="error-color">{{ 'GI_ERR_EMPTY_PHONE' | translate }}</span>
          </div>
          <div class="phone-number-error-message"
               *ngIf="(guestInfoFromGroup.get('phoneNumber').touched ) &&
                      guestInfoFromGroup.get('phoneNumber').errors?.pattern">
            <span class="error-color">{{ 'LBL_NUMBERS_ONLY' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3 req-star-parent order-9 order-xl-7
                height-two-line-error-message">
        <label for="email" class="control-label" data-slnm-ihg="EmailAddressLabel-SID" translate="LBL_EMAIL_ADD">
        </label>
        <input type="text" (blur)="validateEmailAddress()" (input)="emailUpdated()" data-slnm-ihg="EmailAddress-SID" formControlName="email"
               class="form-control brd-radius-0"
               [ngClass]="{'form-control': true,'invalid-border':(guestInfoFromGroup.get('email').errors?.invalidEmail||
                          guestInfoFromGroup.get('email').errors?.notExists)}">
        <div *ngIf="(guestInfoFromGroup.get('email').touched || guestInfoFromGroup.get('email').dirty) &&
                    guestInfoFromGroup.get('email').errors?.required">
          <span class="error-color">{{ 'GI_ERR_EMPTY_EMAIL' | translate }}</span>
        </div>
        <div *ngIf="(guestInfoFromGroup.get('email').touched || guestInfoFromGroup.get('email').dirty) &&
                    guestInfoFromGroup.get('email').errors?.notExists">
          <span class="error-color">{{ emailValidationDescription | translate }}</span>
        </div>
        <div *ngIf="(guestInfoFromGroup.get('email').touched || guestInfoFromGroup.get('email').dirty) &&
                  guestInfoFromGroup.get('email').errors?.doNotDelete">
        <span class="error-color">{{ 'LBL_EMAIL_CANNOT_DEL' | translate }}</span>
      </div>
      </div>
    </div>
    <div class="row guest-card">
      <div class="col-6 mb-3 guestinfo-ad1 order-1 order-xl-7">
        <label for="addressLine1" class="control-label" data-slnm-ihg="StreetAddressOneLabel-SID"
               translate="LBL_STREET_ADDRESS_ONE"></label>
        <input type="text" data-slnm-ihg="StreetAddressOne-SID" formControlName="addressLine1"
               class="form-control brd-radius-0">
      </div>
      <div class="col-6 mb-3 guestinfo-ad2 order-2 order-xl-7">
        <label for="addressLine2" class="control-label" data-slnm-ihg="StreetAddressTwoLabel-SID"
               translate="LBL_STREET_ADDRESS_TWO"></label>
        <input type="text" data-slnm-ihg="LastName-SID" formControlName="addressLine2"
               class="form-control brd-radius-0">
      </div>

      <div class="col-6 col-lg-3 mb-3 req-star-parent order-3 order-xl-7">
        <label for="countryCode" class="control-label" data-slnm-ihg="CountryLabel-SID" translate="LBL_COUNTRY"></label>
        <kendo-dropdownlist data-slnm-ihg="CountryDropDown-SID" formControlName="countryCode" [data]="countries"
                            [textField]="'countryName'" [valueField]="'countryCode'" [valuePrimitive]="true">
        </kendo-dropdownlist>
      </div>
      <div class="col-6 col-lg-3 mb-3 req-star-parent order-4 order-xl-7">
        <label for="zipCode" class="control-label" data-slnm-ihg="ZipPostalCodeLabel-SID"
               translate="LBL_ZIP_POSTAL_CODE"></label>
        <input type="text" data-slnm-ihg="zipCode-SID" formControlName="zipCode" class="form-control brd-radius-0">
      </div>
      <div class="col-6 col-lg-3 mb-3 truncate req-star-parent order-5
                order-xl-7">
        <label for="stateProvince" class="control-label" data-slnm-ihg="StateCountryProvinceLabel-SID"
               translate="LBL_STATE_COUNTY_PROVINCE"></label>
        <input type="text" data-slnm-ihg="StateCountryProvince-SID" formControlName="stateProvince" class="form-control
                    brd-radius-0">
      </div>
      <div class="col-6 col-lg-3 mb-3 req-star-parent order-6 order-xl-7">
        <label for="cityName" class="control-label" data-slnm-ihg="CityLabel-SID" translate="LBL_CITY"></label>
        <input type="text" data-slnm-ihg="City-SID" formControlName="cityName"
               class="form-control brd-radius-0">
      </div>
    </div>

    <div *ngIf="!reservationNumber">
      <h5 class="guest-title" translate="LBL_CARD_HEADER" data-slnm-ihg="CardHeader-SID"></h5>
      <div class="row guest-card">
        <div class="col-3 mb-3 req-star-parent order-1 order-xl-7">
          <label for="cardNumber" class="control-label" data-slnm-ihg="CardNumberLabel-SID" translate="LBL_CARD_NUM">
          </label>
          <input #ccInput data-slnm-ihg="CreditCard-SID" type="text" formControlName="cardNumber"
                 class="form-control brd-radius-0" maxlength="16" (input)="validateCardNumber()"
                 (blur)="maskCardNumber()"
                 (focus)="unMaskCardNumber()">
        </div>
        <div class="col-3 mb-3 req-star-parent order-2 order-xl-7">
          <label for="expirationDate" data-slnm-ihg="ExpirationDateLabel-SID" class="control-label"
                 translate="LBL_EXPN"></label>
          <kendo-dateinput data-slnm-ihg="ExpirationDate-SID" formControlName="expirationDate" [format]="'MM/yy'"
                           formatPlaceholder="formatPattern" [(value)]="expirationDate" placeholder="XX/XX"
                           class="form-control brd-radius-0">
          </kendo-dateinput>
        </div>
        <div class="col-3 mb-3 req-star-parent order-3 order-xl-7">
          <label for="nameOnCard" data-slnm-ihg="NameOnCardLabel-SID" class="control-label"
                 translate="LBL_NAME_ON_CARD"></label>
          <input type="text" data-slnm-ihg="NameOnCard-SID" formControlName="nameOnCard"
                 class="form-control brd-radius-0">
        </div>
        <div class="col-3 mb-3 req-star-parent order-4 order-xl-7"></div>
      </div>

    </div>

    <div class="submit container-fluid d-flex justify-content-end m-b-15">
      <button type="button" class="btn btn-default mr-2" data-slnm-ihg="Cancel-SID" (click)="cancelChanges()"
              translate="COM_BTN_CANCEL">
      </button>
      <button type="submit" class="btn btn-primary"
              [disabled]="!guestInfoFromGroup.valid || !guestInfoFromGroup.dirty ||
              (guestInfoFromGroup.get('ihgRcNumber').dirty && guestInfoFromGroup.get('ihgRcNumber').errors)"
              data-slnm-ihg="Save-SID"
              [translate]="reservationNumber?'COM_BTN_SAVE':'LBL_BOOK'">
      </button>
    </div>
  </form>
</div>
