@import "variables";
@mixin generateOrderCss($from, $to, $className) {
    @for $i from $from through $to {
        .#{$className}#{$i} {
            order: #{$i};
        }
    }
}

.form-val-text {
    line-height: 36px;
    margin-bottom: 0;
}

.pt-28 {
    padding-top: 28px;
}

.invalid-border {
    border: $invalid-border
}
.guest-title {
    padding: 10px 0 15px 25px;
}

.guest-info-block {
    @include generateOrderCss(13, 16, "order-");
    .k-dropdown-wrap .k-select {
        color: $danube-blue;
    }
    .cursor-not-allowed {
        cursor: not-allowed;
        outline: none;
    }
    .club-number {
        max-width: 33%;
    }
    .req-star-parent {
        .req-star {
            position: absolute;
            left: 3px;
            color: $required-field-asterix;
            top: 1px;
            font-weight: bold;
        }
    }
    .height-two-line-error-message {
        max-height: 104px;
    }
    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .submit {
        padding-bottom: 40px;
        padding-right: 30px;
    }
    @media (max-width: 1024px) {
        .d-none-custom {
            display: none;
        }
        .pt-28 {
            padding-top: 0;
        }
        .col-3 {
            -webkit-box-flex: 0;
            flex: 0 0 33%;
            max-width: 33%;
        }
    }
    @media (max-width: 768px) {
        .drop-down-phone-type {
            width: 40%;
        }
        .input-phone {
            width: 60%;
        }
    }
    @media (min-width: 1025px) {
        @include generateOrderCss(1, 12, "order-xl-");
        .col-xl-2 {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        .col-xl-5 {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }
        .club-number {
            -webkit-box-flex: 0;
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}

.chk-enroll {
    color: #6B99BE;
    float: left;
    padding-top: 31px;
}

.drop-down-phone-type {
    width: 34%;
    float: left;
    border-radius: 0px;
    border-right: 0px;
    background-color: #E5E3E5;
    color: #6B99BE;
}

.input-phone {
    width: 66%;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.row.guest-area {
    margin: 15px 15px 0 15px;
}
.row.guest-card {
    margin: 0 15px 15px;
}

.with-icons {
    position: relative;
    .form-control {
        padding-right: 30px;
    }
}

:host ::ng-deep {
    .k-dropdown .k-select {
        color: $danube-blue;
    }
    .k-datepicker .k-select {
        background: transparent;
        border: none;
    }
    .k-dateinput,
    .k-datepicker,
    .k-dropdown {
        font-size: 14px;
        color: #495057;
    }
    .k-dateinput-wrap .k-input {
        text-transform: uppercase;
    }
    .k-dropdown .k-dropdown-wrap {
        border-color: $gray-80;
    }
    .drop-down-phone-type>span {
        border-right: none !important;
        color: #6B99BE !important;
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
    @media (max-width: 768px) {
        .drop-down-phone-type>span>.k-input {
            padding: .175rem .45rem !important;
        }
        .drop-down-phone-type>span>.k-select {
            padding: .375rem 0.175rem !important;
        }
    }
    .k-dateinput-wrap {        
        border-style: hidden;
    }
    .k-widget.form-control .k-input {
        height: auto;
    }
    .m-b-15 {
        margin-bottom: 15px;
    }
}