<div class="check-in-info">
  <uic-card>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-8 display-flex">
            <app-truncated-tooltip *ngIf="guestName"
                                   [widthClass]="'title-text'"
                                   [text]="guestName"
                                   [slnmTag]="'GuestName-SID'"
            ></app-truncated-tooltip>
            <a [routerLink]="['/guest-profile']" target="_blank" *ngIf="guestData?.ihgRcNumber"
               (click)="setMemberProfile(guestData?.ihgRcNumber)">
              <span class="profile-icon ml-2" data-slnm-ihg="GuestProfileIcon-SID">
                <i class="far fa-address-card name mt-2" ngbTooltip="Guest Profile"></i>
              </span>
            </a>
            <div class="vl-pipe" *ngIf="guestData?.ihgRcNumber"></div>
            <div class="badge">
              <img class="badge-icon mt-1" [attr.data-slnm-ihg]="'Badge' + badgeLabels[badge] + '-SID'"
                   *ngFor="let badge of guestData?.badges" [src]="'assets/images/badges/' + badge + '.svg'"/>
            </div>
          </div>

          <div class="col-4 d-flex pl-0 ml-auto">
            <div class="sub-title-text d-inline-block ml-auto mr-1" data-slnm-ihg="ReservationNumber-SID">
              <span translate="LBL_RSVN"></span>
              <span class="pl-1">{{guestData?.reservationNumber}}</span>              
            </div>
            <button *ngIf="!guestData?.isCheckedIn && !guestData?.ineligibleReservation && !guestData.groupName"
              class="btn btn-default p-2 mng-stay-btn"
              [ngbTooltip]="'LBL_MANAGE_STAY' | translate"
              (click)="navigateToManageStay()">
              <i class="far fa-edit"></i></button>
          </div>
        </div>

        <div class="check-in-info__details">
          <div class="check-in-info__details__item">
            <div data-slnm-ihg="RewardsClubNumber-SID" *ngIf="guestData?.ihgRcNumber; else loyaltyEnrollment">
              <span class="control-label" translate="LBL_RW_NO"></span>
              <span class="pl-1">{{guestData?.ihgRcNumber}}</span>
            </div>
            <div class="mt-2" data-slnm-ihg="RewardsClubPoints-SID" *ngIf="guestData?.ihgRcNumber; else enroll">
              <span class="control-label" translate="LBL_PTS"></span>
              <span class="pl-1">{{guestData?.ihgRcPoints | number}}</span>&nbsp;
              <i class="fas fa-check-circle" *ngIf="guestData?.pointsPosted"></i>
              <i class="fas fa-exclamation-circle"
                 *ngIf="guestData?.pointsPosted === false"
                 [ngbTooltip]="'LBL_PNTS_FAILD_POST' | translate">
              </i>
              <i class="fas fa-sync-alt" (click)="refreshForPointsPost()"
                 *ngIf="guestData?.pointsPosted === false"
                 [ngbTooltip]="'LBL_TRY_AGN' | translate">
              </i>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="CheckInDate-SID">
            <div>
              <span class="control-label" translate="LBL_GST_ARRIVAL"></span>
            </div>
            <div class="mt-2">
              <span>{{guestData?.checkInDate | date: 'ddMMMyyyy' | uppercase}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="CheckOutDate-SID">
            <div>
              <span class="control-label" translate="LBL_GST_DEPARTURE"></span>
            </div>
            <div class="mt-2">
              <span>{{guestData?.checkOutDate | date: 'ddMMMyyyy' | uppercase}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="NumberOfNights-SID">
            <div>
              <span class="control-label" translate="LBL_GST_NIGHTS_COL"></span>
            </div>
            <div class="mt-2">
              <span>{{guestData?.numberOfNights}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="NumberOfAdults-SID">
            <div>
              <span class="control-label" translate="LBL_ADULTS"></span>
            </div>
            <div class="mt-2">
              <span class="pl-1">{{guestData?.numberOfAdults}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="NumberOfChildren-SID">
            <div>
              <span class="control-label" translate="LBL_CHLDRNS"></span>
            </div>
            <div class="mt-2">
              <span class="pl-1">{{guestData?.numberOfChildren}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="AssignedRoom-SID">
            <div>
              <span class="control-label" translate="LBL_ROOMS"></span>
            </div>
            <div class="mt-2">
              <span class="pl-1">{{guestData?.numberOfRooms}}</span>
            </div>
          </div>
          <div class="check-in-info__details__item" data-slnm-ihg="PrepStatus-SID">
            <div>
              <span class="control-label" translate="LBL_STATUS"></span>
            </div>
            <div class="mt-2">
              <app-check-in-prep-status [guestData]="guestData"></app-check-in-prep-status>
            </div>
          </div>
        </div>
      </div>
    </div>
  </uic-card>

  <ng-template #loyaltyEnrollment>
    <div data-slnm-ihg="LoyaltyEnrollment-SID">
      <span class="control-label" translate="LBL_LYLT_ENROLL"></span>
    </div>
  </ng-template>

  <ng-template #enroll>
    <span class="chk-enroll mt-2" data-slnm-ihg="EnrollLink-SID" (click)="openEnrollmentModal()">
      <i class="fas fa-star"></i>&nbsp;
      <span class="enroll" translate="LBL_ENROLL"></span>
    </span>
  </ng-template>
</div>
