@import 'variables';
@import "../check-in-breakpoint";
$portrait-view-items-per-row: 4;
$portrait-view-first-col-width: 32%;
.check-in-info {
    .badge-icon {
        height: 24px;
        margin-right: 2px;
        width: 24px;
    }
     ::ng-deep .title-text {
        font-size: 24px;
        font-weight: lighter;
        max-width: 440px;
    }
    .sub-title-text {
        font-size: 20px;
        font-weight: lighter;
    }
    .profile-icon {
        color: $secondary-text-color;
        cursor: pointer;
        font-size: 20px;
    }
    .vl-pipe {
        border-left: 1px solid $gray-80;
        width: 2px;
        height: 30px;
        margin: 0 13px 0 10px;
    }
    .fa-check-circle {
        color: $check-icon-color;
    }
    .chk-enroll,
    .enroll,
    .fas .fa-star {
        &:hover {
            color: $chart-darkblue-color;
        }
        color: $nav-bottom-border;
        cursor: pointer;
        display: inline-block;
    }
    .fa-exclamation-circle {
        color: $error-color;
        font-size: 13px;
    }
    .fa-sync-alt {
        color: $secondary-text-color;
        cursor: pointer;
        font-size: 13px;
        margin-left: 10px;
    }
    .check-in-info__details {
        display: flex;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        .check-in-info__details__item {
            padding: 1rem 0.7rem 0 0;
        }
    }
    .mng-stay-btn {
        margin-top: -8px;
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .check-in-info {
         ::ng-deep .title-text {
            max-width: 280px;
        }
        .check-in-info__details {
            .check-in-info__details__item {
                flex: 0 0 calc((100% - #{$portrait-view-first-col-width}) / (#{$portrait-view-items-per-row} - 1));
                &:first-child,
                &:last-child {
                    flex: 0 0 $portrait-view-first-col-width;
                }
                &:nth-child(-n + #{$portrait-view-items-per-row}),
                &:last-child {
                    order: -1;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-landscape-width) {
    .check-in-info {
        .check-in-info__details {
            .check-in-info__details__item {
                padding: 1rem 1rem 0 0;
            }
        }
    }
}