<div class="mb-3">
  <p class="attribute-header"><i class="fas fa-globe-americas"></i><span [translate]="keyMap.preferredLanguage"></span></p>
  <div class="row" *ngIf="languageData">
    <div *ngIf="languageData.preferredLanguageName" class="col-6">
      <div class="mb-2 d-flex align-items-center" >
        <img *ngIf="languageData.iconPath" class="lng-icon mr-1" [src]="languageData.iconPath" />
        <span>{{languageData.preferredLanguageName}}</span>
      </div>
    </div>
  </div>
  <span *ngIf="languageData === null" [translate]="keyMap.none"></span>
  <div [hidden]="!hasErrors">
    <app-service-error [cardType]="errorCardType" [errorEvent]="emitError.asObservable()"
                      (refreshAction)="refresh()"
                      [config]="errorConfig">
    </app-service-error>
  </div>
</div>