<uic-card>
  <div class="card-header">
    <span [translate]="keyMap.cardInsights" class="gray"></span><span *ngIf="!hasErrors" class="black"> ({{insights.length}})</span>
  </div>
  <div *ngIf="!hasErrors && initialized" class="insights-body">
    <div class="insight-container">
      <div [ngClass]="{'invisible': insights.length <= 1}" class="insight-arrow" (click)="previousInsight()">
        <div class="insight-arrow-hoverable">
          <i class="far fa-chevron-left"></i>
        </div>
      </div>
      <app-guest-profile-insight *ngIf="insights && insights.length > 0" [insight]="insights[activeInsightIndex]"></app-guest-profile-insight>
      <div [ngClass]="{'invisible': insights.length <= 1}" class="insight-arrow" (click)="nextInsight()">
        <div class="insight-arrow-hoverable">
          <i class="far fa-chevron-right"></i>
        </div>
      </div>
    </div>
    <div [ngClass]="{'invisible': insights.length <= 1}" class="insights-indicators">
      <div>
        <span *ngFor="let insight of insights; let i = index">
          <i *ngIf="i === activeInsightIndex" class="fas fa-circle insights-indicator active"></i>
          <i *ngIf="i !== activeInsightIndex" class="fas fa-circle insights-indicator" (click)="goToInsight(i)"></i>
        </span>
      </div>
    </div>
  </div>
  <div [hidden]="!hasErrors" class="insights-body">
    <app-service-error [cardType]="errorCardType" [errorEvent]="emitError.asObservable()"
      (refreshAction)="refresh($event)"
      [reportIssueAutoFill]="reportIssueConfig"
      [config]="errorConfig"
      (reportIssueAction)="reportIssueClicked($event)">
    </app-service-error>
  </div>
</uic-card>
