@import 'variables';

::ng-deep app-guest-profile-insights uic-card .card-body {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 10px 10px;
}

app-guest-profile-insight {
  flex: 1 1 auto;
}

.gray {
  color: $gray-20;
}

.black {
  color: #000000;
}

.card-header {
  padding: 0 10px;
  line-height: 24px;
}

.insights-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.insight-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  text-align: center;
  line-height: 36px;
}

.insight-arrow {
  font-size: 24px;
  color: rgb(87, 142, 190);
  flex: 0 0 36px;
  height: 36px;

  .insight-arrow-hoverable {
    position: absolute;
    width: 36px;;
    height: 36px;
    &:hover {
      border-radius: 2px;
      background-color: rgb(228, 228, 228);
    }
    &:active {
      background-color: rgb(228, 228, 228);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px 0px inset;
    }
  }  
}

.insights-indicators {
  display: flex;
  justify-content: center;
}

.insights-indicator {
  padding: 9px;
  margin: 0 5px;
  font-size: 12px;
  color: rgb(87, 142, 190);
}

.active {
  color: rgb(204, 204, 204);
}
