::ng-deep .description-modal {
  .modal-dialog {
    max-width: 1060px;
  }
}

::ng-deep .large-modal,
::ng-deep .description-modal {
  .section {
    padding: 0 30px 5px;
    h4 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }
}


.modal-header.bottomSpace {
  margin-bottom: 20px;
}


@media screen and (max-width: 1024px) {
  ::ng-deep .description-modal {
    .modal-dialog {
      max-width: 915px;
    }
  }
}

@media screen and (max-width: 768px) {
  ::ng-deep .description-modal {
    .modal-dialog {
      max-width: 738px;
    }
  }
}

.no-rate-details {
  height: 280px;
}

.no-data-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-service-error {
  width: 100%;
}
