<div class="modal-content" data-slnm-ihg="RoomRateDescription-SID">
  <div class="modal-header" [ngClass]="{'bottomSpace': isOnlyRateInfo}">
    <h4 class="title" *ngIf="rateInfo && !hasErrors">
      <span data-slnm-ihg="RateName-SID">{{ rateName | selectiveTitleCase: allCapsWords}}</span>
      <span data-slnm-ihg="RateCode-SID"> ({{ rateCode}}) </span>
      <span *ngIf="!isOnlyRateInfo"> {{ 'COM_FOR' | translate }} </span>
      <span *ngIf="!isOnlyRateInfo" data-slnm-ihg="RoomName-SID"> {{ roomName | titlecase}} </span>
      <span *ngIf="!isOnlyRateInfo" data-slnm-ihg="RoomCode-SID">({{ roomCode}})</span>
    </h4>
    <h4 class="title" *ngIf="hasErrors" data-slnm-ihg="ErrorRateHeading-SID">{{ 'LBL_RATE_CAT' | translate }} </h4>
    <button type="button" class="close" (click)="dismissModal()"
            [ngbTooltip]="'COM_BTN_CLOSE' | translate">&times;</button>
  </div>
  <div id="model-data" *ngIf="rateInfo && !hasErrors; else noRateDetailsTemplate">
    <div class="modal-body p-0">
      <app-price-breakdown *ngIf="!isOnlyRateInfo" [rateInfo]="rateInfo" [currency]="currency"></app-price-breakdown>
      <ng-container *ngFor="let section of sections">
       <div class="section" id="{{section.id}}">
         <h4 [attr.data-slnm-ihg]="section.seleniumId.header">{{section.label | translate}}</h4>
         <p [attr.data-slnm-ihg]="section.seleniumId.body"
            *ngIf="section.id !== 'rateRules'; else rateRuleSection">
           <ng-container *ngIf="section.staticText; else dynamicDescription">
             {{section.staticText | translate: section.translateParams }}
           </ng-container>
         </p>
       </div>
       <ng-template #dynamicDescription>
          {{section.applySentenceCase ? (section.description | sentenceCase: section.allCapsWords) : section.description}}
       </ng-template>
       <ng-template #rateRuleSection>
         <p>
           <span class="d-block" data-slnm-ihg="PointsEligible-SID" *ngIf="pointsEligible"
                  translate="LBL_PTS_ELGBL"></span>
            <span class="d-block" data-slnm-ihg="CheckInFrom-SID" translate="LBL_CHCK_IN_FROM"
                  [translateParams]="{checkInTime : checkInTime}"></span>
            <span class="d-block" data-slnm-ihg="CheckOutUntil-SID" translate="LBL_CHCK_OUT_UNTL"
                  [translateParams]="{checkOutTime : checkOutTime}"></span>
          </p>
        </ng-template>
      </ng-container>
    </div>
   <div class="modal-footer">
      <button class="btn btn-default" type="button" (click)="dismissModal()" data-slnm-ihg="CloseBtn-SID"
              *ngIf="!isOnlyRateInfo" translate="COM_BTN_CLOSE"></button>
     <button class="btn btn-primary" type="button" (click)="closeModal()" data-slnm-ihg="Select-SID"
              *ngIf="!isOnlyRateInfo" translate="COM_LBL_SLCT"></button>
      <button class="btn btn-primary" type="button" (click)="dismissModal()" data-slnm-ihg="CloseBtn-SID"
              *ngIf="isOnlyRateInfo" translate="COM_BTN_CLOSE"></button>
   </div>
  </div>

  <ng-template #noRateDetailsTemplate>
    <div class="no-rate-details" [ngClass]="{'no-data-style': noData}">
      <app-service-error
        [attr.data-slnm-ihg]="'NoSearchResult-SID'"
        [errorEvent]="emitError"
        [reportIssueAutoFill]="errorAutofill"
        (refreshAction)="onRefresh($event)"
        (reportIssueAction)="closeModal()">
      </app-service-error>
    </div>
  </ng-template>
</div>
