<div class="modal-content" data-slnm-ihg="CutKeyModal-SID">
  <div class="modal-header">
    <h4 class="title header-content">
      <span translate="LBL_ROOM_ASSIGNMENT_SUCCESS"></span>
    </h4>
    <button type="button" class="close" (click)="dismissModal()"
            [ngbTooltip]="'COM_BTN_CLOSE' | translate">&times;
    </button>
  </div>
  <div class="modal-body">
    <app-error-toast-message *ngIf="cutKeyAssignmentError" class="header-content"
                             [attr.data-slnm-ihg]="'cutKeyErrorToast-SID'"
                             [errorEvent]="cutKeyAssignmentError.asObservable()" [translations]="errorContent"
                             [reportIssueAutoFill]="reportIssueAutoFill"
                             (reportAnIssueAction)="dismissModal()" (retryAction)="handleCutKey()">
    </app-error-toast-message>
    <p data-slnm-ihg="CutKeyMsg-SID" translate="LBL_ROOM_CUTKEYS"
       [translateParams]="{room:manageStayData?.roomNumber}"></p>

    <div class="room-assignment-details">
      <div class="row">
        <div class="col-3 room-details-col room-details-col-left">
          <div class="assigned-room-block">
            <div class="control-label pb-1" translate="LBL_ASGND_RM" data-slnm-ihg="AssignedRoomLabel-SID"></div>
            <div class="assigned-room">
              <span class="room-number" data-slnm-ihg="AssignedRoomNumber-SID">{{manageStayData?.roomNumber}}</span>
              <span class="room-type pl-1" data-slnm-ihg="AssignedRoomType-SID">{{manageStayData?.roomType}}</span>
            </div>
          </div>
          <div class="assigned-status-block pt-1">
            <div class="control-label pb-1" translate="LBL_RM_STATUS" data-slnm-ihg="AssignedRoomStatusLabel-SID"></div>
            <app-reservation-status [status]="manageStayData?.roomStatus" [desktopView]="true"
                                    [uniqueId]=""></app-reservation-status>
          </div>
        </div>
        <div class="col-4 room-details-col room-details-col-right">

          <div class="room-details-block">
            <div class="control-label pb-1" translate="LBL_RM_DETAILS" data-slnm-ihg="AssignedRoomDetailsLabel-SID"></div>
            <div *ngIf="manageStayData?.roomDetails && manageStayData?.roomDetails.length ;else no_feature">
              <div class="room-description" *ngFor="let roomDetails of manageStayData?.roomDetails | slice:0:3;"
                   data-slnm-ihg="AssignedRoomDetails-SID">
                {{roomDetails.description}}
              </div>
            </div>
            <ng-template #no_feature>
              <div class="room-description wrap" translate="LBL_NO_ROOM_DETAILS"></div>
            </ng-template>
          </div>

        </div>
        <div class=" col-5 cut-key">
          <div class="control-label pb-1" translate="LBL_KEYS" data-slnm-ihg="KeysLabel-SID"></div>
          <app-encoder-selector (encoder)="encoderSelected($event)"></app-encoder-selector>
          <app-manage-cut-key [manageStayData]="manageStayData" (isCutKeyError)="isCutKeyError($event)" [encoder]="defaultEncoder"
                              [pmsNumber]="pmsNumber" [disableCutKey]="false" [modal]="true"></app-manage-cut-key>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" (click)="dismissModal()" data-slnm-ihg="CanceleBtn-SID"
            translate="COM_BTN_CANCEL"></button>
    <button class="btn btn-primary" type="button" [disabled]="!shouldEnableButton()" (click)="handleCutKey()" data-slnm-ihg="CutKeys-SID"
            translate="LBL_CUT_KEYS"></button>
  </div>
</div>
