@import 'variables';
$tablet-landscape-width: 1024px;

.manage-tasks.tasksExpanded {
  grid-template-rows: 46px auto 135px auto;
  -ms-grid-rows: 46px auto 135px auto;
}

.manage-tasks.no-tasks {
  grid-template-rows: 46px auto 65px;
  -ms-grid-rows: 46px auto 65px;
}

.manage-tasks.tasksExpanded.error {
  grid-template-rows: 46px 50px auto 70px auto;
  -ms-grid-rows: 46px 50px auto 70px auto;

  .tasks-header {
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .task-toast-messages {
    display: block;

    grid-column: span 2;
    -ms-grid-column-span: 2;
    padding: 0 24px;

    grid-row: 2;
    -ms-grid-row: 2;

    .alert {
      margin-bottom: 0;
      padding: 6px 10px;
    }
  }

  .tasks-footer {
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

.task-toast-messages {
  display: none;
}

.manage-tasks {
  display: grid;
  display: -ms-grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 46px auto 136px auto;

  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: 46px auto 136px auto;

  @media (max-width: 1024px) {
    grid-template-rows: 46px auto 135px auto;
    -ms-grid-rows: 46px auto 135px auto;
  }

  @media screen and (min-width: $tablet-landscape-width) {
    ::-webkit-scrollbar {
      width: 7px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: $tabs-border-bottom-color;
      border-radius: 10px;
    }
  }

  .grid-block {
    display: grid;
    display: -ms-grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
  }

  .action-label, .actions {
    display: none;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  .check-tick {
    color: $brand-success;
  }

  .clock {
    color: $disabled-color;
  }

  .close-task {
    justify-self: end;
    margin-right: 10px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    padding: 8px 15px;
    -ms-grid-column: 2;
    -ms-grid-column-align: end;

    &:hover {
      background: #f2f2f2;
      border-radius: 2px;
      color: $primary-color-hover;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .tasks-count {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .add-task-container {
    color: $secondary-text-color;
    cursor: pointer;
    padding: 8px 15px;
    width: 140px;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    align-items: center;
    justify-self: end;

    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-align: end;

    &:hover {
      background: #f2f2f2;
      border-radius: 2px;
      color: $primary-color-hover;
    }

    @media (max-width: 1024px) {
      justify-self: initial;
      margin-left: 8px;
      margin-top: 8px;
      grid-row: 4;
      -ms-grid-row: 4;
    }
  }

  .add-task-container.no-tasks {
    margin: auto;
    flex-direction: row;
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  .tasks-header {
    border-bottom: 2px solid $tabs-border-bottom-color;
    text-align: center;
    font-weight: 700;
    grid-row: 2;
    grid-column: span 2;
    padding-top: 8px;
    padding-bottom: 4px;

    -ms-grid-row: 2;
    -ms-grid-column-span: 2;

    .department-label {
      grid-column: 3;
      -ms-grid-column: 3;

      @media (max-width: 1024px) {
        grid-column: 2;
        -ms-grid-column: 2;
      }
    }

    .status-label {
      -ms-grid-column: 4;
    }
  }

  .tasks-header.expanded {
    .action-label{
      display: block;
      -ms-grid-column: 4;
    }
    .department-label {
      grid-column: 2;
      -ms-grid-column: 2;
    }
    .status-label {
      -ms-grid-column: 3;
    }
  }

  .tasks-body {
    overflow: auto;
    grid-column: span 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 3;

    .tasks-info {
      .task-details-table {
        grid-column: span 4;
        -ms-grid-column-span: 4;

        .details-row {
          text-align: center;
          border-bottom: 1px solid $tabs-border-bottom-color;
          padding: 6px 0;

          .track-text {
            text-align: left;
            padding-left: 22px;
            grid-column: span 2;
            -ms-grid-column-span: 2;

            @media (max-width: 1024px) {
              grid-column: span 1;
              -ms-grid-column-span: 1;
            }
          }

          .department-code {
            grid-column: 3;
            -ms-grid-column: 3;

            @media (max-width: 1024px) {
              grid-column: 2;
              -ms-grid-column: 2;
            }
          }

          .task-status {
            -ms-grid-column: 4;
          }
        }
      }

      /* Desktop view, expanded case */
      @media (min-width: 1025px) {
        .resolved-text {
          display: none;
        }

        .task-details-table.expanded {
          .details-row {
            .resolved-text {
              display: inherit;
            }
            .track-text, .department-code, .task-status, .actions {
              -ms-grid-row-align: center;
            }

            .track-text {
              grid-column: span 1;
              -ms-grid-column-span: 1;
            }

            .department-code {
              grid-column: 2;
              -ms-grid-column: 2;
            }
            .task-status {
              grid-column: 3;
              -ms-grid-column: 3;
            }
            .actions {
              display: block;
              grid-column: 4;
              -ms-grid-column: 4;
            }
          }
        }
      }

      .task-details {
        grid-column: span 4;
        -ms-grid-column-span: 4;
      }
    }
  }

  .no-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      padding: 14px;
      font-size: 24px;
      font-weight: 200;
    }
    p {
      margin: 0;
    }
  }

  .disable-tasks {
    pointer-events: none;
    background: $secondary-color-disabled ;
  }

  .tasks-footer {
    grid-column: 1 / span 2;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 4;

    align-items: center;
    padding-top: 6px;
    text-align: center;

    .task-input-container {
      padding-left: 22px;
      .task-input {
        width: 160px;
      }
    }

    .department-dropdown {
      padding-left: 4px;
      justify-self: center;
      width: 180px;
      -ms-grid-column: 2;
      grid-column: 2;
    }

    .prep-status {
      -ms-grid-column: 3;
      grid-column: 3;
      -ms-grid-row-align: center;
    }

    .expanded-actions {
      -ms-grid-column: 4;
      grid-column: 4;
    }
  }

  .error-container {
    grid-column: span 2;
    -ms-grid-column-span: 2;
  }
}
