<div data-slnm-ihg="ManageTasks-SID" class="manage-tasks" [ngClass]="{'disabled' : focusedCard && !tasksExpanded, 'tasksExpanded' : tasksExpanded, 'error' : hasErrors, 'no-tasks' : taskDetails.length === 0}">

  <div class="tasks-count">
    <span class="title-block" data-slnm-ihg="TaskLabel-SID">{{ 'LBL_TASKS' | translate }} ({{ getTasksCount() }})</span>
  </div>

  <div class="add-task-container" [ngClass]="{'no-tasks' : taskDetails.length === 0, 'disable-tasks' : disableTasks}" *ngIf="!hasErrors && !tasksExpanded" data-slnm-ihg="AddTask-SID"
       (click)="openTasks()">
    <i class="fas fa-plus"></i>&nbsp;<span [translate]="'LBL_ADD_TSK'"></span>
  </div>

  <div class="close-task clickable" [ngbTooltip]="'LBL_COLLAPSE' | translate" data-slnm-ihg="CloseTask-SID" *ngIf="tasksExpanded" (click)="deleteTrace()">
    <i class="fas fa-compress-alt"></i>
  </div>

  <div class="task-toast-messages">
    <app-error-toast-message
      [errorEvent]="emitError.asObservable()"
      (retryAction)="onRetry()"
      [reportIssueAutoFill]="addIssueAutoFill"
      [translations]="toastTranslationConfig">
    </app-error-toast-message>
  </div>

  <div class="tasks-header grid-block" *ngIf="taskDetails.length !== 0" [ngClass]="{'expanded' : tasksExpanded, 'error' : hasErrors}"  data-slnm-ihg="TasksExpandedHeader-SID" >
    <div class="department-label" [translate]="'LBL_DEPT_CODE'" data-slnm-ihg="DepartmentCodeLabel-SID"></div>
    <div class="status-label" [translate]="'COM_LBL_STATUS'" data-slnm-ihg="TaskStatusLabel-SID"></div>
    <div class="action-label" [translate]="'COM_LBL_ACTIONS'" data-slnm-ihg="TaskActionsLabel-SID"></div>
  </div>

  <div class="tasks-body" *ngIf="!hasErrors || addTaskFail">
    <div *ngIf="taskDetails.length !== 0" class="tasks-info grid-block">
      <div class="task-details">
        <div class="task-details-table" [ngClass]="{'expanded' : tasksExpanded}" data-slnm-ihg="TasksExpandedBody-SID">
          <div class="details-row grid-block" *ngFor="let dataItem of taskDetails">
            <div class="track-text" data-slnm-ihg="TrackText-SID">{{dataItem.taskName | limitTo: 50}}</div>
            <div class="department-code" data-slnm-ihg="DepartmentCode-SID">{{dataItem.deptName}}</div>
            <div class="task-status" data-slnm-ihg="Status-SID">
              <span *ngIf="dataItem.taskStatus === 'Y'">
                <i  class="fas fa-check check-tick"></i>&nbsp;
                <span class="resolved-text" [translate]="'LBL_RESOLVED'"></span>
              </span>
              <span *ngIf="dataItem.taskStatus !== 'Y'">
                <i class="far fa-clock clock"></i>&nbsp;
                  <span class="resolved-text" [translate]="'LBL_UNRESOLVED'"></span>
              </span>
            </div>
            <div class="actions" data-slnm-ihg="Action-SID"><i class="fas fa-check check-tick"></i> {{ 'LBL_SENT' | translate }}</div>
          </div>
        </div>
      </div>

      <ng-template #unResolved>
        <i class="far fa-clock clock"></i>&nbsp;<span *ngIf="tasksExpanded" [translate]="'LBL_UNRESOLVED'"></span>
      </ng-template>
    </div>

    <div *ngIf="taskDetails.length === 0 && noData" class="no-tasks" data-slnm-ihg="NoData-SID">
      <p class="title" data-slnm-ihg="NoTasksTile-SID" [translate]="'LBL_NO_TASKS_ASSIGNED'"></p>
      <p [translate]="'LBL_NO_TASKS_DESCRIPTION'" data-slnm-ihg="NoTasksDescription-SID" class=" "></p>
      <p [translate]="'LBL_CREATE_NEW_TASKS'" data-slnm-ihg="CreateNewTasks-SID" class=" "></p>
    </div>
  </div>

  <div class="tasks-footer grid-block" *ngIf="tasksExpanded" data-slnm-ihg="AddTaskForm-SID">
    <div class="task-input-container">
      <input class="form-control task-input" data-slnm-ihg="TraceInput-SID" type="text"
             [(ngModel)]="addTaskForm.traceText" (ngModelChange)="handleTraceChange()" maxlength="50">
    </div>
    <div class="department-dropdown text-center">
      <kendo-dropdownlist [name]="'departmentCode'" class="custDrop"
                          [attr.data-slnm-ihg]="'DepartmentCodeSelect-SID'"
                          [disabled]="disableDepart"
                          [data]="departmentsList"
                          textField="code"
                          valueField="code"
                          [valuePrimitive]="true"
                          [(ngModel)]="addTaskForm.departmentCode"
                          [defaultItem]="{code: keyMap.selectDept }">
      </kendo-dropdownlist>
    </div>
    <div class="prep-status">
      <i class="far fa-clock clock"></i> {{ 'LBL_PREP_IN_PRGSS' | translate }}
    </div>
    <div class="expanded-actions">
      <div>
        <button class="btn btn-default action-btn del-btn" data-slnm-ihg="TaskDeleteButton-SID" (click)="deleteTrace()">
          <span [translate]="'COM_BTN_DLT'"></span>
        </button>&nbsp;
        <button class="btn btn-primary action-btn" [disabled]="disableTrace()" (click)="sendTrace()">
          <span [translate]="'LBL_TRACE'" data-slnm-ihg="TraceButton-SID"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="error-container" *ngIf="hasErrors && !addTaskFail">
    <app-service-error [errorEvent]="emitError.asObservable()"
                       [cardType]="errorCardType"
                       [reportIssueAutoFill]="dataIssueAutoFill"
                       (refreshAction)="refresh()">
    </app-service-error>
  </div>
</div>
