<div class="row">
  <div class="col-12 spending-data" *ngIf="spent">
    <span class="spend-total" data-slnm-ihg="TotalAmount-SID">{{spent?.totalAmount | number:'1.2-2'}}</span>
    <span class="spend-currency" data-slnm-ihg="Currency-SID"> {{spent?.currencyCode}}</span>
  </div>
</div>
<div class="row spending-breakdown" *ngIf="spent">
  <div class="col-7 mt-2 pr-1">
    <div class="row no-gutters accommodation" data-slnm-ihg="Accommodation-SID">
      <div class="d-flex justify-content-center align-items-center percent-container"
        data-slnm-ihg="PercentContainer-SID">
        <span class="percent-text" data-slnm-ihg="Percent-SID">{{spent?.accomPct}}%</span>
      </div>
      <div class="ml-2 pl-1">
        <div class="label" data-slnm-ihg="Label-SID" [translate]="keyMap.accommodation"></div>
        <div><span class="amount" data-slnm-ihg="Amount-SID">{{spent?.accomTotal | number:'1.2-2'}}</span>
          <span class="currency ml-1" data-slnm-ihg="Currency-SID">{{spent?.currencyCode}}</span>
        </div>
      </div>
    </div>
    <div class="row no-gutters mt-2 foodbeverage" data-slnm-ihg="FoodBeverage-SID">
      <div class="d-flex justify-content-center align-items-center percent-container"
        data-slnm-ihg="PercentContainer-SID">
        <span class="percent-text" data-slnm-ihg="Percent-SID">{{spent?.fnbPct}}%</span>
      </div>
      <div class="ml-2 pl-1">
        <div class="label" data-slnm-ihg="Label-SID" [translate]="keyMap.foodAndBeverage"></div>
        <div><span class="amount" data-slnm-ihg="Amount-SID">{{spent?.fnbTotal | number:'1.2-2'}}</span>
          <span class="currency ml-1" data-slnm-ihg="Currency-SID">{{spent?.currencyCode}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5 p-0" data-slnm-ihg="SpentChart-SID">
    <app-guest-profile-spending-chart [spent]="spent"></app-guest-profile-spending-chart>
  </div>
</div>