<div class="selector-container">
  <kendo-dropdownlist [name]="'encoder-selector'" class="encoder-dropdown-list"
                      [attr.data-slnm-ihg]="'EncoderSelector-SID'"
                      [data]="encoderList" [(ngModel)]="selectedEncoder"
                      textField="encoderName" valueField="encoderId"
                      [defaultItem]="defaultEncoder"
                      (ngModelChange)="encoderSelected()">
  </kendo-dropdownlist>
</div>
