@import 'variables';

.selector-container {
  padding-bottom: 10px;

  .encoder-dropdown-list {
    max-width: 175px;
    min-width: 140px;
    height: 34px;

    .k-select {
      color: $secondary-text-color;
    }
  }
}
