<kendo-multiselect class="room-type"
                   *ngIf="roomList"
                   [kendoMultiSelectSummaryTag]="1"
                   [data]="distinctRoomTypes"
                   [autoClose]="false"
                   [(ngModel)]="selectedRoomTypes"
                   [clearButton]="false"
                   [disabled]="disabled"
                   [placeholder]="'LBL_FLTR_ROOM_TYPE' | translate"
                   [kendoDropDownFilter]="filterSettings"
                   [attr.data-slnm-ihg]="'RoomTypeSelect-SID'"
                   (valueChange)="handleValueChange($event)">
  <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
    {{'+'}}{{ dataItems.length }} {{ 'LBL_MORE' | translate }}
  </ng-template>
</kendo-multiselect>


