<div class="check-in-block-keys">
  <div class="check-in-block-keys-contents">
    <div class="set-value ml-0">
      <app-set-value-plus-minus (keyCountSelected)="onKeyCountSelect($event)"></app-set-value-plus-minus>
    </div>
    <button [disabled]="!shouldEnableButton()" class="btn keys-btns cut-key-btn" (click)="onCutKey()">
      <span class="keys-btn cut-key" data-slnm-ihg="CutKeys-SID" translate="LBL_CUT_KEYS">
      </span>
    </button>
  </div>
</div>
