@import 'variables';

.check-in-block-keys {
  .check-in-block-keys-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    .icon-keys {
      color: $secondary-text-color;
      font-size: 32px;
    }
    .set-value {
      display: inline-block;
      position: relative;
    }
    .keys-btns {
      margin-top: 15px;
      width: 78px;
      padding: 8px;
      box-shadow: 0 2px 1px 0 $gray-80;
      border-radius: inherit;
      .keys-btn {
        color: $secondary-text-color;
      }
    }
    .keys-btns:hover {
      &:not(:disabled) {
        box-shadow: 0 4px 1px 0 $gray-80;
        background-color: $odd-bg-color;
      }
    }
    .keys-btns:active {
      &:not(:disabled) {
        background-color: $gainsboro-white;
        box-shadow: $active-box-shadow;
      }
    }
    .key-cut-btn {
      display: inline-block;
      padding: 8px;
      border-radius: inherit;
      margin-top: -20px;
      cursor: default;
      box-shadow: $active-box-shadow;
      .keys-cut {
        color: $gray-60;
        display: inline-block;
        padding-left: 10px;
      }
      .fa-check {
        color: $green-christi;
      }
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .check-in-block-keys {
    .check-in-block-keys-contents {
      .keys-btns {
        margin-top: 0px;
      }
    }
  }
}
