@import 'variables';

$talk-about-color: $persimmon;
$consider-color: $seagull-blue;
$remind-color: $eggplant-violet;
$spinner-container-height: 175px;

.talkAbout-icon {
  font-size: 2em;
  position: absolute;
  right: 20px;
  top: 20px;
}

@mixin card($color) {
  .card.card.card {
    border: 1px solid $color;
    .card-header.card-header.card-header {
      color: $color;
      font-weight: 400;
      padding-bottom: 0px;
      font-size: 20px;
    }
    .card-body {
      padding-top: 0px;
    }
  }
  .action {
    display: flex;
    margin-top: 10px;
  }
  .talkAbout-icon {
    color: $color;
  }
  .arrow-icon {
    color: $color;
    margin-right: 10px;
    line-height: 21px;
  }
}

::ng-deep app-talk-about uic-card.talk-about-card {
  @include card($talk-about-color)
}
::ng-deep app-talk-about uic-card.consider-card {
  @include card($consider-color)
}
::ng-deep app-talk-about uic-card.remind-card {
  @include card($remind-color)
}
::ng-deep app-talk-about app-service-error .error-color {
  color: #000;
  margin-left: 10px;
  margin-top: 10px;
}

:host ::ng-deep .uce-error-wrapper {
  min-height: $spinner-container-height !important;
  height: $spinner-container-height;
}


.no-data {
  margin-left: 10px;
  margin-top: 10px;
}

.show-more-button {
  cursor: pointer;
  margin: -0.5rem 0 0 -0.5rem;
  &:active {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .35);
  }
  .fa-arrow-down, .fa-arrow-up {
    margin-right: 0.5rem;
  }
}

.action-wrapper {
  margin-bottom: 8px;
}

::ng-deep app-talk-about .docked {

  cursor: pointer;

  .uic-card .card.card.card {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    padding: 10px 20px;

    .card-header.card-header.card-header {
      display: inline-block;
      padding: 0;
      font-size: 20px;
      font-weight: lighter;
      color: $body-color;
    }

    .card-header-info {
      display: none;
    }

    .card-body {
      padding: 0;
      display: inline-block;

      .counter {
        font-size: 20px;
        font-weight: lighter;
        padding: 0 10px;
      }

      .talkAbout-icon {
        position: relative;
        font-size: 1.5rem;
        top: 5px;
        right: 0;
      }
    }
  }
}
