<div [ngClass]="{'docked': docked}" (click)="docked && handleDockedItemClick()">
  <uic-card
    *ngIf="cardProps"
    class="p-relative"
    [ngClass]="cardProps.cardClass"
    [cardTitle]="cardProps.title"
    [attr.data-slnm-ihg]="'TalkAboutRoot-' + cardType + '-SID'"
  >
    <span class="counter" *ngIf="docked">({{actions.length}})</span>
    <i class="talkAbout-icon" [attr.data-slnm-ihg]="'TalkAboutIcon-' + cardType + '-SID'" [ngClass]="cardProps.icon"></i>
    <div *ngIf="initialized && !docked">
      <div [attr.data-slnm-ihg]="'TalkAboutNoData-' + cardType + '-SID'" *ngIf="actions.length === 0" class="no-data" [translate]="cardProps.noneMessage"></div>
      <div [attr.data-slnm-ihg]="'TalkAboutDataContainer-' + cardType + '-SID'" *ngIf="actions.length !== 0" class="action-wrapper">
        <ng-container *ngFor="let action of actions; let i = index">
          <div *ngIf="i < maxEntries || showAllEntries" class="action" >
            <i class="arrow-icon fas fa-arrow-right"></i>
            <div [translate]="action.translationKey" [translateParams]="translationValues"></div>
          </div>
        </ng-container>
      </div>

      <span *ngIf="actions.length > maxEntries" class="btn btn-link show-more-button" (click)="showAllEntries = !showAllEntries">
        <span *ngIf="!showAllEntries">
          <i class="fas fa-arrow-down"></i>
          <span [attr.data-slnm-ihg]="'TalkAboutShowMore-' + cardType + '-SID'" [translate]="translations.showMore"></span>
        </span>
        <span *ngIf="showAllEntries">
          <i class="fas fa-arrow-up"></i>
          <span [attr.data-slnm-ihg]="'TalkAboutShowLess-' + cardType + '-SID'" [translate]="translations.showLess"></span>
        </span>
      </span>
    </div>
    <div class="service-error-container" [hidden]="!hasErrors || docked">
      <app-service-error
                        [attr.data-slnm-ihg]="'TalkAboutError-' + cardType + '-SID'"
                        [cardType]="errorCardType"
                        [showSpinner]="showSpinner"
                        [errorEvent]="emitError.asObservable()"
                        [config]="errorConfig">
      </app-service-error>
    </div>
  </uic-card>
</div>
