<div class="prepare-arrivals-grid-actions" data-slnm-ihg="GridActions-SID">
  <div *ngIf="allowManage" class="notify-guest">
    <app-service-error [hidden]="!hasErrors"
                       [errorEvent]="emitError.asObservable()"
                       [config]="errorConfig"
                       [cardType]="errorCardType"
                       [reportIssueAutoFill]="reportIssueAutoFill"
                       (refreshAction)="notifyGuests()"
                       container="body"
                       [ngbTooltip]="'LBL_ERR_GST_NTFY' | translate">
    </app-service-error>
    <div [hidden]="hasErrors">

            <ng-container *ngTemplateOutlet="isLoyaltyMember() ? loyaltyMember:
        notLoyaltyMember"></ng-container>

            <ng-template #loyaltyMember>
                <ng-container *ngIf="!listItem.notified else guestNotified;">
                    <!--For checked in guest-->
                    <!-- Blank when guest checked in and is member and not notified -->
                    <span *ngIf="isGuestCheckedIn() else notCheckedIn" container="body" placement="left">
          </span>

                    <ng-template #notCheckedIn>
                        <!--For loyalty member if room not ready: Disabled bell-->
                        <span *ngIf="!roomReady" class="bell-icon" ngbTooltip="{{'LBL_RM_NT_READY' | translate}}" container="body" placement="left">
              <i class="far fa-bell disabled-bell" data-slnm-ihg="DisabledBell-SID"></i>
            </span>

                        <!--For Loyalty member: with room ready: Active Bell-->
                        <ng-container *ngIf="roomReady">
                        <button *accessControl="'notify_guest' as tagName with ReadOnlyNotifyButton customizer:notificationAccessCustomizer"
                          class="btn btn-primary" (click)="notifyGuest()">
              <i class="far fa-bell" data-slnm-ihg="ActiveBell-SID"> </i>
            </button>
        </ng-container>
            <ng-template #ReadOnlyNotifyButton>
                <div class="notify-div" [ngbTooltip]="'LBL_READ_ONLY_PERMISSION' | translate" container="body" placement="left">
                    <button class="btn btn-primary readOnlyNotifyBell" disabled>
         <i class="far fa-bell" data-slnm-ihg="ActiveBell-SID"> </i>
       </button>
                </div>
            </ng-template>
                    </ng-template>
                </ng-container>

                <ng-template #guestNotified>
                    <!--If Guest Notified & not checked in-->
                    <span data-slnm-ihg="NotifiedTimestamp-SID">
            <i class="fas fa-check check-icon"></i>
            <span class="notify-timestamp" [innerText]="listItem.notified"></span>
                    </span>
                </ng-template>
            </ng-template>

            <ng-template #notLoyaltyMember>
                <!--For non-member: Inactive Bell-->
                <!-- For non-member: blank when checkedin  -->
                <span class="bell-icon" *ngIf="!isGuestCheckedIn()" ngbTooltip="{{'LBL_NM_NT_NOTIFY' | translate}}" container="body" placement="left">
          <i class="far fa-bell-slash inactive-bell" data-slnm-ihg="InactiveBell-SID"></i>
        </span>
            </ng-template>
        </div>
    </div>
</div>
