@import 'variables';

.prepare-arrivals-grid-actions {
  text-align: center;
  line-height: 17px;

  .notify-guest {
    vertical-align: middle;
  }

  .bell-icon {
    padding: .375rem .75rem;
  }

  .disabled-bell {
    color: $gray-60;
  }

  .check-icon {
    color: $green-christi;
  }

  .notify-timestamp {
    padding-left: 3px;
    color: $gray-60;
  }

  .inactive-bell {
    color: $header-border-color;
  }
}

:host ::ng-deep {
  .uce-error-wrapper {
    min-height: auto;
  }

  .ref-btn {
    &:hover, &:active, &:focus {
      background-color: transparent;
      box-shadow: none;
    }
  }
}
