<!-- Guest notified toast -->
<uic-toast-message class="toast-no-action"
                   [attr.data-slnm-ihg]="'GuestNotifiedAlert-SID'"
                   *ngIf="listItem.notified && showNotifiedAlert"
                   [alert]="guestNotifyAlert">
</uic-toast-message>

<!-- Warning assigned room toast -->
<uic-toast-message class="toast-no-action"
                   [attr.data-slnm-ihg]="'RoomNotReadyAlert-SID'"
                   *ngIf="showRoomNotReadyAlert && listItem.assignedRoomNumber && isRoomNotReady"
                   [alert]="roomNotReadyAlert">
</uic-toast-message>

<!-- eligibility message for free upgrade -->
<uic-toast-message *ngIf="showUpgradeAlert && !listItem?.assignedRoomNumber"
                   [alert]="roomUpgradeAlert"
                   data-slnm-ihg="EligibilityMessage-SID">
</uic-toast-message>

<!-- Success message when room upgraded -->
<uic-toast-message *ngIf="listItem?.freeUpgradeInd && listItem?.assignedRoomNumber"
                   [alert]="roomUpgradeSuccessAlert"
                   data-slnm-ihg="RoomUpgradedAlert-SID">
</uic-toast-message>
