<div *ngIf="isActiveTab" class="all-guests">
  <div class="search-row">
      <div class="left-section">
        <app-guest-search [source]="'ALLGUESTTAB'"
                          [searchQuery]="search"
                          [previewEnabled]="true"
                          (search)="onSearch($event)"
                          (emitGuestSelection)="handleGuestSelection($event)"
                          (emitIsReset)="resetCalled($event)"
                          (emptyReset)="resetCalled($event)">
        </app-guest-search>
      </div>
    <div class="right-section">
      <app-datepicker [inputConfigObj]="dateConfigObject"
                      [parentForm]="allGuestsForm"
                      (changeDatePickerValue)="changeDatePickerValue()">

      </app-datepicker>
    </div>
  </div>

  <app-all-guests-grid [guestsData]="allGuestResponse"
                       [gridState]="gridState"
                       [search]="search"
                       [isSearchResult]="isSearched()"
                       (gridStateChange)="onStateChange($event)"
                       [allGuestDataErrorEvent]="emitError.asObservable()">
  </app-all-guests-grid>
</div>

