@import 'variables';

.search-row {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap-reverse;

    .left-section {
      margin: 0 0 0 20px
    }
}
