<div ngbDropdown
     placement="bottom-right"
     class="day-picker"
     data-slnm-ihg="DayPicker-SID"
     (openChange)="onOpenChange($event)">
  <div ngbDropdownToggle class="toggle">
    <span *ngIf="selected !== 0" class="mr-3">{{ formatDateMonthUppercase(days[selected]) }}</span>
    <span *ngIf="selected === 0" class="mr-3" [translate]="keyMap.today"></span>
    <span class="calendar-icon far fa-calendar-alt ml-2"></span>
  </div>

  <div ngbDropdownMenu class="picker-dropdown-menu" ng-class="ck.dropdownclass">
    <div class="heading"><span>{{ days[selected] | date : 'MMMM' }}</span></div>

    <div class="items row">
      <div class="item-wrapper col-4" *ngFor="let day of days; let i=index">
        <div class="item"
             [attr.data-slnm-ihg]="'Day'+ (day | date: 'd') +'-SID'"
             (click)="onChange(i)"
             [ngClass]="{'selected': selected == i}">
          <span>{{ day | date : 'd' }}</span>
        </div>
      </div>
    </div>

    <div class="footing border-top" (click)="onChange(-1)" data-slnm-ihg="Today-SID">
      <span [translate]="keyMap.today"></span>,
      <span>{{ days[0] | date : 'MMMM d, yyyy' }}</span>
    </div>
  </div>
</div>
