$body-color: #333;
$heart-beat-refresh: #578EBE;
$orange-icon: #D96932;
$nav-hovered-bg-color: #e4e4e4;
$active-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.35);
$secondary-text-color: #578ebe;
$legend-primary-color: #fff;

.day-picker {
  .toggle {
    color: $secondary-text-color;
    padding: 8px 15px;
    border-radius: 2px;
    margin-bottom: -2px;
    display: inline-block;
    cursor: pointer;

    &:hover {
      background-color: $nav-hovered-bg-color;
    }

    &:active {
      box-shadow: $active-box-shadow;
    }
    &::after {
      content: initial;
      display: none;
    }
  }
  

  .calendar-icon {
    padding-right: 4px;
  }

  .manage-link {
    display: block;
  }

  .picker-dropdown-menu {
    margin-right: -30px;
    margin-top: -2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    font-size: 14px;
    max-width: 350px;
    padding: 0px;

    cursor: default;

    .heading {
      font-size: 12px;
      font-weight: 700;
      height: 25px;
      line-height: 25px;
      text-align: center;
      color: #333;
      background-color: $nav-hovered-bg-color;
    }

    .heading,
    .footing {
      display: block;
    }

    .items {
      width: 188px;
      margin: 10px;

      > .item-wrapper {
        padding: 5px;
        > .item {
          padding: 4px 2px;
          height: 36px;
          line-height: 28px;
          cursor: pointer;
          text-align: center;
          color: $heart-beat-refresh;

          &:hover {
            background-color: $nav-hovered-bg-color;
          }

          &:active {
            box-shadow: $active-box-shadow;
          }
  
          &.selected {
            color: $legend-primary-color;
            background-color: $heart-beat-refresh;
          }
        }
      }
    }

    .footing {
      cursor: pointer;
      color: $heart-beat-refresh;
      height: 36px;
      line-height: 36px;
      text-align: center;

      &:hover {
        background-color: $nav-hovered-bg-color;
      }

      &:active {
        box-shadow: $active-box-shadow;
      }
    }
  }
}

