<div class="group-arrivals-modal" data-slnm-ihg="GroupArrivalsModal-SID">
  <div class="modal-header">
    <h4 class="modal-title" data-slnm-ihg="Title-SID">
      {{ 'LBL_ALL_GST' | translate }} -  {{ selectedGroup | titlecase }}
    </h4>
    <button type="button"
            class="close"
            data-slnm-ihg="ButtonCloseX-SID"
            [ngbTooltip]="'COM_BTN_CLOSE' | translate" (click)="close()">&times;
    </button>
  </div>
  <div class="modal-body">
    <div class="col-12">
      <uic-toast-message *ngIf="alert" [alert]="alert"></uic-toast-message>
    </div>
    <app-group-arrivals-grid [dateIndex]="dateIndex"
                             [localDate]="localDate"
                             [guestData]="guestData"
                             [guestDataErrorEvent]="emitError.asObservable()"
                             [topic]="topic"
                             [gridState]="gridState"
                             [totalItems]="totalItems"
                             (refreshAction)="onGuestListRefresh()"
                             (stateChange)="onStateChange($event)">
    </app-group-arrivals-grid>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            data-slnm-ihg="ButtonClose-SID"
            translate="COM_BTN_CLOSE"
            (click)="close()">
    </button>
  </div>
</div>
