@import 'variables';

$rowHeight: 40px;

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;

  .close {
    margin: 0;
    color: $gray-60;
    opacity: 1;

    &:focus {
      outline: 0;
      color: $gray-60;
      opacity: 1;
    }

    &.hover {
      color: $gray-60;
      opacity: 1;
    }

  }

}

.header-contents {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .modal-info-icon {
    color: $secondary-text-color;
    margin-left: 4px;
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

}

.modal-message-contents {
  padding-left: 10px;
  padding-right: 10px;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0 1rem 0 1rem;

  .row-item {
    height: $rowHeight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
  }

  .warning-message {
    font-weight: bold;
    font-size: 14px;
  }

  .alert-message {
    color: $fire-engine-red;
  }

  .row-text {
    font-weight: 400;
    font-size: 14px;

    * {
      line-height: 1.3 !important;
      vertical-align: baseline;
    }

  }

}

.modal-footer {
  position: relative;
  padding: 1rem;

  .modal-footer-contents {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  button.btn.btn-default.cancel {
    position: absolute;
    left: 10px;
  }
}

.delete-item-button {
  color: $secondary-text-color;
  font-size: 18px;

  &:focus {
    box-shadow: none;
  }
}

.row-btn {
  margin: 0 5px;
}

:host ::ng-deep {
  .popover-bulk-notify {
    margin-top: 0;
    min-width: 50px;
    border-width: 0;
    border-radius: 0;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);

    .popover-content {
      padding: 15px;
      max-width: 200px;
      text-align: left;
    }

    .popover-content-tasks {
      padding: 15px;
      min-width: 300px;
      max-width: 400px;
      text-align: left;
    }
  }

  uic-toast-message {
    padding-top: 0.75rem;
  }
}
