<div class="bulk-notify-modal" data-slnm-ihg="BulkNotify-SID">
  <div class="modal-header">
    <div class="header-contents">
      <h4 class="modal-title" data-slnm-ihg="ModalTitle-SID">{{'TITLE_BULK_NOTIFY_WARNING' | translate}}
      </h4>&nbsp;
      <i class="fas fa-info-circle modal-title modal-info-icon"
         [ngbPopover]="cannotUndoAction"
         triggers="mouseenter:mouseleave"
         placement="right"
         popoverClass="popover-bulk-notify"></i>
    </div>
    <button type="button"
            class="close"
            data-slnm-ihg="ButtonCloseX-SID"
            [ngbTooltip]="'COM_BTN_CLOSE' | translate"
            (click)="close()">&times;
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-message-contents">

      <app-error-toast-message [errorEvent]="emitError.asObservable()"
                               [translations]="errorContent"
                               [reportIssueAutoFill]="reportIssueAutoFill"
                               (retryAction)="notifyGuests()">
      </app-error-toast-message>

      <div class="row">
        <div *ngIf="displayType === 'both'; then multipleHeadings else singleHeading"></div>
      </div>
      <ng-template #multipleHeadings>
        <div class="col-6" *ngFor="let list of lists; let i = index">
          <div class="row-item">
              <span class="warning-message" [ngClass]="{'alert-message': list.type === 'unresolved'}">
                <span *ngIf="list.type === 'unresolved'" translate="LBL_NUM_READY_WTH_TASKS"
                      [translateParams]="{guestCount: list.items.length}"></span>
                <span *ngIf="list.type === 'resolved'" translate="LBL_NUM_READY"
                      [translateParams]="{guestCount: list.items.length}"></span>
              </span>
          </div>
        </div>
      </ng-template>
      <ng-template #singleHeading>
        <div class="col-12">
          <div class="row-item">
              <span class="warning-message" [ngClass]="{'alert-message': displayType === 'unresolved'}">
                  <span *ngIf="displayType === 'resolved'" translate="LBL_NUM_READY"
                        [translateParams]="{guestCount: arrivals.length}"></span>
                  <span *ngIf="displayType === 'unresolved'" translate="LBL_NUM_READY_WTH_TASKS"
                        [translateParams]="{guestCount: arrivals.length}"></span>
              </span>
          </div>
        </div>
      </ng-template>
      <div class="row">
        <div class="col-6" *ngFor="let list of lists; let i = index">
          <div class="row-item border-top row-text"
               [ngClass]="{'border-bottom': (i === list.items.length - 1) && (arrivals.length/2 > list.items.length)}"
               *ngFor="let arrival of list.items; let i = index">
            <div>
              <span class="vetical-middle">{{arrival.lastName | titlecase}}, {{arrival.firstName | titlecase}}</span>
              <div *ngIf="list.type === 'unresolved'"
                   class="btn btn-default row-btn"
                   [ngbPopover]="tasksPopover"
                   triggers="mouseenter:mouseleave"
                   placement="right"
                   popoverClass="popover-bulk-notify"
                   data-slnm-ihg="ViewTasks-SID"
                   translate="LBL_VW_TSKS"></div>
            </div>
            <button *ngIf="list.type === 'unresolved'"
                    class="btn delete-item-button"
                    (click)="deleteItemFrom(i, list)"
                    data-slnm-ihg="DeleteIcon-SID"><i class="fas fa-times-circle"></i></button>
            <ng-template #tasksPopover>
              <div class="popover-content-tasks">
                <app-trace-list [arrival]="arrival" [ordertask]="'unresolved'"></app-trace-list>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-footer-contents">
      <button class="btn btn-default cancel"
              data-slnm-ihg="CancelButton-SID"
              translate="COM_BTN_CANCEL"
              (click)="close()">
      </button>
      <button class="btn btn-primary"
              data-slnm-ihg="NotifyGuestsButton-SID"
              [disabled]="!arrivals?.length"
              (click)="continue()">{{'LBL_NTFY_GSTS' | translate}} ({{arrivals.length}})
      </button>
    </div>
  </div>
</div>

<ng-template #cannotUndoAction>
  <div class="popover-content">
    {{'WARNING_CANT_UNDO_NOTIFY' | translate}}
  </div>
</ng-template>
