<div class="edit-stay">
  <uic-toast-message *ngIf="showConfirmationCard"
                     [alert]="confirmReservationToast"
                     data-slnm-ihg="ConfirmSuccessToast-SID"></uic-toast-message>

  <uic-toast-message *ngIf="!offersErrorToast && !showConfirmationCard && selectedTab === 'stayInfo' && minMaxStayAlert"
                     [alert]="minMaxStayAlert"
                     [attr.data-slnm-ihg]="'MinMaxStayWarning-SID'"></uic-toast-message>

  <uic-toast-message *ngIf="offersErrorToast && !showConfirmationCard"
                     [alert]="offersErrorToast"
                     data-slnm-ihg="SearchOffersErrorToast-SID"></uic-toast-message>

  <app-error-toast-message *ngIf="!showConfirmationCard"
                           [attr.data-slnm-ihg]="'GuestInfoSaveError-SID'"
                           [errorEvent]="guestInfoSaveError.asObservable()"
                           [translations]="saveGuestInfoErrorContent"
                           (retryAction)="saveGuestInfo(guestInfo)"
                           [reportIssueAutoFill]="saveErrorAutoFill"></app-error-toast-message>

  <div *ngIf="ihgRcWarning && !showConfirmationCard" class="toast-message-wrapper-custom" data-slnm-ihg="IhgRewardsNumberWarning-SID">
    <div class="toast-message">
      <div class="message-container">
        <div class="primary-message" *ngIf="ihgRcWarning.type !== 'urgent'">
          <strong>{{ihgRcWarning.message | translate}} </strong>
          <span *ngIf="ihgRcWarning.detailMessage" [innerHtml]="ihgRcWarning.detailMessage | translate"></span>
        </div>
        <div *ngFor="let alert of ihgRcWarning.otherMessages">
          <strong><span [innerHTML]="alert.message | translate"></span>: </strong>
          <span *ngIf="alert.detailMessage" [innerHtml]="alert.detailMessage"></span>
        </div>
      </div>
    </div>
  </div>

  <ng-content select="[view-only-slot]"></ng-content>

  <ng-container *ngIf="isEditView">
    <app-manage-stay-tabs *ngIf="!showConfirmationCard"
                          [attr.data-slnm-ihg]="'ManageStayTabs-SID'"
                          [state]="state"
                          [reservationNumber]="reservationNumber"
                          (stayInfoSearch)="handleStayInfoSearch($event)"
                          (originalReservationData)="handleReservationData($event)"
                          (tabChange)="handleTabChange($event)"
                          (saveGuestInfo)="saveGuestInfo($event)">
    </app-manage-stay-tabs>

    <app-offers [hidden]="!showAllOffers || showConfirmationCard || selectedTab !== 'stayInfo'"
                [reservationNumber]="reservationNumber"
                (estimatedTotal)="setEstimatedTotal($event)"
                [originalReservationData]="originalReservationData"
                [searchCritera]="searchCriteria"
                (isHavingErrror)="hasError($event)"
                (handleManageStay)="handleManageStayNavigation()">
    </app-offers>

    <app-confirm-changes *ngIf="showConfirmationCard"
                         [estimatedTotal]="estimatedTotal"
                         [searchCritera]="searchCriteria">
    </app-confirm-changes>

  </ng-container>

</div>
