:host ::ng-deep {
    .card-body {
        padding: 0;
    }
    .tab-content {
        padding: 0;
    }
    .nav-tabs .nav-item {
        &:first-child {
            margin-left: 0;
        }
        .nav-item {
            padding: .5rem 3rem;
        }
    }
    .toast-message-wrapper-custom {
        border: 1px solid #faebcc;
        border-radius: 0;
        background: #fcf8e3;
        color: #8a6d3b;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
    }
    .primary-message {
        padding-bottom: 1rem;
    }
}
  