<ng-container *ngIf="status && reservationStatues[status] && desktopView">
  <i [ngClass]="reservationStatues[status].icon"
     [attr.data-slnm-ihg]=" uniqueId ? reservationStatues[status].slmnIdUnique(uniqueId) : reservationStatues[status].slnmId">
  </i>
  <span class="pl-1"
        [translate]="reservationStatues[status].message"
        data-slnm-ihg="StatusMessage-SID">
  </span>
</ng-container> 
<ng-container *ngIf="status && reservationStatues[status] && !desktopView">
  <i [ngClass]="reservationStatues[status].icon" [ngbTooltip]="reservationStatues[status].message | translate"
     [attr.data-slnm-ihg]=" uniqueId ? reservationStatues[status].slmnIdUnique(uniqueId) : reservationStatues[status].slnmId">
  </i>
</ng-container> 
