<div>
  <!-- <div class="modal-header">
    <h4 class="modal-title">Header</h4>
    <button type="button" class="close" (click)="onClose()" ngbTooltip="{{'COM_BTN_CLOSE' | translate}}">&times;</button>
  </div> -->
  <div class="modal-body row">
    <div class="col-12">
        <img class="chart-image" src="assets/images/sales-demo-chart.png" />
    </div>    
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button class="btn btn-primary" type="button" (click)="onCancel()" >Close</button>
  </div>
</div>