<div class="guest-complaint-modal" data-slnm-ihg="GuestComplaintModal-SID">
  <div class="modal-header">
    <h4 class="modal-title" data-slnm-ihg="Title-SID">
      {{ 'COM_LBL_GUEST_COMPLAINTS' | translate }} ({{ complaintsCount }})
    </h4>
    <button type="button" class="close" data-slnm-ihg="ButtonCloseX-SID"
            [ngbTooltip]="'COM_BTN_CLOSE' | translate"
            (click)="close()">&times;
    </button>
  </div>
  <div class="modal-body complaints-content">
    <app-guest-complaints-grid [gridState]="gridState"
                               [ihgRcNumber]="ihgRcNumber"
                               [stateName]="stateName"
                               [guestComplaints]="guestComplaintsData">
    </app-guest-complaints-grid>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-slnm-ihg="ButtonClose-SID" translate="COM_BTN_CLOSE" (click)="close()">
    </button>
  </div>
</div>
