<div class="group-list-grid concerto-grid" [ngClass]="{'grid-border': !!selectedGroup || displayBorder}">
  <kendo-grid [kendoGridBinding]="items"
              [pageSize]="gridState.take"
              [skip]="gridState.skip"
              [pageable]="true"
              [filterable]="false"
              [scrollable]="false"
              [sort]="gridState?.sort || [{ field: 'groupName', dir: 'asc' }]"
              [sortable]="{ allowUnsort: false, mode: 'single' }"
              (sortChange)="onSortChange($event)"
              (pageChange)="onPageChange($event)"
              [rowClass]="getRowClass">

    <ng-template kendoPagerTemplate>
      <div class="w-100">
        <uic-concerto-grid-pager class="upper-pager w-100"></uic-concerto-grid-pager>
      </div>
    </ng-template>

    <kendo-grid-column width="200" field="groupName" headerClass="text-left text-nowrap">
      <ng-template kendoGridHeaderTemplate>
        <span class="pl-2" translate="LBL_GRP_NM" data-slnm-ihg="GroupNameLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="pl-2 group-name" data-slnm-ihg="GroupName-SID" (click)="onGroupClick(dataItem)">
          <app-truncated-tooltip *ngIf="dataItem?.groupName"
                                 [widthClass]="'group-text'"
                                 [innerHTML]="(dataItem?.groupName | titlecase | textHighlight:searchQuery)"
                                 [slnmTag]="'GroupName-SID'">
          </app-truncated-tooltip>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="120" field="groupCode" headerClass="text-center" [media]="'(min-width: 1025px)'" [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_GRP_CD" data-slnm-ihg="GroupCodeLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="text-center" data-slnm-ihg="GroupCode-SID">{{ dataItem.groupCode }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="120" field="arrivalDate" headerClass="text-center" [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_ARR_DT" data-slnm-ihg="ArrivalLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center" data-slnm-ihg="Arrival-SID">
          {{ dataItem.arrivalDate | date: 'ddMMMyyy' | uppercase }}
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="130" field="departureDate" headerClass="text-center text-nowrap" [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_DEP_DT" data-slnm-ihg="DepartureLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center" data-slnm-ihg="Departure-SID">
          {{ dataItem.departureDate | date: 'ddMMMyyy' | uppercase }}
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="100" field="noOfNights" headerClass="text-center" [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span data-slnm-ihg="NightsLabel-SID"># {{ 'LBL_GST_NIGHTS_COL' | translate }}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center" data-slnm-ihg="Nights-SID">{{ dataItem.noOfNights || '&mdash;' }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="120" field="releaseDate" headerClass="text-center" [media]="'(min-width: 769px)'" [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_REL_DT" data-slnm-ihg="ReleaseDateLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center" data-slnm-ihg="ReleaseDate-SID">
          {{ (dataItem.releaseDate | date: 'ddMMMyyy' | uppercase) || '&mdash;' }}
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="114" field="pickUp" headerClass="text-center" [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span translate="LBL_PU" data-slnm-ihg="PickUpLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center" *ngIf="dataItem?.roomsContracted; else pickUpNoData" data-slnm-ihg="PickUp-SID">
          {{dataItem.numberOfReservations}}/{{dataItem.roomsContracted}}
          ({{ (dataItem.numberOfReservations/dataItem.roomsContracted | percent ) || '&mdash;' }} ) </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="100" field="actions" title="" headerClass="text-center" class="text-center"
                       [sortable]="false">
      <ng-template kendoGridHeaderTemplate>
        <span translate="COM_LBL_ACTIONS" data-slnm-ihg="ActionsLabel-SID"></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <app-group-list-actions [groupItem]="dataItem" [localDate]="localDate" [topic]="topic"></app-group-list-actions>
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
      <div class="no-records" *ngIf="items && items.length==0"></div>
      <app-service-error
        [attr.data-slnm-ihg]="'NoSearchResult-SID'"
        [errorEvent]="prepareGuestDataErrorEvent"
        (refreshAction)="onRefresh($event)"
        (reportIssueAction)="onReportIssueClicked()"
        [reportIssueAutoFill]="reportIssueConfig"
        [config]="errorConfig">
      </app-service-error>
    </ng-template>

    <ng-template #pickUpNoData>
      <div class="text-center" data-slnm-ihg="PickUp-SID"> &mdash; </div>
    </ng-template>

  </kendo-grid>
</div>
