@import 'variables';
@import 'kendo-overrides';

.group-list-grid {
  .group-name {
    color: $secondary-text-color;
    cursor: pointer;
  }

  .no-records {
    height: 250px;
  }
}

:host ::ng-deep {
  .group-list-grid.concerto-grid {
    @include no-grid-x-overflow();

    &.grid-border {
      .k-grid-content {
        border-bottom: 2px solid $input-border;
      }
    }

    .group-text {
      max-width: 200px;
    }

    .k-grid-header {
      border-top: 2px solid $input-border;
      border-bottom: 2px solid $input-border;
    }

    tr {
      height: 40px;
    }

    th {
      line-height: 28px;
      vertical-align: middle;
    }

    tbody tr {
      background-color: $primary-text-color;

      &:not([data-kendo-grid-item-index ^= '0']) {
        border-top: 1px solid $input-border;
      }

      &:hover {
        background-color: $primary-text-color;
      }

      &.selected-group {
        background-color: $lavender-violet;
        font-weight: bold;

        &:hover {
          background-color: $lavender-violet;
          font-weight: bold;
        }
      }
    }
  }
}
