@import 'variables';
:host ::ng-deep {
    .k-dropdown {
        width: 150px;
    }
    .no-suggested-matches {
        width: 68%;
        margin: 0 auto;
    }
    .req-star {
        position: relative;
        padding-left: 0;
        &:before {
            content: '*';
            position: absolute;
            left: -10px;
            color: $required-field-asterix;
            top: 1px;
            font-weight: bold;
        }
    }
    uic-user-guidance{
        width: 100%;
    }
    uic-collapsible-card {
        uic-concerto-grid-pager {
            display: none;
        }
        .uic-collapsible-card {
            margin-bottom: 0;
            .card {
                box-shadow: none;
                .card-header {
                    font-size: 18px;
                    line-height: 25px;
                    padding: 0 0 10px;
                }
                .card-body {
                    padding: 0;
                }
            }
        }
        &.panel-collapsed .uic-collapsible-card {
            .card-header {
                display: block;
            }
        }
        &.first-time {
            .card-header {
                display: none;
            }
        }
    }
    .data-container {
        margin: 0 -30px;
    }
}