<uic-collapsible-card data-slnm-ihg="CorporateIdLookUp-SID" [collapsed]="panelCollapsed" (change)="handleToggle($event)" [ngClass]="{'panel-collapsed': panelCollapsed,'first-time':searchcount==0}">
    <form [formGroup]="corporateIdLookUpForm" (ngSubmit)="submitForm()" data-slnm-ihg="CorporateForm-SID">
        <label class="control-label req-star" data-slnm-ihg="LabelSearchByDropDown-SID" translate="LBL_CRPRT_LBL"></label>
        <div class="lookup-combo-container req-star-parent d-flex" [ngClass]="{'focussed': onFocusCombobox,'error-box': formRef.get('corporateId').errors?.pattern}">
            <kendo-dropdownlist data-slnm-ihg="SearchByDropDown-SID" formControlName="searchBy" [data]="searchByData" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true">
            </kendo-dropdownlist>
            <div class="input-panel flex-fill">
                <input type="text" class="form-control" (focus)="onFocus()" (focusout)="onOutOfFocus()" formControlName="corporateName" [hidden]="formRef.get('searchBy').value == 'corporateNumber'" data-slnm-ihg="SearchByCorporateName-SID">
                <input type="text" class="form-control" (focus)="onFocus()" (focusout)="onOutOfFocus()" formControlName="corporateId" [hidden]="formRef.get('searchBy').value == 'corporateName'" data-slnm-ihg="SearchByCorporateId-SID">
            </div>
        </div>
        <div *ngIf="formRef.get('corporateId').errors?.pattern" class="error-message pb-2" translate="LBL_CRPRT_DIGIT_ERROR" data-slnm-ihg="CorporateIDPatternError-SID"></div>
        <div class="submit d-flex justify-content-end pt-3">
            <button type="button" class="btn btn-default mr-2" (click)="cancelSearch()" data-slnm-ihg="Cancel-SID" translate="COM_BTN_CANCEL"></button>
            <button type="submit" [disabled]="!formRef.valid" class="btn btn-primary" data-slnm-ihg="Submit-SID" translate="COM_BTN_SRCH"></button>
        </div>
    </form>
</uic-collapsible-card>
<div class="row" *ngIf="searchcount==0">
    <uic-user-guidance class="text-center" [attr.data-slnm-ihg]="'NoSuggestedMatches-SID'" [title]="'LBL_CRPRT_NO_SEARCH_RESULTS_HEADING' | translate">
        <div class="no-suggested-matches">
            <div translate="LBL_TOO_LRG_RSLT_SET"></div>
            <div translate="LBL_SRCH_USNG_FRM"></div>
        </div>
    </uic-user-guidance>
</div>
<div class="data-container concerto-grid expand-collapsegrid" *ngIf="(gridData?.data && gridData?.data.length > 0) && showSearchResults">
    <app-search-results data-slnm-ihg="CorporateIdSearchResults-SID" (emitAddCorporateIdToForm)="handleAddCrptId($event)" (handlePageChangeEmitter)="handlePageChange($event)" [gridState]="gridState" [corporateAccounts]="gridData">
    </app-search-results>
</div>
<div class="row" *ngIf="(gridData?.data && gridData?.data.length == 0) && showSearchResults">
    <uic-user-guidance class="text-center" [attr.data-slnm-ihg]="'NoSearchResults-SID'" [title]="'MSG_NO_SRCH_RSLTS_TITLE' | translate" [content]="'MSG_NO_SRCH_RSLTS' | translate">
    </uic-user-guidance>
</div>