.service-error {

  text-align: center;

  .error-header {
    font-size: 30px;
    font-weight: 300;
    margin: 8px;
  }

  .error-header-small {
    font-size: 24px;
  }

  .error-body {
    font-size: 14px;
    font-weight: 400;
    margin: 8px;
  }

}

.ref-btn {
  display: inline-block;
}
