<div class="w-100">
  <div [hidden]="showSpinner" [ngSwitch]="cardType">
    <div *ngSwitchCase="errorCardType.CONTAINER_ERROR">
        <div [ngSwitch]="errorType">
            <div *ngSwitchCase="serviceErrorType.NO_DATA" class="service-error">
              <div>
                  <div class="error-header" [ngClass]="{'error-header-small border-bottom pb-3': showHorizontalLine}" [translate]="header"></div>
                  <div class="error-body" [ngClass]="{'pt-3': showHorizontalLine}" [translate]="message"></div>
              </div>
            </div>

            <div *ngSwitchCase="(errorType === serviceErrorType.GENERAL || errorType === serviceErrorType.TIME_OUT) && !hideError ?
                      errorType : ''">
                  <uic-error-container
                    [icon]="icon"
                    [errorHeader]="header"
                    [errorBody]="message"
                    [showRefreshBtn]="showRefreshBtn && !showReportAnIssue"
                    [refreshActionText]="refreshActionText"
                    (refreshAction)="onRefreshClick()"
                    [showReportAnIssue]="showReportAnIssue"
                    [handleReportAnIssue]="false"
                    (reportAnIssue)="onReportIssue()">
                  </uic-error-container>
              </div>
          </div>
    </div>
    <div *ngSwitchCase="errorCardType.LINE_ERROR">
        <div [ngSwitch]="errorType">
            <div *ngSwitchCase="serviceErrorType.NO_DATA" class="service-error">
              <div>
                  <div class="error-body" [translate]="message"></div>
              </div>
            </div>
            <div *ngSwitchCase="(errorType === serviceErrorType.GENERAL || errorType === serviceErrorType.TIME_OUT) &&
                 !hideError ? errorType : ''">
                <div class="error-body error-color" [translate]="message"></div>
                <span *ngIf="!hasReachedMaxError() && showRefreshBtn"
                      class="pt-2 btn-link cursor-pointer ref-btn"
                      [translate]="refreshActionText || 'COM_BTN_RFRSH'"
                      (click)="onRefreshClick()" >
                </span>
                <span *ngIf="showReportAnIssue && showRefreshBtn" class="pt-2 btn-link cursor-pointer ref-btn" translate="REPORT_AN_ISSUE_MENU" (click)="onReportIssue()" ></span>
            </div>
          </div>
    </div>
    <div *ngSwitchCase="errorCardType.CARD_ERROR">
        <div [ngSwitch]="errorType">
            <div *ngSwitchCase="serviceErrorType.NO_DATA" class="service-error">
              <div>
                  <div class="error-header" [ngClass]="{'error-header-small border-bottom pb-3': showHorizontalLine}" [translate]="header"></div>
                  <div class="error-body" [ngClass]="{'pt-3': showHorizontalLine}" [translate]="message"></div>
              </div>
            </div>

            <div *ngSwitchCase="(errorType === serviceErrorType.GENERAL || errorType === serviceErrorType.TIME_OUT) && !hideError ?
                    errorType : ''">
                <app-small-error-card [icon]="icon"
                  [errorHeader]="header"
                  [errorBody]="message"
                  [showRefreshBtn]="showRefreshBtn && !showReportAnIssue"
                  [refreshActionText]="refreshActionText"
                  (refreshAction)="onRefreshClick()"
                  [showReportAnIssue]="showReportAnIssue"
                  [handleReportAnIssue]="false"
                  (reportAnIssue)="onReportIssue()">
                </app-small-error-card>
            </div>

          </div>
    </div>
  </div>

  <div *ngIf="showSpinner">
    <uic-error-container [showSpinner]="showSpinner"></uic-error-container>
  </div>
</div>
