@import 'variables';

.manage-change-room {
  margin-top: 15px;

  .change-room-info {
    width: 22%;
    border-right: thin solid $input-border;
  }

  .change-room-assign {
    width: 78%;
    padding: 0 .75rem 0.75rem 0.75rem;
  }
}

:host ::ng-deep .manage-change-room {
  .change-room-info {
    .prepare-arrivals-details-info {
      .info-data {
        font-size: 14px;

        p {
          margin-bottom: 0.25rem !important;
        }
      }

      .section-space {
        padding: 0 0.75rem;
      }

      .special-requests {
        margin-left: -10px;

        .forcheckIn.data-container {
          padding: 0.5rem 1.25rem;
        }
      }

      .heart-beat-actions {
        padding: 0.5rem 1.25rem;
      }
    }
  }

  .prepare-arrivals-details-room {
    .manual-assign-btn {
      right: 5px;
    }

    .toast-messages {
      uic-toast-message {
        padding: 10px 0 0;
      }
    }

    @media screen and (max-width: $tablet-portrait-width-fdk) {
      .alert {
        .message-container {
          width: 350px;
        }
      }
      .message-body {
        .message-info {
          height: 320px;
        }
      }
    }

    @media screen and (min-width: 769px) and (max-width: $tablet-landscape-width-fdk) {
      .alert {
        .message-container {
          width: 550px;
        }
      }
    }
  }
}
