<div class="row manage-change-room">
  <div class="col-12 display-flex">
    <div class="change-room-info">
      <app-prepare-arrivals-details-info [listItem]="reservationData" [showGuestRelations]="false">
      </app-prepare-arrivals-details-info>
    </div>
    <div class="change-room-assign" *ngIf="modifiedData">
      <app-prepare-arrivals-details-room [expanded]="true"
                                         [animationDelay]="roomAnimDelay"
                                         [suggestedRoomCount]="suggestedRoomCount"
                                         [roomAnimationContext]="'.change-room-assign'"
                                         [showNotifiedAlert]="false"
                                         [showRoomNotReadyAlert]="false"
                                         [showPrintRegCard]="false"
                                         [listItem]="modifiedData"
                                         [enableRoomMove]="true"
                                         [manualRoomAssignmentSelectorOptions]="roomSelectorOption"
                                         [stateName]="'manage-stay'"
                                         (emitRoomAssignmentModified)="roomAssignmentModified.emit($event)"
                                         (roomSettingsChange)="handleRoomSettingUpdate($event)">
      </app-prepare-arrivals-details-room>
    </div>
  </div>
</div>
