<div>
  <p data-slnm-ihg="DNMTooltipReason-SID">
    <span translate="LBL_REASON"></span>:&nbsp;{{dnmReason?.reason}}
  </p>
  <p>
    <span data-slnm-ihg="DNMTooltipUserName-SID">{{dnmReason?.userName}}</span>&nbsp;
    <span data-slnm-ihg="DNMTooltipDate-SID">{{dnmReason?.date}}</span>
  </p>
</div>