<div data-slnm-ihg="RewardsMemberLookUpModal-SID">
    <div class="modal-header">
        <h4 class="modal-title" data-slnm-ihg="Title-SID" translate="LBL_LOOK_UP_REWRD_MEM"></h4>
        <button type="button" [ngbTooltip]="'COM_BTN_CLOSE' | translate" class="close" aria-label="Close" data-slnm-ihg="CloseIcon-SID" (click)="closeModal()">&times;
    </button>
    </div>
    <div class="modal-body">
        <app-rewards-member-look-up-form data-slnm-ihg="RewardsMemberLookUpForm-SID" (onIhgNumberSelected)="onIhgNumberSelected($event)"></app-rewards-member-look-up-form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-slnm-ihg="CloseButton-SID" (click)="closeModal()" translate="COM_BTN_CLOSE"></button>
    </div>
</div>