::ng-deep .modal-lookup {
    .modal-dialog {
        max-width: 720px;
    }
    .modal-header {
        padding: 15px 30px;
        .close {
            padding: 13px 15px;
        }
    }
    .modal-footer {
        padding: 15px 30px;
    }
    .modal-body {
        padding: 20px 30px 10px;
    }
    .uic-user-guidance {
        padding: 20px !important;
    }
}