<table *ngIf="rateInfo" class="price-breakdown-grid w-100 mt-3 mb-4" data-slnm-ihg="PriceBreakDownTable-SID">
  <thead>
    <tr>
      <th translate="LBL_PRC_BRKDWN" data-slnm-ihg="PriceBreakDown-SID"></th>
      <th translate="LBL_AMOUNT" data-slnm-ihg="Amount-SID"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rateData of rateInfo.dailyRates; let i =index"
        [attr.data-slnm-ihg]="'PriceBreakDownRow'+ i + '-SID'">
      <td [attr.data-slnm-ihg]="'Date'+ i + '-SID'">{{rateData.dateRange}}</td>
      <td [attr.data-slnm-ihg]="'Amount'+ i + '-SID'">{{rateData.amountBeforeTax}} {{currency}}</td>
    </tr>
    <tr *ngIf="convertToNumberVal(rateInfo.rateRules[0].extraPersonCharge) > 0">
      <td data-slnm-ihg="ExtraPersonCharge-SID">
        {{'LBL_EXTRA_PERSON_CHARGES' | translate}}
        <ng-container *ngIf="rateInfo.extraPersonChargeIncluded">
          <i class="fa fa-info-circle blue-color" [ngbTooltip]="'LBL_EXTRA_PERSON_CHARGES_INCL_MSG' | translate"></i>
        </ng-container>
      </td>
      <td data-slnm-ihg="ExtraPersonChargeAmount-SID">
        {{rateInfo.rateRules[0].extraPersonCharge}} {{currency}}
      </td>
    </tr>
    <tr>
      <td data-slnm-ihg="ServiceCharge-SID">
        {{'LBL_TOTAL_SERVICE_CHARGES' | translate}}
        <ng-container *ngIf="rateInfo.serviceChargeIncluded">
          <i class="fa fa-info-circle blue-color" [ngbTooltip]="'LBL_SERVICE_CHARGES_INCL_MSG' | translate"></i>
        </ng-container>
      </td>
      <td data-slnm-ihg="ServiceChargeAmount-SID">
        {{transformData(rateInfo.rateRules[0].serviceCharge)}} {{currency}}
      </td>
    </tr>
    <tr>
      <td data-slnm-ihg="Tax-SID">
        {{'LBL_TOTAL_TAXES_AND_FEES' | translate}}
        <ng-container *ngIf="rateInfo.taxesChargeIncluded">
          <i class="fa fa-info-circle blue-color" [ngbTooltip]="'LBL_TOTAL_TAXES_INCL_MSG' | translate"></i>
        </ng-container>
      </td>
      <td data-slnm-ihg="TaxAmount-SID">
        {{transformData(rateInfo.rateRules[0].tax)}} {{currency}}
      </td>
    </tr>    
  </tbody>
  <tfoot>
    <tr>
      <td translate="LBL_EST_TOT" data-slnm-ihg="EstimatedTotal-SID"></td>
      <td data-slnm-ihg="TotalAmount-SID">{{rateInfo.totalAmountAfterTax}} {{currency}}</td>
    </tr>
  </tfoot>
</table>