@import "variables";

.price-breakdown-grid {
  thead {
    border-bottom: 2px solid $header-border-color;
  }

  tbody tr {
    border-bottom: 1px solid $header-border-color;
  }

  tfoot {
    font-weight: bold;
  }

  th,
  td {
    padding: 5px 30px;
    &:last-of-type {
      text-align: right;
    }
  }
  .blue-color {
    color: $secondary-text-color;
}
}
