.modal-header {
  flex-wrap: wrap;
  .header-content {
    flex: 0 0 100%;
  }
}

.modal-footer {
  justify-content: space-between;
}

:host ::ng-deep {
  uic-toast-message ngb-alert {
    margin-bottom: 0;
  }
}

.rate-override {
  margin-right: auto;
}
