<div class="modal-content" data-slnm-ihg="OfferUnavailableModal-SID">
  <div class="modal-header">
    <h4 class="title header-content">
      <span translate="LBL_OFR_UNAVLBL"></span>
      <button type="button" class="close" (click)="dismissModal()"
              [ngbTooltip]="'COM_BTN_CLOSE' | translate">&times;</button>
    </h4>

    <app-error-toast-message *ngIf="shopOffersError" class="header-content"
                             [attr.data-slnm-ihg]="'ShopOffersErrorToast-SID'"
                             [errorEvent]="shopOffersError.asObservable()"
                             [translations]="errorContent"
                             [reportIssueAutoFill]="reportIssueAutoFill"
                             (reportAnIssueAction)="dismissModal()"
                             (retryAction)="handleShopOffers()">
    </app-error-toast-message>
  </div>
  <div class="modal-body">
    <p data-slnm-ihg="OfferUnavailableMsg-SID" translate="LBL_CUR_OFR_UNAVLBL"></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" (click)="dismissModal()" data-slnm-ihg="CanceleBtn-SID"
            translate="COM_BTN_CANCEL"  [ngClass]="{'rate-override': isEligibleForRateOverride}"></button>
    <button class="btn btn-default" type="button" data-slnm-ihg="RateOverrideButtonNoffers-SID" 
            translate="LBL_RATE_OVERRIDE_BTN" (click)="handleRateOverride()" *ngIf="isEligibleForRateOverride"></button>
    <button class="btn btn-primary" type="button" (click)="handleShopOffers()" data-slnm-ihg="Select-SID"
            translate="LBL_SHP_OFRS"></button>
  </div>
</div>