@import 'variables';

.check-in-reservation {
  margin-top: -15px;
  margin-bottom: -15px;

  .icon-bg {
    color: $green-christi;
  }

  .title-text {
    font-size: 24px;
    font-weight: lighter;
  }

  .act-on-container {
    border: 1px solid $apple-green;
    background-color: $twilight-gray;
    padding: 15px;

    .act-on-title {
      font-size: 20px;
      font-weight: lighter;
    }
  }

  .clipboard-list {
    color: $green-christi;
    float: right;
  }

  .hl-separator {
    border-top: 1px solid $apple-green;
    height: 2px;
    margin: 13px 10px 5px 0;
  }

  .chk-enroll,
  .enroll,
  .fas .fa-star {
    &:hover {
      color: $chart-darkblue-color;
    }
    color: $nav-bottom-border;
    cursor: pointer;
    display: inline-block;
  }
}
