<div class="check-in-reservation row">
  <div class="preferences col-3 no-gutter">
    <app-prepare-arrivals-details-info [listItem]="guestData"></app-prepare-arrivals-details-info>
  </div>
  <div class="col-9 p-4">
    <div class="title-text form-group" data-slnm-ihg="WelcomeGuest-SID" translate="LBL_WLCM_GST"
      [translateParams]="{guestName: getGuestName()}">
    </div>
    <app-error-toast-message
      [attr.data-slnm-ihg]="'Points-Post-Err-SID'"
      [errorEvent]="emitError.asObservable()"
      [translations]="pointsErrorContent"
      [reportIssueAutoFill]="reportPointsErrorAutoFill"
      (retryAction)="postAmenitySelection()">
    </app-error-toast-message>
    <div class="act-on-container form-group">
      <span class="act-on-title" data-slnm-ihg="ActOnLabel-SID" translate="LBL_ACT_ON"></span>
      <i class="fas fa-clipboard-list fa-2x clipboard-list"></i>
      <div *ngIf="(guestData?.ihgRcNumber && guestData.badges.indexOf('potentialMember')==-1); else potentialMember" class="reward pt-2">
        <i class="fas fa-arrow-right icon-bg pr-2"></i>
        <span translate="LBL_ACT_ACK_MBR_LVL" [translateParams]="{rewardsLevel: getRewardsLevel()}"
              data-slnm-ihg="ThankGuest-SID"></span>
      </div>
      <ng-template #potentialMember>
        <div *ngIf="(guestData?.ihgRcNumber && guestData.badges.indexOf('potentialMember')>-1)" class="reward pt-2">
          <i class="fas fa-arrow-right icon-bg pr-2"></i>
          <span translate="LBL_ACT_ACK_POTENTIAL_MBR_LVL" data-slnm-ihg="ThankPotentialGuest-SID"></span>
        </div>
      </ng-template>
      <div class="pt-2">
        <i class="fas fa-arrow-right icon-bg"></i>&nbsp;
        <span translate="LBL_MTCH_GST" data-slnm-ihg="MatchGuest-SID"></span>
      </div>
      <div class="pt-2">
        <i class="fas fa-arrow-right icon-bg"></i>&nbsp;
        <span translate="LBL_RQST_GST" data-slnm-ihg="RequestCard-SID"></span>
      </div>
      <ng-container *ngIf="guestData?.ihgRcNumber; else nonamenity"></ng-container>
    </div>
    <div class="pt-3" *ngIf="guestData?.ihgRcNumber && guestData?.amenityFlag">
      <app-check-in-amenity [guestData]="guestData" (emitAmenitySelected)="postAmenitySelection()"></app-check-in-amenity>
    </div>
  </div>

  <ng-template #nonamenity>
    <div class="hl-separator"></div>
    <div class="pt-2">
      <i class="fas fa-arrow-right icon-bg"></i>&nbsp;
      <span translate="LBL_RECMD_LYLTY_ENRL" data-slnm-ihg="RecommendLoyalty-SID"></span>&nbsp;
      <span class="chk-enroll mt-2" data-slnm-ihg="EnrollLink-SID" (click)="openEnrollmentModal()">
        <i class="fas fa-star"></i>&nbsp;
        <span class="enroll" translate="LBL_ENROLL"></span>
      </span>
    </div>
    <div class="pt-2">
      <i class="fas fa-arrow-right icon-bg"></i>&nbsp;
      <span *ngIf="guestData?.otaFlag; else nonOta" translate="LBL_EARN_STY" data-slnm-ihg="EarnStayOta-SID"></span>
    </div>
  </ng-template>

  <ng-template #nonOta>
    <span translate="LBL_EARN_PTS_STY" data-slnm-ihg="EarnPointsStay-SID"></span>
  </ng-template>
</div>
