/*<meta />*/

@media only screen and (max-width: 767px)
{
	nav.title-bar
	{
		background: transparent url('Images/greybar4.png') no-repeat center top;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/greybar4.png') no-repeat center top;
	}

	.title-bar-layout a.logo
	{
		width: 444px;
		height: 43px;
		background: transparent url('Images/OnlineHelpLogo_general.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/OnlineHelpLogo_general.png') no-repeat center center;
	}

	.search-bar .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.search-bar .search-filter
	{
		background-position: center center;
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	.search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.off-canvas.position-right
	{
		background-position: top center;
	}

	.off-canvas.position-right ul ul
	{
		background-position: top center;
	}

	.off-canvas.position-left
	{
		background-position: top center;
	}

	.off-canvas.position-left ul ul
	{
		background-position: top center;
	}

	.title-bar-section.middle > div
	{
		
	}

	.off-canvas-wrapper-inner nav.title-bar .outer-row
	{
		
	}

	.title-bar-layout .logo-wrapper
	{
		min-height: 43px;
	}

	.menu-icon-container
	{
		min-height: 43px;
	}

	.off-canvas-wrapper-inner .main-section > .outer-row
	{
		
	}

	.main-section > .outer-row
	{
		
	}

	.off-canvas-wrapper-inner .outer-row
	{
		
	}

	.off-canvas
	{
		background-color: #ffffff;
	}

	.off-canvas ul ul
	{
		background-color: #ffffff;
	}

	ul.off-canvas-list li a
	{
		
	}

	ul.off-canvas-list ul > li > a
	{
		
	}

	ul.off-canvas-list ul ul > li > a
	{
		
	}

	ul.off-canvas-list ul ul ul > li > a
	{
		
	}

	ul.off-canvas-list ul ul ul ul > li > a
	{
		
	}

	ul.off-canvas-list li.js-drilldown-back > a
	{
		
	}

	ul.off-canvas-list li a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list ul > li > a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list ul ul > li > a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list ul ul ul > li > a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list ul ul ul ul > li > a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list li.js-drilldown-back > a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list li a.selected
	{
		
	}

	ul.off-canvas-list ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul ul ul > li > a.selected
	{
		
	}

	.title-bar .menu-icon span
	{
		background: transparent url('Images/Ham-grey.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/Ham-grey.png') no-repeat center center;
	}

	nav.title-bar .menu-icon
	{
		left: -13px;
		right: auto;
	}

	.search-auto-complete ul
	{
		background-color: #ffffff;
	}

	.search-auto-complete li.auto-result-item a
	{
		
	}

	.search-auto-complete li.auto-result-item
	{
		
	}

	.search-auto-complete li.auto-result-content
	{
		
	}

	.search-auto-complete li.auto-result-history
	{
		
	}

	.search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	.search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	.nav-search-wrapper
	{
		
	}

	.nav-search
	{
		
	}

	.search-bar .search-field
	{
		background-color: #ffffff;
		padding-right: 50px;
	}

	.search-filter-content
	{
		top: 1.5em;
		background: #ffffff url('Images/SearchIcon_3.png');
		-pie-background: #ffffff url('Skins/Fluid/Stylesheets/Images/SearchIcon_3.png');
	}

	.search-bar .search-filter-wrapper.open
	{
		background: #ffffff url('Images/SearchIcon_3.png');
		-pie-background: #ffffff url('Skins/Fluid/Stylesheets/Images/SearchIcon_3.png');
	}

	.search-bar .search-filter:hover
	{
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	.search-bar .search-filter.selected
	{
		background-repeat: no-repeat;
		background: transparent url('Images/Filter.png') no-repeat center center;
	}

	.search-filter-content ul li:hover
	{
		background: #ffffff url('Images/SearchIcon_2.png');
		-pie-background: #ffffff url('Skins/Fluid/Stylesheets/Images/SearchIcon_2.png');
	}

	.search-filter-content ul li button:focus
	{
		background: #ffffff url('Images/SearchIcon_2.png');
		-pie-background: #ffffff url('Skins/Fluid/Stylesheets/Images/SearchIcon_2.png');
	}

	.search-bar .search-field::-webkit-input-placeholder
	{
		
	}

	.search-bar .search-field::-moz-placeholder
	{
		
	}

	.search-bar .search-field:-moz-placeholder
	{
		
	}

	.search-bar .search-field:-ms-input-placeholder
	{
		
	}

	.search-bar.search-bar-container .search-submit
	{
		background: #a9a9a9 url('Images/SearchIcon_4.png') no-repeat center center;
		-pie-background: #a9a9a9 url('Skins/Fluid/Stylesheets/Images/SearchIcon_4.png') no-repeat center center;
	}

	.search-bar.search-bar-container .search-submit:hover
	{
		background-repeat: no-repeat;
		background-color: #a9a9a9;
	}

	.skip-to-content
	{
		background-color: #ffffff;
	}
}

