/*<meta />*/

@media only screen and (max-width: 4279px)
{
	/* OffCanvas styles */

	html,
	body
	{
		height: 100%;
		margin: 0;
	}

	.off-canvas
	{
		height: 100%;
		overflow-x: hidden;
		background-color: #ffffff;
	}

	.off-canvas-content
	{
		max-height: none;
	}

	/* Foundation Overrides */

	.foundation-wrap,
	.off-canvas-wrapper,
	.off-canvas-wrapper-inner
	{
		min-height: 100%;
	}

	.foundation-wrap,
	.off-canvas-wrapper
	{
		overflow: visible;
	}

	nav.title-bar .menu-icon
	{
		display: block;
		border: none;
		z-index: 100;
		position: absolute;
		background: transparent;
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);
		left: -13px;
		right: auto;
	}

	nav.title-bar
	{
		padding-top: 2px;
		padding-bottom: 10px;
		background: transparent url('Images/greybar4.png') repeat center top;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/greybar4.png') repeat center top;
	}

	/* Topbar Menu Styles */

	.title-bar-section.middle > div
	{
		
	}

	.navigation-wrapper,
	ul.navigation
	{
		display: none;
	}

	.responsive-header
	{
		display: block;
		background: #292929;
		height: 60px;
	}

	.title-bar-layout a.logo
	{
		top: 0;
		margin: 0;
		width: 444px;
		height: 43px;
		background: transparent url('Images/OnlineHelpLogo_general.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/OnlineHelpLogo_general.png') no-repeat center center;
	}

	.title-bar .menu-icon span
	{
		height: 48px;
		width: 48px;
		display: block;
		background: transparent url('Images/Ham-grey.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/Ham-grey.png') no-repeat center center;
	}

	.search-bar .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
		border-top: solid 1px #707372;
		border-right: solid 1px #707372;
		border-bottom: solid 1px #707372;
	}

	.search-bar .search-filter
	{
		background-position: center center;
		border-top: solid 1px #707372;
		border-bottom: solid 1px #707372;
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	.search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.off-canvas.position-right
	{
		background-position: top center;
	}

	.off-canvas.position-right ul ul
	{
		background-position: top center;
	}

	.off-canvas.position-left
	{
		background-position: top center;
	}

	.off-canvas.position-left ul ul
	{
		background-position: top center;
	}

	.off-canvas ul ul.is-accordion-submenu
	{
		background: inherit;
	}

	.off-canvas ul.off-canvas-list li.is-drilldown-submenu-parent > a:after
	{
		margin-left: 0.5rem;
	}

	.is-drilldown-submenu .js-drilldown-back > a:after
	{
		margin-left: 0.5em;
	}

	ul.off-canvas-list li a
	{
		font-size: 1em;
		border-bottom: solid 0px #262626;
		color: #578ebe;
		font-family: 'Open Sans';
		line-height: 1.5em;
	}

	ul.off-canvas-accordion ul > li > a
	{
		margin-left: 1em;
	}

	ul.off-canvas-accordion ul ul > li > a
	{
		margin-left: 2em;
	}

	ul.off-canvas-accordion ul ul ul > li > a
	{
		margin-left: 3em;
	}

	ul.off-canvas-accordion ul ul ul ul > li > a
	{
		margin-left: 4em;
	}

	ul.off-canvas-accordion-rtl ul > li > a
	{
		margin-left: inherit;
		margin-right: 1em;
	}

	ul.off-canvas-accordion-rtl ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 2em;
	}

	ul.off-canvas-accordion-rtl ul ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 3em;
	}

	ul.off-canvas-accordion-rtl ul ul ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 4em;
	}

	/* Side Nav */

	.sidenav-layout
	{
		display: block;
		height: inherit;
		max-height: none;
	}

	.sidenav-wrapper
	{
		display: none;
	}

	.body-container
	{
		overflow: inherit;
	}

	.off-canvas-wrapper-inner nav.title-bar .outer-row
	{
		
	}

	.title-bar-layout .logo-wrapper
	{
		min-height: 43px;
		flex-basis: 100%;
	}

	.menu-icon-container
	{
		min-height: 43px;
	}

	.off-canvas-wrapper-inner .outer-row
	{
		
	}

	.main-section > .outer-row
	{
		
	}

	.off-canvas ul ul
	{
		background-color: #ffffff;
	}

	ul.off-canvas-list ul > li > a
	{
		
	}

	ul.off-canvas-list ul ul > li > a
	{
		
	}

	ul.off-canvas-list ul ul ul > li > a
	{
		
	}

	ul.off-canvas-list ul ul ul ul > li > a
	{
		
	}

	ul.off-canvas-list li.js-drilldown-back > a
	{
		
	}

	ul.off-canvas-list li a:hover
	{
		color: #707372;
		font-family: 'Open Sans';
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list ul > li > a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list ul ul > li > a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list ul ul ul > li > a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list ul ul ul ul > li > a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list li.js-drilldown-back > a:hover
	{
		background: #ffe4c4 url('Images/menu highlight-grey3.png') repeat;
		-pie-background: #ffe4c4 url('Skins/Fluid/Stylesheets/Images/menu highlight-grey3.png') repeat;
	}

	ul.off-canvas-list li a.selected
	{
		
	}

	ul.off-canvas-list ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul ul ul > li > a.selected
	{
		
	}

	.search-auto-complete ul
	{
		background-color: #ffffff;
	}

	.search-auto-complete li.auto-result-item a
	{
		
	}

	.search-auto-complete li.auto-result-item
	{
		
	}

	.search-auto-complete li.auto-result-content
	{
		
	}

	.search-auto-complete li.auto-result-history
	{
		
	}

	.search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	.search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	.nav-search-wrapper
	{
		justify-content: flex-end;
		flex-basis: 100%;
	}

	.nav-search
	{
		width: 50%;
		margin-right: 25px;
		margin-top: -35px;
		margin-bottom: -2px;
	}

	.search-bar .search-field
	{
		border-top: solid 1px #707372;
		border-right: solid 1px #707372;
		border-bottom: solid 1px #707372;
		border-left: solid 1px #707372;
		font-family: 'Open Sans';
		padding-bottom: 0px;
		background-color: #ffffff;
		padding-right: 50px;
	}

	.search-filter-content
	{
		top: 1.5em;
		background: #ffffff url('Images/SearchIcon_3.png');
		-pie-background: #ffffff url('Skins/Fluid/Stylesheets/Images/SearchIcon_3.png');
	}

	.search-bar .search-filter-wrapper.open
	{
		background: #ffffff url('Images/SearchIcon_3.png');
		-pie-background: #ffffff url('Skins/Fluid/Stylesheets/Images/SearchIcon_3.png');
	}

	.search-bar .search-filter:hover
	{
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	.search-bar .search-filter.selected
	{
		background-repeat: no-repeat;
		background: transparent url('Images/Filter.png') no-repeat center center;
	}

	.search-filter-content ul li:hover
	{
		background: #ffffff url('Images/SearchIcon_2.png');
		-pie-background: #ffffff url('Skins/Fluid/Stylesheets/Images/SearchIcon_2.png');
	}

	.search-filter-content ul li button:focus
	{
		background: #ffffff url('Images/SearchIcon_2.png');
		-pie-background: #ffffff url('Skins/Fluid/Stylesheets/Images/SearchIcon_2.png');
	}

	.search-bar .search-field::-webkit-input-placeholder
	{
		
	}

	.search-bar .search-field::-moz-placeholder
	{
		
	}

	.search-bar .search-field:-moz-placeholder
	{
		
	}

	.search-bar .search-field:-ms-input-placeholder
	{
		
	}

	.search-bar.search-bar-container .search-submit
	{
		background: #a9a9a9 url('Images/SearchIcon_4.png') no-repeat center center;
		-pie-background: #a9a9a9 url('Skins/Fluid/Stylesheets/Images/SearchIcon_4.png') no-repeat center center;
	}

	.search-bar.search-bar-container .search-submit:hover
	{
		background-repeat: no-repeat;
		background-color: #a9a9a9;
	}

	.skip-to-content
	{
		background-color: #ffffff;
	}
}

