<div class="payment-actions">
 <!-- <div ngbDropdown class="d-inline-block btn-group action-menu">
    <button class="btn btn-link dropdown-toggle-split"
            data-slnm-ihg="PaymentOptions-SID"
            [disabled]="disablePayment"
            ngbDropdownToggle>
      <span translate="LBL_OTH_PYMT_OPT"></span>
      <i class="fas fa-chevron-down ml-2"></i>
    </button>
    <div ngbDropdownMenu class="dropdown-menu">
      <button class="dropdown-item"
              data-slnm-ihg="AuthorizeCardFile-SID"
              translate="LBL_AUTH_CARD_FILE"
              (click)="handleAuthorizeCardOnFile()"
              [disabled]="disablePayment">
      </button>
    </div>
  </div>-->
  <div class="d-flex flex-row align-items-center">
    <div>
      <button class="btn btn-primary ml-2"
              data-slnm-ihg="AuthorizeCardFile-SID"
              translate="LBL_AUTH_CARD_FILE"
              (click)="handleAuthorizeCardOnFile()"
              [disabled]="disablePayment">
      </button>
    </div>
  </div>
  <!--Disabled and added tooltip for pilot, ToDo: replace disabled with [disabled]="disablePayment"-->
<!--  <span [ngbTooltip]="'LBL_FEAT_NO_SPRT' | translate" container="body" placement="left">
    <button class="btn btn-primary ml-2"
            data-slnm-ihg="EnableCardReader-SID"
            translate="LBL_ENBL_CARD_RDR"
            disabled>
    </button>
  </span>-->
</div>
