@import 'variables';

.guest-profile-observation {
  .hotel-image {
    width: 95px;
  }
  .posted-date {
    font-weight: 700;
    text-transform: uppercase;
  }
  .user-name {
    color: $gray-60;
    line-height: 36px;
  }
  .hotel-name {
    color: $gray-60;
  }
  .category{
    color: $gray-60;
  }
  .category-name{
    font-weight: 700;
  } 
  .padding{
  padding-right: 2px;
  }
  .button-separator {
    display: inline-block;
    height: 26px;
    position: relative;
    top: 5px;
    margin-top: -3px;
    margin-bottom: -3px;
  }
  .dangerTxt {
    color: red;
  }
}
    