<div class="guest-profile-observation border-bottom pt-3 pb-2">
    <app-error-toast-message 
    [errorEvent]="emitError.asObservable()"
    (retryAction)="onRetry()"
    [translations]="toastTranslationConfig"
    [reportIssueAutoFill]="reportIssueAutoFill"
    [animation]="true"
  ></app-error-toast-message>
  <div class="d-flex justify-content-between flex-wrap">
    <div class="flex-shrink-0"><img *ngIf="observation.hotelLogoPath" class="hotel-image" [src]="observation.hotelLogoPath" /></div>
    <div class="flex-shrink-0 text-right">
      <span *ngIf="showHotelName" class="hotel-name">
          {{observation.hotelName}} ({{observation.hotelCode}})
      </span>
      <span class="padding" *ngIf="!showHotelName">
        {{category}}
    </span>
      <span class="posted-date">
        {{observation.postDateFormatted}}
      </span>
      <div *ngIf="showHotelName" class="flex-shrink-0 text-right">
          <label class="category padding" [translate]="keyMap.obsModalCategory"></label>
          <span  class="category-name">
              {{category}}
            </span>
        </div>
    </div>
  </div>
  <div class="mt-2 mb-1">
    "{{observation.comment}}"
  </div>
  <div class="d-flex justify-content-between flex-wrap">
    <div class="user-name flex-shrink-0">{{observation.createdByUserId}}</div>
    <div class="text-right flex-shrink-0">
      <div [ngClass]="{'disabled': markHelpfulDisabled}" class="btn btn-link comment-button" (click)="onMarkHelpful(observation.commentId)">
        <i class="far fa-thumbs-up mr-2"></i>
        <span [translate]="keyMap.observationHelpful"></span>&nbsp;<span *ngIf="observation.mostHelpfulCount">({{observation.mostHelpfulCount}})</span>
      </div>
      <div class="border-right button-separator mx-2"></div>
      <span [ngbTooltip]="flagTooltip">
        <div class="btn btn-link comment-button" [ngClass]="{'disabled dangerTxt': flagDisabled}" (click)="flagged(observation.commentId)">
          <i class="far fa-flag mr-2"></i>
          <span *ngIf="!flagDisabled" [translate]="keyMap.observationFlag"></span>
          <span *ngIf="flagDisabled" [translate]="keyMap.obsModalFlagged"></span>
        </div>
      </span>
    </div>
  </div>  
</div>




