<div ngbDropdown class="d-inline-block action-menu" placement="bottom-right">
  <button class="btn btn-default"
    [disabled]="disabled" 
    ngbDropdownToggle  
    ngbTooltip="{{'COM_PRINT' | translate}}"
    data-slnm-ihg="PrintButton-SID"><i class="fal fa-print"></i></button>
  <div ngbDropdownMenu>
    <ul class="item-list">
      <li *ngFor="let item of menuItems">
        <span [translate]="item.label" (click)="handleItemClick(item.value)"></span>
      </li>
    </ul>
  </div>
</div>