
<div class="p-3">
  <div class="border-bottom text-center py-2 title">
    <div class="font-weight-bold">{{strategy.strategyName}}</div>
    <div>{{strategy.sparkName}}</div>
  </div>
  <div class="border-bottom text-left py-2">
    <table>
      <tbody>
        <tr>
            <td>Effective Booking Dates:</td>
            <td class="px-1">{{formatDate(strategy.effectiveBookingDates.start)}} to {{formatDate(strategy.effectiveBookingDates.end)}}</td>
        </tr>
        <tr>
            <td>Effective Stay Dates:</td>
            <td class="px-1">{{formatDate(strategy.effectiveStayDates.start)}} to {{formatDate(strategy.effectiveStayDates.end)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="border-top border-bottom py-2">
    <div class="font-weight-bold">Property Cluster:</div>
    <div>{{strategy.propertyCluster}}</div>
  </div>
  <div class="border-top border-bottom py-2 rate-categories">    
    <div class="font-weight-bold">Included Rate Categories:</div>
    <div *ngFor="let rateCategory of strategy.includedRateCategories">
      <div class="font-weight-bold">{{rateCategory.name}}</div>
      <div class="pl-3">{{rateCategory.otherData}}</div>
    </div>
  </div>
  <div class="border-top border-bottom py-2 d-flex">
    <div class="first-column">
      <div class="font-weight-bold mb-2">Success YOY Targets:</div>
      <table>
        <tbody>
          <tr *ngFor="let key of getKeys(strategy.successYoyTargets)">
            <td class="pr-2 td-height">{{key}}</td>
            <td>
              <span>{{strategy.successYoyTargets[key].from | number:'1.1-1'}}%</span>
              <span class="px-2">to</span>
              <span>{{strategy.successYoyTargets[key].to | number:'1.1-1'}}%</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
    <div class="second-column">
      <div class="font-weight-bold mb-2">Strategy Trend:</div>
      <table>
        <tbody>
          <tr *ngFor="let key of getKeys(strategy.successYoyTargets)">
            <td class="td-height">
              <ngb-rating max="5"
                [ngClass]="{'good': strategy.successYoyTargets[key].strategyTrend > 3, 'bad': strategy.successYoyTargets[key].strategyTrend < 3}"
                [(rate)]="strategy.successYoyTargets[key].strategyTrend">
              </ngb-rating>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="border-top border-bottom py-2 d-flex">
    <div class="first-column">
      <div class="font-weight-bold mb-2">Prior Year Averages:</div>
      <table>
        <tbody>
          <tr *ngFor="let key of getKeys(strategy.priorYearAverages)">
            <td class="pr-2 td-height">{{key}}</td>
            <td>
              <span [ngClass]="{'prior-year-pull-right': strategy.priorYearAverages[key].pullRight}">{{strategy.priorYearAverages[key].value}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="second-column">
      <div class="font-weight-bold mb-2">CompSet Compare:</div>
      <table>
        <tbody>
          <tr *ngFor="let key of getKeys(strategy.priorYearAverages)">
            <td class="td-height">
              <ngb-rating max="5"
                [ngClass]="{'good': strategy.priorYearAverages[key].compsetCompare > 3, 'bad': strategy.priorYearAverages[key].compsetCompare < 3}"
                [(rate)]="strategy.priorYearAverages[key].compsetCompare">
              </ngb-rating>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="border-top border-bottom py-2">
    <div class="font-weight-bold text-left">A/B Booking Conversion Percentage Comparison</div>
    <table>
      <tbody>
        <tr>
          <td><span class="pr-2">A ({{strategy.abConversionPercentage.a}}) SPARx</span></td>
          <td>{{strategy.abConversionPercentage.sparx}}%</td>
        </tr>
        <tr>
          <td><span class="pr-2">B ({{strategy.abConversionPercentage.b}}) Baseline</span></td>
          <td>{{strategy.abConversionPercentage.baseline}}%</td>
        </tr>
        <tr>
          <td><span class="pr-2">RATIO</span></td>
          <td>{{strategy.abConversionPercentage.ratio}}% (>1 Positive)</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="border-top border-bottom py-2">
    <div class="font-weight-bold text-center">Publish Consensus</div>
    <table>
      <tbody>
        <tr>
          <td><span class="pr-2">Yes:</span></td>
          <td>
            <ngb-rating max="5"
              [ngClass]="{'good': strategy.publishConsensus.yes > 3, 'bad': strategy.publishConsensus.yes < 3}"
              [(rate)]="strategy.publishConsensus.yes">
            </ngb-rating>
          </td>
          <td><span class="pl-2">{{strategy.publishConsensus.yes}}</span></td>
        </tr>
        <tr>
          <td><span class="pr-2">No:</span></td>
          <td>
            <ngb-rating max="5"
              [ngClass]="{'good': strategy.publishConsensus.no > 3, 'bad': strategy.publishConsensus.no < 3}"
              [(rate)]="strategy.publishConsensus.no">
            </ngb-rating>
          </td>
          <td><span class="pl-2">{{strategy.publishConsensus.no}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center w-100 pt-3 border-top">
    <button class="btn btn-primary d-inline-block" (click)="onPerformanceMonitor()">Performance Monitor</button>
  </div>
</div>