<div class="concerto-grid offers-grid" *ngIf="visibleItems && visibleItems.length">
    <kendo-grid [data]="visibleItems">
        <kendo-grid-column field="code" width="150">
            <ng-template kendoGridHeaderTemplate>
                <div class="pl-3">
                    <span translate="LBL_RATE_CAT" data-slnm-ihg="RateCategoryLabel-SID"></span>
                </div>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="pl-3 blue-text" [attr.data-slnm-ihg]="'RateCategory' + (rowIndex + 1) + '-SID'">
                    <button type="button" class="btn btn-link btn-plain" (click)="openDescriptionModal(dataItem, rowIndex)">{{dataItem.code}}</button>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="name">
            <ng-template kendoGridHeaderTemplate>
                <span translate="LBL_RATE_NAME" data-slnm-ihg="RateNameLabel-SID"></span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div [attr.data-slnm-ihg]="'RateName' + (rowIndex + 1) + '-SID'" *ngIf="dataItem.name" [ngClass]="'btn-link btn-plain'">
                    <button type="button" class="btn btn-link btn-plain" (click)="openDescriptionModal(dataItem, rowIndex)">{{dataItem.name}}</button>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="avgNightlyRate" width="180">
            <ng-template kendoGridHeaderTemplate>
                <span class="column-table-cell text-right pr-0 pr-lg-3 d-none d-lg-block" translate="LBL_AVERAGE_NIGHTLY_RATE" data-slnm-ihg="AvgNightlyRateLabel-SID"></span>
                <span class="column-table-cell text-right pr-0 pr-lg-3 d-block d-lg-none" translate="LBL_AVG_NIGHTLY_RATE" data-slnm-ihg="AvgNightlyRateLabel-SID"></span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="pr-0 pr-lg-3 text-right" [attr.data-slnm-ihg]="'AvgNightlyRate' + (rowIndex + 1) + '-SID'">
                    {{dataItem.averageNightlyRate}}
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="pointsEligible" width="130">
            <ng-template kendoGridHeaderTemplate>
                <span class="d-block text-center" data-slnm-ihg="PtsEligibleLabel-SID">
					{{'LBL_PTS_ELGBL' | translate }}?</span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="text-center" [attr.data-slnm-ihg]="'PtsEligible' + (rowIndex + 1) + '-SID'">
                    <ng-container *ngIf="dataItem.pointsEligible">
                        <i class="fas fa-check success-text"></i>
                    </ng-container>
                    <ng-container *ngIf="!dataItem.pointsEligible">
                        <i class="fas fa-times danger-text"></i>
                    </ng-container>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column width="120">
            <ng-template kendoGridHeaderTemplate>
                <span class="d-block text-center" translate="COM_LBL_ACTIONS" data-slnm-ihg="ActionsLabel-SID"></span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="text-nowrap text-center" [attr.data-slnm-ihg]="'Actions' + (rowIndex + 1) + '-SID'">
                    <button type="button" (click)="openWarningModal(rowIndex)" class="btn btn-link btn-plain" translate="COM_LBL_SLCT"></button>
                </div>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <app-show-more-less class="d-block pl-3" *ngIf="ratesData && ratesData.length > defaultItemCount" [isShowingMore]="visibleItems.length === ratesData.length" (toggle)="handleToggle($event)">
    </app-show-more-less>
</div>