<button type="button"
        class="btn btn-default"
        data-slnm-ihg="ShowHideButton-SID"
        [disabled]="showGroups === null"
        (click)="handleClick()">
  <span [translate]="showGroups ? 'LBL_HD_GRPS': 'LBL_SHW_GRPS'"></span>
</button>
