<app-toggle-switch *ngIf="showToggle"
                   [slnmTag]="seleniumTag"
                   [label]="label"
                   [toggleState]="doNotMoveState"
                   [preventAutomaticUpdate]="true"
                   [disabled]="disabled"
                   (toggleChange)="updateState($event)"></app-toggle-switch>

<app-dnm-reason [dnmState]="doNotMoveState"
                [stateName]="stateName"
                [manualInteraction]="manualInteraction"
                [reservationNumber]="reservationNumber"
                (reasonAdded)="handleReasonAdded($event)"
                (reasonAddError)="handleReasonAddedError($event)">
</app-dnm-reason>