@import 'variables';


.badge-icon-list {
  
  .badge-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
