<ng-container *ngIf="guestComplaintsCount">

  <ng-container *ngTemplateOutlet="countDisplayTemplate ? countDisplayTemplate: defaultTemplate;
          context:{
          count:guestComplaintsCount}">
  </ng-container>

</ng-container>

<ng-container *ngIf="!guestComplaintsCount && guestComplaintsCount !== null">

  <ng-container *ngTemplateOutlet="errorTemplate">
  </ng-container>

</ng-container>

<ng-template #defaultTemplate let-count="count">

  <div class="guest-complaints" [attr.data-slnm-ihg]="seleniumTag + 'Container-SID'">

    <span class="guest-complaints__title font-bold" [attr.data-slnm-ihg]="'Title-SID'"
          [translate]="'COM_LBL_GUEST_COMPLAINTS'"></span>

    <div [attr.guest-complaints-access]="hasGuestComplaintsAccess"
         *ngFor="let reasonCategory of reasonCategories; let i = index">
        <span [attr.data-slnm-ihg]="'ReasonCategory' + i + '-SID'">{{reasonCategory?.category}} <a
          [attr.data-slnm-ihg]="'CountLink' + i + '-SID'"
          class="link guest-complaints__counts cursor-pointer"
          (click)="openGuestComplaintsModal(reasonCategory.category)">({{reasonCategory?.count}})</a></span>
    </div>
    <span class="view-all guest-complaints__counts cursor-pointer"
          (click)="openGuestComplaintsModal()">{{'LBL_VIEW_ALL'| translate}} ({{guestComplaintsCount}})</span>
  </div>
</ng-template>

<ng-template #errorTemplate>

  <div *ngIf="hasErrors" class="guest-complaints font-bold" [attr.data-slnm-ihg]="seleniumTag + 'Container-SID'">

    <span class="guest-complaints__title" [attr.data-slnm-ihg]="seleniumTag + 'Title-SID'"
          [translate]="'COM_LBL_GUEST_COMPLAINTS'"></span>

  </div>

  <div class="guest-complaints-error">

    <app-service-error [hidden]="!hasErrors"
                       [errorEvent]="emitError.asObservable()"
                       [config]="errorConfig"
                       [cardType]="errorCardType"
                       [reportIssueAutoFill]="reportIssueAutoFill"
                       (refreshAction)="getGuestComplaintsCount()">
    </app-service-error>

  </div>

</ng-template>
