@import 'variables';

.guest-complaints {
  padding: 0.5rem 10px;
  line-height: 20px;

  & > span:not(:first-child) {
    margin-left: 3px;
  }

  .guest-complaints__counts {
    color: $secondary-text-color;
  }
}

.guest-complaints__error-msg {
  color: $error-color;
}

::ng-deep {
  .hide-primary-btn {
    .btn-primary {
      display: none;
    }
  }
  .guest-complaints-error {
    .error-body {
      margin-left: 20px;
    }
    .ref-btn {
      margin-left: 20px;
      padding: 4px 10px 4px 10px;
    }
  }
}


