@import 'variables';

$toast-message-container-width: 388px;

:host ::ng-deep {
  .manual-assign-concerto-grid.concerto-grid .manual-assign-grid {
    margin-top: 14px;
    margin-bottom: 14px;
    width: 100%;
    height: 100%;

    // prevent styles from parent concerto-grid from affecting manual-assign-grid
    *, table * {
      border: 0;
      background: unset;
      vertical-align: baseline;
      color: $gray-20;
    }
    .circle {
      color: green;
      margin-right: 2px;
    }

    .k-grid-aria-root {
      overflow: hidden;

      kendo-grid-list {
        border: 0;
        height: 100%;
        overflow-y: auto;
      }
    }

    .k-grid-header {
      border-bottom: 2px solid $gray-60;
      margin-bottom: 2px;
    }

    table {

      thead, tbody, tr, td, th {
        font-size: 14px;
        color: $gray-20;
        text-align: center;
      }

      thead tr {
        background-color: white !important;
        border-width: 0 0 3px 0;
      }

      thead th {
        height: 35px;
      }

      tbody tr {
        height: 35px;
        background-color: white !important;

        &.k-grid-norecords {
          border: 0;
        }

        td {
          padding: 0;
          height: 35px;
        }
      }

      tbody tr:not(:last-child) {
        border-bottom: solid 1px $input-border;
      }

      td {
        vertical-align: middle;
      }

      .flex-cell {
        display: flex;
        align-items: baseline;
        justify-content: center;
      }

      .uic-user-guidance {
        .guidance-title, .guidance-content {
          font-size: 14px;
          line-height: 1.6em;
          font-weight: 400;
          margin: 0;
          padding: 0;
        }

        .guidance-title {
          margin-top: 20px;
        }
      }

    }

    .assign-btn {
      font-weight: 400;
      color: $secondary-text-color;
      background: transparent;
      border: 0;
      outline: none;

      &:hover, &:focus, &:active {
        color: $secondary-text-color;
        background: transparent;
        border: 0;
        outline: inherit;
      }
    }

  }

  .alert {
    .message-container {
      width: $toast-message-container-width;
    }
  }
}
