<div class="manual-error-container"
     [hidden]="!showSpinner && !hasError">
  <app-error-toast-message [attr.data-slnm-ihg]="'ManualAssignLoadError-SID'"
                           [translations]="gridLoadErrorContent"
                           [reportIssueAutoFill]="reportIssueAutoFill.manualRoomError"
                           [errorEvent]="emitError.asObservable()"
                           (retryAction)="refresh()">
  </app-error-toast-message>
  <uic-error-container *ngIf="showSpinner"
                       [showRefreshBtn]="false"
                       [showSpinner]="showSpinner">
  </uic-error-container>
</div>

<div [hidden]="showSpinner || hasError">
  <div class="manualAssignmentSearch row">
    <app-room-search [attr.data-slnm-ihg]="'RoomSearch-SID'"
                     class="col-4"
                     (search)="searchByNumber($event)"
                     [placeholder]="'LBL_SEARCH_ROOM_NBR' | translate">
    </app-room-search>
    <app-room-type-filter [attr.data-slnm-ihg]="'RoomTypeSearch-SID'"
                          class="col-4 pl-0"
                          [disabled]="disabledRoomType"
                          [roomList]="roomsOnStatusFilter"
                          [selectedRoomTypes]="selectedRoomTypes"
                          (roomTypeChange)="handleRoomTypeChange($event)">
    </app-room-type-filter>
    <app-status-filter [attr.data-slnm-ihg]="'StatusSearch-SID'"
                       class="col-4 pl-0"
                       [roomList]="roomsOnStatusFilter"
                       [stateName]="stateName"
                       [inspected]="listItem.inspected"
                       [postMasterSelected]="showPostMasterRoom"
                       [updatedRoomList]="displayedRooms"
                       (statusTypeChange)="handleStatusChange($event)">
    </app-status-filter>
  </div>

  <div class="manual-assign-concerto-grid concerto-grid"
       [attr.data-slnm-ihg]="'ManualAssignGrid-SID'" [style.height]="getGridHeight()">
    <kendo-grid #manualRoomAssignGrid
                [data]="displayedRooms"
                [filterable]="false"
                [pageable]="false"
                [scrollable]="true"
                [sortable]="{ allowUnsort: false, mode: 'single' }"
                [sort]="gridPrimarySort"
                (sortChange)="sortChange($event)"
                class="manual-assign-grid">

      <kendo-grid-column field="roomNumber" headerClass="text-center" [sortable]="true">
        <ng-template kendoGridHeaderTemplate let-column>
          <span translate="LBL_ROOM" data-slnm-ihg="ManualRoomLabel-SID"></span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="flex-cell" data-slnm-ihg="ManualRoomNumber-SID">{{ dataItem.roomNumber }}</div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="roomType" headerClass="text-center"
                         [sortable]="true">
        <ng-template kendoGridHeaderTemplate let-column>
          <span translate="LBL_ROOM_TYPE" data-slnm-ihg="ManualRoomTypeLabel-SID"></span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="flex-cell" data-slnm-ihg="ManualRoomTypeText-SID">{{ dataItem.roomType | uppercase}}
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="status" headerClass="text-center" [sortable]="true">
        <ng-template kendoGridHeaderTemplate let-column>
          <span translate="COM_LBL_STATUS" data-slnm-ihg="ManualStatusLabel-SID"></span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="flex-cell" data-slnm-ihg="ManualStatusText-SID">
            {{ dataItem.statusFilter }}
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="assignRoom" headerClass="text-center" title="" [sortable]="false">
        <ng-template kendoGridHeaderTemplate>
          <span translate="COM_LBL_ACTIONS" data-slnm-ihg="ManualActionsLabel-SID"></span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>

          <div *ngIf="selectedRoom?.roomNumber === dataItem?.roomNumber; else selectionButton" class="flex-cell">
            <i class="fas fa-check-circle clear circle"></i>
            <span *ngIf="stateName === stateNames.manageStay" translate="LBL_SLCTD"></span>
          </div>

          <ng-template #selectionButton>
            <div class="flex-cell">
              <button class="assign-btn"
                      data-slnm-ihg="ManualAssignButton-SID"
                      (click)="handleAssign(dataItem)"
                      translate="COM_BTN_ASSIGN">
              </button>
            </div>
          </ng-template>

        </ng-template>
      </kendo-grid-column>


      <ng-template kendoGridNoRecordsTemplate>
        <uic-user-guidance *ngIf="(filteredRooms.length === 0) && filterApplied"
                           class="text-center"
                           [attr.data-slnm-ihg]="'NoSearchResult-SID'"
                           [title]="'NO_SEARCH_RESULTS' | translate"
                           [content]="'COM_ERR_TOAST_TRY_AGN' | translate">
        </uic-user-guidance>
      </ng-template>

    </kendo-grid>
  </div>
</div>
