<div class="titleLabel" [attr.data-slnm-ihg]="checkboxType+'Title-SID'" *ngIf="titleLabel" [translate]="titleLabel"></div>
<div class="control-label mt-3 mb-1" [attr.data-slnm-ihg]="checkboxType+'SubTopic-SID'" [translate]="subTopic"></div>
<div class="row" [formGroup]="form" [attr.data-slnm-ihg]="checkboxType+'-SID'">
  <div formArrayName="{{checkboxType}}" *ngFor="let checkdata of checkBoxData; let i = index" [ngClass]="classType">
    <input type="checkbox" [attr.data-slnm-ihg]="checkdata.key+'-SID'" class="d-inline-block chk-space" [formControlName]="i">
    <span [translate]="checkdata.description"></span>
  </div>
</div>