<div class="reservation-summary">
  <uic-card>
    <div class="row">
      <div class="col item">
        <span class="title-text">{{guestName}}</span>&nbsp;
        <a [routerLink]="['/guest-profile']" target="_blank" *ngIf="guestData?.ihgRcNumber" 
          (click)="setMemberProfile()">
          <span class="profile-icon ml-2">
            <i class="far fa-address-card name mt-2"></i>
          </span>
        </a>
        <div class="vl-pipe" *ngIf="guestData?.ihgRcNumber"></div>
        <img class="badge-icon mt-1" *ngFor="let badge of guestData?.badges"
          [src]="'assets/images/badges/' + badge + '.svg'" />
      </div>

      <div class="col item">
        <span class="control-label" translate="LBL_GST_ARRIVAL"></span>
        <span>{{guestData?.checkInDate | date: 'ddMMMyyy'}}</span>
      </div>

      <div class="col item">
        <span class="control-label" translate="LBL_GST_DEPARTURE"></span>
        <span>{{guestData?.checkOutDate | date: 'ddMMMyyy'}}</span>
      </div>

      <div class="col item">
        <span class="control-label" translate="LBL_ROOM"></span>
        <ng-container *ngIf="!guestData.assignedRoomNumber; else assignedRoom">
          <span *ngIf="!guestData.roomTypeDescription">{{guestData.roomTypeCode}}</span>
          <span *ngIf="guestData.roomTypeDescription">{{guestData.roomTypeDescription  | titlecase}}</span>
        </ng-container>
        <ng-template #assignedRoom>
          <span>{{guestData.assignedRoomNumber}} {{guestData.assignedRoomStatus?.roomType}}</span>
        </ng-template>
      </div>

      <div class="col item">
        <span class="control-label" translate="LBL_EST_TOT"></span>
        <span>{{guestData.ratesInfo?.totalAmountAfterTax}} {{guestData.ratesInfo?.currencyCode}}</span>
      </div>
    </div>
  </uic-card>
</div>
