@import 'variables';
@import "../check-in-breakpoint";

.reservation-summary {
  .badge-icon {
    height: 24px;
    margin-right: 2px;
    width: 24px;
  }

  .title-text {
    font-size: 24px;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .profile-icon {
    color: $secondary-text-color;
    cursor: pointer;
    font-size: 20px;
  }

  .vl-pipe {
    border-left: 1px solid $gray-80;
    width: 2px;
    height: 30px;
    margin: 0 13px 0 10px;
  }

  .item {
    padding: 0 10px;

    .control-label {
      display: block;
    }

    &:first-child {
      display: flex;
      overflow: hidden;
    }

    &:nth-child(2),
    &:nth-child(3) {
      flex: 0 0 10%;
    }

    &:nth-child(4),
    &:last-child {
      flex: 0 0 17%;
    }
  }
}

:host ::ng-deep {
  .card-body {
    padding: 10px 1.25rem;
  }
}

@media screen and (max-width: $tablet-portrait-width) {
  .reservation-summary {
    .item {
      &:nth-child(4) {
        display: none;
      }

      &:last-child {
        flex: 0 0 20%;
      }
    }
  }
}
