@import "variables";
@import "../../check-in/components/check-in-breakpoint";
app-show-more-less {
    border-top: 1px solid $input-border;
}

:host ::ng-deep {
    .danger-text {
        color: $brand-danger;
    }
    .success-text {
        color: $brand-success;
    }
    .offers-by-category-grid.concerto-grid {
        .k-grid {
            .k-grid-header {
                display: none;
            }
            tbody tr {
                background: none;
                &:hover {
                    background: none;
                }
            }
            .k-pager-wrap.k-grid-pager {
                padding: 15px 0;
                .pager-amount {
                    font-weight: bold;
                }
            }
        }
        .offers-grid.concerto-grid {
            .k-grid .k-grid-header {
                display: block;
                border-bottom: 2px solid $input-border;
            }
            tbody tr {
                background-color: $primary-text-color;
                border-bottom: 1px solid $input-border;
                &:last-child {
                    border-bottom: none;
                }
                &:hover {
                    background-color: $primary-text-color;
                }
            }
            th,
            td {
                padding: 0.3em 0.5em;
                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
    @media (max-width: 992px) {
        colgroup {
            col:nth-child(5) {
                width: 70px !important;
            }
            col:nth-child(4) {
                width: 120px !important;
            }
            col:nth-child(3) {
                width: 155px !important;
            }
        }
        app-products-table {
            colgroup {
                col:nth-child(1) {
                    width: 110px !important;
                }
                col:nth-child(4) {
                    width: 140px !important;
                }
            }
        }
    }
    .title-name-text {
        max-width: 935px;
    }
    @media screen and (max-width: $tablet-landscape-width) {
        .title-name-text {
            max-width: 745px;
        }
    }
    @media screen and (max-width: $tablet-portrait-width) {
        .title-name-text {
            max-width: 490px;
        }
        uic-concerto-grid-pager .col-4.col-lg-6 {
            min-width: 40%;
        }
    }
}