<div class="house-keeping-container">
  <kendo-dropdownlist class="housekeeping-status-dropdown-list"
                      [name]="'house-keeping-status-selector'"
                      [attr.data-slnm-ihg]="'HouseKeeping-Status-SID'"
                      [data]="houseKeepingList"
                      [(ngModel)]="selectedStatus"
                      [defaultItem]="'LBL_HK_STATUS' | translate"
                      (ngModelChange)="statusSelected()">
  </kendo-dropdownlist>
</div>
