@import 'variables';

.act-on-container {
  padding: 15px;

  .act-on-title {
    font-size: 20px;
    font-weight: lighter;
  }

  &.success {
    border: 1px solid $green-christi;
    background-color: $twilight-gray;

    .clipboard-list {
      color: $green-christi;
    }
  }

  &.warning {
    border: 1px solid $mckenzie-orange;
    background-color: $early-dawn-yellow;

    .clipboard-list {
      color: $mckenzie-orange;
    }
  }
}
