<div class="act-on-container" [ngClass]="cardType">
  <span class="act-on-title" data-slnm-ihg="ActOnLabel-SID" translate="LBL_ACT_ON"></span>
  <i class="fas fa-clipboard-list fa-2x clipboard-list float-right"></i>
  <ng-content></ng-content>
</div>
