@import 'variables';

.tasks-list {
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0px 15px 0px 0px;
  
      li {
        margin-bottom: 5px;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
  
        &:last-child {
          margin-bottom: 0px;
        }

        &.alert-message {
          color: $fire-engine-red;
        }
      }
    }
  
    .resolved-indicator {
      margin: 0px 8px 0px 0px;
  
      &.unresolved {
        color: $fire-engine-red;
      }
    
      &.resolved {
        color: $green-christi;
      }

    }
  
  }