<div class="tasks-list" data-slnm-ihg ="TraceList-SID">
  <ul>
    <li *ngFor="let task of renderedTaskList" [ngClass]="task.isResolved ? '' : 'alert-message'">
      <i class="fas resolved-indicator" [ngClass]="task.isResolved ? 'fa-check resolved' : 'fa-clock unresolved'"></i>{{task.traceText}}
    </li>
  </ul>
</div>
