<app-service-error [hidden]="diningData" [errorEvent]="emitError.asObservable()" [config]="errorConfig">
</app-service-error>
<perfect-scrollbar class="dining-view">
  <div class="feature-container" *ngIf="diningData">
    <div class="pb-3" *ngFor="let category of objectKeys(diningData)">
            <span class="category-label" [translate]="keyMap[category]" data-slnm-ihg="DiningCategoryLabel-SID">
            </span>
      <div *ngIf="category === 'onSiteDining'" data-slnm-ihg="DiningOnsite-SID">
        <div class="pt-1" *ngFor="let key of objectKeys(diningData[category])">
          <span [translate]="keyMap[key]"></span>
          <span>: {{ diningData[category][key] }}</span>
        </div>
      </div>
      <div *ngIf="category !== 'onSiteDining'" data-slnm-ihg="DiningOtherCategory-SID">
        <div class="pt-1" *ngFor="let item of diningData[category]">
          <div class="category-label">{{ item.name }}</div>
          <span *ngIf="item.cuisineType">{{ item.cuisineType }}</span>
          <span *ngIf="item.cuisineType && (item.hours || item.phone)">: </span>
          <span *ngIf="item.hours">{{ newlineToComma(item.hours) }}</span>
          <span *ngIf="item.hours && item.phone">; </span>
          <span *ngIf="item.phone">{{ item.phone }}</span>
        </div>
      </div>
    </div>
  </div>
</perfect-scrollbar>
