@import 'variables';

$wdth: 20px;

.bubble{
  width: $wdth;
  height: $wdth;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $status-inactive-primary-color;

  &.grey {
    background-color: $status-inactive-primary-color;
  }
  
  &.green {
    background-color: $status-complete-primary-color;
  }
  
  &.red {
    background-color: $status-incomplete-primary-color;
  }
  
  &.yellow {
    background-color: $status-in-progress-primary-color;
  }
  
}

.bubble .bubble-contents{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  color: $secondary-color;
  font-size: 12px;
  font-weight: 700;
  flex-basis: $wdth;
  flex-grow: 1; 
  flex-shrink: 1;
}
