$active-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.35);
$secondary-text-color: #578ebe;
$nav-hovered-bg-color: #e4e4e4;
$border-color: #e7e7e7;

::ng-deep hin-card-kebab.bordered {
  .menu__kebab-toggle .nav > li {
    > a.manage-link {
      border: 1px solid #e4e4e4;
      display: inline-block;
      min-width: 190px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);

      .fas {
        float: right;
        line-height: 20px;
      }
    }
  }

  .menu__kebab.show {
    .menu__kebab-toggle .nav > li {
      > a.manage-link {
        background-color: #D7D7D7;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.247058823529412),
        0px 1px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
      }
    }
  }

  .menu__kebab-menu {
    min-width: 190px;
    margin-top: 4px;

    .menu__kebab-menu-items {
      > .item:not(.disable) {
        &:hover {
          color: #252525;
        }
      }
    }
  }
}

::ng-deep .menu__kebab {
  cursor: pointer;

  &-toggle {
    &.dropdown-toggle::after {
      content: initial;
      display: none;
    }

    .nav > li {
      > a.manage-link {
        color: $secondary-text-color;
        padding: .375rem .9rem;
        font-size: 18px;
        border-radius: 2px;
        margin-bottom: -2px;
        height: 40px;
      }

      > a:hover,
      > a:focus {
        background-color: $nav-hovered-bg-color;
      }

      > a:active {
        box-shadow: $active-box-shadow;
      }
    }
  }

  &-menu {
    padding: 0;
    margin-top: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    font-size: 14px;
    max-width: 350px;

    &-heading,
    &-footing {
      display: none;
      height: 25px;
      line-height: 25px;
      text-align: center;
    }

    &-heading {
      font-size: 12px;
      background-color: $nav-hovered-bg-color;
      font-weight: 700;
      color: #333;
    }

    &-footing {
      height: 36px;
      line-height: 36px;
      border-top: 1px solid $border-color;
    }

    &-items {
      overflow: hidden;

      > .item {
        display: block;
        width: 100%;
        padding-right: 12px;
        white-space: nowrap;
        font-size: 14px;
        color: $secondary-text-color;
        line-height: 38px;

        > * {
          padding: 8px 0 8px 12px;
        }

        .fa-times {
          font-size: 18px;
        }
      }

      > .item:not(.disable) {
        cursor: pointer;

        &:hover {
          background-color: $nav-hovered-bg-color;
        }

        &:active {
          box-shadow: $active-box-shadow;
        }
      }

      >.item.disable {
        color: #888;
        cursor: default;
      }
    }

  }
}
