<div ngbDropdown (openChange)="onOpenChange($event)" placement="bottom-right" class="menu__kebab float-right d-inline-block">
  <div ngbDropdownToggle class="menu__kebab-toggle">
    <ul class="nav">
      <li>
        <a class="manage-link">
          <span #toggle>
            <ng-content select=".toggle"></ng-content>
          </span>
          <span class="fas fa-ellipsis-v" *ngIf="toggle.children.length == 0"></span>
        </a>
      </li>
    </ul>
  </div>

  <div ngbDropdownMenu class="menu__kebab-menu" ng-class="ck.dropdownclass">
    <div class="menu__kebab-menu-heading">
      <ng-content select=".heading"></ng-content>
    </div>

    <div class="nav menu__kebab-menu-items">
      <ng-content select=".item"></ng-content>
    </div>

    <div class="menu__kebab-menu-footing">
      <ng-content select=".footing"></ng-content>
    </div>
  </div>
</div>