<app-service-error [hidden]="wellnessData" [errorEvent]="emitError.asObservable()" [config]="errorConfig">
</app-service-error>
<perfect-scrollbar class="wellness-view">
  <div class="feature-container" *ngIf="wellnessData">
    <div class="pb-3" *ngIf="wellnessData.onSiteFitnessCenter" data-slnm-ihg="WellnessOnsiteFitness-SID">
      <span class="category-label" [translate]="keyMap.onSiteFitnessCenter"></span>
      <div class="pt-1">{{ wellnessData.onSiteFitnessCenter }}</div>
    </div>
    <div class="pb-3" *ngIf="wellnessData.pool" data-slnm-ihg="WellnessPool-SID">
      <span class="category-label" [translate]="keyMap.pool"></span>
      <div class="pt-1" *ngFor="let item of objectKeys(wellnessData.pool)">
        <span [translate]="keyMap[item]"></span><span>: {{ wellnessData.pool[item] }}</span><br/>
      </div>
    </div>
    <div *ngIf="wellnessData.amenities" data-slnm-ihg="WellnessAmenities-SID">
      <span class="category-label" [translate]="keyMap.amenities"></span>
      <div class="pt-1">{{wellnessData.amenities.join(', ')}}</div>
    </div>
  </div>
</perfect-scrollbar>
