<kendo-grid [data]="rewardSearchResults" [filterable]="false" [selectable]="false" [pageable]="true" [pageSize]="gridState.take" [skip]="gridState.skip" (pageChange)="handlePageChange($event)">
    <ng-template kendoPagerTemplate>
        <uic-concerto-grid-pager class="w-100"></uic-concerto-grid-pager>
    </ng-template>
    <kendo-grid-column field="firstName">
        <ng-template kendoGridHeaderTemplate>
            <div class="pl-15">
                <span data-slnm-ihg="FirstNameLabel-SID" translate="LBL_FIRST_NAME"></span>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="pl-15" [attr.data-slnm-ihg]="'FirstName' + (rowIndex + 1) + '-SID'">
                <app-truncated-tooltip [widthClass]="'title-text'" [text]="dataItem.firstName" [slnmTag]="'FirstName' + (rowIndex + 1) + '-SID'"></app-truncated-tooltip>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="lastName">
        <ng-template kendoGridHeaderTemplate>
            <div class="pl-2">
                <span data-slnm-ihg="LastNameLabel-SID" translate="LBL_LAST_NAME"></span>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="pl-2" [attr.data-slnm-ihg]="'LastName' + (rowIndex + 1) + '-SID'">
                <ng-container *ngIf="dataItem.lastName!=''">
                    <app-truncated-tooltip [widthClass]="'title-text'" [text]="dataItem.lastName" [slnmTag]="'LastName' + (rowIndex + 1) + '-SID'"></app-truncated-tooltip>
                </ng-container>
                <ng-container *ngIf="dataItem.lastName==''">
                    -
                </ng-container>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="emailId">
        <ng-template kendoGridHeaderTemplate>
            <div class="pl-2">
                <span data-slnm-ihg="EmailIdLabel-SID" translate="LBL_EMAIL_ADD"></span>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="pl-2">
                <ng-container *ngIf="dataItem.emailId!=''">
                    <app-truncated-tooltip [widthClass]="'title-text'" [text]="dataItem.emailId" [slnmTag]="'EmailId' + (rowIndex + 1) + '-SID'"></app-truncated-tooltip>
                </ng-container>
                <ng-container *ngIf="dataItem.emailId==''">
                    -
                </ng-container>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ihgRcNumber">
        <ng-template kendoGridHeaderTemplate>
            <div class="pl-2 text-center">
                <span data-slnm-ihg="RewardsClubNumberLabel-SID" translate="LBL_REWRDS_CLUB_NO"></span>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="pl-2 text-center">
                <ng-container *ngIf="dataItem.ihgRcNumber!=''">
                    <app-truncated-tooltip [text]="dataItem.ihgRcNumber" [slnmTag]="'RewardsClubNumber' + (rowIndex + 1) + '-SID'"></app-truncated-tooltip>
                </ng-container>
                <ng-container *ngIf="dataItem.ihgRcNumber==''">
                    -
                </ng-container>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="actions">
        <ng-template kendoGridHeaderTemplate>
            <div class="pl-2 pr-15 text-center">
                <span data-slnm-ihg="ActionLabel-SID" translate="LBL_ACTION"></span>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="pl-2 pr-15 text-center">
                <button class="btn btn-default" [attr.data-slnm-ihg]="'Action' + (rowIndex + 1) + '-SID'" (click)="addCorporateIdToForm(dataItem.ihgRcNumber)" placement="top" [ngbTooltip]="'Add'"><i class="fas fa-plus-circle"></i></button>
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>