@import "variables";

.guest-heartbeat {
  .guest-heartbeat__title {
    font-weight: 600;
    font-size: 16px;
  }

  .guest-heartbeat--border {
    border-left: 1px solid $gray-80;
  }

  ::ng-deep {
    .spacer {
      height: 60px;
    }

    .hb-no-data {
      line-height: 60px;
      font-size: 12px;
    }

    .heartbeat-icons {
      vertical-align: middle;

      .ht-icon {
        padding: 10px 15px;
        color: $gray-60;

        .icon-comment,
        .icon-flag,
        .icon-bed {
          font-size: 35px;
        }

        .icon-comment {
          color: $nav-bottom-border;
          cursor: pointer;
        }
      }
    }

    .grayed-text {
      color: $gray-60;
    }

    .service-error-hb {
      margin-top: -12px;
  
      .service-error {
        margin-top: 20px;

        .error-body {
          padding: 6px 30px 0 !important;
        }
      }
    }
  }
}
