<uic-card class="guest-heartbeat">
  <div class="card-header p-0"
       [translate]="keyMap.cardHeartbeat"></div>
  <ng-container *ngIf="guestHeartBeatRes && !hasErrors; else errorContainer">
    <div class="row">
      <div class="col-6 mt-3">
        <div class="text-center guest-heartbeat__title"
             [translate]="keyMap.observationMyHotel"></div>
        <app-guest-profile-heartbeat-icons
                                           [heartBeatSurvey]="guestHeartBeatRes.heartBeatMyHotel">
        </app-guest-profile-heartbeat-icons>
      </div>
      <div class="col-6 mt-3 guest-heartbeat--border">
        <div class="text-center guest-heartbeat__title"><span
                [translate]="keyMap.heartBeatOtherHotel"></span>
          <span
                *ngIf="(guestHeartBeatRes?.heartBeatOtherHotel?.hotelCode && isValidHeartBeatOtherHotel(guestHeartBeatRes?.heartBeatOtherHotel))">
            ({{guestHeartBeatRes?.heartBeatOtherHotel?.hotelCode}})</span>
        </div>
        <app-guest-profile-heartbeat-icons
                                           [heartBeatSurvey]="guestHeartBeatRes.heartBeatOtherHotel">
        </app-guest-profile-heartbeat-icons>
      </div>
    </div>
  </ng-container>
  <ng-template #errorContainer>
    <div class="service-error-hb">
      <app-service-error [config]="hbErrorConfig"
                         [errorEvent]="emitError.asObservable()"
                         [cardType]="errorCardType"
                         [reportIssueAutoFill]="reportIssueConfig"
                         (refreshAction)="refreshHb($event)"
                          (reportIssueAction)="reportIssueClicked()">
      </app-service-error>
    </div>
  </ng-template>
</uic-card>
