@import 'variables';
$panel-width: 180px;
$panel-margin-right: 15px;
$transition-value: all 750ms ease-in-out;
$check-in-user-guidance-width: 400px;
$room-setting-offset: 50px;
$check-in-room-setting-offset: 15px;

.prepare-arrivals-details-room {
  position: relative;
  .reservation-act {
    position: absolute;
    right: -5px;
    top: -40px;
    z-index: 1;
    width: 630px;
    app-print-reg-card {
      position: absolute;
      right: 235px;
      top: 0px;
    }

  }
  .panel-container {
    padding: 1rem;
    &.no-rooms {
      height: 380px;
    }
    .panel-group {
      .panel-group-header {
        display: flex;
        flex: auto;
        position: relative;
        .panel-header {
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          color: $gray-20;
          margin-right: $panel-margin-right;
          display: flex;
          width: $panel-width;
          transition: $transition-value;
          &.upgrade-panel-header {
            margin-left: auto;
          }
          &.room-settings-header {
            width: 2 * $panel-width;
            margin-left: $room-setting-offset;
          }
        }
      }
      .panel-group-body {
        display: flex;
        flex: 0 0 100%;
        position: relative;
        &.upgrade-panel-group {
          @include tablet-portrait-fdk() {
            ::ng-deep app-room-info {
              .room-info {
                width: 150px;
                padding: 15px 10px;
                .room-features {
                  .feature-text {
                    width: 100px;
                  }
                }
              }
            }
          }
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          app-do-not-move {
            width: 350px ;
            margin-left: 50px !important;
          }
        }
        .panel {
          margin: 10px $panel-margin-right 0 0;
          display: flex;
          transition: $transition-value;

          .panel-body {
            display: flex;
            app-room-info.ng-star-inserted {
              display: flex;
            }
          }
          app-do-not-move {
            width: 310px;
            margin-left: $room-setting-offset;
          }
          .panel-footer {
            text-align: center;
            margin-top: 15px;
            position: absolute;
            bottom: -40px;
          }
          &.upgrade-room-panel {
            margin-left: auto;
          }
          &.room-settings-panel {
            min-width: $panel-width;
          }
          &.invisible-panel {
            visibility: hidden;
            height: 0;
          }
          &.message-panel {
            margin-left: 0px;
            width: 2 * $panel-margin-right + 3 * $panel-width;
            .message-body {
              height: 350px;
              flex: 1 1 auto;
              display: flex;
              align-items: stretch;
              justify-content: center;
              &.suggested-upgrade-enabled {
                height: auto;
              }
            }
            .message-info {
              border: solid 1px $gray-80;
              display: flex;
              flex-direction: column;
              flex: 1 1 auto;
              justify-content: center;
              align-items: center;
              .assign-btn {
                margin: 10px;
              }
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep {
  uic-user-guidance{
    width: 100%;
  }
  .toast-messages {
    uic-toast-message {
      padding: 10px 15px 0 15px;
    }
    .alert {
      margin-bottom: 0;
    }
  }
  .check-in-room-assign .prepare-arrivals-details-room {
    .toast-messages {
      uic-toast-message {
        padding: 10px 0 0;
      }
    }
  }
  .flyout-contents {
    .toast-messages {
      uic-toast-message {
        padding: 10px 0 0;
      }
    }
  }
  .message-panel .uic-user-guidance {
    padding: 0px !important;
    height: auto;
  }
}

@mixin box-shadow-mixin($box-shadow-input) {
  -webkit-box-shadow: $box-shadow-input;
  -moz-box-shadow: $box-shadow-input;
  box-shadow: $box-shadow-input;
}

@mixin toggle-switch-style(
  $toggle-height: 30px,
  $shadow-color:rgba(0, 0, 0,0.247058823529412)) {
      .bootstrap-switch {
          height: $toggle-height;

          &.bootstrap-switch-wrapper {
              border-radius: 3px;
              border: 0;

              &.bootstrap-switch-container {
                  display: flex;
              }
          }

          .bootstrap-switch-label,
          .bootstrap-switch-handle-off.bootstrap-switch-default,
          .bootstrap-switch-handle-on.bootstrap-switch-success {
            height: $toggle-height;

          }

          .bootstrap-switch.bootstrap-switch-handle-off {
            @include box-shadow-mixin(inset -3px 1px 3px 0 $shadow-color);
          }
      }

      .bootstrap-switch.bootstrap-switch-off {
          .bootstrap-switch-container {
            display: flex;
          }

          .bootstrap-switch-label {
            @include box-shadow-mixin(inset 0.5px -2px 0px 0px $shadow-color);
          }

          .bootstrap-switch-handle-off {
            @include box-shadow-mixin(inset -2px 2px 3px 0px $shadow-color);
          }
      }

      .bootstrap-switch.bootstrap-switch-on {

          .bootstrap-switch-container {
            display: flex;
          }

          .bootstrap-switch-success {
            @include box-shadow-mixin(inset 1px 1px 2px 0 $shadow-color);
          }

          .bootstrap-switch-label {
            @include box-shadow-mixin(inset -3px -3px 2px 0px $shadow-color);
          }
      }
  }
.room-setting-panel-read-only{
      .app-do-not-move{
          width: 300px;
          margin-left: 18px;
      }
      .toggle-switch {
          display: flex;
          flex-direction: row;
          height: 30px;

            .toggle-switch__label {
                padding-right: 1.5rem;
            }

            .toggle-switch__toggle {
              ::ng-deep {
                          @include toggle-switch-style();
                }
            }
       }
}

:host-context(.check-in-room-assign) {
  .prepare-arrivals-details-room {
    app-manual-room-assign {
      right: 15px;
      width: 600px;
    }
    .panel-container {
      padding: 0.5rem 1rem;
      .panel-group {
        .panel-header {
          &:not(.single-room):not(.upgrade-panel-header):not(.room-settings-header) {
            width: 2 * $panel-width;
            margin-right: 2 * $panel-margin-right;
            &.no-room {
              width: $check-in-user-guidance-width;
              margin-right: $panel-margin-right;
            }
          }
          &.upgrade-panel-header {
            margin-left: auto;
            margin-right: 0;
            &.single-room {
              transform: translateX(0) !important;
            }
          }
          &.room-settings-header {
            width: $panel-width;
            margin-left: $check-in-room-setting-offset;
          }
        }
        .panel-group-body {
          .panel {
            &.upgrade-room-panel {
              margin-left: auto;
              margin-right: 0;
              &.single-room {
                transform: translateX(0) !important;
              }
            }
            &.message-panel {
              width: $check-in-user-guidance-width;
            }
            app-do-not-move {
              margin-left: $check-in-room-setting-offset;
            }
          }
        }
      }
    }
  }
}