<div class="prepare-arrivals-details-room"
     (window:resize)="onResize()"
     [@.disabled]="disableAnimation"
     [@slideUpDown]="{value: expanded, params: { delay : animationDelay}}">
    <div class="row"
         *ngIf="(listItem.numberOfRooms> 1)">
        <uic-user-guidance class="text-center"
                           [attr.data-slnm-ihg]="'RoomAssignmentNotAllowed-SID'"
                           [title]="'LBL_MULTIPLE_ROOMS_RESERVED' | translate"
                           [content]="'LBL_ASGN_ROOM_NOT_ALLOWED' | translate">
        </uic-user-guidance>
    </div>
    <div *ngIf="(listItem.numberOfRooms <= 1)">
        <div class="reservation-act">
            <app-manual-room-assign [attr.data-slnm-ihg]="'ManualAssignFlyOut-SID'"
                                    [isCheckedIn]="isCheckedIn"
                                    [enableRoomMove]="enableRoomMove"
                                    [listItem]="listItem"
                                    [showRoomsPanel]="showRoomsPanel"
                                    [reportIssueAutoFill]="reportIssueAutoFill"
                                    [stateName]="stateName"
                                    [displayGrid]="listItem.showManualGrid"
                                    [showRoomNotReadyAlert]="showRoomNotReadyAlert"
                                    [manualRoomAssignmentSelectorOptions]="manualRoomAssignmentSelectorOptions"
                                    (gridDisplayChange)="handleManualAssignGrid($event)"
                                    (manualRoomAssignment)="handleAssignResponse($event, false)">
            </app-manual-room-assign>
            <app-print-reg-card [guestData]="listItem"
                                [stateName]="stateName"
                                [isCheckedIn]="isCheckedIn"
                                [isTodaySelected]="isTodaySelected"
                                *ngIf="showPrintRegCard">
            </app-print-reg-card>
        </div>

        <!-- Toast Messages -->
        <div class="toast-messages">

          <app-room-notifications [listItem]="listItem"
                                  [stateName]="stateName"
                                  [showNotifiedAlert]="showNotifiedAlert"
                                  [showRoomNotReadyAlert]="showRoomNotReadyAlert"
                                  [showUpgradeAlert]="isEntitledForUpgrade">
          </app-room-notifications>

      <!-- Suggested match error toast -->
      <app-error-toast-message [attr.data-slnm-ihg]="'SuggestedMatchError-SID'"
                               [errorEvent]="suggestedMatchError.asObservable()"
                               [translations]="roomErrorContent.suggestedMatch"
                               [reportIssueAutoFill]="reportIssueAutoFill.suggestedRoomError"
                               (retryAction)="getSuggestedRoomsList()">
      </app-error-toast-message>

            <!-- Room assignment generic error toast -->
            <app-error-toast-message [attr.data-slnm-ihg]="'RoomAssignmentError-SID'"
                [errorEvent]="roomAssignmentError.asObservable()"
                [translations]="roomErrorContent.assignRoom"
                [reportIssueAutoFill]="reportIssueAutoFill.suggestedAssignRoomError"
                (retryAction)="handleAssign(rooms[selectedRoomIndex])">
          </app-error-toast-message>

          <!-- Room assignment defined error toast -->
          <uic-toast-message *ngIf="roomAsignmentDefinedError"
              [alert]="roomAsignmentDefinedError"
              [attr.data-slnm-ihg]="roomAsignmentDefinedErrorSlnmId">
          </uic-toast-message>

            <!-- Change Room error toast -->
            <app-error-toast-message [attr.data-slnm-ihg]="'ChangeRoomError-SID'"
                                     [errorEvent]="changeRoomError.asObservable()"
                                     [translations]="roomErrorContent.changeRoom"
                                     [reportIssueAutoFill]="reportIssueAutoFill.changeRoomError"
                                     (retryAction)="retryRelease.next()">
            </app-error-toast-message>

            <!-- DNM Add Reason error -->
          <app-error-toast-message [attr.data-slnm-ihg]="'DNMReasonError-SID'"
                [errorEvent]="dnmReasonChangeError.asObservable()"
                [translations]="addReasonErrorContent"
                [reportIssueAutoFill]="getDNMReasonAutoFill()"
                (retryAction)="retrySaveReason()">
          </app-error-toast-message>

          <!-- DNM switch error -->
          <app-error-toast-message [attr.data-slnm-ihg]="'DNMSwitchError-SID'"
                [errorEvent]="dnmSwitchError.asObservable()"
                [translations]="addDNMSwitchErrorContent"
                [reportIssueAutoFill]="reportIssueFillData"
                (retryAction)="retryDNMSwitch()">
          </app-error-toast-message>
        </div>

    <div class="panel-container"
         [ngClass]="{'no-rooms': !showRoomsPanel &&
            listItem.showManualGrid}">
            <!-- Room Panels -->
            <div class="panel-group"
                 *ngIf="showRoomsPanel">
                <div class="panel-group-header">
                    <h6 class="panel-header" [ngClass]="{'single-room':
                        rooms?.length === 1 || showRoomSettingsPanel, 'no-room': noMatches}">
                        <span [hidden]="!listItem.assignedRoomNumber" data-slnm-ihg="AssignedRoomLabel-SID" translate="LBL_ASGND_RM">
                        </span>
                        <span [hidden]="listItem.assignedRoomNumber"
                              data-slnm-ihg="SuggestedMatchesLabel-SID"
                              translate="LBL_SGST_MATCHES">
                        </span>
                    </h6>
                  <ng-container *accessControl="'do_not_move_room' as tagName">
                    <h6  [hidden]="roomSettingsNotVisible"
                        class="panel-header room-settings-header">
                     <span data-slnm-ihg="RoomSettings-SID"
                           translate="LBL_ROOM_SETTINGS"></span>
                    </h6>
                  </ng-container>
                  <h6 class="panel-header upgrade-panel-header"
                      [hidden]="!showUpgradePanel"
                      [ngClass]="{'single-room': rooms?.length === 1, 'no-room': noMatches}"
                      [style.transform]="upgradeRoomPosition">
                    <span translate="LBL_SGST_UPGRADE"
                          data-slnm-ihg="UpgradeLabel-SID"></span>
                  </h6>
                </div>

                <div class="panel-group-body"
                     [ngClass]="{'upgrade-panel-group': isEntitledForUpgrade}"
                     [hidden]="!(rooms &&
                    rooms.length)">
                    <div class="panel room-panel"
                         [ngClass]="{'invisible': room
                        && room.invisible}"
                         [style.transform]="i ===
                        selectedRoomIndex ? selectedRoomPosition : ''"
                         *ngFor="let room of rooms; let i= index">
                        <div class="panel-body">
                            <app-room-info [listItem]="listItem"
                                           [roomInfo]="room"
                                           [showRoomNotReadyAlert]="showRoomNotReadyAlert"
                                           (selection)="handleRoomPanelSelection(i)"
                                           [attr.card-index]="i + 1"
                                           [isCheckedIn]="isCheckedIn"
                                           [dnmInteraction]="dnmInteraction"
                                           [enableRoomMove]="enableRoomMove"
                                           [attr.data-slnm-ihg]="listItem.assignedRoomNumber
                                ? 'AssignedRoomPanel-SID' :
                                'SuggestedMatchPanel-SID'">
              </app-room-info>
            </div>
          </div>

          <ng-container  [ngTemplateOutlet]="roomSettings"></ng-container>

                  <div class="panel room-panel upgrade-room-panel"
                       [hidden]="!showUpgradePanel"
                       [ngClass]="{'single-room': rooms?.length === 1, 'no-room': noMatches}"
                       [style.transform]="upgradeRoomPosition">
                    <div class="panel-body">
                      <ng-container *ngIf="isEntitledForUpgrade"
                                    [ngTemplateOutlet]="upgradePanel"></ng-container>
                    </div>
                  </div>
                </div>

        <div class="panel-group-body"
             [hidden]="(rooms && rooms.length)
                    || !noMatches">
          <div class="panel message-panel">
            <div class="message-body"
                 [ngClass]="{'suggested-upgrade-enabled': isEntitledForUpgrade}">
              <div class="message-info">
                <uic-user-guidance class="text-center"
                                   [attr.data-slnm-ihg]="'NoSuggestedMatches-SID'"
                                   [title]="'LBL_NO_MATCHES' | translate"
                                   [content]="'MSG_NO_MATCHES' | translate">
                </uic-user-guidance>
                <button class="btn btn-primary assign-btn"
                        translate="LBL_MAN_ASSIGN"
                        [disabled]="listItem.disableManualAssign ||
                                      listItem.ineligibleReservation"
                        data-slnm-ihg="NoMatchManualAssign-SID"
                        (click)="handleManualAssignGrid(true)">
                </button>
              </div>
            </div>
          </div>

                  <div class="panel room-panel upgrade-room-panel no-matches-upgrade"
                       [style.transform]="upgradeRoomPosition">
                    <div class="panel-body">
                      <ng-container *ngIf="isEntitledForUpgrade && upgradeRoom !== undefined"
                                    [ngTemplateOutlet]="upgradePanel"
                                    [ngTemplateOutletContext]="{ viewOnlyTemplate: true }"></ng-container>
                    </div>
                  </div>
                </div>
                <app-room-actions [hidden]="!(rooms && rooms.length || upgradeRoom)"
                                  [listItem]="listItem"
                                  [shouldAnimate]="shouldAnimate"
                                  [assignBtnPosition]="assignBtnPosition"
                                  [isCheckedIn]="isCheckedIn"
                                  [errorSubject]="changeRoomError"
                                  [retryRelease]="retryRelease.asObservable()"
                                  [enableRoomMove]="enableRoomMove"
                                  (emitAssign)="handleAssign(selectedRoom)"
                                  (emitChangeRoom)="handleReleaseRoom()">
                </app-room-actions>
            </div>
        </div>
    </div>
</div>

<ng-template #roomSettings>
  <div *accessControl="'do_not_move_room' as tagName with roomSettingsReadOnly; customizer:accessModifier.doNotMoveAccessCustomizer"
       class="panel room-panel room-settings-panel"
       [hidden]="roomSettingsNotVisible"
       [ngClass]="{'single-room':true}"
       [style.transform]="roomSettingsPosition">
    <div class="panel-body">
      <app-do-not-move #appDoNotMove [doNotMoveState]="listItem?.doNotMoveRoom"
                       [reservationNumber]="listItem?.reservationNumber"
                       [pmsUniqueNumber]="listItem?.pmsUniqueNumber"
                       [stateName]="stateName"
                       [dnmReason]="listItem?.dnmReason"
                       (toggleChange)="onDoNotMoveUpdate($event)"
                       (reasonAdded)="handleReasonAdded($event)"
                       (reasonAddedError)="handleReasonAddedError($event)"
                       (dnmSwitchError)="handleDNMSwitchError($event)"
                       (interaction)="updateDnmSwitchInteraction($event)"
                       >
      </app-do-not-move>
    </div>
  </div>
  <ng-template #roomSettingsReadOnly>
    <div class="panel room-panel room-settings-panel room-setting-panel-read-only"
        [hidden]="roomSettingsNotVisible"
        [ngClass]="{'single-room':true}"
        [style.transform]="roomSettingsPosition">
      <div class="panel-body app-do-not-move">
        <div class="toggle-switch" >
          <div class="d-flex align-items-center toggle-switch__label">
            <label class="control-label mb-0"
                  translate="LBL_DO_NOT_MOVE">
            </label>
          </div>
          <div class="toggle-switch__toggle" data-slnm-ihg="DoNotMoveToggleToolTip-SID"  [ngbTooltip]="'LBL_READ_ONLY_PERMISSION' | translate">
            <bSwitch data-slnm-ihg="DoNotMoveToggle-SID"
                   switch-on-color="success"
                   [switch-animate]="true"
                   [(ngModel)]="listItem.doNotMoveRoom"
                   switch-handle-width=30
                   switch-disabled=true>
            </bSwitch>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>

<ng-template #upgradePanel
             let-viewOnlyTemplate="viewOnlyTemplate">
  <app-room-upgrade [upgradeRoom]="upgradeRoom"
                    [viewOnlyUpgrade]="viewOnlyTemplate"
                    [stateName]="stateName"
                    [isRoomAssigned]="!!listItem?.assignedRoomNumber"
                    (upgradeSelected)="handleUpgradePanelSelection($event)"
                    [reservationDetails]="listItem"></app-room-upgrade>
</ng-template>