<div class="prepare-arrivals-details-info">
  <div class="info-data">

    <div *ngIf="showReservationInfo">
      <div class="section-space"
           *ngIf="listItem.reservationNumber || listItem.ihgRcNumber || (listItem.roomTypeCode && listItem.rateCategoryCode)">
        <p class="info-dtl-line-height" *ngIf="listItem.reservationNumber" data-slnm-ihg="ReservationNumber-SID">
          {{ 'LBL_RES' | translate }} # {{ listItem.reservationNumber }}</p>
        <p class="info-dtl-line-height" *ngIf="listItem.ihgRcNumber" data-slnm-ihg="RewardsClubNumber-SID">
          {{ 'LBL_IHG_RC' | translate }} # {{ listItem.ihgRcNumber }}</p>
      </div>

      <div class="section-space">
        <span [hidden]="listItem.freeUpgradeInd">
          <p class="info-dtl-line-height info-dtl-roomcategory"
             *ngIf="listItem.roomTypeCode && listItem.rateCategoryCode"
             data-slnm-ihg="RoomTypeCategoryCode-SID">
            {{ listItem.roomTypeCode }} </p>
          <span class="info-dtl-roomcategory-infoicon category-popover"
                placement="bottom-left" #popover=ngbPopover triggers="mouseenter:mouseleave"
                [ngbPopover]="popoverContent" [popoverClass]="popupContentClass">
          <i class="fas fa-info-circle"></i>
          </span>
        </span>

        <span class="room-number" *ngIf="listItem.freeUpgradeInd">
          <p class="info-dtl-line-height info-dtl-roomcategory pr-1"
             *ngIf="listItem.assignedRoomStatus && !!listItem.assignedRoomStatus.roomNumber"
            data-slnm-ihg="UpgradeRoomTypeCategoryCode-SID">
            {{ listItem.assignedRoomStatus.roomType }}</p>
          <span class="info-dtl-line-height info-dtl-roomcategory category-popover" tooltipClass="tooltip-upgrade-content"
                data-slnm-ihg="UpgradeRoomContent-SID" placement="bottom-left" [ngbTooltip]="tooltipContent">
            <i data-slnm-ihg="UpgradeIcon-SID"
                 class="fas fa-arrow-circle-up pr-1"></i>
          </span>
        </span>
        <div>
          <p class="category-code-seprator">|</p>
          <p class="category-popover rate-category" data-slnm-ihg="RateCode-SID" (click)="getRateCodeDetails()">{{ listItem.rateCategoryCode }}</p>

        </div>
      </div>

      <ng-template #tooltipContent>
        <div class="tooltip-upgrade" data-slnm-ihg="UpgradeTooltip-SID">
          <p class="upgrade-header">{{'LBL_RM_UPGRADE' | translate}} </p>
          <p>{{'LBL_BOOKING' | translate}}: {{ listItem?.origRoomTypeCode }} </p>
          <p>{{'LBL_RTC' | translate}}: {{ listItem?.roomToChargeCode }} </p>
        </div>
      </ng-template>

      <ng-template #popoverContent>
        <p>{{'LBL_BOOKING' | translate}}: {{ listItem?.origRoomTypeCode }} </p>
        <p>{{'LBL_RTC' | translate}}: {{ listItem?.roomToChargeCode }} </p>
      </ng-template>

      <div class="section-space" *ngIf="listItem.companyName">
        <p class="control-label pb-1" data-slnm-ihg="InfoCompanyLabel-SID">{{ 'LBL_COY' | translate }}</p>
        <p class="info-dtl-line-height" data-slnm-ihg="InfoCompanyName-SID">
          {{ listItem.companyName | titlecase }}
        </p>
      </div>

      <div class="section-space" *ngIf="listItem.groupName">
        <p class="control-label pb-1" data-slnm-ihg="InfoGroupLabel-SID">{{ 'LBL_GRP' | translate }}</p>
        <p class="info-dtl-line-height" data-slnm-ihg="InfoGroupName-SID">
          {{ listItem.groupName | titlecase }}
        </p>
      </div>
    </div>

    <div class="section-space">
      <p class="pb-1" data-slnm-ihg="PreferencesLabel-SID">
        <strong>{{ preferenceLabel || 'LBL_PREF' | translate}}</strong>
      </p>
      <ng-container *ngIf="listItem.preferences && listItem.preferences.length; then preferenceList;
                    else noData">
      </ng-container>
      <ng-template #preferenceList>
        <span class="pb-2 info-sub-dtl" *ngFor="let preference of listItem.preferences; let i = index">
          <p [attr.data-slnm-ihg]="'PreferencesText' + i + '-SID'">{{ preference | titlecase }}</p>
        </span>
      </ng-template>
    </div>

    <ng-template #noData>
      <span class="info-sub-dtl pb-1" data-slnm-ihg="InfoNoneText-SID">
        <p translate="LBL_NONE"></p>
      </span>
    </ng-template>

    <div class="special-requests">
      <div class="data-container forcheckIn">
        <p class="pb-1"><strong data-slnm-ihg="InfoSpecialRequestsLabel-SID">{{ 'LBL_SPL_REQ' | translate}}</strong>
        </p>
        <ng-container *ngIf="listItem.specialRequests && listItem.specialRequests.length && listItem.specialRequests[0] !== null; then specialRequestsList;
                  else noData">
        </ng-container>
        <ng-template #specialRequestsList>
          <span class="info-sub-dtl">
            <p data-slnm-ihg="InfoSpecialRequests-SID">{{ specialRequests | titlecase | slice:0:characterCount }}</p>
          </span>
          <div class="text-right">
            <span *ngIf="specialRequests.length>this.characterCount"
                  class="show-more"
                  (click)="showMoreSpecialReq()"
                  translate="LBL_GST_SHOW_MORE">
            </span>
          </div>
        </ng-template>
      </div>
    </div>

    <ng-container *ngIf="listItem?.ihgRcNumber && showGuestRelations">
      <app-guest-complaints-count [ihgRcNumber]="listItem.ihgRcNumber" [stateName]="stateName">
      </app-guest-complaints-count>
    </ng-container>

    <ng-container *ngIf="this.hasMyHotelData() || this.hasOtherHotelData()">
      <div class="heart-beat-actions">
        <p><strong data-slnm-ihg="HeartBeatActionsLabel-SID">{{ 'LBL_HB_ACTN' | translate}}</strong></p>
        <div *ngIf="hasMyHotelData()" class="pb-1">
          <span translate="LBL_MY_HTL" data-slnm-ihg="MyHotelLabel-SID"></span>
          <ng-container *ngTemplateOutlet="iconsTemplate; context: {data: heartBeatData.heartBeatMyHotel}">
          </ng-container>
        </div>
        <div *ngIf="hasOtherHotelData()">
          <span translate="LBL_OTH_HTLS" data-slnm-ihg="OtherHotelsLabel-SID"></span>
          <ng-container *ngTemplateOutlet="iconsTemplate; context: {data: heartBeatData.heartBeatOtherHotel}">
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-template #iconsTemplate let-data="data">
      <span *ngIf="isValidGuestLoveScore(data.guestLove)"
            class="heart-beat-icons"
            data-slnm-ihg="LoveIcon-SID"
            [ngbTooltip]="'LBL_GST_LV' | translate">
        <i class="fas fa-flag"></i>
      </span>
      <span *ngIf="data.likeComment || data.makeStayBetterComment"
            class="heart-beat-icons has-comment"
            data-slnm-ihg="CommentIcon-SID"
            [ngbTooltip]="'LBL_PAST_CMT' | translate" (click)="handleIconClick(data)">
        <i class="fas fa-comment icon-comment"></i>
      </span>
      <span *ngIf="data.sleepIssue"
            class="heart-beat-icons"
            data-slnm-ihg="SleepIssueIcon-SID"
            [ngbTooltip]="'LBL_SLP_ISS' | translate">
        <i class="fas fa-bed icon-bed"></i>
      </span>
    </ng-template>

  </div>
</div>
