@import "variables";
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;

:host ::ng-deep {
  .prepare-arrivals-details-info {
    padding: 1rem 0rem;

    .info-data {
      font-size: 12px;

      p {
        margin-bottom: 0;
      }
    }

    .info-dtl-roomcategory {
      float: left;
    }

    .info-dtl-roomcategory-infoicon {
      float: left;
      padding-left: 5px;
      padding-right: 5px;
    }

    .category-popover {
      color: $secondary-text-color !important;
    }

    .category-code-seprator {
      float: left;
      padding-right: 2px;
    }

    .info-dtl-line-height {
      line-height: 17px;
    }
    
    .rate-category {
      color: $secondary-text-color;
      cursor: pointer;
    }

    .info-sub-dtl {
      display: block;

      p {
        line-height: 15px;
      }
    }

    .section-space {
      padding: 0rem 10px 0.75rem 10px;
    }

    .special-requests {
      background-color: $odd-bg-color;
      .data-container {
        padding: 0.5rem 10px 0.5rem 10px;
      }
    }

    .heart-beat-actions {
      padding: 0.75rem 10px 0px 10px;
    }

    .heart-beat-icons {
      color: $gray-60;
      margin-left: 10px;
      font-size: 14px;
    }

    .has-comment {
      color: $secondary-text-color;
      cursor: pointer;
    }

    .show-more {
      color: $secondary-text-color;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        color: $primary-color-hover;
      }
    }
  }

  @media screen and (max-width: $tablet-portrait-width) {
    .popover {
      top: 86px !important;
      left: 34px !important;
    }
    .popover-content {
      top: 70px !important;
    }
  }

  @media screen and (min-width: 769px) {
    .popover {
      top: 60px !important;
      left: 35px !important;
    }
    .popover-content {
      top: 40px !important;
    }
  }

  .popover .arrow {
    left: 0.7rem;
  }

  .popover {
    min-width: 120px;
    max-width: 125px;
    border-width: 0;
    border-radius: 0;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    p {
      margin-bottom: 2px;
      margin-left: 5px;
    }
  }
  .popover .popover-body {
    padding: 8px;
    font-size: 12px;
  }
}
