<div *ngIf="dnmState && manualInteraction"
     class="dnm-reason mt-3">
  <form [formGroup]="dnmReasonFormGroup"
        (ngSubmit)="onSubmit()">
    <label for="dnmReasonInput"
           class="control-label"
           data-slnm-ihg="DNMReasonLabel-SID"
           translate="LBL_REASON">
    </label>
    <div>
      <input type="text"
             autocomplete="off"
             id="dnmReasonInput"
             data-slnm-ihg="DNMReason-SID"
             formControlName="dnmReasonInput"
             maxlength="150"
             class="form-control">
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!dnmReasonFormGroup.valid"
              data-slnm-ihg="Save-SID"
              translate="COM_BTN_SAVE">
      </button>
    </div>
  </form>
</div>