<div>
  <button class="btn btn-default help-btn" 
    ngbTooltip="{{'HOVER_TXT_HELP' | translate}}" 
    container="body" 
    (click)="openHelp()">
    <i class="fas fa-question"></i>
  </button>
</div>