<div class="check-in-keys-set-value">
  <button class="btn plus-minus-icon-holder" (click)="decreaseValue()" [disabled]="keyCount === minKeyCount"
    data-slnm-ihg="KeysCountMinusIcon-SID">
    <div class="plus-minus-icon-box">
      <i class="fa fa-minus icons" aria-hidden="true"></i>
    </div>
  </button>
  <input type="number" [(ngModel)]="keyCount" class="keys-count" (keypress)="validateCutKeyCount($event, keyCount)" 
  (blur)="onBlurEvent()" data-slnm-ihg="KeysCount-SID">
  
  <button class="btn plus-minus-icon-holder" (click)="increaseValue()" [disabled]="keyCount === maxKeyCount"
    data-slnm-ihg="KeysCountPlusIcon-SID">
    <div class="plus-minus-icon-box">
      <i class="fa fa-plus icons" aria-hidden="true"></i>
    </div>
  </button>
</div>
