@import 'variables';

.check-in-keys-set-value {

    .plus-minus-icon-holder {
        display: inline-block;
        padding: 10px;
        .plus-minus-icon-box {
            width: 18px;
            line-height: 14px;
            border: 2px solid $secondary-text-color;
            border-radius: 3px;
            padding-bottom: 1px;

            .icons {
                color: $secondary-text-color;
                font-size: 12px;
            }
        }
    }

    .plus-minus-icon-holder:not([disabled]):hover {
        background-color: $odd-bg-color;
        .plus-minus-icon-box {
            border-color: #2a6496;
            .icons {
                color: #2a6496;
            }
        }
    }
    .plus-minus-icon-holder:not([disabled]):active,
    .plus-minus-icon-holder:not([disabled]):focus {
        background-color: $gainsboro-white;
        box-shadow: $active-box-shadow;
    }

    .keys-count {
        height: 40px;
        width: 50px;
        text-align: center;
        border: solid 1px $header-border-color;
        border-radius: 3px;
        font-weight: 700;
        margin-left: 5px;
        margin-right: 5px;
    }
}