<div>
    <button (click)="navigateSellStrategyAnalysis()" class="btn btn-primary mb-3">Go to sell strategy analysis</button>
    <div class="row">
        <div class="col-4" *ngFor="let performanceItem of performanceData">
          <uic-card>
            <app-strategy-performance-item2 [performanceItem]="performanceItem">  
            </app-strategy-performance-item2>
          </uic-card>
        </div>
      </div>
</div>
