::ng-deep app-strategy-performance2  {
  .card-body {
    padding: 0;
  }

  .tab-content {
    padding: 0;
  }

  .nav-tabs {
    margin-bottom: 35px;
  }

  .nav-tabs .nav-item:first-child {
    margin-left: 0;
  }
}