@import "variables";
.check-in-payment {
    .payment-title {
        padding: 10px 0 15px 15px;
        .payment-title-subheader {
          font-size: 16px;
          color: $collapsible-panel-color;
          font-weight: 200;
        }
    }
    .payment-actions-container {
        width: 515px;
        &.small-width {
            min-width: 375px;
            width: 375px;
        }
        margin-left: 15px;
    }
    .fa-arrow-right {
        &.success {
            color: $green-christi;
        }
        &.warning {
            color: $mckenzie-orange;
        }
    }
    .direct-billing {
        width: 295px;
        height: 185px;
    }
    app-service-error {
        display: block;
        width: 500px;
        margin: 0 auto;
    }
    @media (max-width: 768px) {
        .justify-content-between {
            flex-flow: wrap;
        }
        .payment-actions-container {
            min-width: 100% !important;
            padding-top: 20px;
            padding-bottom: 20px;
            float: left;
            position: relative;
            margin-left: 0px !important;
        }
        .credit-card-container {
            min-width: 100%;
        }
    }
}

:host ::ng-deep {
    app-credit-card-form {
        width: 100%;
    }
    app-service-error .fas.fa-exclamation-triangle {
        color: $gray-80;
    }
    .alert-warning .btn-warning {
        color: $primary-text-color;
    }
}
