<div class="check-in-payment">
  <h5 class="payment-title"  data-slnm-ihg="PaymentMethod-SID">
    <span translate="LBL_PYMT_METH"></span> <span *ngIf="guestData?.routingType === routingTypes.singleUseCC && payIntegratedFlag === 'Y'" class="payment-title-subheader ml-2" data-slnm-ihg="PaymentSubHeading-SID" translate="LBL_WNDW_ROUTING"></span>
  </h5>

  <div [hidden]="displayFetchAuthError">
    <div class="col-12">
      <uic-toast-message *ngIf="authorizationSuccessToast" [alert]="authorizationSuccessToast" data-slnm-ihg="AuthSuccessToast-SID">
      </uic-toast-message>
    </div>
    <div class="col-12">
      <uic-toast-message *ngIf="saveAuthDetailsSuccessToast" [alert]="saveAuthDetailsSuccessToast" data-slnm-ihg="AuthDetailsSaveSuccessToast-SID">
      </uic-toast-message>
      <app-error-toast-message [attr.data-slnm-ihg]="'AuthFailureToast-SID'" [errorEvent]="authError.asObservable()" [translations]="(payIntegratedFlag === 'N') ? authNonIntgErrorContent : authErrorContent" [reportIssueAutoFill]="(payIntegratedFlag === 'N') ? reportAuthNonIntgAutoFill : reportAuthErrorAutoFill"
                               (retryAction)="(payIntegratedFlag === 'N') ? checkInForNonIntegrated() : checkForAuthorizeCard()">
      </app-error-toast-message>
    </div>

    <div class="col-12">
      <app-error-toast-message [errorEvent]="resourceBusyError.asObservable()"
                               [translations]="resourceBusyErrorContent"
                               [showActionBtn]="false"
                               class="toast-no-action">
      </app-error-toast-message>
      <app-error-toast-message [alertType]="alertTypeWarning" [alertButtonType]="alertButtonTypeWarning" [attr.data-slnm-ihg]="'Save-Auth-Err-SID'" [errorEvent]="emitError.asObservable()" [translations]="saveAuthErrorContent" [reportIssueAutoFill]="saveAuthErrorAutoFill"
                               (retryAction)="triggerSaveDetailsFormSubmit()">
      </app-error-toast-message>
    </div>
    <div class="justify-content-between col-12" [ngClass]="{'d-flex': !isTabletPortraitView}">
      <ng-container *ngIf="payIntegratedFlag === 'Y'">
        <ng-container
          *ngTemplateOutlet="guestData?.routingType === routingTypes.singleUseCC || guestData?.routingType === routingTypes.extendCredit
                  ? paymentWindows
                  : creditCard"></ng-container>
        <ng-template #creditCard>
          <app-credit-card *ngIf="guestData.payment?.paymentInformation?.card; else directBilling"
                           class="pb-3"
                           [cardDetails]="guestData.payment.paymentInformation.card"
                           [firstName]="guestData.firstName"
                           [lastName]="guestData.lastName">
          </app-credit-card>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="payIntegratedFlag === 'N'">
        <app-credit-card-form *ngIf="guestData.payment?.paymentInformation?.card; else directBilling" [ratesInfo]="guestData.ratesInfo" [pmsAuthSaveInd]="pmsAuthSaveInd" [reservationNumber]="guestData.reservationNumber" [cardDetails]="guestData.payment.paymentInformation.card"
                              [cardDetailsSaved]="cardDetailsSaved" [fetchAuthRefresh]="fetchAuthRefresh.asObservable()" (handleFormSubmit)="handleFormSubmit($event)" (saveAuthDetailsSuccess)="setSaveAuthDetailsSuccess()" (emitFetchError)="handleFetchAuthDetailsError($event)">
          <ng-container left-slot-actions>
            <app-no-post [noPostState]="guestData?.noPost"
                         [reservationNumber]="guestData?.reservationNumber"
                         [pmsUniqueNumber]="guestData?.pmsUniqueNumber"
                         [stateName]="stateName">
            </app-no-post>
          </ng-container>
        </app-credit-card-form>
      </ng-container>

      <ng-template #directBilling>
        <div class="direct-billing"></div>
      </ng-template>

      <div class="payment-actions-container" [ngClass]="{'small-width': (guestData.paymentType === 'CARD' && payIntegratedFlag === 'N')}">
        <app-act-on-container [cardType]="actOnCardType" [attr.data-slnm-ihg]="'ActOn-SID'">
          <ng-container *ngIf="actOnCardType == cardTypes.SUCCESS; else warningTemplate">
            <ng-container *ngIf="guestData.paymentType === 'CARD' && payIntegratedFlag === 'N'">
              <div class="pt-2 display-flex">
                <span><i class="fas fa-arrow-right pr-2" [ngClass]="actOnCardType"></i></span>
                <span translate="LBL_CARD_ENTER_AUTH_CODE"></span>
              </div>
              <div class="pt-2 display-flex">
                <span><i class="fas fa-arrow-right pr-2" [ngClass]="actOnCardType"></i></span>
                <span [innerHTML]="'LBL_TELL_GST_AUTH_AMT' | translate: {guestName: getGuestName()}"></span>
              </div>
            </ng-container>
            <ng-container *ngIf="guestData.paymentType === 'CARD' && payIntegratedFlag === 'Y'">
              <div *ngIf="!guestData.isCheckedIn">
                <ng-container
                  *ngTemplateOutlet="guestData?.routingType === routingTypes.singleUseCC || guestData?.routingType === routingTypes.extendCredit
                  ? payRoutingMessaging
                  : defaultActOnMessaging"></ng-container>
                <ng-template #payRoutingMessaging>
                  <ng-container [ngTemplateOutlet]="routingMessagesView"
                                [ngTemplateOutletContext]="{ messages: guestData?.payRoutings?.length > 1
                                 ? routingMessages.multipleWindows : routingMessages.missingWindows }">
                  </ng-container>
                </ng-template>
                <ng-template #defaultActOnMessaging>
                  <div class="pt-2 display-flex">
                    <span><i class="fas fa-arrow-right pr-2" [ngClass]="actOnCardType"></i></span>
                    <span translate="LBL_ACT_ENBL_CRD_RDR"></span>
                  </div>
                  <div class="pt-2 display-flex">
                    <span><i class="fas fa-arrow-right pr-2" [ngClass]="actOnCardType"></i></span>
                    <span [innerHTML]="'LBL_TELL_GST_AUTH_AMT' | translate"></span>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="guestData.isCheckedIn" class="pt-2 display-flex">
                <span><i class="fas fa-arrow-right pr-2" [ngClass]="actOnCardType"></i></span>
                <span [innerHTML]="'LBL_NTHG_TO_ACT_ON' | translate"></span>
              </div>
              <div class="pt-2 display-flex" *ngIf="guestData.isCheckedIn && authData?.authorizedAmount">
                <span><i class="fas fa-arrow-right pr-2" [ngClass]="actOnCardType"></i></span>
                <span [innerHTML]="'LBL_TELL_GST_AUTH_AMT_SUCCESS' | translate:
                     {  guestName: getGuestName(),
                        authAmt: utility.formatFloatValue(authData?.authorizedAmount),
                        authCurrency:guestData?.ratesInfo?.currencyCode }"></span>
              </div>
            </ng-container>
          </ng-container>

          <ng-template #warningTemplate>
            <div class="pt-2 display-flex" *ngIf="!isAmenitySelected()">
              <span><i class="fas fa-arrow-right pr-2" [ngClass]="actOnCardType"></i></span>
              <span [innerHTML]="'LBL_ASGN_AMEN_IN_TAB' | translate" (click)="navigateToReservationTab()"></span>
            </div>
            <div class="pt-2 display-flex" *ngIf="!isRoomAssigned()">
              <span><i class="fas fa-arrow-right pr-2" [ngClass]="actOnCardType"></i></span>
              <span [innerHTML]="'LBL_ASGN_RM_IN_TAB' | translate" (click)="navigateToRoomAssignmentTab()"></span>
            </div>
            <div class="pt-2 display-flex" *ngIf="isRoomAssigned() && !isRoomReady()">
              <span><i class="fas fa-arrow-right pr-2" [ngClass]="actOnCardType"></i></span>
              <span [innerHTML]="'LBL_PYMT_RM_IN_TAB' | translate" (click)="navigateToRoomAssignmentTab()"></span>
            </div>
          </ng-template>
        </app-act-on-container>
        <div class="display-flex flex-row-reverse justify-content-between pt-4" *ngIf="!(guestData.paymentType === 'CARD' && payIntegratedFlag === 'N')">
          <app-payment-actions [guestData]="guestData" [disablePayment]="disablePayment" (emitToAuthorizeCard)="checkForAuthorizeCard()">
          </app-payment-actions>
          <app-no-post [noPostState]="guestData?.noPost"
                       [reservationNumber]="guestData?.reservationNumber"
                       [pmsUniqueNumber]="guestData?.pmsUniqueNumber"
                       [stateName]="stateName">
          </app-no-post>
        </div>
      </div>
    </div>
  </div>

  <app-service-error data-slnm-ihg="AuthFetchError-SID" [config]="errorConfig" [hidden]="!displayFetchAuthError" [reportIssueAutoFill]="reportIssueAutoFill" [errorEvent]="fetchAuthDetailsError.asObservable()" (refreshAction)="handleFetchAuthRefresh()">
  </app-service-error>
</div>

<ng-template #routingMessagesView let-messages="messages">
  <div *ngFor="let message of messages;"
       class="pt-2 display-flex">
    <span><i class="fas fa-arrow-right pr-2" [ngClass]="actOnCardType"></i></span>
    <span [translate]="message"></span>
  </div>
</ng-template>

<ng-template #paymentWindows>
  <app-payment-window-routing [windows]="guestData?.payRoutings"></app-payment-window-routing>
</ng-template>
