@import 'variables';

.nav-item {
  width: 300px;
  font-size: 14px;
  cursor: pointer;
  color: $secondary-text-color;

  &:hover {
    background-color: $hover-background-color;
    color: $link-color-hover;
  }
}
