<ul class="nav flex-column" [attr.data-slnm-ihg]="listHeaderTag">
  <li class="nav-item" (click)="totalsClick()">
    <span class="nav-link" [attr.data-slnm-ihg]="sectionHeaderTag" [innerHTML]="totalsLabel | translate:{count:filterData.length}"></span>
  </li>
  <li class="nav-item"
      *ngFor="let item of filterData | slice:0:resultsLimit; let i = index"
      (click)="selectionClick(item)">
    <span class="nav-link" [attr.data-slnm-ihg]="getRowTag(i)">
      <ng-container *ngFor="let displayProperty of dataProps">
        <ng-container
          *ngTemplateOutlet="displayProperty.propertyPipe ? pipePresent: propertyDisplayOnly;
          context:{
          propertyName:item[displayProperty.property],
          propertyPipe:displayProperty.propertyPipe,
          separator:displayProperty.separator}"></ng-container>
      </ng-container>
    </span>
  </li>
  <li class="nav-item" data-slnm-ihg="ShowMore-SID"
      *ngIf="filterData.length > resultsLimit && !showMore"
      (click)="showMoreClick()">
    <span class="nav-link"><i class="far fa-ellipsis-h"></i></span>
  </li>
</ul>

<ng-template #propertyDisplayOnly
             let-propertyName="propertyName"
             let-separator="separator">
  <span>{{propertyName}}<span *ngIf="separator">{{separator}}</span>&nbsp;</span>
</ng-template>

<ng-template #pipePresent
             let-propertyName="propertyName"
             let-propertyPipe="propertyPipe"
             let-separator="separator">
  <ng-container [ngSwitch]="propertyPipe">
    <ng-container *ngSwitchCase="previewPipes.titleCase"><span>{{propertyName | titlecase}}<span
      *ngIf="separator">{{separator}}</span>&nbsp;</span></ng-container>
    <ng-container *ngSwitchDefault><span>{{propertyName}}<span *ngIf="separator">{{separator}}</span>&nbsp;</span>
    </ng-container>
  </ng-container>
</ng-template>
