@import "variables";
@mixin generateOrderCss($from, $to, $className) {
    @for $i from $from through $to {
        .#{$className}#{$i} {
            order: #{$i};
        }
    }
}

.form-val-text {
    line-height: 36px;
    margin-bottom: 0;
}

.pt-28 {
    padding-top: 28px;
}

.stay-info-block {
    @include generateOrderCss(13, 16, "order-");
    .k-dropdown-wrap .k-select {
        color: $danube-blue;
    }
    .req-star-parent {
        .req-star {
            position: absolute;
            left: 3px;
            color: $required-field-asterix;
            top: 1px;
            font-weight: bold;
        }
    }
    @media (max-width: 1024px) {
        .d-none-custom {
            display: none;
        }
        .pt-28 {
            padding-top: 0;
        }
    }
    @media (min-width: 1025px) {
        @include generateOrderCss(1, 12, "order-xl-");
        .col-xl-2 {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        .col-xl-5 {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }
    }
}

:host ::ng-deep {
    .k-dropdown .k-select {
        color: $danube-blue;
    }
    .k-datepicker .k-select {
        background: transparent;
        border: none;
    }
    .k-dateinput,
    .k-datepicker,
    .k-dropdown {
        font-size: 14px;
        color: #495057;
    }
    .k-dateinput-wrap .k-input {
        text-transform: uppercase;
    }
    .k-dropdown .k-dropdown-wrap {
        border-color: $gray-80;
      &.k-state-disabled {
        background-color: $disabled-field-color;
      }
    }
    uic-collapsible-card {
        .uic-collapsible-card {
            margin-bottom: 0;
            .card {
                box-shadow: none;
                .card-header {
                    display: none;
                }
                .card-body {
                    padding: 20px 30px;
                }
            }
        }
        &.panel-collapsed .uic-collapsible-card {
            .card-header {
                display: block;
            }
        }
    }
    .cursor-not-allowed {
        cursor: not-allowed;
        outline: none;
    }
    .invalid-border {
        border: $invalid-border
    }
}
