<uic-collapsible-card class="stay-info-block" data-slnm-ihg="StayInformationForm-SID" [collapsed]="panelCollapsed" (change)="handleToggle($event)" [ngClass]="{'panel-collapsed': panelCollapsed}">
    <form [formGroup]="stayInformationForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-4 col-xl-2 mb-3 order-1">
                <label for="arrival" class="control-label" data-slnm-ihg="ArrivalLabel-SID" translate="LBL_GST_ARRIVAL"></label>
                <p class="form-val-text" data-slnm-ihg="Arrival-SID">{{arrivalDateDisplay}}</p>
            </div>
            <div class="col-4 col-xl-2 mb-3 req-star-parent order-2">
                <span class="req-star">&#42;</span>
                <label for="departure" class="control-label" data-slnm-ihg="DepartureLabel-SID" translate="LBL_GST_DEPARTURE"></label>
                <kendo-datepicker formControlName="departure" format="ddMMMyyyy" [placeholder]="'ddMMMyyyy'" formatPlaceholder="formatPattern" (open)="onDatepickerOpen()" class="w-100" data-slnm-ihg="Departure-SID" (valueChange)="handleDepartureChange()">
                </kendo-datepicker>
                <ng-container *ngIf="getControl('departure').errors">
                    <div class="error-message" data-slnm-ihg="ErrorEmptyDeparture-SID" *ngIf="getControl('departure').errors?.required" translate="LBL_ERR_EMPTY_DEP_DATE"></div>
                    <div class="error-message" *ngIf="getControl('departure').errors?.afterMaxDate" translate="LBL_DEP_DT_MAX_ERR" [translateParams]="{maxAllowedNights: maxAllowedNights}">
                    </div>
                </ng-container>
            </div>
            <div class="col-4 col-xl-2 mb-3 order-3 order-xl-3">
                <label for="nights" class="control-label" data-slnm-ihg="NightsLabel-SID" translate="LBL_GST_NIGHTS_COL"></label>
                <p class="form-val-text" data-slnm-ihg="Nights-SID">{{reservationData?.numberOfNights}}</p>
            </div>
            <div class="col-4 col-xl-5 mb-3 order-7 order-xl-4">
                <app-lookup-field [ngbTooltip]="reservationNumber ? '' : ('LBL_NO_LOYALTY_FEATURE' | translate)" [tooltipText]="'LBL_LOOK_UP' | translate" (openLookUpModalEvt)="openRewardsMemberModal()">
                    <label for="ihgRcNumber" class="control-label" data-slnm-ihg="RewardsClubMemberLabel-SID" [innerHTML]="'LBL_IHGRW_NO' | translate"></label>
                    <input type="text" data-slnm-ihg="RewardsClubNumber-SID" (blur)="updateIHGClubNo()" formControlName="ihgRcNumber" [ngClass]="{'invalid-border': stayInformationForm.get('ihgRcNumber')?.errors}" [readonly]="reservationData?.loyaltyMembershipId && reservationData?.loyaltyMembershipId!=''"
                        class="form-control brd-radius-0">
                </app-lookup-field>
                <div *ngIf="stayInformationForm.get('ihgRcNumber')?.dirty && stayInformationForm.get('ihgRcNumber')?.errors">
                    <span class="error-color">{{ 'GI_ERR_VALID_IHG' | translate }}</span>
                </div>
            </div>
            <div class="col-1 d-none-custom order-xl-5"></div>
            <div class="col-4 col-xl-2 mb-3 order-4 order-xl-6">
                <label for="rooms" class="control-label" data-slnm-ihg="RoomsLabel-SID" translate="LBL_ROOMS"></label>
                <p class="form-val-text" data-slnm-ihg="Rooms-SID">{{reservationData?.numberOfRooms}}</p>
            </div>
            <div class="col-4 col-xl-2 mb-3 req-star-parent order-5 order-xl-7">
                <span class="req-star">&#42;</span>
                <label for="adults" class="control-label" data-slnm-ihg="AdultsLabel-SID" translate="LBL_ADULTS"></label>
                <input type="text" data-slnm-ihg="Adults-SID" formControlName="adults" class="form-control brd-radius-0">
                <div class="error-message" data-slnm-ihg="ErrorEmptyAdults-SID" translate="LBL_ERR_EMPTY_ADULT"
                 *ngIf="getControl('adults').errors?.required && (getControl('adults').touched ||
             getControl('adults').dirty)">
                </div>
                <div class="error-message" data-slnm-ihg="ErrorEnterValidAdultNumber-SID" *ngIf="getControl('adults').errors?.pattern">
                    <span class="error-color">{{ 'GI_ERR_VALID_IHG' | translate }}</span>
               </div>
            </div>
            <div class="col-4 col-xl-2 mb-3 order-6 order-xl-8">
                <label for="children" class="control-label" data-slnm-ihg="ChildrenLabel-SID" translate="LBL_CHLDRNS"></label>
                <input type="text" data-slnm-ihg="Children-SID" formControlName="children" class="form-control brd-radius-0">
                <div class="error-message" data-slnm-ihg="ErrorEnterValidNumber-SID" *ngIf="getControl('children').errors?.pattern">
                    <span class="error-color">{{ 'GI_ERR_VALID_IHG' | translate }}</span>
               </div>
            </div>
            <div class="col-8 col-xl-5 mb-3 order-8 order-xl-9">
                <div class="row">
                    <div class="col-6">
                        <label for="rateCategory" class="control-label" data-slnm-ihg="RateCategoryLabel-SID" translate="LBL_RATE_CAT"></label>
                        <kendo-dropdownlist data-slnm-ihg="RateCategoryDropDown-SID" formControlName="rateCategory" [data]="rateCatData" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" (valueChange)="emitDepartureRateChange()">
                        </kendo-dropdownlist>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="roomType" class="control-label" data-slnm-ihg="RoomTypeLabel-SID" translate="LBL_ROOM_TYPE">
            </label>
                        <kendo-dropdownlist data-slnm-ihg="RoomTypeCodeDropDown-SID" formControlName="roomType" [data]="roomTypeCodeData" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true">
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="col-1 d-none-custom order-10"></div>
            <div class="col-4 col-xl-2 mb-3 order-11">
                <app-lookup-field [tooltipText]="'LBL_LOOK_UP' | translate" (openLookUpModalEvt)="openModal()">
                    <label for="corporateID" class="control-label" data-slnm-ihg="CorporateIDLabel-SID" translate="LBL_CRPRT_ID"></label>
                    <input type="text" data-slnm-ihg="CorporateID-SID" formControlName="corporateID" [readonly]="reservationData?.corporateId && reservationData?.corporateId!=''" class="form-control brd-radius-0">
                </app-lookup-field>
            </div>
            <div class="col-4 col-xl-2 mb-3 order-12">
                <app-lookup-field>
                    <label for="groupCode" class="control-label" data-slnm-ihg="GroupCodeLabel-SID" translate="LBL_GRP_CD"></label>
                    <input type="text" data-slnm-ihg="GroupCode-SID" formControlName="groupCode" [readonly]="reservationData?.groupCode === null || reservationData?.groupCode===''" class="form-control brd-radius-0">
                </app-lookup-field>
            </div>
            <div class="col-4 col-xl-2 mb-3 order-13">
                <label for="smokingPreference" class="control-label" data-slnm-ihg="SmokingPreferenceLabel-SID" translate="LBL_SMOK_PREF"></label>
                <kendo-dropdownlist data-slnm-ihg="SmokingPreferenceDropDown-SID" formControlName="smokingPreference" [data]="smokingPrefData" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" class="w-100">
                </kendo-dropdownlist>
            </div>
            <div class="col-4 col-xl-5 pt-28 order-14">
                <div class="d-flex align-items-center">
                    <input type="checkbox" id="accessible" formControlName="accessible">
                    <label class="form-val-text pl-2" for="accessible" data-slnm-ihg="AccessibleLabel-SID" translate="LBL_ACC"></label>
                </div>
            </div>
            <div class="col-1 d-none-custom order-15"></div>
            <div class="submit container-fluid d-flex justify-content-end
                order-16">
                <button type="button" class="btn btn-default mr-2" data-slnm-ihg="Cancel-SID" (click)="cancelChanges()" translate="COM_BTN_CANCEL"></button>
                <button type="submit" class="btn btn-primary" data-slnm-ihg="Apply-SID" translate="COM_BTN_APPLY"
                 [disabled]="!stayInformationForm.valid || !stayInformationForm.dirty ||
                 (stayInformationForm.get('ihgRcNumber').dirty && stayInformationForm.get('ihgRcNumber').errors)">
        </button>
            </div>
        </div>
    </form>
</uic-collapsible-card>
